Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(research): add fill models for realistic backtest execution
  packages/research/coverage.xml
  packages/research/research/backtest/fill_models.py
  packages/research/tests/backtest/__init__.py
  packages/research/tests/backtest/test_fill_models.py
Due: typescript, python

test(research): add unit tests for backtest runner subprocess
  packages/research/coverage.xml
  packages/research/tests/backtest/test_runner.py
Due: typescript, python

docs: update documentation to reflect DB-based runtime config
  ARCHITECTURE.md
  CLAUDE.md
  PROJECT.md
  packages/prediction-markets/README.md
Due: typescript

test(dashboard-api): add backtest pipeline integration tests
  apps/dashboard-api/tests/integration/backtest-pipeline.test.ts
Due: none

feat(infra): add OpenTofu infrastructure and GitHub Actions deploy workflow
  .github/workflows/deploy.yml
  packages/infra/.gitignore
  packages/infra/README.md
  packages/infra/backend.tf
  packages/infra/dns.tf
  packages/infra/firewall.tf
  packages/infra/outputs.tf
  packages/infra/providers.tf
  packages/infra/server.tf
  packages/infra/ssh.tf
  packages/infra/variables.tf
  packages/infra/versions.tf
Due: typescript

test(dashboard): add Playwright E2E tests for backtest flow
  apps/dashboard/e2e/backtest.spec.ts
  apps/dashboard/package.json
  apps/dashboard/playwright.config.ts
Due: none

fix(ci): add workflow_call trigger to test.yml for reusable workflow
  .github/workflows/test.yml
Due: none

feat(deploy): disable deployment workflow
  .github/workflows/deploy.yml.disabled
  packages/storage/migrations/012_better_auth.sql
  packages/storage/migrations/012_better_auth_down.sql
Due: typescript

feat(auth): add better-auth dependencies for authentication system
  apps/dashboard-api/package.json
  apps/dashboard/package.json
  bun.lock
Due: none

feat(auth): add Google OAuth environment variables
  .env.example
  CLAUDE.md
  packages/domain/src/env.ts
Due: typescript

feat(auth): create better-auth server configuration
  apps/dashboard-api/src/auth/better-auth.ts
Due: none

feat(auth): mount better-auth handler and update session middleware
  apps/dashboard-api/src/auth/session.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/websocket/handler.ts
Due: none

refactor(auth): update auth exports to use better-auth session middleware
  apps/dashboard-api/src/auth/index.ts
Due: none

feat(dashboard): add better-auth React client
  apps/dashboard/src/lib/auth-client.ts
Due: none

feat(dashboard): replace AuthContext with better-auth hooks
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/contexts/AuthContext.tsx
Due: none

feat(dashboard-api): remove role-based WebSocket authorization
  apps/dashboard-api/src/websocket/security.test.ts
  apps/dashboard-api/src/websocket/security.ts
Due: none

feat(dashboard): remove role-based auth types
  apps/dashboard/src/lib/api/types.ts
Due: none

feat(dashboard-api): update auth types and barrel exports for better-auth
  apps/dashboard-api/src/auth/index.ts
  apps/dashboard-api/src/auth/types.ts
  apps/dashboard-api/src/routes/alerts.ts
  apps/dashboard-api/src/routes/auth.ts
  apps/dashboard-api/src/routes/preferences.ts
Due: none

refactor(dashboard-api): delete legacy JWT, MFA, and RBAC auth files
  apps/dashboard-api/src/auth/index.ts
  apps/dashboard-api/src/auth/jwt.test.ts
  apps/dashboard-api/src/auth/jwt.ts
  apps/dashboard-api/src/auth/mfa.test.ts
  apps/dashboard-api/src/auth/mfa.ts
  apps/dashboard-api/src/auth/middleware.ts
  apps/dashboard-api/src/auth/roles.test.ts
  apps/dashboard-api/src/auth/roles.ts
  apps/dashboard-api/src/auth/types.ts
  apps/dashboard-api/src/routes/auth.ts
  apps/dashboard-api/src/routes/index.ts
Due: none

test(dashboard-api): add session middleware tests
  apps/dashboard-api/src/auth/session.test.ts
Due: none

feat(storage): add database migration CLI scripts
  packages/storage/package.json
  packages/storage/src/run-migrations.ts
Due: typescript

test(dashboard-api): add better-auth integration tests
  apps/dashboard-api/src/auth/integration.test.ts
Due: none

docs: add authentication section to CLAUDE.md
  CLAUDE.md
Due: none

fix(ci): exclude Playwright e2e tests from bun test runs
  .github/workflows/test.yml
  apps/dashboard/package.json
  bunfig.toml
  packages/domain/src/env.test.ts
Due: none

fix(ci): add Buf CLI setup for protobuf schema build
  .github/workflows/test.yml
Due: none

fix(ci): add build/test scripts to schema-gen package
  packages/schema-gen/package.json
Due: none

fix(ci): add ^build dependency for test task in turbo.json
  packages/schema-gen/package.json
  turbo.json
Due: none

fix(ci): use conditional exports in schema-gen package.json
  packages/schema-gen/package.json
Due: none

fix(ci): simplify schema-gen exports to direct string format
  packages/schema-gen/package.json
Due: none

feat(domain): add ExecutionContext type and factory
  packages/domain/src/context.test.ts
  packages/domain/src/context.ts
  packages/domain/src/index.ts
Due: typescript

feat(domain): add ExecutionContext test utilities
  packages/domain/src/index.ts
  packages/domain/src/test-utils.test.ts
  packages/domain/src/test-utils.ts
Due: typescript

feat(domain): remove CREAM_ENV from env schema, require ExecutionContext
  packages/config/src/startup.ts
  packages/domain/src/clock.test.ts
  packages/domain/src/clock.ts
  packages/domain/src/env.test.ts
  packages/domain/src/env.ts
  packages/domain/src/safety.test.ts
  packages/domain/src/safety.ts
  packages/mastra-kit/src/tools/definitions/dataTools.ts
  packages/mastra-kit/src/tools/definitions/tradingTools.ts
  packages/mastra-kit/src/tools/definitions/webSearch.ts
  packages/mastra-kit/src/tools/index.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
  packages/mastra-kit/tests/tools.test.ts
  packages/storage/src/run-migrations.ts
  packages/storage/src/seed-config.ts
  packages/storage/src/turso.ts
Due: typescript

feat(broker): require ExecutionContext in createBrokerClient
  apps/api/src/steps/executeOrders.ts
  packages/broker/src/client.ts
  packages/broker/src/factory.ts
  packages/broker/src/index.ts
  packages/broker/tests/backtest.test.ts
  packages/broker/tests/client.test.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(api): thread ExecutionContext through trading cycle workflow
  apps/api/scripts/backfill-thesis-memory.ts
  apps/api/src/db.ts
  apps/api/src/steps/buildSnapshot.ts
  apps/api/src/steps/fetchPredictionMarkets.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/ingestThesisMemory.ts
  apps/api/src/steps/loadState.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/src/steps/retrieveMemory.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(apps): create ExecutionContext at system boundaries
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/routes/system.ts
  apps/worker/src/db.ts
  apps/worker/src/index.ts
Due: none

fix(dashboard): resolve accessibility lint errors in config edit page
  apps/dashboard/src/app/(auth)/config/edit/page.tsx
Due: none

fix(lint): resolve biome lint errors blocking CI
  apps/api/src/steps/buildSnapshot.ts
  apps/api/src/steps/executeOrders.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/ingestThesisMemory.ts
  apps/api/src/steps/loadState.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/src/steps/retrieveMemory.ts
  apps/api/src/workflows/trading-cycle.ts
  packages/broker/src/client.ts
  packages/broker/tests/backtest.test.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
Due: typescript

fix(ci): add buf generate step for protobuf code generation
  .github/workflows/test.yml
Due: none

fix(ci): remove buf generate step that was deleting committed files
  .github/workflows/test.yml
  biome.json
  packages/storage/src/run-migrations.ts
Due: typescript
