Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

chore: update database schema and add migration
  packages/storage/check-kalshi.ts
  packages/storage/drizzle/0001_allow-zero-size.sql
  packages/storage/drizzle/meta/0001_snapshot.json
  packages/storage/drizzle/meta/_journal.json
  packages/storage/scripts/db-reset.ts
  packages/storage/src/schema/core-trading.ts
  packages/storage/src/schema/dashboard.ts
  packages/storage/src/schema/enums.ts
  packages/storage/src/schema/relations.ts
Due: typescript

chore: update protobuf schema and regenerate stubs
  packages/proto/cream/v1/common.proto
  packages/schema-gen/python/cream/v1/common_pb2.py
  packages/schema-gen/python/cream/v1/common_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: typescript

refactor(domain): simplify environment and calendar handling
  packages/domain/src/calendar/factory.test.ts
  packages/domain/src/calendar/factory.ts
  packages/domain/src/calendar/hardcoded.ts
  packages/domain/src/calendar/index.ts
  packages/domain/src/calendar/service.test.ts
  packages/domain/src/calendar/service.ts
  packages/domain/src/calendar/types.ts
  packages/domain/src/clock.test.ts
  packages/domain/src/clock.ts
  packages/domain/src/context.test.ts
  packages/domain/src/context.ts
  packages/domain/src/decision.ts
  packages/domain/src/env.test.ts
  packages/domain/src/env.ts
  packages/domain/src/index.ts
  packages/domain/src/logger.ts
  packages/domain/src/marketSnapshot.test.ts
  packages/domain/src/parity-service.ts
  packages/domain/src/parity.test.ts
  packages/domain/src/parity.ts
  packages/domain/src/retention.test.ts
  packages/domain/src/retention.ts
  packages/domain/src/safety.test.ts
  packages/domain/src/safety.ts
  packages/domain/src/schema-sync.test.ts
  packages/domain/src/schemas/database.ts
  packages/domain/src/schemas/decision-plan.test.ts
  packages/domain/src/schemas/decision-plan.ts
  packages/domain/src/snapshot-logging/types.ts
  packages/domain/src/test-utils.test.ts
  packages/domain/src/test-utils.ts
  packages/domain/src/websocket/data-payloads.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

refactor: streamline trading cycle OODA workflow
  apps/api/src/mastra/steps/fetchPredictionMarkets.ts
  apps/api/src/mastra/workflows/macro-watch/newspaper.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/prediction.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/decide.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/index.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/logger.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/observe.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/orient.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/thesis.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/types.ts
  apps/api/src/mastra/workflows/trading-cycle/index.ts
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

refactor: standardize logger imports across packages
  apps/api/src/logger.ts
  apps/dashboard-api/src/logger.ts
  apps/worker/src/shared/logger.ts
  packages/agents/src/logger.ts
  packages/broker/src/logger.ts
  packages/config/src/logger.ts
  packages/external-context/src/logger.ts
  packages/filings/src/logger.ts
  packages/helix-schema/src/compliance/audit/logger.ts
  packages/indicators/src/logger.ts
  packages/marketdata/src/logger.ts
  packages/regime/src/logger.ts
  packages/storage/src/logger.ts
  packages/universe/src/logger.ts
Due: typescript

refactor(execution-engine): remove backtest mode and simplify
  apps/execution-engine/Dockerfile
  apps/execution-engine/README.md
  apps/execution-engine/config.yaml
  apps/execution-engine/src/config/mod.rs
  apps/execution-engine/src/config/persistence.rs
  apps/execution-engine/src/config/reconciliation.rs
  apps/execution-engine/src/config/recovery.rs
  apps/execution-engine/src/config/safety.rs
  apps/execution-engine/src/config/stops.rs
  apps/execution-engine/src/config/validation.rs
  apps/execution-engine/src/execution/persistence.rs
  apps/execution-engine/src/execution/stops/mod.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/models/environment.rs
  apps/execution-engine/src/safety/mass_cancel.rs
  apps/execution-engine/src/server/grpc/converters.rs
  apps/execution-engine/src/server/http.rs
Due: rust

refactor(api): simplify Mastra agents and remove synthesis
  apps/api/README.md
  apps/api/fixtures/market/candles.fixture.ts
  apps/api/fixtures/market/index.ts
  apps/api/fixtures/market/snapshot.fixture.ts
  apps/api/package.json
  apps/api/scripts/backfill-thesis-memory.ts
  apps/api/src/db.ts
  apps/api/src/index.ts
  apps/api/src/mastra/agents/index.ts
  apps/api/src/mastra/agents/mastra-agents.ts
  apps/api/src/mastra/index.ts
  apps/api/tests/agents.test.ts
  apps/api/tests/marketSnapshotBuilder.test.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
Due: none

refactor(worker): remove synthesis scheduler and research contexts
  apps/worker/Dockerfile
  apps/worker/README.md
  apps/worker/package.json
  apps/worker/src/cli/trigger-service.ts
  apps/worker/src/contexts/indicators/batch-scheduler.test.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.test.ts
  apps/worker/src/contexts/trading-cycle/filings-sync.test.ts
  apps/worker/src/index.ts
  apps/worker/src/shared/database.ts
  apps/worker/src/shared/health-server.ts
Due: none

refactor(storage): update repositories for live-only operation
  packages/storage/README.md
  packages/storage/package.json
  packages/storage/src/db.ts
  packages/storage/src/repositories/agent-configs.ts
  packages/storage/src/repositories/config-versions.ts
  packages/storage/src/repositories/constraints-config.ts
  packages/storage/src/repositories/cycles.ts
  packages/storage/src/repositories/decisions.ts
  packages/storage/src/repositories/indicator-sync-runs.ts
  packages/storage/src/repositories/macro-watch.ts
  packages/storage/src/repositories/orders.ts
  packages/storage/src/repositories/parity-validation.ts
  packages/storage/src/repositories/portfolio-snapshots.ts
  packages/storage/src/repositories/positions.ts
  packages/storage/src/repositories/trading-config.ts
  packages/storage/src/repositories/universe-configs.ts
  packages/storage/src/seed-config.ts
Due: typescript

refactor(broker): update tests after backtest adapter removal
  packages/broker/README.md
  packages/broker/tests/client.test.ts
  packages/broker/tests/factory.test.ts
Due: typescript

chore: update root configs and dependencies
  .env.example
  .github/workflows/test.yml
  .gitignore
  .husky/pre-commit
  Cargo.lock
  bun.lock
  docker-compose.prod.yml
  docker-compose.yml
  package.json
  scripts/fetch-indicator-metadata.ts
  scripts/update-indicator-exports.ts
  tests/preload.ts
  turbo.json
Due: none

docs: update documentation for simplified architecture
  ARCHITECTURE.md
  CLAUDE.md
  PROJECT.md
Due: none

refactor(storage): remove backtest tables and simplify database reset
  docker/postgres/init.sql
  packages/storage/drizzle/0000_init.sql
  packages/storage/drizzle/0002_drop-backtest-tables.sql
  packages/storage/drizzle/meta/_journal.json
  packages/storage/scripts/db-reset.ts
  packages/storage/src/repositories/decisions.ts
  packages/storage/src/repositories/historical-universe.ts
  packages/storage/src/repositories/portfolio-snapshots.ts
  packages/storage/src/repositories/positions.ts
  packages/storage/src/schema/dashboard.ts
Due: typescript

refactor(domain): simplify calendar service by removing hardcoded fallback
  packages/domain/src/calendar.test.ts
  packages/domain/src/calendar.ts
  packages/domain/src/calendar/factory.test.ts
  packages/domain/src/calendar/factory.ts
  packages/domain/src/calendar/index.ts
  packages/domain/src/calendar/service.test.ts
  packages/domain/src/calendar/service.ts
  packages/domain/src/calendar/types.ts
Due: typescript

refactor(domain): rename backtest to research in parity validation
  packages/domain/src/parity-service.ts
  packages/domain/src/parity.test.ts
  packages/domain/src/parity.ts
  packages/domain/src/safety.test.ts
  packages/domain/src/safety.ts
Due: typescript

refactor(websocket): remove backtest channel and messages
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/client-messages.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

refactor(dashboard): remove unused backtest types and simplify hooks
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/app/(auth)/console/components/SystemStatusBanner.tsx
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
  apps/dashboard/src/components/indicators/ValidationReport.tsx
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/dashboard/src/hooks/use-chart-annotations.ts
  apps/dashboard/src/hooks/use-loading-phase.ts
  apps/dashboard/src/hooks/useWebSocket.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/portfolio.ts
  apps/dashboard/src/lib/api/types/trading.ts
  apps/dashboard/src/lib/config.ts
  apps/dashboard/src/lib/feed/index.ts
  apps/dashboard/src/lib/feed/normalizer.ts
  apps/dashboard/src/lib/feed/parsers/index.ts
  apps/dashboard/src/lib/feed/types.ts
  apps/dashboard/src/providers/WebSocketProvider.tsx
  apps/dashboard/src/stores/preferences-store.ts
Due: none

refactor(dashboard-api): simplify websocket handlers
  apps/dashboard-api/check-pm.ts
  apps/dashboard-api/src/auth/session.test.ts
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/search.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard-api/src/routes/workers.test.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/src/websocket/handlers/index.ts
  apps/dashboard-api/src/websocket/handlers/trading.ts
  apps/dashboard-api/src/websocket/index.ts
  apps/dashboard-api/src/websocket/routing.ts
  apps/dashboard-api/src/websocket/security.test.ts
Due: none

refactor(execution-engine): remove stops simulator and simplify telemetry
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/stops/mod.rs
  apps/execution-engine/src/execution/stops/monitor.rs
  apps/execution-engine/src/execution/stops/simulator.rs
  apps/execution-engine/src/execution/stops/types.rs
  apps/execution-engine/src/safety/mass_cancel.rs
  apps/execution-engine/src/telemetry.rs
Due: rust

feat(agents): enhance trader prompts and tool definitions
  packages/agents/src/agents/configs/trader.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/definitions/factorZoo/schemas.ts
  packages/agents/src/tools/definitions/graphragTools.ts
  packages/agents/src/tools/definitions/indicatorTools.ts
  packages/agents/src/tools/definitions/predictionMarketTools.ts
  packages/agents/src/tools/implementations/academicPapers.ts
  packages/agents/src/tools/implementations/externalContext.ts
  packages/agents/src/tools/implementations/fred.test.ts
  packages/agents/src/tools/implementations/fred.ts
  packages/agents/src/tools/implementations/indicatorIngestion.ts
  packages/agents/src/tools/index.ts
  packages/agents/src/tools/searchFilings.ts
Due: typescript

refactor(helix): reorganize seed papers and add portfolio theory foundations
  packages/helix-schema/src/compliance/audit/immutability.ts
  packages/helix-schema/src/node-types.ts
  packages/helix-schema/tests/__tests__/constants.test.ts
  packages/helix/scripts/seed-papers.ts
  packages/helix/src/services/hypothesis-ingestion.test.ts
  packages/helix/src/services/indicator-ingestion.ts
  packages/helix/src/services/paper-ingestion.test.ts
  packages/helix/src/services/paper-ingestion.ts
Due: typescript

refactor(api): simplify trading cycle and prediction scanner workflows
  apps/api/src/db.ts
  apps/api/src/mastra/agents/factory.ts
  apps/api/src/mastra/steps/fetchPredictionMarkets.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/prediction.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/types.ts
  apps/api/src/mastra/workflows/trading-cycle/index.ts
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.test.ts
  apps/worker/src/shared/database.ts
Due: none

chore: bump package versions
  apps/api/package.json
  packages/agents/package.json
  packages/broker/package.json
  packages/config/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/filings/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/marketdata/package.json
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/storage/package.json
  packages/universe/package.json
Due: typescript

docs: update documentation for simplified architecture
  PROJECT.md
  apps/dashboard-api/Dockerfile
  apps/dashboard-api/README.md
  apps/dashboard/README.md
  apps/execution-engine/README.md
  packages/indicators/README.md
  packages/proto/README.md
  packages/validation/README.md
Due: typescript, rust

refactor(storage): rename technical to grounding analysis type
  packages/storage/drizzle/0000_init.sql
  packages/storage/drizzle/0003_rename-technical-to-grounding.sql
  packages/storage/drizzle/meta/_journal.json
  packages/storage/src/repositories/agent-configs.ts
  packages/storage/src/schema/enums.ts
  packages/storage/src/seed-config.ts
Due: typescript

refactor(domain): clean up tests and remove backtest references
  packages/domain/src/context.test.ts
  packages/domain/src/env.test.ts
  packages/domain/src/env.ts
  packages/domain/src/factor-zoo.ts
  packages/domain/src/marketSnapshot.test.ts
  packages/domain/src/schema-sync.test.ts
  packages/domain/src/schemas/decision-plan.test.ts
  packages/domain/src/test-utils.test.ts
Due: typescript

refactor: clean up config, marketdata, and universe packages
  packages/config/src/schemas/core.test.ts
  packages/config/src/schemas/universe.ts
  packages/config/src/startup.ts
  packages/indicators/src/custom/liquidity_absorption_ratio.test.ts
  packages/marketdata/src/corporate-actions/dividends.ts
  packages/marketdata/src/factory.test.ts
  packages/marketdata/src/factory.ts
  packages/universe/src/point-in-time.ts
  packages/universe/src/sources.ts
Due: typescript

chore: update CI and config for live-only architecture
  .github/workflows/test.yml
  config/safety.yaml
  docker-compose.yml
Due: none

refactor(infra): relocate otel-collector config to packages/infra/observability
  packages/infra/observability/otel-collector-config.yaml
Due: typescript

chore: update docker-compose.yml to reference relocated otel config
  docker-compose.yml
Due: none

feat(infra): add OpenObserve and OTel collector to production stack
  Caddyfile
  docker-compose.prod.yml
Due: none

chore: update .env.example with production hosts and cleaner formatting
  .env.example
Due: none

refactor(storage): simplify db-reset by removing uuidv7 fallback
  packages/storage/scripts/db-reset.ts
Due: typescript

chore: set DASHBOARD_HOST default to localhost in .env.example
  .env.example
Due: none

chore: remove production host vars from .env.example
  .env.example
Due: none

chore(turbo): update test config and add execution-engine package config
  apps/execution-engine/turbo.json
  bunfig.toml
  package.json
  turbo.json
Due: rust

chore(biome): exclude schema-gen from linting
  biome.json
Due: none

refactor(tracing): remove verbose console logging
  apps/dashboard-api/src/tracing.ts
  apps/worker/src/tracing.ts
Due: none
