Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

chore: update coverage report and next-env types
  apps/dashboard/next-env.d.ts
  packages/research/coverage.xml
Due: typescript, python

chore: add rust coverage artifacts to gitignore
  .gitignore
Due: none

chore: move docker-compose to root and fix Docker builds
  .dockerignore
  apps/dashboard-api/Dockerfile
  apps/dashboard-api/src/routes/auth.ts
  apps/dashboard/Dockerfile
  apps/dashboard/next.config.mjs
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/components/layout/NavDrawer.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/ui/creamlogo/cream-logo-1.svg
  apps/dashboard/src/components/ui/creamlogo/cream-logo-2.svg
  apps/dashboard/src/components/ui/creamlogo/cream-logo-3.svg
  apps/dashboard/src/components/ui/creamlogo/index.html
  apps/dashboard/src/components/ui/logo.test.ts
  apps/dashboard/src/components/ui/logo.tsx
  docker-compose.yml
  packages/infra/alertmanager/alertmanager.yml
  packages/infra/otel/otel-collector-config.yml
  packages/infra/prometheus/alerts.yml
  packages/infra/prometheus/prometheus.yml
  packages/infra/prometheus/recording_rules.yml
  packages/storage/migrations/006_prediction_markets.sql
Due: typescript

refactor: remove all mock data from API routes, use real services
  apps/dashboard-api/package.json
  apps/dashboard-api/src/auth/types.ts
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/routes/market.ts
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/routes/theses.ts
  apps/dashboard/Dockerfile
  apps/dashboard/src/proxy.ts
  bun.lock
  docker-compose.yml
Due: none

fix: Polygon rate limiting and Risk page undefined display bug
  apps/dashboard-api/src/routes/market.ts
  apps/dashboard/src/app/(auth)/risk/page.tsx
Due: none

chore: update POLYGON_TIER default to starter for upgraded plan
  CLAUDE.md
  apps/dashboard-api/src/routes/market.ts
  docker-compose.yml
Due: none

feat(marketdata): add Massive WebSocket client for real-time streaming
  packages/marketdata/src/providers/index.ts
  packages/marketdata/src/providers/massive-websocket.ts
Due: typescript

feat(dashboard-api): wire Massive WebSocket to quote channel
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/streaming/index.ts
  apps/dashboard-api/src/streaming/market-data.ts
Due: none

feat(dashboard): update hooks to consume WebSocket streaming data
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/hooks/queries/useMarket.ts
  apps/dashboard/src/lib/api/types.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
Due: none

feat(dashboard-api): add options WebSocket streaming support
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/streaming/index.ts
  apps/dashboard-api/src/streaming/options-data.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/src/websocket/security.ts
  apps/dashboard/next-env.d.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/client-messages.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: typescript

feat(dashboard): add RefreshIndicator and streaming UX
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/components/ui/RefreshIndicator.tsx
Due: none

feat(dashboard): add tooltips throughout dashboard UI
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
Due: none

fix(rust): configure cargo-llvm-cov for Rust 2024 edition
  .cargo/config.toml
  .gitignore
Due: none

fix: resolve linting issues and improve mypy configuration
  packages/research/pyproject.toml
  packages/research/research/validation.py
  packages/research/tests/test_validation.py
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: typescript, python

fix: resolve all mypy type checking errors in research package
  packages/research/coverage.xml
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/evaluator/rule_scorer.py
Due: typescript, python

docs: add comprehensive technical architecture documentation
  ARCHITECTURE.md
  CLAUDE.md
  PROJECT.md
  README.md
Due: none

feat(execution): wire gRPC clients to real Alpaca API
  apps/api/package.json
  apps/api/src/grpc/client.ts
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/server/grpc.rs
  bun.lock
  packages/domain/src/grpc/execution.ts
  packages/domain/src/grpc/index.ts
  packages/schema-gen/package.json
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema/buf.gen.yaml
  packages/schema/package.json
Due: typescript, rust

fix(domain): make PerformanceTracker test less flaky
  packages/domain/src/snapshot-limits.test.ts
Due: none

feat(api): implement Mastra agent LLM execution for trading workflow
  apps/api/src/agents/index.ts
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(api): implement trading cycle workflow step skeletons
  apps/api/package.json
  apps/api/src/db.ts
  apps/api/src/steps/buildSnapshot.ts
  apps/api/src/steps/executeOrders.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/index.ts
  apps/api/src/steps/loadState.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/src/steps/retrieveMemory.ts
  apps/api/src/workflows/tradingCycle.ts
Due: none

feat(grpc): implement MarketDataService client with getQuotes integration
  packages/domain/src/grpc/index.ts
  packages/domain/src/grpc/marketdata.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(tools): implement getPortfolioState with gRPC ExecutionService
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(tools): implement recalcIndicator with indicators package
  bun.lock
  packages/mastra-kit/package.json
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(tools): implement helixQuery with HelixDB client
  bun.lock
  packages/mastra-kit/package.json
  packages/mastra-kit/src/tools/index.ts
Due: typescript

fix(risk): enforce explicit buying power provision in constraint validation
  apps/execution-engine/src/execution/gateway.rs
  apps/execution-engine/src/risk/constraints.rs
Due: rust

feat(domain): add startup environment variable validation
  CLAUDE.md
  packages/domain/src/env.test.ts
  packages/domain/src/env.ts
  packages/domain/src/index.ts
Due: typescript

feat(mastra-kit): implement getOptionChain and getGreeks tools
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(api): implement retrieveMemory workflow step with GraphRAG
  apps/api/src/steps/retrieveMemory.ts
Due: none

feat(execution): implement bracket orders for stop/target execution
  apps/execution-engine/src/execution/alpaca.rs
Due: rust

feat: wire broker and FMP integrations to trading workflow
  apps/api/package.json
  apps/api/src/steps/executeOrders.ts
  bun.lock
  packages/broker/package.json
  packages/mastra-kit/package.json
  packages/mastra-kit/src/tools/index.ts
  packages/universe/src/fmp-client.ts
  packages/universe/src/index.ts
Due: typescript

feat: wire external context pipeline to trading workflow
  apps/api/src/db.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/retrieveMemory.ts
  apps/api/src/workflows/trading-cycle.ts
  packages/storage/migrations/007_external_events.sql
  packages/storage/migrations/007_external_events_down.sql
  packages/storage/src/repositories/external-events.ts
  packages/storage/src/repositories/index.ts
  packages/universe/src/fmp-client.ts
  packages/universe/src/index.ts
Due: typescript

feat: complete external context pipeline and add memory persistence
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/steps/persistMemory.ts
  apps/worker/src/index.ts
Due: none

test: add comprehensive unit tests for all 8 trading agents
  apps/api/tests/agents.test.ts
Due: none

fix: use relative imports in agent tests for CI compatibility
  apps/api/tests/agents.test.ts
Due: none

ci: add build step before running TypeScript tests
  .github/workflows/test.yml
  apps/api/tests/agents.test.ts
Due: none

ci: skip schema packages that require buf CLI in build step
  .github/workflows/test.yml
Due: none

ci: also skip dashboard build (requires full Next.js TypeScript)
  .github/workflows/test.yml
Due: none

fix: use relative imports for mastra-kit to avoid CI build requirement
  .github/workflows/test.yml
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/agents/stub-agents.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/api/tests/agents.test.ts
Due: none

fix: configure mastra-kit package exports to point to source files
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/agents/stub-agents.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/api/tests/agents.test.ts
  packages/mastra-kit/package.json
Due: typescript

fix: configure broker and dashboard-types exports to point to source files
  packages/broker/package.json
  packages/dashboard-types/package.json
Due: typescript

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
