Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

refactor(scripts): remove verbose console output
  apps/dashboard-api/check-pm.ts
  packages/helix/scripts/seed-papers.ts
  packages/storage/check-kalshi.ts
  packages/storage/scripts/db-reset.ts
Due: typescript

style: apply formatter fixes across codebase
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/lib/api/types/portfolio.ts
  apps/dashboard/src/lib/api/types/trading.ts
  apps/dashboard/src/lib/feed/types.ts
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/stops/mod.rs
  packages/domain/src/calendar.test.ts
  packages/domain/src/calendar/factory.test.ts
  packages/domain/src/parity.test.ts
  packages/domain/src/schema-sync.test.ts
  packages/helix/src/services/paper-ingestion.ts
Due: typescript, rust

fix(tests): add missing env setup and calendar mocks
  packages/agents/src/tools/definitions/graphragTools.test.ts
  packages/marketdata/tests/calendar.test.ts
Due: none

feat(agents): wire academic paper tools to agents
  apps/api/tests/agents.test.ts
  packages/agents/src/tools/index.ts
Due: typescript

docs: fix test command in CLAUDE.md
  CLAUDE.md
Due: none

fix(test): correct bunfig.toml coverage config syntax
  packages/config/bunfig.toml
  packages/domain/bunfig.toml
  packages/metrics/bunfig.toml
  packages/prediction-markets/bunfig.toml
  packages/universe/bunfig.toml
Due: typescript

chore: remove Python protobuf generation
  packages/proto/buf.gen.yaml
  packages/schema-gen/python/cream/v1/common_pb2.py
  packages/schema-gen/python/cream/v1/common_pb2.pyi
  packages/schema-gen/python/cream/v1/decision_pb2.py
  packages/schema-gen/python/cream/v1/decision_pb2.pyi
  packages/schema-gen/python/cream/v1/events_pb2.py
  packages/schema-gen/python/cream/v1/events_pb2.pyi
  packages/schema-gen/python/cream/v1/execution_pb2.py
  packages/schema-gen/python/cream/v1/execution_pb2.pyi
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.py
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.pyi
Due: typescript

fix(indicators): handle undefined in LAR type narrowing
  packages/indicators/src/custom/liquidity_absorption_ratio.ts
Due: typescript

fix(config): add grounding_agent to RuntimeAgentType
  apps/dashboard-api/src/routes/config/types.ts
  packages/config/src/runtime-config/types.ts
Due: typescript

fix(api): clean up workflow exports and add useDraftConfig
  apps/api/src/mastra/workflows/trading-cycle/index.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

fix(test): update test mocks to match interface types
  apps/worker/src/contexts/indicators/batch-scheduler.test.ts
  apps/worker/src/contexts/trading-cycle/filings-sync.test.ts
  packages/agents/src/tools/implementations/fred.test.ts
Due: none

chore(worker): remove orphan scheduler re-export
  apps/worker/src/schedulers/index.ts
Due: none

chore(storage): remove check-kalshi.ts
  packages/storage/check-kalshi.ts
Due: typescript

ci: use bun run lint in CI workflow
  .github/workflows/test.yml
Due: none

fix(dashboard): replace next lint with biome check
  apps/dashboard/package.json
Due: none

chore(lint): consolidate rust clippy under turbo
  apps/execution-engine/turbo.json
  package.json
Due: rust

chore(helix): remove unused ingestion services
  packages/helix/src/services/hypothesis-ingestion.ts
  packages/helix/src/services/indicator-ingestion.ts
Due: typescript

fix(infra): rename lint to validate script
  packages/infra/package.json
Due: typescript

feat(execution): use real market data for tactic selection
  apps/dashboard-api/src/services/shared-options-provider.ts
  apps/execution-engine/src/execution/alpaca/mod.rs
  packages/agents/src/tools/definitions/index.ts
  packages/agents/src/tools/definitions/indicatorTools.ts
  packages/agents/src/tools/implementations/index.ts
  packages/agents/src/tools/implementations/indicatorIngestion.ts
  packages/helix/src/index.ts
  packages/helix/src/services/hypothesis-ingestion.test.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/indicator-ingestion.test.ts
  tsconfig.base.json
Due: typescript, rust

chore(dashboard-api): remove unused status setter
  apps/dashboard-api/src/routes/system/state.ts
Due: none

chore(dashboard): remove Indicator Lab feature
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/indicators.ts
  apps/dashboard/src/app/(auth)/indicators/page.tsx
  apps/dashboard/src/components/indicators/ActiveIndicatorsTable.tsx
  apps/dashboard/src/components/indicators/ActivityFeed.tsx
  apps/dashboard/src/components/indicators/BatchJobStatus.tsx
  apps/dashboard/src/components/indicators/ICChart.tsx
  apps/dashboard/src/components/indicators/PaperTradingSection.tsx
  apps/dashboard/src/components/indicators/RetireButton.tsx
  apps/dashboard/src/components/indicators/TriggerStatusCard.tsx
  apps/dashboard/src/components/indicators/ValidationReport.tsx
  apps/dashboard/src/components/indicators/index.ts
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useIndicatorLab.ts
Due: none

chore(dashboard-api): remove stale streaming TODO comment
  apps/dashboard-api/src/routes/system/cycles.ts
Due: none

chore: remove empty placeholder blocks and unused code
  apps/dashboard-api/src/routes/system/state.ts
  apps/dashboard-api/src/websocket/logger.ts
  apps/dashboard/src/hooks/useWebSocketQuerySync.ts
  apps/dashboard/src/providers/WebSocketProvider.tsx
Due: none

perf(dashboard): optimize indicator drawer loading
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartHeader.tsx
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/components/indicators/IndicatorDrawer.tsx
  apps/dashboard/src/components/indicators/IndicatorSnapshotPanel.tsx
  apps/dashboard/src/lib/api/query-client.ts
Due: none

feat(proto): add PositionIntent enum and OptionLeg message for multi-leg options
  packages/proto/cream/v1/common.proto
  packages/proto/cream/v1/decision.proto
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
Due: typescript

feat(execution-engine): add multi-leg option types to Decision model
  apps/execution-engine/src/models/decision.rs
  apps/execution-engine/src/models/mod.rs
  apps/execution-engine/src/server/grpc/converters.rs
Due: rust

feat(execution-engine): implement multi-leg order submission in Alpaca adapter
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/error.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
Due: rust

test(execution-engine): update test fixtures with new Decision fields
  apps/execution-engine/src/execution/gateway/core.rs
  apps/execution-engine/src/execution/gateway/mock.rs
  apps/execution-engine/src/risk/constraints/buying_power.rs
  apps/execution-engine/src/risk/constraints/mod.rs
  apps/execution-engine/src/risk/constraints/per_instrument.rs
  apps/execution-engine/src/risk/constraints/portfolio.rs
  apps/execution-engine/src/risk/constraints/risk_limits.rs
  apps/execution-engine/src/server/http.rs
Due: rust

feat(api): add multi-leg option support to TypeScript schemas and types
  apps/api/src/mastra/agents/schemas.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/types.ts
Due: none

chore(storage): remove placeholder test files
  packages/storage/src/pool.test.ts
Due: none

chore(storage): remove placeholder repository test files
  packages/storage/src/repositories/agent-configs.test.ts
  packages/storage/src/repositories/agent-outputs.test.ts
  packages/storage/src/repositories/alert-settings.test.ts
  packages/storage/src/repositories/candles.test.ts
  packages/storage/src/repositories/config-versions.test.ts
  packages/storage/src/repositories/corporate-actions.test.ts
  packages/storage/src/repositories/factor-zoo.test.ts
  packages/storage/src/repositories/features.test.ts
  packages/storage/src/repositories/filings.test.ts
  packages/storage/src/repositories/fundamentals.test.ts
  packages/storage/src/repositories/historical-universe.test.ts
  packages/storage/src/repositories/indicators.test.ts
  packages/storage/src/repositories/options-indicators-cache.test.ts
  packages/storage/src/repositories/portfolio-snapshots.test.ts
  packages/storage/src/repositories/prediction-markets.test.ts
  packages/storage/src/repositories/regime-labels.test.ts
  packages/storage/src/repositories/repositories.test.ts
  packages/storage/src/repositories/sentiment.test.ts
  packages/storage/src/repositories/short-interest.test.ts
  packages/storage/src/repositories/trading-config.test.ts
  packages/storage/src/repositories/universe-cache.test.ts
  packages/storage/src/repositories/universe-configs.test.ts
  packages/storage/src/repositories/user-preferences.test.ts
Due: none

feat(broker): enhance client factory with environment-aware configuration
  packages/broker/src/client.ts
  packages/broker/src/client/factory.ts
  packages/broker/src/client/index.ts
  packages/broker/src/client/types.ts
  packages/broker/src/index.ts
Due: typescript

feat(agents): enhance researcher and trader prompts
  packages/agents/src/consensus.ts
  packages/agents/src/prompts/bearishResearcher.ts
  packages/agents/src/prompts/bullishResearcher.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/implementations/academicPapers.ts
  packages/agents/src/types.ts
Due: typescript

fix(external-context): update Semantic Scholar API integration
  packages/external-context/src/academic/semanticScholar.ts
  packages/indicators/src/types/index.ts
  packages/indicators/src/types/normalization.test.ts
Due: typescript

feat(api): improve agent streaming and error handling
  apps/api/src/mastra/agents/consensus.ts
  apps/api/src/mastra/agents/factory.ts
  apps/api/src/mastra/agents/grounding.ts
  apps/api/src/mastra/agents/stream-forwarder.ts
  apps/api/src/mastra/agents/trader.ts
  apps/api/src/mastra/agents/types.ts
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

feat(dashboard-api): update API routes and handlers
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard-api/src/routes/decisions.ts
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard-api/src/routes/system/state.ts
Due: none

feat(dashboard): add order history widget and UI improvements
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/app/(auth)/calendar/components/EventDetailDrawer.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/ApprovalSection.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/index.ts
  apps/dashboard/src/app/(auth)/decisions/[id]/page.tsx
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/EquityCurveChart.tsx
  apps/dashboard/src/components/portfolio/OrderHistoryWidget.tsx
  apps/dashboard/src/components/ui/history-chart.tsx
  apps/dashboard/src/hooks/queries/useEconomicCalendar.ts
  apps/dashboard/src/hooks/queries/useOrders.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/trading.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
Due: none

docs: update environment example and project instructions
  .env.example
  CLAUDE.md
Due: none

chore: add OODA cycle debug dump for analysis
  ooda-dump/README.md
  ooda-dump/agent-outputs.json
  ooda-dump/agents-reconstructed.json
  ooda-dump/agents/critic.json
  ooda-dump/agents/trader.json
  ooda-dump/cycle-events.json
  ooda-dump/cycle.json
  ooda-dump/decisions.json
  ooda-dump/orders.json
  ooda-dump/phase-transitions.json
Due: none

revert: remove OODA cycle debug dump
  ooda-dump/README.md
  ooda-dump/agent-outputs.json
  ooda-dump/agents-reconstructed.json
  ooda-dump/agents/critic.json
  ooda-dump/agents/trader.json
  ooda-dump/cycle-events.json
  ooda-dump/cycle.json
  ooda-dump/decisions.json
  ooda-dump/orders.json
  ooda-dump/phase-transitions.json
Due: none
