Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

fix(tests): resolve test failures and improve test infrastructure
  CLAUDE.md
  apps/dashboard-api/bunfig.toml
  apps/dashboard-api/package.json
  apps/dashboard-api/src/auth/better-auth.ts
  apps/dashboard-api/src/auth/session.test.ts
  apps/dashboard-api/src/services/portfolio.test.ts
  apps/dashboard-api/src/services/portfolio.ts
  apps/dashboard-api/tests/preload.ts
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/components/layout/NavDrawer.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/contexts/AuthContext.tsx
  apps/dashboard/src/proxy.ts
  bun.lock
  bunfig.toml
  package.json
  packages/domain/src/env.ts
  packages/storage/src/migrations.test.ts
Due: typescript

feat(config): migrate constraints config to database storage
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard-api/src/routes/portfolio.ts
  packages/config/src/index.ts
  packages/config/src/runtime-config.ts
  packages/storage/migrations/001_init.sql
  packages/storage/src/repositories/constraints-config.ts
  packages/storage/src/repositories/index.ts
Due: typescript

feat(config): add universe config endpoint and remove legacy types
  apps/api/src/db.ts
  apps/dashboard-api/package.json
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard/next.config.mjs
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/components/config/ConfigDiff.tsx
  apps/dashboard/src/components/ui/tooltip.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useConfig.ts
  apps/dashboard/src/hooks/useAggregateGreeks.ts
  apps/dashboard/src/lib/api/types.ts
  apps/dashboard/src/lib/providers/QueryProvider.tsx
  apps/worker/src/db.ts
  bun.lock
  packages/storage/migrations/001_init.sql
  packages/storage/migrations/init/00_schema.sql
  packages/storage/migrations/init/01_core_trading.sql
  packages/storage/migrations/init/02_dashboard.sql
  packages/storage/migrations/init/03_market_data.sql
  packages/storage/migrations/init/04_thesis.sql
  packages/storage/migrations/init/05_universe.sql
  packages/storage/migrations/init/06_prediction_markets.sql
  packages/storage/migrations/init/07_external_events.sql
  packages/storage/migrations/init/08_indicators.sql
  packages/storage/migrations/init/09_factors.sql
  packages/storage/migrations/init/10_runtime_config.sql
  packages/storage/migrations/init/11_auth.sql
  packages/storage/migrations/init/12_user_settings.sql
  packages/storage/migrations/init/13_audit.sql
  packages/storage/migrations/init/99_seed.sql
  packages/storage/package.json
  packages/storage/src/migrations.ts
  packages/storage/src/seed-config.ts
  packages/storage/src/turso.ts
Due: typescript

refactor: remove unused code and simplify config components
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/dashboard-api/src/routes/agents.ts
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard-api/tests/integration/config-flow.test.ts
  apps/dashboard/src/app/(auth)/config/edit/page.tsx
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/providers.tsx
  apps/dashboard/src/components/config/ConfigDiff.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/ui/ThemeToggle.tsx
  apps/dashboard/src/hooks/useTheme.ts
  apps/dashboard/src/lib/api/types.ts
  packages/config/src/runtime-config.test.ts
  packages/config/src/runtime-config.ts
  packages/config/src/schemas/agents.ts
  packages/config/src/schemas/core.test.ts
  packages/config/src/schemas/core.ts
  packages/dashboard-types/src/api.ts
  packages/storage/src/repositories/agent-configs.test.ts
  packages/storage/src/repositories/agent-configs.ts
  packages/storage/src/seed-config.ts
Due: typescript

chore: apply biome formatting and rename e2e test
  apps/dashboard/e2e/backtest.integration.ts
  apps/dashboard/playwright.config.ts
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/components/config/ConfigDiff.tsx
  apps/dashboard/src/components/ui/ThemeToggle.tsx
  packages/config/src/runtime-config.ts
  packages/storage/src/repositories/agent-configs.ts
Due: typescript

chore: regenerate protobuf typescript stubs
  packages/schema-gen/ts/arrow/flight/protocol/flight_pb.ts
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: none

deps: upgrade all packages to latest versions
  Cargo.lock
  Cargo.toml
  apps/api/package.json
  apps/dashboard-api/package.json
  apps/dashboard/package.json
  apps/evals/pyproject.toml
  apps/execution-engine/Cargo.toml
  apps/filings-service/pyproject.toml
  apps/vision-service/pyproject.toml
  apps/worker/package.json
  bun.lock
  package.json
  packages/broker/package.json
  packages/config/package.json
  packages/dashboard-types/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/marketdata/package.json
  packages/mastra-kit/package.json
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/research/pyproject.toml
  packages/research/uv.lock
  packages/schema-gen/package.json
  packages/storage/migrations/init/10_runtime_config.sql
  packages/storage/package.json
  packages/universe/package.json
  packages/validation/package.json
Due: typescript, rust, python

feat(execution-engine): wire up core execution engine modules
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/backtest.rs
  apps/execution-engine/src/execution/gateway.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/resilience/mod.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/safety/mod.rs
  apps/execution-engine/src/safety/monitor.rs
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/http.rs
Due: rust

feat(dashboard-api): implement real signal generation for backtest strategies
  apps/dashboard-api/package.json
  apps/dashboard-api/src/services/backtest-data.ts
  bun.lock
Due: none

feat(dashboard-api): wire agent config database persistence
  apps/dashboard-api/src/routes/agents.ts
  apps/dashboard-api/src/services/backtest-data.test.ts
Due: none

refactor(tests): separate integration tests from unit tests
  apps/dashboard-api/src/services/backtest-data.integration.test.ts
  apps/dashboard-api/src/services/backtest-data.test.ts
  packages/helix-schema/tests/embeddings.integration.test.ts
  packages/helix-schema/tests/embeddings.test.ts
Due: none

feat(dashboard): add cycle-store consumer components
  apps/dashboard/src/components/agents/AgentVotes.tsx
  apps/dashboard/src/components/agents/index.ts
  apps/dashboard/src/components/dashboard/CycleProgressLive.tsx
Due: none

docs(execution-engine): remove misleading deprecation comment
  apps/execution-engine/src/server/http.rs
Due: rust

refactor(prediction-markets): remove skipped factory function tests
  packages/prediction-markets/src/providers/kalshi/client.test.ts
  packages/prediction-markets/src/providers/polymarket/client.test.ts
Due: none

feat: wire zustand stores to dashboard components and add regime tracking
  apps/dashboard/src/app/(auth)/charts/page.tsx
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/ui/GlobalLoadingIndicator.tsx
  apps/dashboard/src/stores/ui-store.ts
  packages/domain/src/factor-zoo.ts
  packages/helix/tests/integration/retrieval.test.ts
  packages/mastra-kit/src/services/decay-monitor.test.ts
  packages/mastra-kit/src/services/factor-zoo.test.ts
  packages/mastra-kit/src/services/idea-agent.test.ts
  packages/mastra-kit/src/services/idea-agent.ts
  packages/mastra-kit/src/services/research-trigger.test.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.test.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.ts
  packages/research/research/backtest/fill_models.py
  packages/research/research/equivalence.py
  packages/research/research/paper_validation/service.py
  packages/research/research/paper_validation/worker.py
  packages/research/research/translation.py
  packages/storage/migrations/init/15_factor_regimes.sql
  packages/storage/src/repositories/factor-zoo.ts
Due: typescript, python

chore: remove disabled workflow files
  .github/workflows/coverage.yml.disabled
  .github/workflows/deploy.yml.disabled
Due: none

refactor(config): remove feature flags system
  packages/config/src/flags.test.ts
  packages/config/src/flags.ts
  packages/config/src/index.ts
  packages/config/src/schemas/flags.test.ts
  packages/config/src/schemas/flags.ts
  packages/config/src/schemas/index.ts
Due: typescript

feat(domain): add requireEnv() for strict CREAM_ENV validation
  apps/api/src/db.ts
  apps/api/src/steps/executeOrders.ts
  apps/api/src/steps/fetchPredictionMarkets.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/ingestThesisMemory.ts
  apps/api/src/steps/loadState.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/src/steps/retrieveMemory.ts
  apps/dashboard-api/src/auth/session.ts
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/lib/config.ts
  apps/worker/src/db.ts
  apps/worker/src/index.ts
  packages/config/src/bin/validate-deps.ts
  packages/domain/src/env.test.ts
  packages/domain/src/env.ts
  packages/domain/src/index.ts
  packages/mastra-kit/src/escalation.ts
  packages/mastra-kit/src/tools/definitions/dataTools.ts
  packages/mastra-kit/src/tools/definitions/tradingTools.ts
  packages/mastra-kit/src/tools/definitions/webSearch.ts
  packages/storage/src/run-migrations.ts
Due: typescript

feat(marketdata): add environment-aware market data factory
  packages/marketdata/src/factory.test.ts
  packages/marketdata/src/factory.ts
  packages/marketdata/src/index.ts
Due: typescript

feat(api): wire market data adapter to steps and workflows
  apps/api/src/steps/buildSnapshot.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
Due: none

feat(validation): add parity validation infrastructure
  packages/storage/migrations/init/14_parity_validation.sql
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/parity-validation.ts
  packages/validation/src/index.ts
  packages/validation/src/service.ts
Due: typescript

feat(prediction-markets): add error types and improve historical adapter
  packages/prediction-markets/src/backtest/historical-adapter.test.ts
  packages/prediction-markets/src/backtest/historical-adapter.ts
  packages/prediction-markets/src/types.ts
Due: typescript

chore(schema-gen): regenerate protobuf stubs
  packages/schema-gen/ts/arrow/flight/protocol/flight_pb.ts
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: none

chore(domain): remove commented-out code
  packages/domain/src/clock.ts
  packages/domain/src/time.ts
Due: typescript

chore: miscellaneous cleanups and parity validation support
  apps/dashboard/src/app/error.tsx
  apps/dashboard/src/components/ui/system-health-badge.test.tsx
  apps/dashboard/src/components/ui/ticker-strip.tsx
  apps/worker/src/research/__tests__/research.test.ts
  packages/mastra-kit/braintrust.config.ts
  packages/mastra-kit/src/tools/definitions/researchTrigger.test.ts
  packages/mastra-kit/src/tracing.ts
  packages/storage/src/repositories/indicators.ts
Due: typescript

chore(research): update coverage report
  packages/research/coverage.xml
Due: typescript, python

fix(indicators): add typescript dependency for AST analysis
  bun.lock
  packages/indicators/package.json
Due: typescript

fix(helix-schema): skip integration tests when API key not configured
  packages/helix-schema/tests/embeddings.integration.test.ts
Due: none

fix(storage): add missing columns to factor-zoo test schema
  packages/storage/src/repositories/factor-zoo.test.ts
Due: none

fix(storage): correct table name in factor_regimes migration
  packages/storage/migrations/init/15_factor_regimes.sql
Due: typescript

fix(dashboard-api): skip backtest integration tests when uv not available
  apps/dashboard-api/src/services/backtest-data.integration.test.ts
Due: none

fix(dashboard): default to BACKTEST when NEXT_PUBLIC_CREAM_ENV not set
  apps/dashboard/src/lib/config.ts
Due: none

fix(dashboard): use useShallow to prevent infinite loop in UI store hooks
  apps/dashboard/src/stores/ui-store.ts
Due: none

fix(dashboard): default EnvBadge to BACKTEST when env not set
  apps/dashboard/src/app/(auth)/layout.tsx
Due: none

feat(execution-engine): implement get_snapshot to fetch real bars from Alpaca
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/models/environment.rs
  apps/execution-engine/src/server/grpc.rs
Due: rust

feat(execution-engine): add separate HTTP, gRPC, and Flight servers
  apps/execution-engine/config.yaml
  apps/execution-engine/package.json
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/main.rs
Due: rust

refactor(helix-schema): simplify schema following HelixDB v2 patterns
  packages/helix-schema/.gitignore
  packages/helix-schema/helix.toml
  packages/helix-schema/package.json
  packages/helix-schema/queries.hx
  packages/helix-schema/schema.hx
  packages/helix-schema/src/embeddings.ts
  packages/helix-schema/src/hnsw-config.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/tests/embeddings.test.ts
Due: typescript

feat(logger): add structured logger package with lifecycle logging
  apps/api/package.json
  apps/api/src/db.ts
  apps/api/src/workflows/trading-cycle.ts
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/src/node.ts
  packages/logger/src/redaction.ts
  packages/logger/src/types.ts
  packages/logger/tsconfig.json
  packages/mastra-kit/package.json
Due: typescript

refactor(llm): migrate to Gemini 3 models exclusively for OODA agents
  .env.example
  apps/api/src/agents/mastra-agents.ts
  apps/evals/deepeval.yaml
  apps/worker/src/index.ts
  packages/domain/src/env.ts
Due: typescript

fix(consensus): distinguish agent timeout from error in withAgentTimeout
  packages/mastra-kit/src/consensus.ts
Due: typescript
