Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(helix-schema): add HelixQL query definitions
  packages/helix-schema/queries.hx
Due: typescript

feat(domain): add clock synchronization and timestamp validation
  bun.lock
  packages/domain/src/clock.test.ts
  packages/domain/src/clock.ts
  packages/domain/src/index.ts
Due: typescript

feat(helix-schema): add HNSW vector index configuration
  packages/helix-schema/config.hx.json
  packages/helix-schema/src/hnsw-config.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/tests/hnsw-config.test.ts
Due: typescript

feat(helix-schema): add Reciprocal Rank Fusion for hybrid retrieval
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/retrieval/index.ts
  packages/helix-schema/src/retrieval/rrf.ts
  packages/helix-schema/tests/rrf.test.ts
Due: typescript

feat(domain): add gRPC error mapping and retry logic
  packages/domain/src/errors.test.ts
  packages/domain/src/errors.ts
  packages/domain/src/index.ts
Due: typescript

feat(domain): add retention policies and storage tier management
  packages/domain/src/index.ts
  packages/domain/src/retention.test.ts
  packages/domain/src/retention.ts
Due: typescript

feat(helix-schema): implement active forgetting policy with Ebbinghaus curve
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/retention/forgetting.ts
  packages/helix-schema/src/retention/index.ts
  packages/helix-schema/tests/forgetting.test.ts
Due: typescript

feat(helix-schema): implement corrective retrieval for low-quality results
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/retrieval/corrective.ts
  packages/helix-schema/src/retrieval/index.ts
  packages/helix-schema/tests/corrective.test.ts
Due: typescript

feat(helix-schema): add query timeout, caching, and fallback handling
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/query/index.ts
  packages/helix-schema/src/query/timeout.ts
  packages/helix-schema/tests/timeout.test.ts
Due: typescript

chore: clean up README - keep only header image
  README.md
Due: none

feat(execution-engine): add multi-leg options constraints
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/options/mod.rs
  apps/execution-engine/src/options/multileg.rs
Due: rust

feat(execution-engine): add sizing sanity check for position sizing
  apps/execution-engine/src/models/constraint.rs
  apps/execution-engine/src/models/mod.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/risk/mod.rs
Due: rust

feat(execution-engine): implement gRPC API endpoints (cream-9pmx)
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/mod.rs
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/rust/cream/v1/cream.v1.serde.rs
  packages/schema-gen/rust/cream/v1/cream.v1.tonic.rs
  packages/schema/buf.gen.yaml
Due: typescript, rust

feat(execution-engine): add configuration schema with YAML and validation (cream-oq8w)
  apps/execution-engine/Cargo.toml
  apps/execution-engine/config.yaml
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/lib.rs
Due: rust

chore(deps): update Rust dependencies to latest versions
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/config.rs
Due: rust

feat(observability): implement SLO-based alerting rules
  infrastructure/alertmanager/alertmanager.yml
  infrastructure/docker-compose.yml
  infrastructure/otel/otel-collector-config.yml
  infrastructure/prometheus/alerts.yml
  infrastructure/prometheus/prometheus.yml
  infrastructure/prometheus/recording_rules.yml
Due: none

feat(validation): implement research-to-production parity validation
  bun.lock
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/parity.test.ts
  packages/validation/src/parity.ts
  packages/validation/tsconfig.json
Due: typescript

feat(compliance): implement SEC/FINRA audit trail for LIVE trading
  packages/helix-schema/src/compliance/audit.test.ts
  packages/helix-schema/src/compliance/audit.ts
  packages/helix-schema/src/compliance/index.ts
  packages/helix-schema/src/index.ts
Due: typescript

feat(dashboard): set up Next.js 16 with App Router and Turbopack
  apps/dashboard/.env.local.example
  apps/dashboard/.gitignore
  apps/dashboard/CLAUDE.md
  apps/dashboard/README.md
  apps/dashboard/next-env.d.ts
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/app/(auth)/backtest/page.tsx
  apps/dashboard/src/app/(auth)/charts/page.tsx
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/app/(auth)/decisions/page.tsx
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/app/(auth)/risk/page.tsx
  apps/dashboard/src/app/(auth)/theses/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/tsconfig.json
  bun.lock
Due: none

feat(dashboard-api): set up Hono API with Zod OpenAPI and WebSocket
  apps/dashboard-api/.env.example
  apps/dashboard-api/package.json
  apps/dashboard-api/src/index.ts
  bun.lock
Due: none

feat(dashboard): add ConnectionStatus indicator component
  apps/dashboard/src/components/ui/ConnectionStatus.test.tsx
  apps/dashboard/src/components/ui/ConnectionStatus.tsx
Due: none

feat(storage): add Turso database schema migrations
  packages/storage/migrations/001_initial_schema.sql
  packages/storage/migrations/001_initial_schema_down.sql
  packages/storage/migrations/002_dashboard_tables.sql
  packages/storage/migrations/002_dashboard_tables_down.sql
  packages/storage/src/index.ts
  packages/storage/src/migrations.test.ts
  packages/storage/src/migrations.ts
  packages/storage/src/turso.ts
Due: typescript

feat(dashboard): implement Cream design system
  apps/dashboard/public/fonts/.gitkeep
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/components/ui/ThemeToggle.tsx
  apps/dashboard/src/hooks/useTheme.ts
  apps/dashboard/tailwind.config.ts
Due: none

feat(dashboard): add TanStack Query and Zustand state management
  apps/dashboard/package.json
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
  apps/dashboard/src/lib/providers/QueryProvider.tsx
  apps/dashboard/src/stores/cycle-store.ts
  apps/dashboard/src/stores/ui-store.test.ts
  apps/dashboard/src/stores/ui-store.ts
  bun.lock
Due: none

feat(dashboard): add WebSocket subscription convenience hooks
  apps/dashboard/src/hooks/useSubscribe.ts
Due: none

feat(storage): add TypeScript data access layer with repositories
  packages/storage/src/index.ts
  packages/storage/src/repositories/agent-outputs.ts
  packages/storage/src/repositories/alerts.ts
  packages/storage/src/repositories/backtests.ts
  packages/storage/src/repositories/base.ts
  packages/storage/src/repositories/config-versions.ts
  packages/storage/src/repositories/decisions.ts
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/orders.ts
  packages/storage/src/repositories/portfolio-snapshots.ts
  packages/storage/src/repositories/positions.ts
  packages/storage/src/repositories/repositories.test.ts
Due: typescript

feat(infra): add dashboard services to Docker Compose
  apps/dashboard-api/Dockerfile
  apps/dashboard/Dockerfile
  infrastructure/docker-compose.yml
Due: none

feat(dashboard-api): add API routes for system, decisions, portfolio, alerts
  apps/dashboard-api/package.json
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/alerts.ts
  apps/dashboard-api/src/routes/decisions.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard-api/tsconfig.json
  bun.lock
  packages/storage/src/repositories/portfolio-snapshots.ts
Due: typescript

fix: update tests to match mapper domain types
  apps/dashboard-api/src/events/mappers.test.ts
  apps/dashboard/src/styles/animations.test.ts
Due: none

chore: commit Cargo.lock per Rust 2023 guidance
  .gitignore
  Cargo.lock
Due: none

feat(dashboard): implement AnimatedNumber component with Framer Motion
  apps/dashboard/package.json
  apps/dashboard/src/components/ui/animated-number.test.tsx
  apps/dashboard/src/components/ui/animated-number.tsx
  bun.lock
Due: none

feat(dashboard-api): implement JWT authentication with httpOnly cookies
  apps/dashboard-api/src/auth/index.ts
  apps/dashboard-api/src/auth/jwt.test.ts
  apps/dashboard-api/src/auth/jwt.ts
  apps/dashboard-api/src/auth/mfa.test.ts
  apps/dashboard-api/src/auth/mfa.ts
  apps/dashboard-api/src/auth/middleware.ts
  apps/dashboard-api/src/auth/roles.test.ts
  apps/dashboard-api/src/auth/roles.ts
  apps/dashboard-api/src/auth/types.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/auth.ts
  apps/dashboard-api/src/routes/index.ts
Due: none

feat(dashboard): implement PriceTicker with flash and stale fadeout
  apps/dashboard/src/components/ui/price-ticker.test.tsx
  apps/dashboard/src/components/ui/price-ticker.tsx
  apps/dashboard/src/components/ui/use-price-flash.ts
  apps/dashboard/src/components/ui/use-stale-data.ts
Due: none

feat(dashboard): implement CSS design tokens system
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/styles/tokens/colors.css
  apps/dashboard/src/styles/tokens/index.css
  apps/dashboard/src/styles/tokens/radius.css
  apps/dashboard/src/styles/tokens/shadows.css
  apps/dashboard/src/styles/tokens/spacing.css
  apps/dashboard/src/styles/tokens/transitions.css
  apps/dashboard/src/styles/tokens/typography.css
Due: none

feat(dashboard): add virtualized event feed with auto-scroll
  apps/dashboard/package.json
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/components/ui/ThemeToggle.tsx
  apps/dashboard/src/components/ui/event-feed.test.tsx
  apps/dashboard/src/components/ui/event-feed.tsx
  apps/dashboard/src/components/ui/use-auto-scroll.ts
  apps/dashboard/src/components/ui/use-relative-time.ts
  bun.lock
Due: none

feat(dashboard): add Eric Meyer's CSS Reset
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/styles/reset.css
Due: none

feat(dashboard): add agent streaming output component
  apps/dashboard/src/components/ui/agent-streaming-output.test.tsx
  apps/dashboard/src/components/ui/agent-streaming-output.tsx
  apps/dashboard/src/components/ui/use-streaming-text.ts
  apps/dashboard/src/styles/tokens/transitions.css
Due: none

feat(dashboard): implement 'The Cream Glow' visual signature
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/styles/glow.css
  apps/dashboard/src/styles/glow.test.ts
Due: none
