Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

feat(dashboard): add alert notification system
  apps/dashboard/src/components/ui/alert-banner.tsx
  apps/dashboard/src/components/ui/alert-toast.tsx
  apps/dashboard/src/stores/alert-store.test.ts
  apps/dashboard/src/stores/alert-store.ts
Due: none

feat(dashboard): add optimistic update hook with rollback
  apps/dashboard/src/hooks/use-optimistic-update.test.ts
  apps/dashboard/src/hooks/use-optimistic-update.ts
Due: none

feat(dashboard): add connection recovery with exponential backoff
  apps/dashboard/src/components/ui/connection-status.tsx
  apps/dashboard/src/hooks/use-connection-recovery.test.ts
  apps/dashboard/src/hooks/use-connection-recovery.ts
Due: none

feat(dashboard): add typography components with data/UI separation
  apps/dashboard/src/components/ui/typography.test.ts
  apps/dashboard/src/components/ui/typography.tsx
Due: none

feat(dashboard): add elevation CSS and surface components
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/components/ui/surface.test.ts
  apps/dashboard/src/components/ui/surface.tsx
  apps/dashboard/src/styles/elevation.css
Due: none

feat(dashboard): add event feed and preferences stores
  apps/dashboard/src/stores/event-feed-store.test.ts
  apps/dashboard/src/stores/event-feed-store.ts
  apps/dashboard/src/stores/preferences-store.test.ts
  apps/dashboard/src/stores/preferences-store.ts
Due: none

feat(dashboard): add security sanitization utilities
  apps/dashboard/package.json
  apps/dashboard/src/utils/sanitize.test.ts
  apps/dashboard/src/utils/sanitize.ts
  bun.lock
Due: none

feat(dashboard-api): add WebSocket compression configuration
  apps/dashboard-api/src/websocket/compression.test.ts
  apps/dashboard-api/src/websocket/compression.ts
Due: none

feat(dashboard): add Living Indicators for system health status
  apps/dashboard/src/components/ui/status-dot.test.tsx
  apps/dashboard/src/components/ui/status-dot.tsx
  apps/dashboard/src/components/ui/system-health-badge.test.tsx
  apps/dashboard/src/components/ui/system-health-badge.tsx
  apps/dashboard/src/styles/animations.css
Due: none

feat(dashboard): set up visual regression testing infrastructure
  .github/workflows/visual-regression.yml
  apps/dashboard/package.json
  apps/dashboard/playwright.config.ts
  apps/dashboard/tests/visual/README.md
  apps/dashboard/tests/visual/__screenshots__/.gitkeep
  apps/dashboard/tests/visual/components.spec.ts
Due: none

feat(dashboard-api): implement WebSocket graceful shutdown with connection draining
  apps/dashboard-api/src/websocket/shutdown.test.ts
  apps/dashboard-api/src/websocket/shutdown.ts
Due: none

feat(domain): implement WebSocket error message protocol
  packages/domain/src/websocket/errors.test.ts
  packages/domain/src/websocket/errors.ts
  packages/domain/src/websocket/index.ts
Due: typescript

feat(domain): implement comprehensive Zod validation layer
  packages/domain/src/schemas/helix.ts
  packages/domain/src/schemas/index.ts
  packages/domain/src/schemas/schemas.test.ts
  packages/domain/src/schemas/turso.ts
  packages/domain/src/schemas/validation.ts
Due: typescript

feat(indicators): implement technical indicator calculation package
  bun.lock
  packages/indicators/package.json
  packages/indicators/src/index.ts
  packages/indicators/src/momentum/index.ts
  packages/indicators/src/momentum/rsi.ts
  packages/indicators/src/momentum/stochastic.ts
  packages/indicators/src/pipeline.ts
  packages/indicators/src/trend/ema.ts
  packages/indicators/src/trend/index.ts
  packages/indicators/src/trend/sma.ts
  packages/indicators/src/types.ts
  packages/indicators/src/volatility/atr.ts
  packages/indicators/src/volatility/bollinger.ts
  packages/indicators/src/volatility/index.ts
  packages/indicators/src/volume/index.ts
  packages/indicators/src/volume/volumeSma.ts
  packages/indicators/tests/indicators.test.ts
  packages/indicators/tsconfig.json
Due: typescript

feat(indicators): add normalization transforms for feature engineering
  packages/indicators/src/index.ts
  packages/indicators/src/momentum/index.ts
  packages/indicators/src/momentum/rsi.ts
  packages/indicators/src/momentum/stochastic.ts
  packages/indicators/src/pipeline.ts
  packages/indicators/src/transforms/index.ts
  packages/indicators/src/transforms/percentileRank.ts
  packages/indicators/src/transforms/pipeline.ts
  packages/indicators/src/transforms/returns.ts
  packages/indicators/src/transforms/volatilityScale.ts
  packages/indicators/src/transforms/zscore.ts
  packages/indicators/src/trend/ema.ts
  packages/indicators/src/trend/index.ts
  packages/indicators/src/trend/sma.ts
  packages/indicators/src/volatility/atr.ts
  packages/indicators/src/volatility/bollinger.ts
  packages/indicators/src/volatility/index.ts
  packages/indicators/src/volume/index.ts
  packages/indicators/src/volume/volumeSma.ts
  packages/indicators/tests/indicators.test.ts
  packages/indicators/tests/transforms.test.ts
Due: typescript

feat(helix): implement memory update workflow step
  apps/api/package.json
  apps/api/tests/helixMemoryUpdate.test.ts
  apps/api/workflows/index.ts
  apps/api/workflows/steps/helixMemoryUpdate.ts
  apps/api/workflows/steps/index.ts
  bun.lock
  packages/helix/package.json
  packages/helix/src/index.ts
  packages/helix/src/queries/export.ts
  packages/helix/src/queries/graph.ts
  packages/helix/src/queries/mutations.ts
  packages/helix/src/queries/vector.ts
Due: typescript

feat(helix): implement GraphRAG retrieval workflow step
  apps/api/tests/helixRetrieval.test.ts
  apps/api/workflows/steps/helixRetrieval.ts
  apps/api/workflows/steps/index.ts
Due: none

feat(regime): implement rule-based market regime classifier
  bun.lock
  packages/regime/package.json
  packages/regime/src/index.ts
  packages/regime/src/ruleBasedClassifier.ts
  packages/regime/tests/ruleBasedClassifier.test.ts
  packages/regime/tsconfig.json
Due: typescript

feat(marketdata): add data provider API clients
  bun.lock
  packages/marketdata/package.json
  packages/marketdata/src/client.ts
  packages/marketdata/src/index.ts
  packages/marketdata/src/providers/alphavantage.ts
  packages/marketdata/src/providers/fmp.ts
  packages/marketdata/src/providers/index.ts
  packages/marketdata/src/providers/polygon.ts
  packages/marketdata/tests/client.test.ts
  packages/marketdata/tsconfig.json
Due: typescript

feat(broker): add BacktestAdapter and factory function
  packages/broker/src/adapters/backtest.ts
  packages/broker/src/adapters/index.ts
  packages/broker/src/factory.ts
  packages/broker/src/index.ts
  packages/broker/tests/backtest.test.ts
Due: typescript

feat(mastra-kit): add 8-agent network with consensus gate
  packages/mastra-kit/src/agents/index.ts
  packages/mastra-kit/src/consensus.ts
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/prompts/index.ts
  packages/mastra-kit/src/tools/index.ts
  packages/mastra-kit/src/types.ts
  packages/mastra-kit/tests/consensus.test.ts
Due: typescript

feat(domain/grpc): add TypeScript gRPC clients for execution engine
  bun.lock
  packages/domain/package.json
  packages/domain/src/grpc/errors.test.ts
  packages/domain/src/grpc/errors.ts
  packages/domain/src/grpc/execution.ts
  packages/domain/src/grpc/index.ts
  packages/domain/src/grpc/types.ts
Due: typescript

feat(research): complete Python research environment setup
  packages/research/README.md
  packages/research/pyproject.toml
Due: typescript, python

feat(arrow): add Arrow Flight clients for TypeScript and Python
  packages/domain/package.json
  packages/domain/src/arrow/client.test.ts
  packages/domain/src/arrow/client.ts
  packages/domain/src/arrow/index.ts
  packages/domain/src/arrow/types.ts
  packages/research/research/__init__.py
  packages/research/research/flight_client.py
Due: typescript, python

feat(research): add rule-based evaluator scorer for trading plans
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/rule_scorer.py
  packages/research/tests/test_rule_scorer.py
Due: typescript, python

feat(domain): add DecisionPlan Zod schema mirrors
  packages/domain/src/schemas/decision-plan.test.ts
  packages/domain/src/schemas/decision-plan.ts
  packages/domain/src/schemas/index.ts
Due: typescript

feat(domain): add action semantics and broker order mapping
  packages/domain/src/execution.test.ts
  packages/domain/src/execution.ts
Due: typescript

feat(domain): add position sizing calculators
  packages/domain/src/index.ts
  packages/domain/src/position-sizing.test.ts
  packages/domain/src/position-sizing.ts
Due: typescript

feat(domain): add PortfolioState type combining account and positions
  packages/domain/src/execution.test.ts
  packages/domain/src/execution.ts
  packages/domain/src/index.ts
Due: typescript

feat(domain): add market calendar and session handling
  packages/domain/src/calendar.test.ts
  packages/domain/src/calendar.ts
  packages/domain/src/index.ts
Due: typescript

feat(domain): add universe resolution and filter stats types
  packages/domain/src/index.ts
  packages/domain/src/universe.test.ts
  packages/domain/src/universe.ts
Due: typescript

feat(domain): add external context types for news, sentiment, fundamentals
  packages/domain/src/external-context.test.ts
  packages/domain/src/external-context.ts
  packages/domain/src/index.ts
Due: typescript

feat(domain): add memory context and CBR types
  packages/domain/src/index.ts
  packages/domain/src/memory-context.test.ts
  packages/domain/src/memory-context.ts
Due: typescript

Add LLM-as-judge evaluator component to packages/research
  packages/research/pyproject.toml
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/llm_judge.py
  packages/research/tests/test_llm_judge.py
Due: typescript, python

feat(execution-engine): Implement constraint validation service
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/server/http.rs
  apps/execution-engine/src/server/mod.rs
  packages/research/research/evaluator/bradley_terry.py
  packages/research/tests/test_bradley_terry.py
Due: typescript, rust, python

Implement execution tactics (TWAP, VWAP, PASSIVE_LIMIT)
  apps/execution-engine/TACTICS_IMPLEMENTATION.md
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/tactics.rs
  apps/execution-engine/tests/tactics_integration_test.rs
Due: rust

feat(api): Implement market snapshot builder workflow step
  apps/api/package.json
  apps/api/tests/marketSnapshotBuilder.test.ts
  apps/api/workflows/steps/index.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  apps/execution-engine/src/broker/mod.rs
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/gateway.rs
  apps/execution-engine/src/server/arrow_flight.rs
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/mod.rs
  bun.lock
  packages/marketdata/package.json
  packages/marketdata/src/index.ts
  packages/marketdata/src/providers/databento.ts
  packages/marketdata/src/providers/index.ts
  packages/marketdata/tests/databento.test.ts
  packages/research/research/greeks/__init__.py
  packages/research/research/greeks/black_scholes.py
  packages/research/research/greeks/implied_volatility.py
  packages/research/research/greeks/multi_leg.py
  packages/research/research/greeks/portfolio.py
  packages/schema-gen/python/cream/v1/execution_pb2.py
  packages/schema-gen/python/cream/v1/execution_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/rust/cream/v1/cream.v1.tonic.rs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema/cream/v1/execution.proto
Due: typescript, rust, python

feat(execution-engine): Implement Arrow Flight server with DoGet/DoPut
  apps/execution-engine/ARROW_FLIGHT_README.md
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/mod.rs
  packages/marketdata/src/providers/databento.ts
  packages/marketdata/tests/databento.test.ts
  packages/research/tests/test_greeks_black_scholes.py
  packages/research/tests/test_greeks_implied_volatility.py
Due: typescript, rust

feat(research): Implement Greeks computation engine
  packages/research/pyproject.toml
  packages/research/tests/test_greeks_implied_volatility.py
  packages/research/tests/test_greeks_multi_leg.py
  packages/research/tests/test_greeks_portfolio.py
Due: typescript, python

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
