Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

chore: add ooda-dump to gitignore
  .gitignore
Due: none

chore: remove all Python references from project
  .dockerignore
  .editorconfig
  .gitignore
  ruff.toml
  scripts/validate-versions/index.ts
  scripts/validate-versions/types.ts
  scripts/validate-versions/validators.ts
Due: none

chore: remove uv from tool-versions and update CLAUDE.md
  .tool-versions
  CLAUDE.md
Due: none

chore: remove remaining Python references
  apps/dashboard-api/Dockerfile
  packages/domain/src/clock.ts
  packages/domain/src/time.ts
  packages/proto/package.json
  packages/schema-gen/README.md
Due: typescript

chore: remove pythonModule from factor zoo
  packages/agents/src/services/decay-monitor.test.ts
  packages/agents/src/services/factor-zoo.test.ts
  packages/domain/src/factor-zoo.ts
  packages/storage/drizzle/0004_drop-python-module.sql
  packages/storage/src/repositories/factor-zoo.ts
  packages/storage/src/schema/factors.ts
Due: typescript

chore(storage): remove factor zoo database schema
  packages/storage/drizzle/0005_drop-factor-zoo-tables.sql
  packages/storage/src/schema/enums.ts
  packages/storage/src/schema/factors.ts
  packages/storage/src/schema/index.ts
  packages/storage/src/schema/relations.ts
Due: typescript

chore(storage): remove factor zoo repository
  packages/storage/src/repositories/factor-zoo.ts
  packages/storage/src/repositories/index.ts
Due: typescript

chore(domain): remove factor zoo types
  packages/domain/src/factor-zoo.ts
  packages/domain/src/index.ts
Due: typescript

chore(agents): remove factor zoo tool definitions
  packages/agents/src/tools/definitions/factorZoo.ts
  packages/agents/src/tools/definitions/factorZoo/checkFactorDecay.ts
  packages/agents/src/tools/definitions/factorZoo/computeMegaAlpha.ts
  packages/agents/src/tools/definitions/factorZoo/computeMegaAlphaForSymbols.ts
  packages/agents/src/tools/definitions/factorZoo/getActiveFactors.ts
  packages/agents/src/tools/definitions/factorZoo/getCurrentWeights.ts
  packages/agents/src/tools/definitions/factorZoo/getFactorContext.ts
  packages/agents/src/tools/definitions/factorZoo/getFactorZooStats.ts
  packages/agents/src/tools/definitions/factorZoo/index.ts
  packages/agents/src/tools/definitions/factorZoo/runDecayMonitor.ts
  packages/agents/src/tools/definitions/factorZoo/schemas.ts
  packages/agents/src/tools/definitions/factorZoo/updateDailyWeights.ts
  packages/agents/src/tools/definitions/index.ts
  packages/agents/src/tools/index.ts
Due: typescript

chore(agents): remove factor zoo and decay monitor services
  packages/agents/src/services/decay-monitor.test.ts
  packages/agents/src/services/decay-monitor.ts
  packages/agents/src/services/factor-zoo.test.ts
  packages/agents/src/services/factor-zoo.ts
  packages/agents/src/services/index.ts
Due: typescript

chore(api): remove factor zoo from mastra agents
  apps/api/src/db.ts
  apps/api/src/mastra/agents/approvers.ts
  apps/api/src/mastra/agents/consensus.ts
  apps/api/src/mastra/agents/prompts.ts
  apps/api/src/mastra/agents/trader.ts
  apps/api/src/mastra/agents/types.ts
  apps/api/tests/consensusIntegration.test.ts
Due: none

chore(dashboard-api): remove factor zoo routes
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/factor-zoo.ts
  apps/dashboard-api/src/routes/index.ts
Due: none

feat(api): load orient context in parallel with Promise.allSettled
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

style(dashboard): fix linting issues and improve formatting
  apps/dashboard/src/app/(auth)/decisions/[id]/components/ApprovalSection.tsx
  apps/dashboard/src/components/portfolio/OrderHistoryWidget.tsx
  apps/dashboard/src/components/ui/history-chart.tsx
  apps/dashboard/src/hooks/queries/useOrders.ts
  apps/dashboard/src/lib/api/types/index.ts
Due: none

style(execution-engine): apply clippy fixes and format doc comments
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/error.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/server/grpc/converters.rs
Due: rust

style: sort imports and format schemas
  apps/api/src/mastra/agents/schemas.ts
  apps/dashboard-api/src/routes/portfolio.ts
  packages/broker/src/index.ts
Due: typescript

feat(api): propagate orient context to downstream workflow steps
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

feat(execution-engine): complete wiring plan implementation
  apps/execution-engine/src/broker/retry.rs
  apps/execution-engine/src/config/constraints.rs
  apps/execution-engine/src/config/mod.rs
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/execution/gateway/core.rs
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/execution/stops/mod.rs
  apps/execution-engine/src/execution/stops/price_monitor.rs
  apps/execution-engine/src/execution/tactics.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/options/mod.rs
  apps/execution-engine/src/options/rolling/manager.rs
  apps/execution-engine/src/options/rolling/mod.rs
  apps/execution-engine/src/risk/constraints/mod.rs
  apps/execution-engine/src/risk/constraints/risk_limits.rs
  apps/execution-engine/src/safety/mass_cancel.rs
  apps/execution-engine/src/server/http.rs
Due: rust

feat(api): migrate grounding agent from Gemini to xAI Grok
  apps/api/src/mastra/agents/grok-config.ts
  apps/api/src/mastra/agents/grounding.ts
  packages/agents/src/agents/configs/groundingAgent.ts
  packages/agents/src/prompts/groundingAgent.ts
Due: typescript

feat(agents): add tool results audit trail for execution tracking
  apps/api/src/mastra/agents/analysts.ts
  apps/api/src/mastra/agents/approvers.ts
  apps/api/src/mastra/agents/consensus.ts
  apps/api/src/mastra/agents/mastra-agents.ts
  apps/api/src/mastra/agents/researchers.ts
  apps/api/src/mastra/agents/schemas.ts
  apps/api/src/mastra/agents/stream-forwarder.ts
  apps/api/src/mastra/agents/trader.ts
  apps/api/src/mastra/agents/types.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
  apps/api/tests/agents.test.ts
Due: none

fix(dashboard): use useEffect for tab registration
  apps/dashboard/src/components/ui/tabs.tsx
Due: none

chore(deps): add @ai-sdk/xai for Grok integration
  .env.example
  apps/api/package.json
  bun.lock
Due: none

feat(proto): add PDT fields to AccountState for day trade tracking
  packages/proto/cream/v1/execution.proto
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/rust/cream/v1/cream.v1.tonic.rs
  packages/schema-gen/ts/cream/v1/execution_pb.ts
Due: typescript

feat(execution-engine): implement PDT constraint validation
  apps/execution-engine/src/config/constraints.rs
  apps/execution-engine/src/config/mod.rs
  apps/execution-engine/src/risk/constraints/conflicts.rs
  apps/execution-engine/src/risk/constraints/mod.rs
  apps/execution-engine/src/risk/constraints/pdt.rs
  apps/execution-engine/src/risk/constraints/types.rs
Due: rust

feat(execution-engine): retrieve PDT status from Alpaca Trading API
  apps/execution-engine/src/execution/alpaca/account.rs
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/execution/gateway/core.rs
Due: rust

feat(execution-engine): expose PDT status via gRPC and HTTP APIs
  apps/execution-engine/src/server/grpc/cache.rs
  apps/execution-engine/src/server/grpc/execution_service.rs
  apps/execution-engine/src/server/http.rs
Due: rust

feat(storage): add position metadata enrichment queries
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/positions.ts
Due: typescript

feat(agents): add enriched portfolio tool with PDT status
  packages/agents/src/tools/definitions/index.ts
  packages/agents/src/tools/definitions/tradingTools.ts
  packages/agents/src/tools/implementations/index.ts
  packages/agents/src/tools/implementations/portfolio.ts
  packages/agents/src/tools/implementations/positionEnrichment.ts
  packages/agents/src/tools/index.ts
  packages/agents/src/tools/registry.ts
  packages/agents/src/tools/types.ts
Due: typescript

feat(agents): add PDT awareness to trader and risk manager prompts
  packages/agents/README.md
  packages/agents/src/agents/configs/critic.ts
  packages/agents/src/agents/configs/grounding.test.ts
  packages/agents/src/agents/configs/riskManager.ts
  packages/agents/src/agents/configs/trader.ts
  packages/agents/src/prompts/groundingAgent.ts
  packages/agents/src/prompts/riskManager.ts
  packages/agents/src/prompts/trader.ts
Due: typescript

feat(api): wire enriched portfolio tool and simplify agent factory
  apps/api/src/mastra/agents/approvers.ts
  apps/api/src/mastra/agents/factory.ts
  apps/api/src/mastra/agents/grok-config.ts
  apps/api/src/mastra/agents/grounding.ts
  apps/api/src/mastra/agents/prompts.ts
  apps/api/src/mastra/agents/trader.ts
  apps/api/tests/agents.test.ts
Due: none

chore: fix clippy warnings and format code
  CLAUDE.md
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/risk/constraints/mod.rs
  apps/execution-engine/src/risk/constraints/pdt.rs
  apps/execution-engine/src/risk/constraints/types.rs
  apps/execution-engine/src/server/grpc/execution_service.rs
  apps/execution-engine/src/server/http.rs
  packages/agents/src/tools/definitions/index.ts
  packages/agents/src/tools/definitions/tradingTools.ts
  packages/agents/src/tools/index.ts
  packages/storage/src/repositories/positions.ts
Due: typescript, rust

feat(workflow): add stop loss, take profit, and multi-leg options to trading decisions
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/types.ts
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  packages/agents/src/types.ts
Due: typescript

feat(execution-engine): add PCT_EQUITY sizing conversion with account equity
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/execution/stops/price_monitor.rs
Due: rust

feat(execution-engine): export HTTP request/response types for testing
  apps/execution-engine/src/server/http.rs
  apps/execution-engine/src/server/mod.rs
Due: rust

test(execution-engine): add OODA loop integration tests
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/execution-engine/tests/fixtures/butterfly_spread.json
  apps/execution-engine/tests/fixtures/buy_to_cover.json
  apps/execution-engine/tests/fixtures/equity_swing_trade.json
  apps/execution-engine/tests/fixtures/iron_condor.json
  apps/execution-engine/tests/fixtures/no_trade_cycle.json
  apps/execution-engine/tests/fixtures/options_vertical_spread.json
  apps/execution-engine/tests/fixtures/pdt_close_position.json
  apps/execution-engine/tests/fixtures/portfolio_rebalance.json
  apps/execution-engine/tests/fixtures/rejected_by_risk.json
  apps/execution-engine/tests/fixtures/short_sell_entry.json
  apps/execution-engine/tests/fixtures/single_leg_call.json
  apps/execution-engine/tests/fixtures/single_leg_put.json
  apps/execution-engine/tests/ooda_integration_test.rs
Due: none

feat(dashboard): display full decision metadata in detail view
  apps/dashboard-api/src/routes/decisions.ts
  apps/dashboard/src/app/(auth)/decisions/[id]/components/DecisionDetails.tsx
  apps/dashboard/src/lib/api/types/trading.ts
Due: none

feat(workflow): add confidence field to Decision type
  apps/api/src/mastra/agents/schemas.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/decide.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/types.ts
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/tests/agents.test.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  packages/agents/src/types.ts
Due: typescript

test(workflow): add protobuf conversion unit tests for act phase
  apps/api/src/mastra/workflows/steps/trading-cycle/act.test.ts
Due: none

feat(execution-engine): improve decision/plan ID generation and add integration tests
  apps/execution-engine/src/server/grpc/converters.rs
Due: rust

fix: resolve lint and type errors across TypeScript and Rust
  apps/api/src/mastra/workflows/steps/trading-cycle/act.test.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
  apps/api/tests/agents.test.ts
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/server/grpc/converters.rs
  apps/execution-engine/tests/ooda_integration_test.rs
Due: rust
