Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

chore(deps): update dependencies across monorepo
  apps/dashboard-api/package.json
  apps/dashboard/package.json
  apps/mastra/package.json
  apps/worker/package.json
  biome.json
  bun.lock
  package.json
  packages/agents/package.json
  packages/broker/package.json
  packages/config/package.json
  packages/dashboard-types/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/filings/package.json
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/logger/package.json
  packages/marketdata/package.json
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/schema-gen/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/universe/package.json
Due: typescript

fix(mastra): add missing tools to trader step prepareStep callback
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
Due: none

fix(alpaca-stream-proxy): handle empty string order_class from Alpaca
  apps/alpaca-stream-proxy/src/infrastructure/alpaca/messages.rs
Due: none

fix(dashboard-api): await CalendarService init and use absolute decision size
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/system/cycles.ts
Due: none

feat(mastra): add volatility surface data to trading cycle
  apps/mastra/src/mastra/workflows/trading-cycle/prompt-helpers.ts
  apps/mastra/src/mastra/workflows/trading-cycle/schemas.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/observe.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

fix(mastra): increase batch timeouts to 15 min and strengthen equity stopLoss guardrails
  apps/mastra/src/mastra/workflows/trading-cycle/steps/analysts.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/debate.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
Due: none

fix(biome): add complexity and nursery rules for code quality enforcement
  biome.json
Due: none

fix(biome): update linter rules for style, correctness, and suspicious code
  biome.json
Due: none

chore(deps): update all dependencies to latest versions
  .tool-versions
  Cargo.lock
  apps/dashboard-api/package.json
  apps/dashboard/package.json
  apps/mastra/package.json
  apps/worker/package.json
  bun.lock
  package.json
  packages/agents/package.json
  packages/broker/package.json
  packages/config/package.json
  packages/dashboard-types/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/filings/package.json
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/logger/package.json
  packages/marketdata/package.json
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/schema-gen/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/universe/package.json
Due: typescript

feat(mastra): integrate observational memory for trader agent
  apps/mastra/package.json
  apps/mastra/src/mastra/agents/trader.ts
  apps/mastra/src/mastra/index.ts
  apps/mastra/src/mastra/memory.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/orient.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
  bun.lock
Due: none

chore: clean lint-only script/debug artifacts and bump biome schema
  apps/dashboard-api/tmp-session-repro.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.ts
  biome.json
  scripts/query-decisions.ts
  scripts/validate-versions/index.ts
  tmp-session-repro.ts
Due: none

chore: resolve lint issues across refactor tests
  apps/dashboard/e2e/calendar-filters-events.integration.ts
  apps/dashboard/e2e/calendar.integration.ts
  apps/dashboard/e2e/workers-runs.integration.ts
  apps/dashboard/e2e/workers.integration.ts
  packages/helix-schema/tests/__tests__/retention-score.test.ts
  packages/helix-schema/tests/__tests__/trade-cohort.test.ts
  packages/helix-schema/tests/cbr.test.ts
  packages/helix-schema/tests/corrective.quality.test.ts
  packages/helix-schema/tests/corrective.test.ts
  packages/helix-schema/tests/retrieval/situationBrief.test.ts
  packages/helix-schema/tests/rrf.test.ts
  packages/helix-schema/tests/temporal.test.ts
  packages/helix-schema/tests/thesisMemory.test.ts
  packages/helix-schema/tests/timeout-cache-metrics.test.ts
  packages/helix-schema/tests/timeout.test.ts
Due: none

fix(hooks): exclude dashboard and dashboard-api from pre-commit typecheck
  .husky/pre-commit
Due: none

fix: resolve pre-existing type errors across mastra and worker
  apps/mastra/src/mastra/workflows/macro-watch/scanners/prediction.ts
  apps/mastra/src/mastra/workflows/macro-watch/workflow.test.ts
  apps/mastra/src/mastra/workflows/prediction-markets/steps/fetch-markets.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader-prompts.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
  apps/worker/src/contexts/economic-calendar/economic-calendar-service.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.test.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.test.ts
Due: none

feat(helix): add circuit breaker to HelixDB client
  packages/helix/src/client.ts
  packages/helix/tests/client.test.ts
  packages/helix/tests/queries/graphrag.test.ts
  packages/helix/tests/queries/mutations.test.ts
Due: typescript

feat(helix-schema): add Indicator vector type and fix build mode
  packages/helix-schema/helix.toml
  packages/helix-schema/schema.hx
Due: typescript

feat(mastra): graceful degradation when HelixDB is unavailable
  apps/mastra/src/mastra/tools/graphrag/graphrag-query.ts
  apps/mastra/src/mastra/tools/helix/helix-query.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/analysts.ts
Due: none

fix(mastra): specify model for observational memory
  apps/mastra/src/mastra/memory.ts
Due: none

chore(deps): bump bun 1.3.9, biome 2.4.2, turbo 2.8.10
  .github/workflows/test.yml
  apps/dashboard-api/Dockerfile
  apps/dashboard/Dockerfile
  apps/worker/Dockerfile
  bun.lock
  package.json
Due: none

fix(dashboard): rename hook-calling functions with use* prefix
  apps/dashboard/src/hooks/use-connection-recovery.core.internal.ts
  apps/dashboard/src/hooks/use-connection-recovery.core.logic.ts
  apps/dashboard/src/hooks/usePortfolioStreaming.ts
Due: none

fix(dashboard): resolve type errors for TypeScript native preview update
  apps/dashboard/src/app/(auth)/calendar/components/EconomicCalendar.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartContent.tsx
  apps/dashboard/src/app/(auth)/config/history/page.tsx
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/app/(auth)/risk/page.tsx
  apps/dashboard/src/components/charts/ChartMarkers.tsx
  apps/dashboard/src/components/charts/IndicatorPane.tsx
  apps/dashboard/src/components/charts/Sparkline.tsx
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/components/config/ConfigDiff.tsx
  apps/dashboard/src/components/feed/SymbolStream.tsx
  apps/dashboard/src/components/indicators/OptionsIndicators.tsx
  apps/dashboard/src/components/indicators/panels/OptionsIndicatorsPanel.tsx
  apps/dashboard/src/components/indicators/panels/PriceIndicatorsPanel.tsx
  apps/dashboard/src/components/layout/NavDrawer.tsx
  apps/dashboard/src/components/options/OptionsChainTable.tsx
  apps/dashboard/src/components/portfolio/OptionsPositionsWidget.tsx
  apps/dashboard/src/components/ui/add-symbol-modal.tsx
  apps/dashboard/src/components/ui/event-feed.tsx
  apps/dashboard/src/components/ui/history-chart.tsx
  apps/dashboard/src/components/ui/popover.tsx
  apps/dashboard/src/components/ui/select/index.tsx
  apps/dashboard/src/components/ui/spinner.tsx
  apps/dashboard/src/components/ui/success-feedback/SuccessButton.tsx
  apps/dashboard/src/components/ui/ticker-item.tsx
  apps/dashboard/src/components/ui/ticker-strip.tsx
  apps/dashboard/src/components/ui/ticker-strip/hooks.ts
  apps/dashboard/src/components/ui/toast.tsx
  apps/dashboard/src/components/ui/tooltip.tsx
  apps/dashboard/src/hooks/use-loading-phase.store.ts
  apps/dashboard/src/hooks/useAggregateGreeks.ts
  apps/dashboard/src/hooks/useMarketBell.ts
  apps/dashboard/src/lib/api/ws-invalidation.handlers.ts
Due: none

fix(docker): fix Rust Dockerfile builds and compose env var mapping
  apps/alpaca-stream-proxy/Dockerfile
  apps/execution-engine/Dockerfile
  docker-compose.yml
Due: rust

fix(docker): remove TURSO_DATABASE_URL from run command in Dockerfiles
  Cargo.toml
  apps/dashboard-api/Dockerfile
  apps/worker/Dockerfile
Due: none

fix: resolve dashboard-api typing drift for CI
  apps/dashboard-api/routes/system/cycles.trigger-events.ts
  apps/dashboard-api/routes/system/cycles.trigger-persistence.ts
  apps/dashboard-api/routes/system/cycles.trigger-runner.ts
  apps/dashboard-api/src/auth/better-auth.ts
  apps/dashboard-api/src/auth/session.test.ts
  apps/dashboard-api/src/events/publisher.ts
  apps/dashboard-api/src/middleware/rate-limit.ts
  apps/dashboard-api/src/routes/decisions.ts
  apps/dashboard-api/src/routes/snapshots.ts
  apps/dashboard-api/src/routes/workers.test.suites.ts
  apps/dashboard-api/src/routes/workers.ts
  apps/dashboard-api/src/websocket/handlers/account.ts
Due: none

fix helixdb integration and query dispatch
  apps/worker/src/contexts/macro-watch/macro-watch-service.ts
  packages/helix-schema/queries.hx
  packages/helix-schema/schema.hx
  packages/helix-schema/src/edge-types.ts
  packages/helix/src/client.ts
  packages/helix/src/queries/graph/nodes.ts
  packages/helix/src/queries/graph/traversal.ts
  packages/helix/src/queries/mutations.ts
  packages/helix/src/queries/retrieval.ts
  packages/helix/src/queries/vector.ts
  packages/helix/src/services/company-graph-builder.helpers.ts
  packages/helix/src/services/company-graph-builder.ts
  packages/helix/src/services/macro-graph-builder.ts
  packages/helix/src/services/news-ingestion.ts
  packages/helix/src/services/news-ingestion.types.ts
  packages/helix/src/services/paper-ingestion.ts
  packages/helix/tests/queries/mutations.test.ts
Due: typescript

chore: update toolchain and dependencies
  .tool-versions
  apps/dashboard-api/package.json
  apps/dashboard-api/src/auth/better-auth.ts
  apps/dashboard/css.d.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/(auth)/scanner/page.tsx
  apps/dashboard/src/app/(auth)/theses/[id]/components/ThesisDetails.tsx
  apps/dashboard/src/components/ui/tick-dots.tsx
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/dashboard/tsconfig.json
  apps/mastra/package.json
  apps/worker/package.json
  biome.json
  bun.lock
  package.json
  packages/agents/package.json
  packages/broker/package.json
  packages/config/package.json
  packages/dashboard-types/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/filings/package.json
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/logger/package.json
  packages/marketdata/package.json
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/schema-gen/package.json
  packages/storage/package.json
  packages/test-utils/package.json
Due: typescript
