Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

refactor(dashboard-api): use Alpaca as sole source for positions and closed trades
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/websocket/handlers/portfolio.ts
Due: none

fix(universe,agents): add missing dependencies and fix implicit any types
  bun.lock
  packages/agents/package.json
  packages/agents/src/tools/implementations/indicators.ts
  packages/agents/src/tools/implementations/options.ts
  packages/agents/src/tools/implementations/portfolio.ts
  packages/universe/package.json
  packages/universe/src/fred-client.ts
Due: typescript

fix(turbo): make typecheck depend on ^build for schema-gen types
  turbo.json
Due: none

fix(dashboard-api): close thesis when position closes and ingest to HelixDB
  apps/dashboard-api/package.json
  apps/dashboard-api/src/scripts/sync-alpaca-positions.ts
  apps/dashboard-api/src/services/thesis-closure.ts
  apps/dashboard-api/src/streaming/trading-updates.ts
  bun.lock
Due: none

feat(dashboard-api): add script to backfill thesis closures for existing positions
  apps/dashboard-api/src/scripts/backfill-thesis-closures.ts
Due: none

ci: pin bun version to 1.3.6 to fix module resolution issue
  .github/workflows/test.yml
Due: none

chore: bump bun version to 1.3.7
  .github/workflows/test.yml
  .tool-versions
  apps/dashboard-api/Dockerfile
  apps/dashboard-api/package.json
  apps/dashboard/Dockerfile
  apps/dashboard/package.json
  apps/mastra/package.json
  apps/worker/Dockerfile
  apps/worker/package.json
  bun.lock
  package.json
  packages/agents/package.json
  packages/broker/package.json
  packages/config/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/filings/package.json
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/logger/package.json
  packages/marketdata/package.json
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/storage/package.json
  packages/test-utils/package.json
  packages/universe/package.json
Due: typescript

feat(storage): add REBALANCE close reason for thesis exits between levels
  apps/dashboard-api/src/scripts/fix-close-reasons.ts
  apps/dashboard-api/src/services/thesis-closure.ts
  packages/helix-schema/src/thesisMemory.ts
  packages/storage/src/repositories/thesis-state.ts
Due: typescript

ci: revert to bun 1.3.6 to fix module resolution in tests
  .github/workflows/test.yml
Due: none

fix(dashboard-api): remove non-null assertion in portfolio route
  apps/dashboard-api/src/routes/portfolio.ts
Due: none

fix(dashboard-api): re-export real db module in test mocks
  apps/dashboard-api/src/routes/batch-status.test.ts
  apps/dashboard-api/src/routes/batch-trigger.test.ts
  apps/dashboard-api/src/routes/workers.test.ts
Due: none

fix(dashboard-api): use absolute paths for mock.module in tests
  apps/dashboard-api/src/routes/batch-status.test.ts
  apps/dashboard-api/src/routes/batch-trigger.test.ts
  apps/dashboard-api/src/routes/workers.test.ts
Due: none

ci: remove HEAD filter from Rust tests to prevent cross-package runs
  .github/workflows/test.yml
Due: none

docs: update code conventions for Bun API usage
  CLAUDE.md
Due: none

refactor: modernize to ES2024 number parsing and array access
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/config/versions.ts
  apps/dashboard-api/src/routes/traces.ts
  apps/dashboard-api/src/streaming/subscription-manager.test.ts
  apps/dashboard/src/app/(auth)/theses/[id]/components/hooks.ts
  apps/dashboard/src/lib/chart-a11y.ts
  apps/dashboard/src/lib/color-scales.ts
  apps/worker/src/contexts/scheduling/time-calculator.ts
  packages/broker/src/client/mappers.ts
  packages/broker/src/utils.ts
  packages/broker/tests/utils.test.ts
  packages/domain/src/numbers.ts
  packages/helix-schema/tests/embeddings.integration.test.ts
  packages/helix/src/client.ts
  packages/indicators/src/custom/liquidity_absorption_ratio.test.ts
  packages/indicators/src/service/indicator-service.test.ts
  packages/indicators/src/service/liquidity-calculator.test.ts
  packages/indicators/src/service/price-calculator.test.ts
  packages/marketdata/src/validation/external.ts
  packages/regime/tests/gmmClassifier.test.ts
  scripts/validate-versions/version.ts
Due: typescript

fix(dashboard-api): add missing db exports to market test mock
  apps/dashboard-api/src/routes/market.test.ts
Due: none

fix(dashboard-api): add complete db mock exports to all test files
  apps/dashboard-api/src/routes/risk.test.ts
  apps/dashboard-api/src/services/portfolio.test.ts
Due: none

refactor(storage): remove dead schema and duplicate columns
  packages/storage/src/schema/core-trading.ts
  packages/storage/src/schema/relations.ts
Due: typescript

fix(portfolio): fetch position detail from Alpaca for alpaca-* IDs
  apps/dashboard-api/src/routes/portfolio.ts
Due: none

fix(trading-cycle): prevent stop-loss bypass and cross-cycle churning
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/mastra/src/mastra/tools/index.ts
  apps/mastra/src/mastra/tools/portfolio/get-recent-decisions.ts
  apps/mastra/src/mastra/tools/portfolio/index.ts
  apps/mastra/src/mastra/workflows/trading-cycle/schemas.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/observe.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/implementations/index.ts
  packages/agents/src/tools/implementations/recentDecisions.ts
  packages/storage/src/repositories/decisions.ts
  packages/storage/src/repositories/thesis-state.ts
  packages/storage/src/schema/thesis.ts
Due: typescript

refactor(trading-cycle): wire missing data to agents, XML prompts, structured output
  apps/mastra/src/mastra/agents/trader.ts
  apps/mastra/src/mastra/workflows/trading-cycle/prompt-helpers.ts
  apps/mastra/src/mastra/workflows/trading-cycle/schemas.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/analysts.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/consensus.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/debate.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

chore(deps): bump biome 2.3.13, turbo 2.8.0, typescript-native preview
  Cargo.lock
  bun.lock
  package.json
Due: none

feat(broker): add missing account fields (cash withdrawable, accrued fees, transfers)
  apps/dashboard/src/lib/api/types/portfolio.ts
  packages/broker/src/client/alpaca-types.ts
  packages/broker/src/client/mappers.ts
  packages/broker/src/types.ts
  packages/dashboard-types/src/api/account.ts
  packages/marketdata/fixtures/alpaca/account.json
Due: typescript

feat(broker): add getAllOrders with auto-pagination for complete order history
  apps/dashboard-api/src/routes/portfolio.ts
  packages/broker/src/client/factory.ts
  packages/broker/src/client/types.ts
Due: typescript

feat(dashboard): surface trade stats in account summary card
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/AccountSummaryCard.tsx
  apps/dashboard/src/components/portfolio/PositionsPanel.tsx
  apps/dashboard/src/hooks/queries/index.ts
Due: none

docs: add per-package CLAUDE.md files and scaffold validation package
  apps/alpaca-stream-proxy/CLAUDE.md
  apps/dashboard-api/CLAUDE.md
  apps/dashboard/CLAUDE.md
  apps/execution-engine/CLAUDE.md
  apps/mastra/CLAUDE.md
  apps/worker/CLAUDE.md
  packages/agents/CLAUDE.md
  packages/broker/CLAUDE.md
  packages/config/CLAUDE.md
  packages/dashboard-types/CLAUDE.md
  packages/domain/CLAUDE.md
  packages/external-context/CLAUDE.md
  packages/filings/CLAUDE.md
  packages/helix-schema/CLAUDE.md
  packages/helix/CLAUDE.md
  packages/indicators/CLAUDE.md
  packages/infra/CLAUDE.md
  packages/logger/CLAUDE.md
  packages/marketdata/CLAUDE.md
  packages/metrics/CLAUDE.md
  packages/prediction-markets/CLAUDE.md
  packages/proto/CLAUDE.md
  packages/regime/CLAUDE.md
  packages/schema-gen/CLAUDE.md
  packages/storage/CLAUDE.md
  packages/test-utils/CLAUDE.md
  packages/tsconfig/CLAUDE.md
  packages/universe/CLAUDE.md
  packages/validation/CLAUDE.md
Due: typescript, rust

refactor(dashboard): consolidate portfolio layout and remove StreamingPositionsTable
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/PositionsPanel.tsx
  apps/dashboard/src/components/portfolio/PositionsTable.tsx
  apps/dashboard/src/components/portfolio/RiskMetricsBar.tsx
  apps/dashboard/src/components/portfolio/StreamingPositionsTable.tsx
  apps/dashboard/src/components/portfolio/index.ts
Due: none

fix(dashboard): correct P/L calc for short positions and stabilize WebSocket reconnect
  apps/dashboard/src/hooks/usePortfolioStreaming.ts
  apps/dashboard/src/hooks/useWebSocket.ts
Due: none

fix(mastra): use raw OTEL endpoint and allow negative take-profit prices
  apps/mastra/src/instrumentation.ts
  apps/mastra/src/mastra/workflows/trading-cycle/schemas.ts
Due: none

fix: unblock option position opening across execution pipeline
  apps/dashboard-api/src/events/mappers.ts
  apps/execution-engine/src/infrastructure/grpc/service.rs
  apps/mastra/src/mastra/workflows/trading-cycle/schemas.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/act.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
  packages/domain/src/enforcement/outputEnforcer.ts
Due: typescript, rust

fix(dashboard): remove object refs from useMemo deps to prevent infinite render loop
  apps/dashboard/src/hooks/useWebSocket.ts
Due: none

refactor(storage): remove positions table, use Alpaca as source of truth
  packages/storage/README.md
  packages/storage/migrations/0001_drop_positions_table.sql
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/positions.ts
  packages/storage/src/repositories/thesis-state.ts
  packages/storage/src/schema/core-trading.ts
  packages/storage/src/schema/relations.ts
Due: typescript

feat(dashboard): add market bell and auto-theme config settings
  apps/dashboard/src/app/(auth)/config/[section]/components/DisplaySection.tsx
  apps/dashboard/src/app/(auth)/config/[section]/components/SoundSection.tsx
  apps/dashboard/src/app/(auth)/config/[section]/components/index.ts
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
  apps/dashboard/src/app/(auth)/config/[section]/types.ts
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/hooks/useMarketBell.ts
  apps/dashboard/src/hooks/useMarketTheme.ts
  apps/dashboard/src/stores/preferences-store.ts
Due: none

refactor(dashboard-api): use Alpaca as sole source of truth for positions
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/routes/system/control.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard-api/src/scripts/backfill-thesis-closures.ts
  apps/dashboard-api/src/scripts/fix-position-dates.ts
  apps/dashboard-api/src/scripts/sync-alpaca-positions.ts
  apps/dashboard-api/src/services/portfolio.ts
  apps/dashboard-api/src/streaming/trading-updates.ts
Due: none

feat(mastra): add batched trader processing with tool support
  apps/mastra/src/index.ts
  apps/mastra/src/mastra/workflows/trading-cycle/prompt-helpers.ts
  apps/mastra/src/mastra/workflows/trading-cycle/schemas.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/analysts.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/consensus.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/debate.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/observe.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

fix(agents): improve tool documentation and add confidence scoring
  packages/agents/src/prompts/fundamentalsAnalyst.ts
  packages/agents/src/prompts/newsAnalyst.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/implementations/positionEnrichment.ts
Due: typescript

fix(dashboard): stabilize hook dependencies and simplify positions
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/components/portfolio/PositionsPanel.tsx
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/dashboard/src/hooks/use-loading-state.ts
  apps/dashboard/src/hooks/useSubscribe.ts
  apps/dashboard/src/stores/alert-store.ts
Due: none

test(dashboard-api): update tests for Alpaca-based positions
  apps/dashboard-api/src/routes/batch-status.test.ts
  apps/dashboard-api/src/routes/batch-trigger.test.ts
  apps/dashboard-api/src/routes/market.test.ts
  apps/dashboard-api/src/routes/risk.test.ts
  apps/dashboard-api/src/routes/workers.test.ts
  apps/dashboard-api/src/services/portfolio.test.ts
  apps/worker/src/contexts/indicators/adapters/alpaca-corporate-actions-adapter.ts
Due: none

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
