Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

refactor(mastra-kit): split outcomeScoring.ts into focused modules
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/outcomeScoring.ts
  packages/mastra-kit/src/outcomeScoring/aggregation.ts
  packages/mastra-kit/src/outcomeScoring/attribution.ts
  packages/mastra-kit/src/outcomeScoring/calculations.ts
  packages/mastra-kit/src/outcomeScoring/execution.ts
  packages/mastra-kit/src/outcomeScoring/flags.ts
  packages/mastra-kit/src/outcomeScoring/index.ts
  packages/mastra-kit/src/outcomeScoring/scorer.ts
  packages/mastra-kit/src/outcomeScoring/scoring.ts
  packages/mastra-kit/src/outcomeScoring/types.ts
  packages/mastra-kit/src/qualityScore.ts
Due: typescript

refactor(indicators): split monitoring.ts into focused modules
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/monitoring.ts
  packages/indicators/src/synthesis/monitoring/attribution.ts
  packages/indicators/src/synthesis/monitoring/helpers.ts
  packages/indicators/src/synthesis/monitoring/index.ts
  packages/indicators/src/synthesis/monitoring/metrics.ts
  packages/indicators/src/synthesis/monitoring/retirementCheck.ts
  packages/indicators/src/synthesis/monitoring/types.ts
Due: typescript

refactor(config): split secrets.ts into focused modules
  packages/config/src/index.ts
  packages/config/src/secrets.ts
  packages/config/src/secrets/factory.ts
  packages/config/src/secrets/index.ts
  packages/config/src/secrets/manager.ts
  packages/config/src/secrets/providers.ts
  packages/config/src/secrets/types.ts
Due: typescript

refactor(scripts): split validate-versions.ts into focused modules
  scripts/validate-versions.ts
  scripts/validate-versions/colors.ts
  scripts/validate-versions/index.ts
  scripts/validate-versions/logger.ts
  scripts/validate-versions/reporters.ts
  scripts/validate-versions/types.ts
  scripts/validate-versions/validators.ts
  scripts/validate-versions/version.ts
Due: none

refactor(indicators): split ic.ts into focused modules
  packages/indicators/src/synthesis/ic.ts
  packages/indicators/src/synthesis/ic/analysis.ts
  packages/indicators/src/synthesis/ic/index.ts
  packages/indicators/src/synthesis/ic/metrics.ts
  packages/indicators/src/synthesis/ic/statistics.ts
  packages/indicators/src/synthesis/ic/types.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/monitoring/metrics.ts
  packages/indicators/src/synthesis/validationPipeline/validators.ts
  packages/indicators/tests/ic.test.ts
Due: typescript

refactor(config): split health.ts into focused modules
  packages/config/src/health.ts
  packages/config/src/health/aggregation.ts
  packages/config/src/health/checks.ts
  packages/config/src/health/index.ts
  packages/config/src/health/registry.ts
  packages/config/src/health/types.ts
  packages/config/src/index.ts
Due: typescript

refactor(prediction-markets): split kalshi websocket.ts into focused modules
  packages/prediction-markets/src/providers/kalshi/websocket.test.ts
  packages/prediction-markets/src/providers/kalshi/websocket.ts
  packages/prediction-markets/src/providers/kalshi/websocket/auth.ts
  packages/prediction-markets/src/providers/kalshi/websocket/cache.ts
  packages/prediction-markets/src/providers/kalshi/websocket/client.ts
  packages/prediction-markets/src/providers/kalshi/websocket/handlers.ts
  packages/prediction-markets/src/providers/kalshi/websocket/index.ts
  packages/prediction-markets/src/providers/kalshi/websocket/subscriptions.ts
  packages/prediction-markets/src/providers/kalshi/websocket/types.ts
Due: typescript

refactor(dashboard-types): split api.ts into focused modules
  packages/dashboard-types/src/api.ts
  packages/dashboard-types/src/api/agents.ts
  packages/dashboard-types/src/api/backtest.ts
  packages/dashboard-types/src/api/common.ts
  packages/dashboard-types/src/api/config.ts
  packages/dashboard-types/src/api/decisions.ts
  packages/dashboard-types/src/api/index.ts
  packages/dashboard-types/src/api/market.ts
  packages/dashboard-types/src/api/portfolio.ts
  packages/dashboard-types/src/api/risk.ts
  packages/dashboard-types/src/api/theses.ts
  packages/dashboard-types/src/index.ts
Due: typescript

refactor(metrics): split risk-adjusted.ts into focused modules
  packages/metrics/src/index.ts
  packages/metrics/src/risk-adjusted.ts
  packages/metrics/src/risk-adjusted/calmar.ts
  packages/metrics/src/risk-adjusted/drawdown.ts
  packages/metrics/src/risk-adjusted/index.ts
  packages/metrics/src/risk-adjusted/returns.ts
  packages/metrics/src/risk-adjusted/rolling.ts
  packages/metrics/src/risk-adjusted/sharpe.ts
  packages/metrics/src/risk-adjusted/sortino.ts
  packages/metrics/src/risk-adjusted/statistics.ts
  packages/metrics/src/risk-adjusted/types.ts
  packages/metrics/src/risk-adjusted/utils.ts
Due: typescript

refactor(indicators): split paperTrading.ts into focused modules
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/paperTrading.ts
  packages/indicators/src/synthesis/paperTrading/evaluation.ts
  packages/indicators/src/synthesis/paperTrading/index.ts
  packages/indicators/src/synthesis/paperTrading/statistics.ts
  packages/indicators/src/synthesis/paperTrading/types.ts
  packages/indicators/tests/paperTrading.test.ts
Due: typescript

refactor(prediction-markets): split polymarket client.ts into focused modules
  packages/prediction-markets/src/providers/polymarket/client.ts
  packages/prediction-markets/src/providers/polymarket/helpers.ts
  packages/prediction-markets/src/providers/polymarket/index.ts
  packages/prediction-markets/src/providers/polymarket/scoring.ts
  packages/prediction-markets/src/providers/polymarket/transform.ts
  packages/prediction-markets/src/providers/polymarket/types.ts
Due: typescript

refactor(broker): split client.ts into focused modules
  packages/broker/src/client.ts
  packages/broker/src/client/alpaca-types.ts
  packages/broker/src/client/factory.ts
  packages/broker/src/client/http.ts
  packages/broker/src/client/index.ts
  packages/broker/src/client/mappers.ts
  packages/broker/src/client/types.ts
Due: typescript

refactor(config): split keyRotation.ts into focused modules
  packages/config/src/index.ts
  packages/config/src/keyRotation.test.ts
  packages/config/src/keyRotation.ts
  packages/config/src/keyRotation/index.ts
  packages/config/src/keyRotation/manager.ts
  packages/config/src/keyRotation/registry.ts
  packages/config/src/keyRotation/strategies.ts
  packages/config/src/keyRotation/types.ts
Due: typescript

refactor(execution-engine): split parallel.rs into focused modules
  apps/execution-engine/src/backtest/parallel.rs
  apps/execution-engine/src/backtest/parallel/config.rs
  apps/execution-engine/src/backtest/parallel/error.rs
  apps/execution-engine/src/backtest/parallel/executor.rs
  apps/execution-engine/src/backtest/parallel/grid.rs
  apps/execution-engine/src/backtest/parallel/mod.rs
  apps/execution-engine/src/backtest/parallel/progress.rs
  apps/execution-engine/src/backtest/parallel/result.rs
  apps/execution-engine/src/backtest/parallel/types.rs
Due: rust

refactor(execution-engine): split gateway.rs into focused modules
  apps/execution-engine/src/execution/gateway/adapter.rs
  apps/execution-engine/src/execution/gateway/core.rs
  apps/execution-engine/src/execution/gateway/mock.rs
  apps/execution-engine/src/execution/gateway/mod.rs
  apps/execution-engine/src/execution/gateway/types.rs
  apps/execution-engine/src/execution/mod.rs
Due: rust

refactor(execution-engine): split rolling.rs into focused modules
  apps/execution-engine/src/options/rolling.rs
  apps/execution-engine/src/options/rolling/config.rs
  apps/execution-engine/src/options/rolling/error.rs
  apps/execution-engine/src/options/rolling/mod.rs
  apps/execution-engine/src/options/rolling/orders.rs
  apps/execution-engine/src/options/rolling/partial_fills.rs
  apps/execution-engine/src/options/rolling/quantity.rs
  apps/execution-engine/src/options/rolling/timing.rs
  apps/execution-engine/src/options/rolling/triggers.rs
Due: rust

fix(api): skip testcontainers execution tests in CI
  apps/api/tests/integration/execution.test.ts
Due: none

refactor(execution-engine): split sizing.rs into focused modules
  apps/execution-engine/src/risk/sizing.rs
  apps/execution-engine/src/risk/sizing/adjustments.rs
  apps/execution-engine/src/risk/sizing/error.rs
  apps/execution-engine/src/risk/sizing/mod.rs
  apps/execution-engine/src/risk/sizing/sizer.rs
  apps/execution-engine/src/risk/sizing/types.rs
Due: rust

feat(research): add counterfactual and perturbation evaluation modules
  packages/research/coverage.xml
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/counterfactual.py
  packages/research/research/evaluator/perturbation.py
  packages/research/research/evaluator/preference_types.py
  packages/research/tests/test_evaluator_training.py
Due: typescript, python

refactor(execution-engine): split metrics.rs into focused modules
  apps/execution-engine/src/backtest/metrics/calculator.rs
  apps/execution-engine/src/backtest/metrics/constants.rs
  apps/execution-engine/src/backtest/metrics/format.rs
  apps/execution-engine/src/backtest/metrics/math.rs
  apps/execution-engine/src/backtest/metrics/mod.rs
  apps/execution-engine/src/backtest/metrics/types.rs
Due: rust

refactor(execution-engine): split look_ahead.rs into focused modules
  apps/execution-engine/src/backtest/look_ahead.rs
  apps/execution-engine/src/backtest/look_ahead/checker.rs
  apps/execution-engine/src/backtest/look_ahead/helpers.rs
  apps/execution-engine/src/backtest/look_ahead/mod.rs
  apps/execution-engine/src/backtest/look_ahead/types.rs
  apps/execution-engine/src/backtest/look_ahead/validation.rs
Due: rust

refactor(execution-engine): split walkforward.rs into focused modules
  apps/execution-engine/src/backtest/walkforward.rs
  apps/execution-engine/src/backtest/walkforward/analysis.rs
  apps/execution-engine/src/backtest/walkforward/builder.rs
  apps/execution-engine/src/backtest/walkforward/engine.rs
  apps/execution-engine/src/backtest/walkforward/mod.rs
  apps/execution-engine/src/backtest/walkforward/types.rs
Due: rust

refactor(execution-engine): split replay.rs into focused modules
  apps/execution-engine/src/backtest/replay.rs
  apps/execution-engine/src/backtest/replay/data_source.rs
  apps/execution-engine/src/backtest/replay/engine.rs
  apps/execution-engine/src/backtest/replay/error.rs
  apps/execution-engine/src/backtest/replay/mod.rs
  apps/execution-engine/src/backtest/replay/synchronized.rs
  apps/execution-engine/src/backtest/replay/types.rs
Due: rust

refactor(research): split nautilus_runner.py into focused modules
  packages/research/research/nautilus_runner.py
  packages/research/research/nautilus_runner/__init__.py
  packages/research/research/nautilus_runner/helpers.py
  packages/research/research/nautilus_runner/multi_asset.py
  packages/research/research/nautilus_runner/runner.py
  packages/research/research/nautilus_runner/types.py
  packages/research/research/nautilus_runner/walk_forward.py
Due: typescript, python

refactor(research): split expected_value.py into focused modules
  packages/research/research/evaluator/expected_value.py
  packages/research/research/evaluator/expected_value/__init__.py
  packages/research/research/evaluator/expected_value/calculator.py
  packages/research/research/evaluator/expected_value/estimate.py
  packages/research/research/evaluator/expected_value/probability.py
  packages/research/research/evaluator/expected_value/types.py
Due: typescript, python

refactor(research): split calibration.py into focused modules
  packages/research/research/evaluator/calibration/__init__.py
  packages/research/research/evaluator/calibration/calibrator.py
  packages/research/research/evaluator/calibration/drift.py
  packages/research/research/evaluator/calibration/types.py
Due: typescript, python

refactor(research): split vectorbt_runner.py into focused modules
  packages/research/research/vectorbt_runner.py
  packages/research/research/vectorbt_runner/__init__.py
  packages/research/research/vectorbt_runner/helpers.py
  packages/research/research/vectorbt_runner/runner.py
  packages/research/research/vectorbt_runner/strategies.py
  packages/research/research/vectorbt_runner/types.py
Due: typescript, python

refactor(research): split feedback.py into focused modules
  packages/research/research/feedback/__init__.py
  packages/research/research/feedback/generator.py
  packages/research/research/feedback/orchestrator.py
  packages/research/research/feedback/types.py
Due: typescript, python

refactor(research): split fill_models.py into focused modules
  packages/research/research/backtest/fill_models/__init__.py
  packages/research/research/backtest/fill_models/base.py
  packages/research/research/backtest/fill_models/factory.py
  packages/research/research/backtest/fill_models/models.py
  packages/research/research/backtest/fill_models/types.py
Due: typescript, python

refactor(research): split translation.py into focused modules
  packages/research/research/translation.py
  packages/research/research/translation/__init__.py
  packages/research/research/translation/converters.py
  packages/research/research/translation/translator.py
  packages/research/research/translation/types.py
Due: typescript, python

refactor(research): split black_scholes.py into focused modules
  packages/research/research/greeks/__init__.py
  packages/research/research/greeks/black_scholes.py
  packages/research/research/greeks/black_scholes/__init__.py
  packages/research/research/greeks/black_scholes/calculator.py
  packages/research/research/greeks/black_scholes/formulas.py
  packages/research/research/greeks/black_scholes/greeks.py
  packages/research/research/greeks/black_scholes/types.py
Due: typescript, python

refactor(research): split errors.py into focused modules
  packages/research/research/errors/__init__.py
  packages/research/research/errors/base.py
  packages/research/research/errors/data.py
  packages/research/research/errors/execution.py
  packages/research/research/errors/validation.py
Due: typescript, python

refactor(research): split pre_execution.py into focused modules
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/pre_execution.py
  packages/research/research/evaluator/pre_execution/__init__.py
  packages/research/research/evaluator/pre_execution/checks.py
  packages/research/research/evaluator/pre_execution/evaluator.py
  packages/research/research/evaluator/pre_execution/types.py
Due: typescript, python

fix(research): resolve ruff linting warnings
  packages/research/research/backtest/fill_models/models.py
  packages/research/research/evaluator/pre_execution/checks.py
Due: typescript, python

refactor(research): split post_execution.py into focused modules
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/post_execution.py
  packages/research/research/evaluator/post_execution/__init__.py
  packages/research/research/evaluator/post_execution/evaluator.py
  packages/research/research/evaluator/post_execution/metrics.py
  packages/research/research/evaluator/post_execution/types.py
Due: typescript, python

refactor(research): split stage2_nautilus.py into focused modules
  packages/research/research/stage_validation/__init__.py
  packages/research/research/stage_validation/stage2_nautilus/__init__.py
  packages/research/research/stage_validation/stage2_nautilus/runner.py
  packages/research/research/stage_validation/stage2_nautilus/types.py
  packages/research/research/stage_validation/stage2_nautilus/validator.py
Due: typescript, python

refactor(research): split stage1_vectorbt.py into focused modules
  packages/research/research/stage_validation/stage1_vectorbt/__init__.py
  packages/research/research/stage_validation/stage1_vectorbt/runner.py
  packages/research/research/stage_validation/stage1_vectorbt/types.py
  packages/research/research/stage_validation/stage1_vectorbt/validator.py
Due: typescript, python

refactor(research): split llm_judge.py into focused modules
  packages/research/research/evaluator/llm_judge/__init__.py
  packages/research/research/evaluator/llm_judge/judge.py
  packages/research/research/evaluator/llm_judge/prompts.py
  packages/research/research/evaluator/llm_judge/types.py
  packages/research/tests/evaluator/test_llm_judge.py
Due: typescript, python

fix(research): add noqa for intentionally unused factor arg
  packages/research/research/stage_validation/stage2_nautilus/runner.py
Due: typescript, python
