Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

refactor(research): split dsr.py into focused modules
  packages/research/research/stage_validation/__init__.py
  packages/research/research/stage_validation/dsr/__init__.py
  packages/research/research/stage_validation/dsr/helpers.py
  packages/research/research/stage_validation/dsr/types.py
  packages/research/research/stage_validation/dsr/validator.py
Due: typescript, python

refactor(dashboard): split ChartStates.tsx into focused modules
  apps/dashboard/src/components/charts/ChartStates.tsx
  apps/dashboard/src/components/charts/chart-states/EmptyState.tsx
  apps/dashboard/src/components/charts/chart-states/ErrorState.tsx
  apps/dashboard/src/components/charts/chart-states/LoadingState.tsx
  apps/dashboard/src/components/charts/chart-states/index.tsx
  apps/dashboard/src/components/charts/chart-states/styles.ts
  apps/dashboard/src/components/charts/chart-states/types.ts
Due: none

refactor(dashboard): split charts/[symbol]/page.tsx into focused modules
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartContent.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartControls.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartHeader.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/IndicatorCard.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/MovingAveragesPanel.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/hooks.ts
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/index.ts
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/types.ts
  apps/dashboard/src/app/(auth)/charts/[symbol]/page.tsx
  apps/dashboard/src/components/ui/command-palette.tsx
  apps/dashboard/src/components/ui/command-palette/CommandInput.tsx
  apps/dashboard/src/components/ui/command-palette/CommandItem.tsx
  apps/dashboard/src/components/ui/command-palette/CommandList.tsx
  apps/dashboard/src/components/ui/command-palette/command-palette.test.ts
  apps/dashboard/src/components/ui/command-palette/context.ts
  apps/dashboard/src/components/ui/command-palette/icons.tsx
  apps/dashboard/src/components/ui/command-palette/index.tsx
  apps/dashboard/src/components/ui/command-palette/types.ts
  apps/dashboard/src/components/ui/command-palette/utils.ts
Due: none

refactor(dashboard): split select.tsx into focused modules
  apps/dashboard/src/components/ui/select.tsx
  apps/dashboard/src/components/ui/select/SelectContent.tsx
  apps/dashboard/src/components/ui/select/SelectItem.tsx
  apps/dashboard/src/components/ui/select/SelectTrigger.tsx
  apps/dashboard/src/components/ui/select/context.ts
  apps/dashboard/src/components/ui/select/icons.tsx
  apps/dashboard/src/components/ui/select/index.tsx
  apps/dashboard/src/components/ui/select/styles.ts
  apps/dashboard/src/components/ui/select/types.ts
Due: none

refactor(dashboard): split trade-tape.tsx into focused modules
  apps/dashboard/src/app/(auth)/decisions/[id]/components/AgentVoteCard.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/AgentVotesGrid.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/BackButton.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/CitationCard.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/CitationsSection.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/DecisionDetails.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/DecisionHeader.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/ErrorState.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/ExecutionSection.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/ExecutionTimeline.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/LoadingState.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/components/index.ts
  apps/dashboard/src/app/(auth)/decisions/[id]/components/utils.ts
  apps/dashboard/src/app/(auth)/decisions/[id]/page.tsx
  apps/dashboard/src/components/ui/button.test.ts
  apps/dashboard/src/components/ui/button.tsx
  apps/dashboard/src/components/ui/success-feedback.test.ts
  apps/dashboard/src/components/ui/success-feedback.tsx
  apps/dashboard/src/components/ui/success-feedback/Checkmark.tsx
  apps/dashboard/src/components/ui/success-feedback/InlineSuccess.tsx
  apps/dashboard/src/components/ui/success-feedback/SuccessButton.tsx
  apps/dashboard/src/components/ui/success-feedback/SuccessText.tsx
  apps/dashboard/src/components/ui/success-feedback/animations.ts
  apps/dashboard/src/components/ui/success-feedback/index.tsx
  apps/dashboard/src/components/ui/success-feedback/types.ts
  apps/dashboard/src/components/ui/success-feedback/useAsyncButton.ts
  apps/dashboard/src/components/ui/trade-tape.tsx
  apps/dashboard/src/components/ui/trade-tape/EmptyState.tsx
  apps/dashboard/src/components/ui/trade-tape/NewTradesButton.tsx
  apps/dashboard/src/components/ui/trade-tape/StatisticsFooter.tsx
  apps/dashboard/src/components/ui/trade-tape/TradeRow.tsx
  apps/dashboard/src/components/ui/trade-tape/TradeTapeHeader.tsx
  apps/dashboard/src/components/ui/trade-tape/index.tsx
  apps/dashboard/src/components/ui/trade-tape/types.ts
  apps/dashboard/src/components/ui/trade-tape/utils.ts
Due: none

refactor: split large files into focused modules
  apps/dashboard/src/app/(auth)/backtest/[id]/components/BacktestChart.tsx
  apps/dashboard/src/app/(auth)/backtest/[id]/components/BacktestHeader.tsx
  apps/dashboard/src/app/(auth)/backtest/[id]/components/BacktestMetrics.tsx
  apps/dashboard/src/app/(auth)/backtest/[id]/components/hooks.ts
  apps/dashboard/src/app/(auth)/backtest/[id]/components/index.ts
  apps/dashboard/src/app/(auth)/backtest/[id]/components/types.ts
  apps/dashboard/src/app/(auth)/backtest/[id]/page.tsx
  apps/dashboard/src/app/(auth)/theses/[id]/components/ThesisActions.tsx
  apps/dashboard/src/app/(auth)/theses/[id]/components/ThesisDetails.tsx
  apps/dashboard/src/app/(auth)/theses/[id]/components/ThesisHeader.tsx
  apps/dashboard/src/app/(auth)/theses/[id]/components/hooks.ts
  apps/dashboard/src/app/(auth)/theses/[id]/components/index.ts
  apps/dashboard/src/app/(auth)/theses/[id]/components/types.ts
  apps/dashboard/src/app/(auth)/theses/[id]/page.tsx
  apps/dashboard/src/components/ui/collapsible.tsx
  apps/dashboard/src/components/ui/collapsible/Accordion.tsx
  apps/dashboard/src/components/ui/collapsible/ChevronIcon.tsx
  apps/dashboard/src/components/ui/collapsible/Collapsible.tsx
  apps/dashboard/src/components/ui/collapsible/CollapsibleContent.tsx
  apps/dashboard/src/components/ui/collapsible/CollapsibleTrigger.tsx
  apps/dashboard/src/components/ui/collapsible/context.ts
  apps/dashboard/src/components/ui/collapsible/index.tsx
  apps/dashboard/src/components/ui/collapsible/types.ts
  packages/prediction-markets/src/providers/kalshi/websocket.test.ts
  packages/prediction-markets/src/providers/kalshi/websocket/__tests__/cache.test.ts
  packages/prediction-markets/src/providers/kalshi/websocket/__tests__/connection.test.ts
  packages/prediction-markets/src/providers/kalshi/websocket/__tests__/fixtures.ts
  packages/prediction-markets/src/providers/kalshi/websocket/__tests__/messages.test.ts
  packages/prediction-markets/src/providers/kalshi/websocket/__tests__/schemas.test.ts
  packages/prediction-markets/src/providers/kalshi/websocket/__tests__/subscription.test.ts
  packages/research/coverage.xml
Due: typescript, python

refactor: split large test files into focused modules
  packages/helix-schema/tests/__tests__/access-tracking.test.ts
  packages/helix-schema/tests/__tests__/batch-processing.test.ts
  packages/helix-schema/tests/__tests__/constants.test.ts
  packages/helix-schema/tests/__tests__/decisions.test.ts
  packages/helix-schema/tests/__tests__/fixtures.ts
  packages/helix-schema/tests/__tests__/graph-pruning.test.ts
  packages/helix-schema/tests/__tests__/retention-score.test.ts
  packages/helix-schema/tests/__tests__/trade-cohort.test.ts
  packages/helix-schema/tests/forgetting.test.ts
  packages/indicators/tests/__tests__/transforms/comparison.test.ts
  packages/indicators/tests/__tests__/transforms/percentile-rank.test.ts
  packages/indicators/tests/__tests__/transforms/performance.test.ts
  packages/indicators/tests/__tests__/transforms/pipeline.test.ts
  packages/indicators/tests/__tests__/transforms/returns.test.ts
  packages/indicators/tests/__tests__/transforms/test-fixtures.ts
  packages/indicators/tests/__tests__/transforms/volatility-scale.test.ts
  packages/indicators/tests/__tests__/transforms/zscore.test.ts
  packages/indicators/tests/transforms.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/fetch-market-by-ticker.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/fetch-markets.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/fixtures.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/get-event-details.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/liquidity-score.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/market-type.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/rate-limit.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/related-instruments.test.ts
  packages/prediction-markets/src/providers/kalshi/__tests__/transform-market.test.ts
  packages/prediction-markets/src/providers/kalshi/client-api.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/client-calculate-scores.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/client-core.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/client-fetch-by-ticker.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/client-fetch-markets.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/client-orderbook.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/client-search.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/constants.test.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/fixtures.ts
  packages/prediction-markets/src/providers/polymarket/__tests__/schemas.test.ts
  packages/prediction-markets/src/providers/polymarket/client.test.ts
Due: typescript

refactor: split large test files into focused modules
  packages/broker/tests/backtest-account.test.ts
  packages/broker/tests/backtest-adapter.test.ts
  packages/broker/tests/backtest-orders.test.ts
  packages/broker/tests/backtest-positions.test.ts
  packages/broker/tests/backtest-slippage.test.ts
  packages/broker/tests/backtest-utils.test.ts
  packages/broker/tests/backtest.test.ts
  packages/broker/tests/factory.test.ts
  packages/broker/tests/fixtures.ts
  packages/indicators/tests/__tests__/ic/analysis.test.ts
  packages/indicators/tests/__tests__/ic/correlation.test.ts
  packages/indicators/tests/__tests__/ic/cross-sectional.test.ts
  packages/indicators/tests/__tests__/ic/decay.test.ts
  packages/indicators/tests/__tests__/ic/edge-cases.test.ts
  packages/indicators/tests/__tests__/ic/evaluation.test.ts
  packages/indicators/tests/__tests__/ic/fixtures.ts
  packages/indicators/tests/__tests__/ic/integration.test.ts
  packages/indicators/tests/__tests__/ic/ranks.test.ts
  packages/indicators/tests/__tests__/ic/stats.test.ts
  packages/indicators/tests/__tests__/ic/time-series.test.ts
  packages/indicators/tests/__tests__/orthogonality/check.test.ts
  packages/indicators/tests/__tests__/orthogonality/correlation.test.ts
  packages/indicators/tests/__tests__/orthogonality/edge-cases.test.ts
  packages/indicators/tests/__tests__/orthogonality/fixtures.ts
  packages/indicators/tests/__tests__/orthogonality/integration.test.ts
  packages/indicators/tests/__tests__/orthogonality/orthogonalize.test.ts
  packages/indicators/tests/__tests__/orthogonality/schema.test.ts
  packages/indicators/tests/__tests__/orthogonality/utilities.test.ts
  packages/indicators/tests/__tests__/orthogonality/vif.test.ts
  packages/indicators/tests/__tests__/walkForward/edgeCases.test.ts
  packages/indicators/tests/__tests__/walkForward/fixtures.ts
  packages/indicators/tests/__tests__/walkForward/helpers.test.ts
  packages/indicators/tests/__tests__/walkForward/integration.test.ts
  packages/indicators/tests/__tests__/walkForward/interpretation.test.ts
  packages/indicators/tests/__tests__/walkForward/schema.test.ts
  packages/indicators/tests/__tests__/walkForward/sweep.test.ts
  packages/indicators/tests/__tests__/walkForward/validation.test.ts
  packages/indicators/tests/ic.test.ts
  packages/indicators/tests/orthogonality.test.ts
  packages/indicators/tests/walkForward.test.ts
Due: none

refactor: split large test files into focused modules
  packages/indicators/__tests__/pbo/combinations.test.ts
  packages/indicators/__tests__/pbo/compute.test.ts
  packages/indicators/__tests__/pbo/edge-cases.test.ts
  packages/indicators/__tests__/pbo/fixtures.ts
  packages/indicators/__tests__/pbo/helpers.test.ts
  packages/indicators/__tests__/pbo/integration.test.ts
  packages/indicators/__tests__/pbo/ranking.test.ts
  packages/indicators/__tests__/pbo/schema.test.ts
  packages/indicators/__tests__/pbo/sharpe.test.ts
  packages/indicators/__tests__/pbo/synthetic.test.ts
  packages/indicators/tests/__tests__/validationPipeline/defaults.test.ts
  packages/indicators/tests/__tests__/validationPipeline/edgeCases.test.ts
  packages/indicators/tests/__tests__/validationPipeline/fixtures.ts
  packages/indicators/tests/__tests__/validationPipeline/gates.test.ts
  packages/indicators/tests/__tests__/validationPipeline/pipeline.test.ts
  packages/indicators/tests/__tests__/validationPipeline/schema.test.ts
  packages/indicators/tests/__tests__/validationPipeline/utilities.test.ts
  packages/indicators/tests/pbo.test.ts
  packages/indicators/tests/validationPipeline.test.ts
  packages/mastra-kit/src/tools/__tests__/claudeCodeIndicator/exports.test.ts
  packages/mastra-kit/src/tools/__tests__/claudeCodeIndicator/fixtures.ts
  packages/mastra-kit/src/tools/__tests__/claudeCodeIndicator/integration.test.ts
  packages/mastra-kit/src/tools/__tests__/claudeCodeIndicator/promptBuilder.test.ts
  packages/mastra-kit/src/tools/__tests__/claudeCodeIndicator/schema.test.ts
  packages/mastra-kit/src/tools/__tests__/claudeCodeIndicator/toolPermissions.test.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.test.ts
Due: typescript

ci: separate TS tests from polyglot test command
  .github/workflows/test.yml
  package.json
Due: none

chore: add test:rs and test:py scripts
  .github/workflows/test.yml
  package.json
Due: none

chore: remove test:dashboard and test:integration scripts
  .github/workflows/test.yml
  package.json
Due: none

chore: add test:e2e script for e2e and integration tests
  .github/workflows/test.yml
  package.json
Due: none

ci: cleanup test workflow
  .github/workflows/test.yml
Due: none

ci: use Turbo for all test jobs to enable remote caching
  .github/workflows/test.yml
  package.json
Due: none

chore: remove coverage output from test task in turbo configuration
  turbo.json
Due: none

ci: use Python 3.14 for tests to match pyproject.toml requirement
  .github/workflows/test.yml
Due: none

ci: skip research package tests due to CUDA disk space issue
  .github/workflows/test.yml
Due: none

refactor: remove technical_analyst from agent network
  apps/api/src/agents/approvers.ts
  apps/api/src/agents/researchers.ts
  apps/api/src/workflows/steps/trading-cycle/config.ts
  apps/api/src/workflows/steps/trading-cycle/decide.ts
  apps/api/src/workflows/steps/trading-cycle/index.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/api/tests/agents.test.ts
  apps/dashboard-api/src/events/mappers.test.ts
  apps/dashboard-api/src/events/mappers.ts
  apps/dashboard-api/src/events/publisher.test.ts
  apps/dashboard-api/src/events/types.test.ts
  apps/dashboard-api/src/events/types.ts
  apps/dashboard-api/src/routes/agents.ts
  apps/dashboard-api/src/routes/config/types.ts
  apps/dashboard-api/src/routes/system/types.ts
  apps/dashboard-api/src/websocket/handlers/trading.ts
  apps/dashboard-api/tests/integration/config-flow.test.ts
Due: none

docs: add Dynamic Indicator Synthesis diagram to PROJECT.md
  PROJECT.md
Due: none

fix: remove technical agent type from websocket test
  packages/domain/src/websocket/websocket.test.ts
Due: none

ci: add workflow_dispatch to buf-check
  .github/workflows/buf-check.yml
Due: none

fix: set correct input path for buf-action
  .github/workflows/buf-check.yml
Due: none

ci: run biome format on generated protobuf code
  .github/workflows/buf-check.yml
Due: none

fix: update agent count expectations after technical_analyst removal
  apps/api/tests/agents.test.ts
  apps/dashboard-api/tests/integration/config-flow.test.ts
Due: none

fix: migrate marketSnapshotBuilder from Polygon to Alpaca
  apps/api/tests/marketSnapshotBuilder.test.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  apps/dashboard-api/src/services/backtest-data.integration.test.ts
  apps/dashboard-api/src/services/backtest-data.test.ts
  apps/dashboard-api/src/services/portfolio.test.ts
Due: none

fix: update remaining test mocks for Polygon to Alpaca migration
  apps/dashboard-api/src/routes/market.test.ts
  apps/dashboard-api/src/services/portfolio.test.ts
Due: none

fix: use correct Alpaca API endpoints for options and stocks
  packages/marketdata/package.json
  packages/marketdata/src/providers/alpaca-websocket.ts
  packages/marketdata/src/providers/alpaca.ts
  packages/marketdata/src/providers/index.ts
Due: typescript

fix: handle string values in options chain formatters
  apps/dashboard/src/components/options/OptionsChainRow.tsx
Due: none

fix: discover all option expirations via date range queries
  packages/marketdata/src/providers/alpaca.ts
Due: typescript

fix: use getOptionExpirations for all expirations discovery
  apps/dashboard-api/src/routes/options.ts
Due: none

fix: use dailyBar.volume for options and fix lint warnings
  apps/dashboard-api/src/routes/options.ts
  packages/marketdata/src/providers/alpaca.ts
Due: typescript

chore: update bun.lock
  bun.lock
Due: none

feat(execution-engine): implement option chain API via Alpaca snapshots
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/server/grpc/market_data_service.rs
Due: rust

fix(mastra-kit): handle missing options and quotes gracefully
  packages/mastra-kit/src/tools/implementations/options.ts
  packages/mastra-kit/src/tools/implementations/quotes.ts
Due: typescript

fix(dashboard-api): improve options WebSocket error handling
  apps/dashboard-api/src/streaming/options-data.ts
Due: none
