Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

test(config): update layer validation tests for agents package
  packages/config/src/dependencyValidation.test.ts
  packages/config/src/layerValidation.test.ts
  packages/config/src/layerValidation.ts
  packages/config/src/schemas/core.test.ts
Due: typescript

feat(research): update Gemini model to gemini-3-flash-preview
  packages/research/research/hypothesis_alignment.py
  packages/research/tests/test_hypothesis_alignment.py
Due: typescript, python

docs: update package references from mastra-kit to agents
  CLAUDE.md
  PROJECT.md
Due: none

refactor(worker): update imports and Dockerfile for agents package
  apps/worker/Dockerfile
  apps/worker/src/schedulers/indicator-synthesis.ts
Due: none

docs: update comments for agents package rename
  bunfig.toml
  packages/logger/src/node.ts
Due: typescript

test(storage): update Gemini model name in test fixtures
  packages/storage/src/repositories/agent-outputs.test.ts
Due: none

chore: update bun.lock for agents package rename
  bun.lock
Due: none

fix(domain): correct provider_mismatch test to use different providers
  packages/domain/src/parity.test.ts
Due: none

refactor(agents): move extraction client from external-context
  packages/agents/package.json
  packages/agents/src/extraction/client.ts
  packages/agents/src/extraction/index.ts
  packages/agents/src/index.ts
  packages/agents/src/tools/implementations/externalContext.ts
  packages/external-context/package.json
  packages/external-context/src/extraction/index.ts
  packages/external-context/src/index.ts
  packages/external-context/src/pipeline.ts
  packages/external-context/src/types.ts
  packages/external-context/tests/pipeline.test.ts
Due: typescript

refactor(api): rename trading-cycle-v2 to trading-cycle
  apps/api/src/mastra/index.ts
  apps/api/src/workflows/index.ts
  apps/api/src/workflows/trading-cycle/index.ts
  apps/api/src/workflows/trading-cycle/schemas.ts
  apps/api/src/workflows/trading-cycle/workflow.ts
Due: none

refactor(api): remove deprecated workflow steps
  apps/api/src/steps/buildSnapshot.ts
  apps/api/src/steps/executeOrders.ts
  apps/api/src/steps/gatherExternalContext.integration.test.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/index.ts
  apps/api/src/steps/ingestThesisMemory.ts
  apps/api/src/steps/loadState.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/src/steps/retrieveMemory.ts
  apps/api/src/steps/wip/checkResearchTriggers.ts
  apps/api/src/steps/wip/persistDecisions.ts
  apps/api/src/steps/wip/runAnalysts.ts
  apps/api/src/steps/wip/runConsensus.ts
  apps/api/src/steps/wip/runDebate.ts
  apps/api/src/steps/wip/synthesizePlan.ts
  apps/api/tests/executeOrders.test.ts
  apps/api/tests/tradingCycle.test.ts
Due: none

docs(api): update README for new workflow structure
  apps/api/README.md
Due: none

chore: update bun.lock
  bun.lock
Due: none

feat(dashboard): implement reasoning trace UX upgrade
  apps/dashboard-api/package.json
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/hooks/useStatusNarrative.ts
  bun.lock
Due: none

fix(dashboard): use correct API base URL for status narrative endpoint
  apps/dashboard/src/hooks/useStatusNarrative.ts
Due: none

Refactor agent tools and prompts: Remove deprecated extract_transcript tool, update prompts to utilize new tools, and enhance tool capabilities
  apps/api/src/agents/analysts.ts
  apps/api/src/agents/approvers.ts
  apps/api/src/agents/factory.ts
  apps/api/src/agents/researchers.ts
  apps/api/src/agents/trader.ts
  apps/api/src/agents/types.ts
  apps/api/src/mastra/index.ts
  apps/api/tests/agents.test.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  bun.lock
  packages/agents/README.md
  packages/agents/src/agents/configs/newsAnalyst.ts
  packages/agents/src/prompts/bearishResearcher.ts
  packages/agents/src/prompts/bullishResearcher.ts
  packages/agents/src/prompts/critic.ts
  packages/agents/src/prompts/fundamentalsAnalyst.ts
  packages/agents/src/prompts/idea-agent.ts
  packages/agents/src/prompts/newsAnalyst.ts
  packages/agents/src/prompts/riskManager.ts
  packages/agents/src/prompts/selfCheck.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/definitions/externalContextTools.ts
  packages/agents/src/tools/definitions/index.ts
  packages/agents/src/tools/implementations/externalContext.ts
  packages/agents/src/tools/implementations/index.ts
  packages/agents/src/tools/index.ts
  packages/agents/src/tools/registry.ts
Due: typescript

refactor(AgentStreamingDetail): improve JSX formatting for better readability
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
Due: none

feat(agents): add dedicated Grounding Agent for Gemini native search
  apps/api/src/agents/analysts.ts
  apps/api/src/agents/grounding.ts
  apps/api/src/agents/prompts.ts
  apps/api/src/agents/researchers.ts
  apps/api/src/agents/schemas.ts
  apps/api/src/agents/types.ts
  apps/api/src/workflows/trading-cycle/workflow.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  packages/agents/src/agents/configs/bearishResearcher.ts
  packages/agents/src/agents/configs/bullishResearcher.ts
  packages/agents/src/agents/configs/fundamentalsAnalyst.ts
  packages/agents/src/agents/configs/grounding.test.ts
  packages/agents/src/agents/configs/groundingAgent.ts
  packages/agents/src/agents/configs/index.ts
  packages/agents/src/agents/configs/newsAnalyst.ts
  packages/agents/src/agents/registry.ts
  packages/agents/src/prompts/groundingAgent.ts
  packages/agents/src/prompts/index.ts
  packages/agents/src/types.ts
  packages/domain/src/websocket/channel.ts
Due: typescript

feat: Enhance Gemini 3 model integration with thought signature middleware
  apps/api/package.json
  apps/api/src/agents/approvers.ts
  apps/api/src/agents/factory.ts
  apps/api/src/agents/gemini-middleware.ts
  apps/api/src/agents/stream-forwarder.ts
  apps/api/src/agents/trader.ts
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard/src/hooks/useAgentStreaming.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
  bun.lock
  packages/agents/src/tools/definitions/dataTools.ts
  packages/agents/src/tools/definitions/externalContextTools.ts
  packages/agents/src/tools/definitions/tradingTools.ts
Due: typescript

feat(dashboard): implement OODA workflow agent network visualization
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/components/agents/AgentNetwork/AgentNode.tsx
  apps/dashboard/src/components/agents/AgentNetwork/ConnectionLine.tsx
  apps/dashboard/src/components/agents/AgentNetwork/DataFlowPulse.tsx
  apps/dashboard/src/components/agents/AgentNetwork/FlowLabel.tsx
  apps/dashboard/src/components/agents/AgentNetwork/PhaseContainer.tsx
  apps/dashboard/src/components/agents/AgentNetwork/index.ts
  apps/dashboard/src/components/agents/AgentNetwork/types.ts
  apps/dashboard/src/components/agents/AgentNetwork/useAnnounce.ts
  apps/dashboard/src/components/agents/AgentNetwork/useKeyboardNavigation.ts
  apps/dashboard/src/components/agents/AgentStreamingCard.tsx
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/stores/agent-streaming-store.ts
  packages/dashboard-types/src/api/agents.ts
  packages/domain/src/websocket/data-payloads.ts
  packages/domain/src/websocket/index.ts
Due: typescript

refactor(AgentNetwork): replace emoji icons with text labels
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/components/agents/AgentNetwork/types.ts
Due: none

fix(AgentNetwork): improve phase label centering and simplify connection arrows
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/components/agents/AgentNetwork/PhaseContainer.tsx
Due: none

fix(PhaseContainer): use opaque background for phase labels
  apps/dashboard/src/components/agents/AgentNetwork/PhaseContainer.tsx
Due: none

refactor(AgentNetwork): separate context providers from agent network
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/components/agents/AgentNetwork/ContextHeader.tsx
  apps/dashboard/src/components/agents/AgentNetwork/index.ts
Due: none

refactor(agents): move Historical Outputs to right column
  apps/dashboard/src/app/(auth)/agents/page.tsx
Due: none

fix(AgentNetwork): prevent cursor pointer on entire container
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
Due: none

feat(agents): add cycle history persistence and historical viewing
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard-api/src/routes/system/types.ts
  apps/dashboard-api/src/services/cycle-event-persistence.ts
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useCycleHistory.ts
  apps/dashboard/src/hooks/useAgentStreaming.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
  packages/storage/migrations/init/17_streaming_events.sql
  packages/storage/src/repositories/cycles.ts
  packages/storage/src/repositories/index.ts
Due: typescript

docs: clean up obsolete sections in CLAUDE.md
  CLAUDE.md
Due: none

refactor(api): remove maxSteps from agent generation options
  apps/api/src/agents/factory.ts
Due: none

feat(cycles): mark orphaned cycles as failed on server startup
  apps/dashboard-api/src/index.ts
  packages/storage/src/repositories/cycles.ts
Due: typescript

fix(dashboard-api): improve workflow result handling and rate limits
  apps/dashboard-api/src/middleware/rate-limit.ts
  apps/dashboard-api/src/routes/system/cycles.ts
Due: none

feat(dashboard-api): improve AI reasoning summary prompts
  apps/dashboard-api/src/routes/ai.ts
Due: none

feat(dashboard): improve agent network visualization
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/components/agents/AgentNetwork/AgentNode.tsx
  apps/dashboard/src/components/agents/AgentNetwork/PhaseContainer.tsx
Due: none

fix(dashboard): React compliance and UI polish
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
Due: none

refactor: move LLM model ID to environment variable
  apps/api/src/agents/factory.ts
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard-api/src/routes/config/types.ts
  apps/dashboard/src/app/(auth)/config/edit/components/TradingConfigForm.tsx
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/lib/api/types/config.ts
  packages/agents/src/agents/index.ts
  packages/agents/src/services/idea-agent.ts
  packages/agents/src/types.ts
  packages/config/src/schemas/core.ts
  packages/research/research/evaluator/llm_judge/judge.py
  packages/research/research/hypothesis_alignment.py
  packages/research/tests/evaluator/test_llm_judge.py
  packages/research/tests/test_llm_judge.py
  packages/storage/src/repositories/trading-config.ts
  packages/storage/src/seed-config.ts
Due: typescript, python

fix(tests): update hypothesis alignment tests for env var model
  packages/research/tests/test_hypothesis_alignment.py
Due: none

fix(dashboard): show google/ prefix in model selector
  apps/dashboard/src/app/(auth)/config/edit/components/TradingConfigForm.tsx
Due: none

chore: sync all changes
  CLAUDE.md
Due: none

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
