Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

fix(marketdata): Fix Databento client type errors and improve test stability
  packages/marketdata/src/providers/databento.ts
  packages/marketdata/tests/databento.test.ts
Due: typescript

fix(ci): Fix failing tests across Rust and TypeScript
  PROJECT.md
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  apps/dashboard/src/components/ui/system-health-badge.test.tsx
  apps/dashboard/tests/visual/components.playwright.ts
  apps/execution-engine/src/execution/gateway.rs
  bunfig.toml
  packages/indicators/tests/indicators.test.ts
Due: rust

feat(execution-engine): Implement FIX protocol partial fill handling
  apps/execution-engine/src/execution/state.rs
  apps/execution-engine/src/models/mod.rs
  apps/execution-engine/src/models/order.rs
Due: rust

feat(execution-engine): Implement stop-loss and take-profit enforcement
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/stops.rs
Due: rust

feat(execution-engine): Implement microstructure state tracker
  apps/execution-engine/src/feed/microstructure.rs
  apps/execution-engine/src/feed/mod.rs
  apps/execution-engine/src/lib.rs
Due: rust

feat(marketdata): Implement option chain scanning and filtering
  packages/marketdata/src/index.ts
  packages/marketdata/src/optionChain.test.ts
  packages/marketdata/src/optionChain.ts
Due: typescript

feat(execution-engine): Implement options rolling logic
  apps/execution-engine/src/options/mod.rs
  apps/execution-engine/src/options/rolling.rs
Due: rust

feat(execution-engine): Implement main.rs with graceful shutdown
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/risk/constraints.rs
Due: rust

feat(storage): Add market data schema and repositories
  packages/storage/migrations/003_market_data_tables.sql
  packages/storage/migrations/003_market_data_tables_down.sql
  packages/storage/src/repositories/candles.ts
  packages/storage/src/repositories/corporate-actions.ts
  packages/storage/src/repositories/features.ts
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/regime-labels.ts
  packages/storage/src/repositories/universe-cache.ts
Due: typescript

feat(marketdata): Add candle ingestion pipeline
  packages/marketdata/src/index.ts
  packages/marketdata/src/ingestion/candleIngestion.test.ts
  packages/marketdata/src/ingestion/candleIngestion.ts
  packages/marketdata/src/ingestion/index.ts
Due: typescript

feat(marketdata): Add data quality validation module
  packages/marketdata/src/index.ts
  packages/marketdata/src/validation/anomalies.ts
  packages/marketdata/src/validation/calendar.ts
  packages/marketdata/src/validation/gaps.ts
  packages/marketdata/src/validation/index.ts
  packages/marketdata/src/validation/staleness.ts
  packages/marketdata/src/validation/validation.test.ts
Due: typescript

feat(marketdata): Add corporate action adjustments for splits and dividends
  packages/marketdata/src/corporate-actions/corporate-actions.test.ts
  packages/marketdata/src/corporate-actions/dividends.ts
  packages/marketdata/src/corporate-actions/index.ts
  packages/marketdata/src/corporate-actions/splits.ts
  packages/marketdata/src/index.ts
  packages/marketdata/src/providers/polygon.ts
Due: typescript

feat(storage): Add thesis state management with state machine
  packages/storage/migrations/004_thesis_state.sql
  packages/storage/migrations/004_thesis_state_down.sql
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/repositories.test.ts
  packages/storage/src/repositories/thesis-state.ts
Due: typescript

feat(regime): Add GMM classifier and transition detection
  packages/regime/src/features.ts
  packages/regime/src/gmmClassifier.ts
  packages/regime/src/index.ts
  packages/regime/src/transitions.ts
  packages/regime/tests/gmmClassifier.test.ts
Due: typescript

feat(marketdata): Extend FMP client with full API coverage
  packages/marketdata/src/providers/fmp.ts
  packages/marketdata/src/providers/index.ts
  packages/marketdata/tests/fmp.test.ts
Due: typescript

feat(marketdata): Extend Alpha Vantage client with full macro coverage
  packages/marketdata/src/providers/alphavantage.ts
  packages/marketdata/src/providers/index.ts
  packages/marketdata/tests/alphavantage.test.ts
Due: typescript

feat(universe): Add diversification rules to universe resolution
  packages/universe/src/index.ts
  packages/universe/src/resolver.test.ts
  packages/universe/src/resolver.ts
Due: typescript

feat(helix-schema): Add relationship edges for GraphRAG traversal
  packages/helix-schema/schema.hx
  packages/helix-schema/src/index.ts
Due: typescript

feat(helix): Add data portability with incremental exports and database abstraction
  packages/helix/src/index.ts
  packages/helix/src/queries/export.ts
Due: typescript

feat(helix-schema): Add GraphRAG traversal queries for dependency chains
  packages/helix-schema/queries.hx
Due: typescript

feat(helix): Add trade memory retrieval with GraphRAG filtering
  packages/helix/src/index.ts
  packages/helix/src/queries/retrieval.ts
Due: typescript

feat(marketdata): Add feature snapshot builder for agent context
  bun.lock
  packages/marketdata/package.json
  packages/marketdata/src/index.ts
  packages/marketdata/src/snapshot/builder.ts
  packages/marketdata/src/snapshot/cache.ts
  packages/marketdata/src/snapshot/index.ts
  packages/marketdata/src/snapshot/schema.ts
  packages/marketdata/src/snapshot/snapshot.test.ts
Due: typescript

feat(api): Implement tradingCycleWorkflow with 11 OODA loop steps
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/steps/index.ts
  apps/api/src/steps/loadState.ts
  apps/api/src/workflows/index.ts
  apps/api/src/workflows/tradingCycle.ts
  apps/api/tests/tradingCycle.test.ts
  apps/api/tsconfig.json
  bun.lock
Due: none

feat(research): Implement Vectorbt integration for rapid hypothesis generation
  packages/research/research/__init__.py
  packages/research/research/findings.py
  packages/research/research/vectorbt_runner.py
  packages/research/tests/test_vectorbt_runner.py
Due: typescript, python

feat(research): Implement NautilusTrader integration for event-driven backtesting
  packages/research/research/__init__.py
  packages/research/research/nautilus_runner.py
  packages/research/tests/test_nautilus_runner.py
Due: typescript, python

feat(research): Implement probability calibration and drift detection
  packages/research/research/evaluator/calibration.py
  packages/research/tests/test_calibration.py
Due: typescript, python

feat(research): Implement synthetic preference generator for evaluator training
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/synthetic_preferences.py
  packages/research/tests/test_synthetic_preferences.py
Due: typescript, python

feat(research): Implement pre/post-execution evaluators
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/post_execution.py
  packages/research/research/evaluator/pre_execution.py
  packages/research/tests/test_pre_post_execution.py
Due: typescript, python

feat(research): Implement evaluator training pipeline
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/training.py
  packages/research/tests/test_evaluator_training.py
Due: typescript, python

feat(schema): Add missing execution layer message types
  packages/schema-gen/python/cream/v1/common_pb2.py
  packages/schema-gen/python/cream/v1/common_pb2.pyi
  packages/schema-gen/python/cream/v1/execution_pb2.py
  packages/schema-gen/python/cream/v1/execution_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/rust/cream/v1/cream.v1.tonic.rs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema/cream/v1/common.proto
  packages/schema/cream/v1/execution.proto
Due: typescript

fix(execution-engine): Add violations field to CheckConstraintsResponse
  apps/execution-engine/src/server/grpc.rs
Due: rust

feat(execution-engine): Implement mass cancel on disconnect safety mechanism
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/safety/mass_cancel.rs
  apps/execution-engine/src/safety/mod.rs
  config/safety.yaml
Due: rust

fix(tests): Fix test environment isolation for CI
  apps/api/tests/marketSnapshotBuilder.test.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  packages/broker/tests/backtest.test.ts
Due: none

fix(research): Remove outdated placeholder test and update uv.lock
  packages/research/tests/test_placeholder.py
  packages/research/uv.lock
Due: typescript, python

feat(execution-engine): Implement market data gap recovery and feed health monitoring
  apps/execution-engine/src/feed/gap_recovery.rs
  apps/execution-engine/src/feed/health.rs
  apps/execution-engine/src/feed/mod.rs
Due: rust

feat(execution-engine): Implement reconciliation and orphaned order detection
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/reconciliation.rs
Due: rust

feat(external-context): Implement external context extraction pipeline
  bun.lock
  packages/external-context/package.json
  packages/external-context/src/extraction/extractionClient.ts
  packages/external-context/src/extraction/index.ts
  packages/external-context/src/index.ts
  packages/external-context/src/linking/entityLinker.ts
  packages/external-context/src/linking/index.ts
  packages/external-context/src/parsers/index.ts
  packages/external-context/src/parsers/macroParser.ts
  packages/external-context/src/parsers/newsParser.ts
  packages/external-context/src/parsers/transcriptParser.ts
  packages/external-context/src/pipeline.ts
  packages/external-context/src/scoring/importance.ts
  packages/external-context/src/scoring/index.ts
  packages/external-context/src/scoring/sentiment.ts
  packages/external-context/src/scoring/surprise.ts
  packages/external-context/src/types.ts
  packages/external-context/tests/linking.test.ts
  packages/external-context/tests/parsers.test.ts
  packages/external-context/tests/pipeline.test.ts
  packages/external-context/tests/scoring.test.ts
  packages/external-context/tsconfig.json
Due: typescript

feat(schema,domain): Define event schema (Protobuf + Zod)
  packages/domain/src/events.test.ts
  packages/domain/src/events.ts
  packages/domain/src/index.ts
  packages/schema/cream/v1/events.proto
Due: typescript

feat(execution-engine): Implement backtest simulation engine core
  apps/execution-engine/src/backtest/commission.rs
  apps/execution-engine/src/backtest/config.rs
  apps/execution-engine/src/backtest/fill_engine.rs
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/multi_leg.rs
  apps/execution-engine/src/backtest/slippage.rs
  apps/execution-engine/src/backtest/triggers.rs
  apps/execution-engine/src/lib.rs
Due: rust

feat(backtest): Implement historical data replay engine
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/replay.rs
Due: rust

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
