Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(indicators): add security scan utility for generated indicators
  packages/indicators/src/index.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/securityScan.ts
Due: typescript

feat(api): add validateIndicator step for indicator synthesis workflow
  apps/api/src/workflows/indicator-synthesis/steps.ts
Due: none

feat(indicator-synthesis): add initiatePaperTrading workflow step
  apps/api/src/workflows/indicator-synthesis/steps.ts
Due: none

feat(indicator-synthesis): add workflow orchestration with branching
  apps/api/src/workflows/indicator-synthesis/index.ts
  apps/api/src/workflows/indicator-synthesis/workflow.ts
Due: none

feat(indicator-synthesis): register workflow in Mastra
  apps/api/src/mastra/index.ts
  apps/api/src/workflows/index.ts
Due: none

feat(dashboard): add StreamingPositionsTable with virtualization and sorting
  apps/dashboard/src/components/portfolio/StreamingPositionsTable.tsx
Due: none

feat(dashboard): add AllocationDonut component for sector breakdown
  apps/dashboard/src/components/portfolio/AllocationDonut.tsx
  apps/dashboard/src/components/portfolio/index.ts
Due: none

test(indicator-synthesis): add comprehensive integration tests
  apps/api/src/workflows/indicator-synthesis/workflow.integration.test.ts
Due: none

feat(dashboard-api): add WebSocket heartbeat and reconnection
  apps/dashboard-api/src/services/alpaca-streaming.ts
Due: none

feat(websocket): add cache invalidation hints to broadcast messages
  apps/dashboard-api/src/websocket/handlers/account.ts
  apps/dashboard-api/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

feat(dashboard): add debounced cache invalidation for WebSocket messages
  apps/dashboard/src/lib/api/ws-invalidation.ts
Due: none

feat(dashboard): add color coding for calls vs puts in options positions
  apps/dashboard/src/components/portfolio/OptionsPositionRow.tsx
Due: none

feat(dashboard): add throttled Greeks recalculation with market hours check
  apps/dashboard/src/hooks/usePositionGreeks.ts
Due: none

feat(domain): add FRED_API_KEY environment variable
  CLAUDE.md
  packages/domain/src/env.ts
Due: typescript

feat(api): add async indicator synthesis workflow launch from Orient phase
  apps/api/src/workflows/steps/trading-cycle/index.ts
  apps/api/src/workflows/steps/trading-cycle/orient.ts
  apps/api/src/workflows/trading-cycle.ts
  packages/dashboard-types/src/index.ts
  packages/dashboard-types/src/synthesis.ts
Due: typescript

feat(websocket): add synthesis channel and event types
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard-api/src/websocket/index.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

feat(api): add comprehensive logging and telemetry to synthesis workflow
  apps/api/src/workflows/indicator-synthesis/steps.ts
  apps/api/src/workflows/indicator-synthesis/workflow.ts
Due: none

feat(dashboard-api): add synthesis status API endpoint
  apps/dashboard-api/src/routes/indicators.ts
Due: none

feat(worker): create indicator synthesis scheduler module
  apps/worker/package.json
  apps/worker/src/schedulers/index.ts
  apps/worker/src/schedulers/indicator-synthesis.ts
  bun.lock
Due: none

feat(worker): add indicator synthesis scheduler to worker registry
  apps/worker/src/index.ts
Due: none

test(worker): add indicator synthesis scheduler tests
  apps/worker/src/schedulers/indicator-synthesis.test.ts
Due: none

feat(dashboard-api): add synthesis history API endpoint
  apps/dashboard-api/src/routes/indicators.ts
Due: none

feat(dashboard-api): add manual synthesis trigger API endpoint
  apps/dashboard-api/src/routes/indicators.ts
Due: none

feat(dashboard): add synthesis query hooks
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useSynthesis.ts
Due: none

feat(dashboard): add SynthesisStatusCard UI component
  apps/dashboard/src/components/indicators/SynthesisStatusCard.tsx
Due: none

feat(dashboard): add SynthesisHistoryTable UI component
  apps/dashboard/src/components/indicators/SynthesisHistoryTable.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

feat(dashboard): add Indicator Lab page with synthesis components
  apps/dashboard/src/app/(auth)/indicators/page.tsx
  apps/dashboard/src/components/indicators/index.ts
  apps/dashboard/src/components/layout/Sidebar.tsx
Due: none

refactor(execution-engine): remove observability module
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/observability/mod.rs
  packages/domain/src/calendar/index.ts
  packages/domain/src/calendar/types.ts
  packages/domain/src/index.ts
Due: typescript, rust

feat(domain): add hardcoded NYSE calendar data 2024-2029
  packages/domain/src/calendar/hardcoded.ts
  packages/domain/src/calendar/index.ts
Due: typescript

feat(domain): add HardcodedCalendarService for BACKTEST mode
  packages/domain/src/calendar/index.ts
  packages/domain/src/calendar/service.test.ts
  packages/domain/src/calendar/service.ts
Due: typescript

feat(domain): add Alpaca Calendar and Clock API client
  packages/domain/src/calendar/alpaca-client.test.ts
  packages/domain/src/calendar/alpaca-client.ts
  packages/domain/src/calendar/index.ts
Due: typescript

feat(domain): add in-memory calendar cache with TTL
  packages/domain/src/calendar/cache.test.ts
  packages/domain/src/calendar/cache.ts
  packages/domain/src/calendar/index.ts
Due: typescript

feat(domain): add AlpacaCalendarService for PAPER/LIVE modes
  packages/domain/src/calendar/index.ts
  packages/domain/src/calendar/service.test.ts
  packages/domain/src/calendar/service.ts
Due: typescript

feat(broker): extend AlpacaClockResponse with full API fields
  packages/broker/src/client/alpaca-types.ts
Due: typescript

feat(domain): add CalendarService factory and singleton management
  packages/domain/src/calendar/factory.test.ts
  packages/domain/src/calendar/factory.ts
  packages/domain/src/calendar/index.ts
Due: typescript

feat(universe): implement FREDClient class with rate limiting and retry
  packages/universe/src/fred-client.test.ts
  packages/universe/src/fred-client.ts
  packages/universe/src/index.ts
Due: typescript

feat(universe): add getReleaseSchedule and getLatestValue to FREDClient
  packages/universe/src/fred-client.test.ts
  packages/universe/src/fred-client.ts
Due: typescript

feat(universe): add FRED client factory functions
  packages/universe/src/fred-client.test.ts
  packages/universe/src/fred-client.ts
  packages/universe/src/index.ts
Due: typescript

refactor(domain): delegate calendar functions to CalendarService
  packages/domain/src/calendar.ts
Due: typescript

refactor(marketdata): delegate calendar to CalendarService from domain
  packages/marketdata/src/index.ts
  packages/marketdata/src/validation/calendar.ts
  packages/marketdata/tests/calendar.test.ts
Due: typescript
