Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

test: Add Zod-Proto schema sync tests with proto examples
  packages/domain/src/schema-sync.test.ts
  packages/schema/examples/decision.json
  packages/schema/examples/decision_plan.json
  packages/schema/examples/option_decision.json
Due: typescript

chore: Add cargo-llvm-cov configuration and Rust workspace
  .cargo/config.toml
  .tool-versions
  Cargo.toml
  apps/execution-engine/Cargo.toml
  apps/execution-engine/build.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/main.rs
Due: rust

chore: Add Python package configs with pytest-cov configuration
  apps/filings-service/filings_service/__init__.py
  apps/filings-service/pyproject.toml
  apps/filings-service/tests/__init__.py
  apps/filings-service/tests/test_placeholder.py
  apps/vision-service/pyproject.toml
  apps/vision-service/tests/__init__.py
  apps/vision-service/tests/test_placeholder.py
  apps/vision-service/vision_service/__init__.py
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/tests/__init__.py
  packages/research/tests/test_placeholder.py
Due: typescript, python

test: Add integration tests with testcontainers for Execution Engine and HelixDB
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/tests/integration/execution.test.ts
  apps/api/tsconfig.json
  packages/helix/package.json
  packages/helix/src/index.ts
  packages/helix/tests/integration/retrieval.test.ts
  packages/helix/tsconfig.json
Due: typescript

ci: Add GitHub Actions workflow for agent evaluations
  .github/workflows/agent-evals.yml
Due: none

feat: Add Zod schemas for WebSocket message types
  packages/domain/src/index.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/client-messages.ts
  packages/domain/src/websocket/data-payloads.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
  packages/domain/src/websocket/websocket.test.ts
Due: typescript

feat: Set up agent evaluation framework with DeepEval, LangSmith, Braintrust, Promptfoo
  .env.example
  apps/evals/cream_evals/__init__.py
  apps/evals/deepeval.yaml
  apps/evals/pyproject.toml
  packages/mastra-kit/braintrust.config.ts
  packages/mastra-kit/package.json
  packages/mastra-kit/promptfooconfig.yaml
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/tsconfig.json
Due: typescript

feat: Implement LLM-as-Judge evaluation with DeepEval TaskCompletionMetric
  packages/mastra-kit/tests/evals/llm-judge.test.ts
  packages/mastra-kit/tests/evals/llm-judge.ts
Due: none

feat(evals): implement semantic similarity validation framework
  packages/mastra-kit/tests/evals/semantic.test.ts
  packages/mastra-kit/tests/evals/semantic.ts
Due: none

feat(evals): implement multi-agent coordination tests
  packages/mastra-kit/tests/agents/orchestration.test.ts
  packages/mastra-kit/tests/agents/orchestration.ts
Due: none

feat(tracing): implement agent tracing infrastructure with LangSmith SDK
  packages/mastra-kit/src/tracing.test.ts
  packages/mastra-kit/src/tracing.ts
Due: typescript

feat(websocket): implement WebSocket server handler with Hono
  apps/dashboard-api/package.json
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/websocket/handler.test.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/tsconfig.json
  apps/dashboard/package.json
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/tsconfig.json
  packages/domain/package.json
Due: typescript

feat(charts): implement TradingView Lightweight Charts configuration
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/lib/chart-config.test.ts
  apps/dashboard/src/lib/chart-config.ts
Due: none

feat(charts): implement sparkline components for inline trend visualization
  apps/dashboard/src/components/charts/Sparkline.test.ts
  apps/dashboard/src/components/charts/Sparkline.tsx
Due: none

feat(charts): implement semi-circular gauge component
  apps/dashboard/src/components/charts/Gauge.test.ts
  apps/dashboard/src/components/charts/Gauge.tsx
Due: none

feat(charts): implement Recharts analytics components
  apps/dashboard/src/components/charts/AllocationChart.test.ts
  apps/dashboard/src/components/charts/AllocationChart.tsx
  apps/dashboard/src/components/charts/EquityCurve.test.ts
  apps/dashboard/src/components/charts/EquityCurve.tsx
  apps/dashboard/src/components/charts/ReturnsChart.test.ts
  apps/dashboard/src/components/charts/ReturnsChart.tsx
Due: none

feat(charts): implement correlation heat map with color scales
  apps/dashboard/src/components/charts/HeatMap.test.ts
  apps/dashboard/src/components/charts/HeatMap.tsx
  apps/dashboard/src/lib/color-scales.test.ts
  apps/dashboard/src/lib/color-scales.ts
Due: none

feat(websocket): implement quote batching and throttling
  apps/dashboard-api/src/websocket/batching.test.ts
  apps/dashboard-api/src/websocket/batching.ts
Due: none

feat(charts): implement real-time chart update system
  apps/dashboard/src/hooks/useChartUpdates.ts
  apps/dashboard/src/lib/chart-updaters.test.ts
  apps/dashboard/src/lib/chart-updaters.ts
Due: none

feat(hooks): implement useWebSocket with reconnection and heartbeat
  apps/dashboard/src/hooks/useWebSocket.test.ts
  apps/dashboard/src/hooks/useWebSocket.ts
Due: none

chore: remove codecov.yml, use builtin coverage
  bun.lock
  codecov.yml
  packages/mastra-kit/package.json
Due: typescript

feat(a11y): implement chart accessibility utilities
  apps/dashboard/src/lib/chart-a11y.test.ts
  apps/dashboard/src/lib/chart-a11y.ts
Due: none

feat(stores): implement WebSocket connection Zustand store
  apps/dashboard/package.json
  apps/dashboard/src/stores/websocket.test.ts
  apps/dashboard/src/stores/websocket.ts
Due: none

feat(charts): implement responsive chart resize hook
  apps/dashboard/src/hooks/useChartResize.test.ts
  apps/dashboard/src/hooks/useChartResize.ts
Due: none

feat(charts): implement loading, error, and empty state components
  apps/dashboard/src/components/charts/ChartStates.test.ts
  apps/dashboard/src/components/charts/ChartStates.tsx
Due: none

feat(ui): implement reusable empty state component
  apps/dashboard/src/components/ui/empty-state.test.ts
  apps/dashboard/src/components/ui/empty-state.tsx
Due: none

feat(charts): implement performance optimization utilities
  apps/dashboard/src/lib/chart-optimizations.test.ts
  apps/dashboard/src/lib/chart-optimizations.ts
Due: none

feat(query): implement WebSocket query sync hook
  apps/dashboard/src/hooks/useWebSocketQuerySync.test.ts
  apps/dashboard/src/hooks/useWebSocketQuerySync.ts
Due: none

feat(form): implement inline form validation error display
  apps/dashboard/src/components/ui/form.test.ts
  apps/dashboard/src/components/ui/form.tsx
  apps/dashboard/src/components/ui/input.test.ts
  apps/dashboard/src/components/ui/input.tsx
Due: none

feat(error): implement global error boundary for React render errors
  apps/dashboard/src/app/error.tsx
  apps/dashboard/src/app/global-error.tsx
  apps/dashboard/src/components/error-boundary.test.ts
  apps/dashboard/src/components/error-boundary.tsx
Due: none

feat(ws): implement WebSocket disconnection banner with reconnection
  apps/dashboard/src/components/ui/connection-banner.test.ts
  apps/dashboard/src/components/ui/connection-banner.tsx
  apps/dashboard/src/lib/ws/connection-monitor.test.ts
  apps/dashboard/src/lib/ws/connection-monitor.ts
Due: none

feat(loading): implement loading state coordination across application
  apps/dashboard/src/hooks/use-loading-state.test.ts
  apps/dashboard/src/hooks/use-loading-state.ts
  apps/dashboard/src/stores/loading-store.test.ts
  apps/dashboard/src/stores/loading-store.ts
Due: none

feat(animations): create animation CSS utilities and Tailwind tokens
  apps/dashboard/src/styles/animations.css
  apps/dashboard/src/styles/animations.test.ts
  apps/dashboard/tailwind.config.ts
Due: none

feat(skeleton): implement skeleton loading components with shimmer
  apps/dashboard/src/components/ui/skeleton.test.ts
  apps/dashboard/src/components/ui/skeleton.tsx
Due: none

feat(spinner): implement inline spinner component for buttons and UI
  apps/dashboard/src/components/ui/spinner.test.ts
  apps/dashboard/src/components/ui/spinner.tsx
Due: none

feat(loading): implement full-page loading with Cream logo pulse
  apps/dashboard/src/app/loading.test.ts
  apps/dashboard/src/app/loading.tsx
  apps/dashboard/src/components/ui/logo.test.ts
  apps/dashboard/src/components/ui/logo.tsx
Due: none

feat(toast): implement toast notification system with queue management
  apps/dashboard/src/components/ui/toast.test.ts
  apps/dashboard/src/components/ui/toast.tsx
  apps/dashboard/src/stores/toast-store.test.ts
  apps/dashboard/src/stores/toast-store.ts
Due: none

feat(errors): implement API error handling with toast integration
  apps/dashboard/src/components/ui/error-panel.test.ts
  apps/dashboard/src/components/ui/error-panel.tsx
  apps/dashboard/src/lib/api/error-handler.test.ts
  apps/dashboard/src/lib/api/error-handler.ts
Due: none

feat(success): implement inline success feedback with checkmark animation
  apps/dashboard/src/components/ui/success-feedback.test.ts
  apps/dashboard/src/components/ui/success-feedback.tsx
Due: none

feat(button): implement button with variants and loading states
  apps/dashboard/src/components/ui/button.test.ts
  apps/dashboard/src/components/ui/button.tsx
Due: none
