Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

refactor: remove text-embedding-004, keep only gemini-embedding-001
  packages/helix-schema/src/embeddings.ts
  packages/helix-schema/tests/embeddings.test.ts
Due: typescript

fix: update prediction-markets tests to match implementation
  packages/prediction-markets/src/providers/kalshi/websocket.test.ts
  packages/prediction-markets/src/providers/polymarket/client.test.ts
Due: none

fix: add --extra dev flag to Python package test scripts
  apps/evals/package.json
  apps/filings-service/package.json
  apps/vision-service/package.json
Due: python

fix: add missing global_model column to trading-config test schema
  packages/storage/src/repositories/trading-config.test.ts
Due: none

feat(feed): integrate Databento execution-grade market data
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/config.yaml
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/feed/databento.rs
  apps/execution-engine/src/feed/mod.rs
  apps/execution-engine/src/feed/processor.rs
  apps/execution-engine/src/main.rs
  packages/marketdata/src/adapters/databento-adapter.test.ts
  packages/marketdata/src/adapters/databento-adapter.ts
  packages/marketdata/src/adapters/index.ts
Due: typescript, rust

fix: update Claude model to claude-opus-4-5-20251101
  packages/domain/src/llm-models.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.test.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.ts
Due: typescript

fix: update tests for global model architecture
  apps/api/tests/agents.test.ts
  apps/dashboard-api/tests/integration/config-flow.test.ts
  packages/mastra-kit/tests/consensus.test.ts
Due: none

feat(helix): add HelixDB integration orchestrator for OODA loop
  apps/api/tests/helixOrchestrator.test.ts
  apps/api/workflows/steps/helixOrchestrator.ts
  apps/api/workflows/steps/index.ts
Due: none

feat(grpc): wire runtime config symbols to Databento feed via SubscribeMarketData
  apps/execution-engine/src/feed/controller.rs
  apps/execution-engine/src/feed/mod.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/mod.rs
  apps/worker/src/index.ts
  apps/worker/src/marketdata.ts
Due: rust

chore: add coverage.xml to gitignore
  .gitignore
Due: none

style(filings): apply linting/formatting fixes to chunker
  apps/filings-service/filings_service/chunker.py
Due: python

feat(mastra-kit): add trading agent prompts for consensus network
  packages/mastra-kit/src/prompts/bearishResearcher.ts
  packages/mastra-kit/src/prompts/bullishResearcher.ts
  packages/mastra-kit/src/prompts/critic.ts
  packages/mastra-kit/src/prompts/fundamentalsAnalyst.ts
  packages/mastra-kit/src/prompts/newsAnalyst.ts
  packages/mastra-kit/src/prompts/riskManager.ts
  packages/mastra-kit/src/prompts/selfCheck.ts
  packages/mastra-kit/src/prompts/technicalAnalyst.ts
  packages/mastra-kit/src/prompts/trader.ts
Due: typescript

feat(mastra-kit): add agent configs and registry
  packages/mastra-kit/src/agents/configs/bearishResearcher.ts
  packages/mastra-kit/src/agents/configs/bullishResearcher.ts
  packages/mastra-kit/src/agents/configs/critic.ts
  packages/mastra-kit/src/agents/configs/fundamentalsAnalyst.ts
  packages/mastra-kit/src/agents/configs/index.ts
  packages/mastra-kit/src/agents/configs/newsAnalyst.ts
  packages/mastra-kit/src/agents/configs/riskManager.ts
  packages/mastra-kit/src/agents/configs/technicalAnalyst.ts
  packages/mastra-kit/src/agents/configs/trader.ts
  packages/mastra-kit/src/agents/registry.ts
Due: typescript

feat(mastra-kit): add tool infrastructure with implementations
  packages/mastra-kit/src/tools/clients.ts
  packages/mastra-kit/src/tools/implementations/fmp.ts
  packages/mastra-kit/src/tools/implementations/helix.ts
  packages/mastra-kit/src/tools/implementations/index.ts
  packages/mastra-kit/src/tools/implementations/indicators.ts
  packages/mastra-kit/src/tools/implementations/options.ts
  packages/mastra-kit/src/tools/implementations/portfolio.ts
  packages/mastra-kit/src/tools/implementations/quotes.ts
  packages/mastra-kit/src/tools/registry.ts
  packages/mastra-kit/src/tools/types.ts
Due: typescript

feat(mastra-kit): add MCP Context7 integration
  packages/mastra-kit/src/mcp/context7.ts
  packages/mastra-kit/src/mcp/index.ts
Due: typescript

chore(mastra-kit): remove braintrust and loadtest
  bun.lock
  packages/mastra-kit/braintrust.config.ts
  packages/mastra-kit/package.json
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/loadtest.ts
  packages/mastra-kit/tests/loadtest.test.ts
Due: typescript

chore(mastra-kit): remove all eval frameworks
  bun.lock
  packages/mastra-kit/package.json
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/tests/evals/llm-judge.test.ts
  packages/mastra-kit/tests/evals/llm-judge.ts
  packages/mastra-kit/tests/evals/semantic.test.ts
  packages/mastra-kit/tests/evals/semantic.ts
Due: typescript

chore(infra): remove observability stack
  config/alerts/prediction-markets.yaml
  packages/infra/alertmanager/alertmanager.yml
  packages/infra/grafana/dashboards/slo-overview.json
  packages/infra/grafana/provisioning/dashboards/default.yml
  packages/infra/grafana/provisioning/datasources/prometheus.yml
  packages/infra/otel/otel-collector-config.yml
  packages/infra/prometheus/alerts.yml
  packages/infra/prometheus/prometheus.yml
  packages/infra/prometheus/recording_rules.yml
  packages/infra/prometheus/research_alerts.yml
  packages/infra/prometheus/research_rules.yml
Due: typescript

refactor(execution-engine): remove observability dependencies
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/config.yaml
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/feed/gap_recovery.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/observability/metrics.rs
  apps/execution-engine/src/observability/mod.rs
  apps/execution-engine/src/observability/tracing.rs
  apps/execution-engine/src/server/mod.rs
Due: rust

chore(mastra-kit): remove observability and tracing
  packages/mastra-kit/package.json
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/observability/index.ts
  packages/mastra-kit/src/observability/research-metrics.ts
  packages/mastra-kit/src/tracing.test.ts
  packages/mastra-kit/src/tracing.ts
Due: typescript

chore(prediction-markets): remove metrics module
  packages/prediction-markets/package.json
  packages/prediction-markets/src/index.ts
  packages/prediction-markets/src/metrics/index.ts
  packages/prediction-markets/src/metrics/metrics.test.ts
Due: typescript

refactor(mastra-kit): clean up agent and tool documentation
  packages/mastra-kit/src/agents/indicatorResearcher.ts
  packages/mastra-kit/src/tools/definitions/externalContextTools.ts
Due: typescript

chore(docker): remove observability service definitions
  docker-compose.yml
Due: none

chore: update CI and deps for filings migration
  .github/workflows/test.yml
  .husky/pre-commit
  bun.lock
  package.json
Due: none

docs: update documentation for observability removal
  ARCHITECTURE.md
  CLAUDE.md
  PROJECT.md
Due: none

feat(api): wire HelixDB into OODA Orient and Act phases
  apps/api/src/workflows/trading-cycle.ts
  apps/api/workflows/steps/helixRetrieval.ts
Due: none

feat(mastra-kit): add idea_agent and indicator_researcher agent types
  packages/mastra-kit/src/agents/configs/ideaAgent.ts
  packages/mastra-kit/src/agents/configs/index.ts
  packages/mastra-kit/src/agents/configs/indicatorResearcher.ts
  packages/mastra-kit/src/agents/index.ts
  packages/mastra-kit/src/agents/registry.ts
  packages/mastra-kit/src/types.ts
Due: typescript

refactor(mastra-kit): remove output_format from prompts
  packages/mastra-kit/src/agents/indicatorResearcher.ts
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/prompts/bearishResearcher.ts
  packages/mastra-kit/src/prompts/bullishResearcher.ts
  packages/mastra-kit/src/prompts/critic.ts
  packages/mastra-kit/src/prompts/fundamentalsAnalyst.ts
  packages/mastra-kit/src/prompts/idea-agent.ts
  packages/mastra-kit/src/prompts/index.ts
  packages/mastra-kit/src/prompts/newsAnalyst.ts
  packages/mastra-kit/src/prompts/riskManager.ts
  packages/mastra-kit/src/prompts/technicalAnalyst.ts
  packages/mastra-kit/src/prompts/trader.ts
Due: typescript

feat(api): wire idea_agent and indicator_researcher into agent registry
  apps/api/src/agents/mastra-agents.ts
Due: none

chore(filings): update EDGAR client user agent
  packages/filings/src/edgar-client.ts
Due: typescript

feat(dashboard): add comprehensive system health monitoring
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard/src/components/dashboard/ServicesHealthCard.tsx
Due: none

feat(helix): add edge weight prioritization in GraphRAG traversal
  packages/helix/src/index.ts
  packages/helix/src/queries/graph.ts
  packages/helix/tests/queries/graph-scoring.test.ts
Due: typescript

feat(helix-schema): add structured situation brief generation
  packages/helix-schema/src/retrieval/index.ts
  packages/helix-schema/src/retrieval/situationBrief.ts
  packages/helix-schema/tests/retrieval/situationBrief.test.ts
Due: typescript

feat(helix): add temporal query support for graph traversals
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/temporal.ts
  packages/helix-schema/tests/temporal.test.ts
  packages/helix/src/index.ts
  packages/helix/src/queries/graph.ts
  packages/helix/tests/queries/graph-temporal.test.ts
Due: typescript

feat(domain): add parity validation and risk-adjusted metrics
  packages/domain/src/parity-service.ts
  packages/domain/src/parity.test.ts
  packages/domain/src/parity.ts
  packages/domain/src/risk-adjusted.test.ts
  packages/domain/src/risk-adjusted.ts
Due: typescript

chore(deps): upgrade @mastra/core to 1.0.0-beta.14
  apps/api/package.json
  apps/api/src/agents/mastra-agents.ts
  apps/worker/package.json
  bun.lock
  packages/mastra-kit/package.json
  packages/mastra-kit/src/mcp/context7.ts
  packages/mastra-kit/src/tools/definitions/dataTools.ts
  packages/mastra-kit/src/tools/definitions/externalContextTools.ts
  packages/mastra-kit/src/tools/definitions/factorZoo.ts
  packages/mastra-kit/src/tools/definitions/filingTools.ts
  packages/mastra-kit/src/tools/definitions/predictionMarketTools.ts
  packages/mastra-kit/src/tools/definitions/researchTrigger.test.ts
  packages/mastra-kit/src/tools/definitions/researchTrigger.ts
  packages/mastra-kit/src/tools/definitions/tradingTools.ts
  packages/mastra-kit/src/tools/definitions/webSearch.ts
Due: typescript

refactor(storage): drop deprecated model column from agent_configs
  packages/config/src/runtime-config.ts
  packages/storage/migrations/004_global_model.sql
  packages/storage/migrations/007_drop_agent_model.sql
  packages/storage/src/repositories/agent-configs.ts
Due: typescript

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
