Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(backtest): Add performance metrics calculator
  apps/execution-engine/src/backtest/metrics.rs
  apps/execution-engine/src/backtest/mod.rs
Due: rust

feat(backtest): Add walk-forward analysis framework
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/walkforward.rs
Due: rust

feat(backtest): Add Monte Carlo simulation for robustness analysis
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/monte_carlo.rs
Due: rust

feat(broker): Add Alpaca options validation and regulatory fee calculations
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/mod.rs
Due: rust

feat(pricing): Implement IV solver and multi-leg strategy builder
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/pricing/iv.rs
  apps/execution-engine/src/pricing/mod.rs
  apps/execution-engine/src/pricing/strategy.rs
Due: rust

feat(risk): Implement position sizing for DecisionPlan execution
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/risk/mod.rs
  apps/execution-engine/src/risk/sizing.rs
Due: rust

feat(domain): Implement OSI format validation for option contracts
  packages/domain/src/index.ts
  packages/domain/src/options.test.ts
  packages/domain/src/options.ts
Due: typescript

feat(pricing): Add Calendar, Diagonal, and Custom strategy builders
  apps/execution-engine/src/options/multileg.rs
  apps/execution-engine/src/pricing/strategy.rs
Due: rust

feat(config): Implement feature flags for gradual rollout
  packages/config/configs/default.yaml
  packages/config/src/flags.test.ts
  packages/config/src/flags.ts
  packages/config/src/index.ts
  packages/config/src/schemas/flags.test.ts
  packages/config/src/schemas/flags.ts
  packages/config/src/schemas/index.ts
Due: typescript

feat(storage): Implement connection pooling for databases and APIs
  packages/storage/src/index.ts
  packages/storage/src/pool.test.ts
  packages/storage/src/pool.ts
Due: typescript

feat(execution-engine): Add TLS/SSL support for gRPC server
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/mod.rs
  apps/execution-engine/src/server/tls.rs
Due: rust

fix(execution-engine): Re-enable Arrow Flight module with arrow 57.x
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/server/arrow_flight.rs
  apps/execution-engine/src/server/mod.rs
  packages/research/.coverage
  packages/research/coverage.xml
  packages/schema-gen/python/cream/v1/events_pb2.py
  packages/schema-gen/python/cream/v1/events_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/events_pb.ts
Due: typescript, rust, python

feat(recovery): Implement mid-cycle crash recovery package
  bun.lock
  packages/recovery/package.json
  packages/recovery/src/checkpointer.ts
  packages/recovery/src/detector.ts
  packages/recovery/src/index.ts
  packages/recovery/src/reconciler.ts
  packages/recovery/src/recovery.test.ts
  packages/recovery/src/recovery.ts
  packages/recovery/src/types.ts
  packages/recovery/tsconfig.json
Due: typescript

feat(api): Implement Phase 4 TS workflow skeleton with stub agents
  apps/api/src/agents/index.ts
  apps/api/src/agents/stub-agents.ts
  apps/api/src/grpc/client.ts
  apps/api/src/grpc/index.ts
  apps/api/src/index.ts
  apps/api/src/mastra/index.ts
  apps/api/src/workflows/index.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/worker/package.json
  apps/worker/src/index.ts
  apps/worker/tsconfig.json
  bun.lock
  packages/broker/tests/backtest.test.ts
  packages/mastra-kit/package.json
  packages/mastra-kit/tests/consensus.test.ts
Due: typescript

fix(marketdata): Pass schema to RestClient for proper value transformation
  packages/marketdata/src/providers/alphavantage.ts
Due: typescript

fix(api): Add missing @cream/helix and @cream/marketdata dependencies
  apps/api/package.json
  bun.lock
Due: none

fix(api): Add missing @cream/universe and @cream/helix-schema dependencies
  apps/api/package.json
  bun.lock
Due: none

fix(helix-schema): Add proper ESM exports for module resolution
  packages/helix-schema/package.json
Due: typescript

chore(dashboard): Remove all Storybook functionality
  .github/workflows/visual-regression.yml
  apps/dashboard/package.json
  apps/dashboard/playwright.config.ts
  apps/dashboard/src/components/charts/README.md
  apps/dashboard/src/components/ui/event-feed.test.tsx
  apps/dashboard/tests/visual/README.md
  apps/dashboard/tests/visual/__screenshots__/.gitkeep
  apps/dashboard/tests/visual/components.playwright.ts
  bun.lock
Due: none

feat(mastra-kit): Implement consensus timeout and deadlock prevention
  packages/mastra-kit/src/consensus.ts
  packages/mastra-kit/tests/consensus.test.ts
Due: typescript

feat(mastra-kit): Implement human-in-the-loop escalation for non-convergent cases
  packages/mastra-kit/src/escalation.ts
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/tests/escalation.test.ts
Due: typescript

feat(marketdata): Implement input validation for external data
  packages/marketdata/src/validation/external.test.ts
  packages/marketdata/src/validation/external.ts
  packages/marketdata/src/validation/index.ts
Due: typescript

feat(config): Implement API key rotation strategy
  packages/config/src/index.ts
  packages/config/src/keyRotation.test.ts
  packages/config/src/keyRotation.ts
Due: typescript

feat(config): Implement secrets management
  packages/config/src/index.ts
  packages/config/src/secrets.test.ts
  packages/config/src/secrets.ts
Due: typescript

feat(mastra-kit): Implement load testing framework for hourly cycle
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/loadtest.ts
  packages/mastra-kit/tests/loadtest.test.ts
Due: typescript

feat(mastra-kit): Implement chaos testing framework
  packages/mastra-kit/src/chaos.ts
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/tests/chaos.test.ts
Due: typescript

feat(mastra-kit): Implement forward-looking plan scoring (evaluator)
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/planScoring.ts
  packages/mastra-kit/tests/planScoring.test.ts
Due: typescript

feat(mastra-kit): Implement retrospective outcome scoring (evaluator)
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/outcomeScoring.ts
  packages/mastra-kit/tests/outcomeScoring.test.ts
Due: typescript

feat(mastra-kit): Implement quality score integration service
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/qualityScore.ts
  packages/mastra-kit/tests/qualityScore.test.ts
Due: typescript

feat(config): Implement component health checks and monitoring
  packages/config/src/health.test.ts
  packages/config/src/health.ts
  packages/config/src/index.ts
Due: typescript

feat(config): Implement layer boundary validation for Clean Architecture
  packages/config/src/index.ts
  packages/config/src/layerValidation.test.ts
  packages/config/src/layerValidation.ts
Due: typescript

feat(config): Implement package dependency validation with circular detection
  packages/config/src/dependencyValidation.test.ts
  packages/config/src/dependencyValidation.ts
  packages/config/src/index.ts
Due: typescript

feat(domain): Implement output enforcement for DecisionPlan
  packages/domain/src/enforcement/index.ts
  packages/domain/src/enforcement/outputEnforcer.test.ts
  packages/domain/src/enforcement/outputEnforcer.ts
  packages/domain/src/index.ts
Due: typescript

feat(marketdata): Implement Options Greeks calculation and portfolio aggregation
  packages/marketdata/src/index.ts
  packages/marketdata/src/options/greeks.test.ts
  packages/marketdata/src/options/greeks.ts
  packages/marketdata/src/options/index.ts
Due: typescript

feat(universe): Implement point-in-time universe resolution for survivorship bias prevention
  packages/domain/src/enforcement/outputEnforcer.ts
  packages/storage/migrations/005_historical_universe.sql
  packages/storage/migrations/005_historical_universe_down.sql
  packages/storage/src/repositories/historical-universe.ts
  packages/storage/src/repositories/index.ts
  packages/universe/src/index.ts
  packages/universe/src/point-in-time.test.ts
  packages/universe/src/point-in-time.ts
Due: typescript

feat(domain): Implement drawdown metrics calculation
  packages/domain/src/drawdown.test.ts
  packages/domain/src/drawdown.ts
  packages/domain/src/index.ts
  packages/universe/src/point-in-time.ts
Due: typescript

feat(domain): Add trading calendar session validation for DecisionPlan
  packages/domain/src/calendar.test.ts
  packages/domain/src/calendar.ts
  packages/domain/src/index.ts
Due: typescript

feat(domain): Add contract testing for execution service
  packages/domain/src/contracts/execution-contracts.test.ts
  packages/domain/src/contracts/execution-contracts.ts
  packages/domain/src/contracts/index.ts
  packages/domain/src/index.ts
Due: typescript

feat(execution-engine): Implement order state reconciliation with broker
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/reconciliation.rs
Due: rust
