Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(storybook): add Storybook configuration and stories for UI components
  apps/dashboard/.storybook/main.ts
  apps/dashboard/.storybook/preview.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/ui/button.stories.tsx
  apps/dashboard/src/components/ui/connection-banner.stories.tsx
  apps/dashboard/src/components/ui/empty-state.stories.tsx
  apps/dashboard/src/components/ui/error-panel.stories.tsx
  apps/dashboard/src/components/ui/form.stories.tsx
  apps/dashboard/src/components/ui/logo.stories.tsx
  apps/dashboard/src/components/ui/skeleton.stories.tsx
  apps/dashboard/src/components/ui/spinner.stories.tsx
  apps/dashboard/src/components/ui/success-feedback.stories.tsx
  apps/dashboard/src/components/ui/toast.stories.tsx
Due: none

docs(charts): add Storybook stories and README for chart components
  apps/dashboard/src/components/charts/AllocationChart.stories.tsx
  apps/dashboard/src/components/charts/EquityCurve.stories.tsx
  apps/dashboard/src/components/charts/Gauge.stories.tsx
  apps/dashboard/src/components/charts/README.md
  apps/dashboard/src/components/charts/ReturnsChart.stories.tsx
  apps/dashboard/src/components/charts/Sparkline.stories.tsx
  apps/dashboard/src/components/charts/TradingViewChart.stories.tsx
Due: none

test(charts): add TradingViewChart tests and chart data fixtures
  apps/dashboard/src/components/charts/TradingViewChart.test.ts
  apps/dashboard/src/components/charts/__fixtures__/chart-data.ts
Due: none

feat(websocket): add structured logging and Prometheus metrics
  apps/dashboard-api/src/websocket/logger.test.ts
  apps/dashboard-api/src/websocket/logger.ts
  apps/dashboard-api/src/websocket/metrics.test.ts
  apps/dashboard-api/src/websocket/metrics.ts
Due: none

feat(events): add event publisher for WebSocket broadcasting
  apps/dashboard-api/src/events/index.ts
  apps/dashboard-api/src/events/mappers.test.ts
  apps/dashboard-api/src/events/mappers.ts
  apps/dashboard-api/src/events/publisher.test.ts
  apps/dashboard-api/src/events/publisher.ts
  apps/dashboard-api/src/events/types.test.ts
  apps/dashboard-api/src/events/types.ts
Due: none

feat(websocket): add comprehensive security module
  apps/dashboard-api/src/websocket/security.test.ts
  apps/dashboard-api/src/websocket/security.ts
Due: none

feat(schema): add market_snapshot.proto and Rust generation
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.py
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/rust/cream/v1/cream.v1.serde.rs
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema/buf.gen.yaml
  packages/schema/cream/v1/market_snapshot.proto
Due: typescript

feat(domain): add complete Zod schemas mirroring Protobuf
  packages/domain/src/decision.ts
  packages/domain/src/execution.test.ts
  packages/domain/src/execution.ts
  packages/domain/src/index.ts
  packages/domain/src/marketSnapshot.test.ts
  packages/domain/src/marketSnapshot.ts
Due: typescript

feat(domain): add ISO-8601 timestamp utilities
  packages/domain/src/execution.ts
  packages/domain/src/index.ts
  packages/domain/src/marketSnapshot.test.ts
  packages/domain/src/marketSnapshot.ts
  packages/domain/src/time.test.ts
  packages/domain/src/time.ts
Due: typescript

chore: add AGPL-3.0-only license to project
  Cargo.toml
  LICENSE
  apps/evals/pyproject.toml
  apps/execution-engine/Cargo.toml
  apps/filings-service/pyproject.toml
  apps/vision-service/pyproject.toml
  package.json
  packages/research/pyproject.toml
Due: typescript, rust, python

chore: update Rust to 2024 edition
  Cargo.toml
  apps/execution-engine/Cargo.toml
Due: rust

fix: add missing beforeEach import in helix retrieval tests
  packages/helix/tests/integration/retrieval.test.ts
Due: none

feat(domain): add number precision safety utilities
  packages/domain/src/index.ts
  packages/domain/src/numbers.test.ts
  packages/domain/src/numbers.ts
Due: typescript

feat: comprehensive format and lint scripts for all languages
  .claude/ralph-loop.local.md
  .gitignore
  apps/evals/pyproject.toml
  apps/execution-engine/build.rs
  apps/execution-engine/src/lib.rs
  apps/filings-service/pyproject.toml
  apps/vision-service/pyproject.toml
  package.json
  packages/research/pyproject.toml
  ruff.toml
Due: typescript, rust, python

fix(ci): wrap hashFiles() in expression syntax for job conditionals
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

feat(ci): rewrite workflows with best practices
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

feat(ci): update all workflows with latest actions and best practices
  .github/workflows/agent-evals.yml
  .github/workflows/buf-check.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

fix(packages): export from source for workspace resolution in CI
  packages/config/package.json
  packages/domain/package.json
  packages/mocks/package.json
Due: typescript

fix(ci): make integration tests optional, remove unavailable HelixDB
  .github/workflows/test.yml
Due: none

fix(tests): make timing duration test less flaky
  packages/mastra-kit/src/tracing.test.ts
Due: none

feat(test): add testcontainers for integration tests
  .github/workflows/test.yml
  bun.lock
  package.json
  packages/test-fixtures/package.json
  packages/test-fixtures/src/containers/containers.test.ts
  packages/test-fixtures/src/containers/index.ts
  packages/test-fixtures/src/containers/manager.ts
  packages/test-fixtures/src/containers/turso.ts
Due: none

feat(storage): add Turso Database client wrapper
  CLAUDE.md
  bun.lock
  package.json
  packages/mocks/src/index.ts
  packages/mocks/src/turso.ts
  packages/storage/package.json
  packages/storage/src/index.ts
  packages/storage/src/turso.ts
  packages/storage/tsconfig.json
  packages/test-fixtures/src/containers/turso.ts
Due: typescript

chore: update all third-party libraries to latest versions
  CLAUDE.md
  Cargo.toml
  apps/api/package.json
  apps/dashboard-api/package.json
  apps/dashboard/package.json
  apps/execution-engine/Cargo.toml
  bun.lock
  package.json
  packages/config/package.json
  packages/domain/package.json
  packages/helix/package.json
  packages/mastra-kit/package.json
  packages/metrics/package.json
  packages/mocks/package.json
  packages/schema-gen/package.json
  packages/storage/package.json
  packages/test-fixtures/package.json
  packages/universe/package.json
Due: typescript, rust

chore(dashboard): remove Storybook
  apps/dashboard/.storybook/main.ts
  apps/dashboard/.storybook/preview.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/charts/AllocationChart.stories.tsx
  apps/dashboard/src/components/charts/EquityCurve.stories.tsx
  apps/dashboard/src/components/charts/Gauge.stories.tsx
  apps/dashboard/src/components/charts/ReturnsChart.stories.tsx
  apps/dashboard/src/components/charts/Sparkline.stories.tsx
  apps/dashboard/src/components/charts/TradingViewChart.stories.tsx
  apps/dashboard/src/components/ui/button.stories.tsx
  apps/dashboard/src/components/ui/connection-banner.stories.tsx
  apps/dashboard/src/components/ui/empty-state.stories.tsx
  apps/dashboard/src/components/ui/error-panel.stories.tsx
  apps/dashboard/src/components/ui/form.stories.tsx
  apps/dashboard/src/components/ui/logo.stories.tsx
  apps/dashboard/src/components/ui/skeleton.stories.tsx
  apps/dashboard/src/components/ui/spinner.stories.tsx
  apps/dashboard/src/components/ui/success-feedback.stories.tsx
  apps/dashboard/src/components/ui/toast.stories.tsx
  bun.lock
Due: none

feat(execution-engine): implement Rust execution engine with HTTP API
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/gateway.rs
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/state.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/models/constraint.rs
  apps/execution-engine/src/models/decision.rs
  apps/execution-engine/src/models/environment.rs
  apps/execution-engine/src/models/mod.rs
  apps/execution-engine/src/models/order.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/risk/mod.rs
  apps/execution-engine/src/server/http.rs
  apps/execution-engine/src/server/mod.rs
Due: rust

feat(execution-engine): add rich error handling with tonic-types
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/error.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/server/http.rs
Due: rust

feat(execution-engine): add retry policies with exponential backoff
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/broker/mod.rs
  apps/execution-engine/src/broker/retry.rs
  apps/execution-engine/src/lib.rs
Due: rust

feat(execution-engine): add circuit breaker for service resilience
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/resilience/circuit_breaker.rs
  apps/execution-engine/src/resilience/mod.rs
Due: rust

feat(execution-engine): add Prometheus metrics for observability
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/observability/metrics.rs
  apps/execution-engine/src/observability/mod.rs
Due: rust

feat(execution-engine): add OpenTelemetry distributed tracing
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/observability/mod.rs
  apps/execution-engine/src/observability/tracing.rs
Due: rust

feat(helix): implement HelixDB client with query helpers
  bun.lock
  packages/helix/package.json
  packages/helix/src/client.ts
  packages/helix/src/index.ts
  packages/helix/src/queries/export.ts
  packages/helix/src/queries/graph.ts
  packages/helix/src/queries/vector.ts
  packages/helix/tests/client.test.ts
Due: typescript

feat(broker): add Alpaca Markets broker client
  bun.lock
  packages/broker/package.json
  packages/broker/src/client.ts
  packages/broker/src/index.ts
  packages/broker/src/types.ts
  packages/broker/src/utils.ts
  packages/broker/tests/client.test.ts
  packages/broker/tests/utils.test.ts
  packages/broker/tsconfig.json
Due: typescript

feat(risk): implement comprehensive constraint validation service
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/risk/mod.rs
Due: rust

feat(schema): update Buf config and regenerate protobuf code
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema/buf.lock
  packages/schema/buf.yaml
  packages/schema/package.json
Due: typescript

test(config): add comprehensive loader tests
  packages/config/src/loader.test.ts
Due: none

feat(helix-schema): define complete HelixQL schema for all 9 node types
  packages/helix-schema/package.json
  packages/helix-schema/schema.hx
  packages/helix-schema/src/index.ts
  packages/helix-schema/tests/schema.test.ts
  packages/helix-schema/tsconfig.json
Due: typescript

feat(domain): add LLM output parsing with retry logic
  packages/domain/src/index.ts
  packages/domain/src/llm-parsing.test.ts
  packages/domain/src/llm-parsing.ts
Due: typescript

docs: add comprehensive README.md with critical warnings
  README.md
Due: none

feat(helix-schema): add Gemini embedding integration
  packages/helix-schema/package.json
  packages/helix-schema/src/embeddings.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/tests/embeddings.test.ts
Due: typescript
