Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

feat(dashboard-api): make isMarketHours holiday-aware
  apps/dashboard-api/src/routes/market/types.ts
Due: none

feat(dashboard-api): initialize CalendarService on startup
  apps/dashboard-api/src/index.ts
  packages/domain/src/index.ts
Due: typescript

feat(dashboard): reorganize sidebar and rename dashboard to console
  apps/dashboard/src/app/(auth)/console/components/AlertsBanner.tsx
  apps/dashboard/src/app/(auth)/console/components/DashboardHeader.tsx
  apps/dashboard/src/app/(auth)/console/components/EventFeedSection.tsx
  apps/dashboard/src/app/(auth)/console/components/MetricCard.tsx
  apps/dashboard/src/app/(auth)/console/components/OODAPhaseCard.tsx
  apps/dashboard/src/app/(auth)/console/components/OODAPhaseGrid.tsx
  apps/dashboard/src/app/(auth)/console/components/PortfolioSummary.tsx
  apps/dashboard/src/app/(auth)/console/components/RecentDecisions.tsx
  apps/dashboard/src/app/(auth)/console/components/SystemStatusBanner.tsx
  apps/dashboard/src/app/(auth)/console/components/TradingCycleControl.tsx
  apps/dashboard/src/app/(auth)/console/components/index.ts
  apps/dashboard/src/app/(auth)/console/hooks.ts
  apps/dashboard/src/app/(auth)/console/page.tsx
  apps/dashboard/src/app/(auth)/console/types.ts
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/ui/ticker-strip.tsx
Due: none

feat(worker): add CalendarService initialization at startup
  apps/worker/src/index.ts
Due: none

feat(dashboard-api): add calendar REST endpoints
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/calendar.ts
  apps/dashboard-api/src/routes/index.ts
Due: none

feat(external-context): add FRED economic event parser
  bun.lock
  packages/external-context/package.json
  packages/external-context/src/parsers/index.ts
  packages/external-context/src/parsers/macroParser.ts
Due: typescript

feat(external-context): add FRED observations parser
  packages/external-context/src/parsers/index.ts
  packages/external-context/src/parsers/macroParser.ts
Due: typescript

feat(external-context): export FRED parser functions and types
  packages/external-context/src/index.ts
Due: typescript

test(external-context): add FRED parser unit tests
  packages/external-context/tests/parsers.test.ts
Due: none

test(dashboard-api): add calendar API endpoint tests
  apps/dashboard-api/src/routes/calendar.test.ts
Due: none

feat(dashboard): add React Query hooks for calendar API
  apps/dashboard/src/hooks/useCalendar.ts
  apps/dashboard/src/lib/api/query-client.ts
Due: none

feat(dashboard): add API-based market hours hooks
  apps/dashboard/src/lib/market-hours.ts
Due: none

feat(dashboard): add Calendar link to sidebar navigation
  apps/dashboard/src/components/layout/Sidebar.tsx
Due: none

feat(mastra-kit,dashboard-types): add FRED client and economic calendar types
  packages/dashboard-types/src/api/economic-calendar.ts
  packages/dashboard-types/src/api/index.ts
  packages/mastra-kit/src/tools/clients.ts
Due: typescript

feat(tools,marketdata,dashboard): add economic calendar implementations
  apps/dashboard/package.json
  apps/dashboard/src/lib/schedule-x-config.ts
  bun.lock
  packages/marketdata/src/providers/fmp.ts
  packages/mastra-kit/src/tools/implementations/fred.ts
Due: typescript

feat: add economic calendar API and FRED macro indicators
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/economic-calendar.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/services/economic-calendar.ts
  packages/domain/src/calendar/alpaca-client.integration.test.ts
  packages/marketdata/src/providers/index.ts
  packages/mastra-kit/src/tools/implementations/fred.ts
Due: typescript

feat: add FRED tool tests and economic calendar caching
  apps/dashboard-api/src/services/economic-calendar.ts
  packages/mastra-kit/src/tools/clients.ts
  packages/mastra-kit/src/tools/implementations/fred.test.ts
Due: typescript

feat(mastra-kit): add FRED economic calendar and macro indicators tools
  packages/mastra-kit/src/tools/clients.ts
  packages/mastra-kit/src/tools/definitions/dataTools.ts
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/implementations/fred.test.ts
Due: typescript

test(dashboard-api): add economic calendar API integration tests
  apps/dashboard-api/src/routes/economic-calendar.test.ts
Due: none

feat(mastra-kit): register FRED tools in tool registry
  packages/mastra-kit/src/tools/implementations/index.ts
  packages/mastra-kit/src/tools/registry.ts
Due: typescript

feat(api): integrate FRED into gatherExternalContext workflow
  apps/api/src/steps/gatherExternalContext.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

test(api): add FRED integration tests for gatherExternalContext
  apps/api/src/steps/gatherExternalContext.integration.test.ts
Due: none

feat(dashboard-api): replace FMP with FRED for economic calendar
  apps/dashboard-api/package.json
  apps/dashboard-api/src/services/economic-calendar.ts
  bun.lock
Due: none

feat(dashboard): add useEconomicCalendar TanStack Query hook
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useEconomicCalendar.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/market.ts
Due: none

feat(dashboard): add EconomicCalendarWidget component
  apps/dashboard/src/components/market/EconomicCalendarWidget.tsx
  apps/dashboard/src/components/market/index.ts
Due: none

feat(dashboard): integrate EconomicCalendarWidget and improve system controls
  apps/dashboard/src/app/(auth)/console/components/DashboardHeader.tsx
  apps/dashboard/src/app/(auth)/console/page.tsx
  apps/dashboard/src/app/(auth)/console/types.ts
Due: none

feat(dashboard): restore UI improvements and fix design consistency
  apps/dashboard/src/app/(auth)/console/components/TradingCycleControl.tsx
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/feed/SymbolStream.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/portfolio/AccountSummaryCard.tsx
  apps/dashboard/src/components/portfolio/EquityCurveChart.tsx
  apps/dashboard/src/components/portfolio/PerformanceGrid.tsx
  apps/dashboard/src/stores/preferences-store.test.ts
  apps/dashboard/src/stores/preferences-store.ts
Due: none

feat(dashboard): add EconomicCalendar page with Schedule-X integration
  .env.example
  CLAUDE.md
  apps/dashboard/src/app/(auth)/calendar/components/EconomicCalendar.tsx
  apps/dashboard/src/app/(auth)/calendar/loading.tsx
  apps/dashboard/src/app/(auth)/calendar/page.tsx
Due: none

feat(dashboard): add EventCard and CalendarFilters to calendar page
  apps/dashboard/src/app/(auth)/calendar/components/CalendarFilters.tsx
  apps/dashboard/src/app/(auth)/calendar/components/EconomicCalendar.tsx
  apps/dashboard/src/app/(auth)/calendar/components/EventCard.tsx
Due: none

feat(dashboard): add EventDetailDrawer for economic calendar
  apps/dashboard/src/app/(auth)/calendar/components/EventDetailDrawer.tsx
Due: none

feat(dashboard): add historical releases sparkline to event drawer
  apps/dashboard-api/package.json
  apps/dashboard-api/src/routes/economic-calendar.ts
  apps/dashboard-api/src/services/economic-calendar.ts
  apps/dashboard/src/app/(auth)/calendar/components/EventDetailDrawer.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useEconomicCalendar.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/market.ts
  bun.lock
Due: none

feat(dashboard): improve calendar loading and empty states
  apps/dashboard/src/app/(auth)/calendar/components/EconomicCalendar.tsx
  apps/dashboard/src/app/(auth)/calendar/loading.tsx
Due: none

feat(dashboard): add mobile responsive design to economic calendar
  apps/dashboard/src/app/(auth)/calendar/components/CalendarFilters.tsx
  apps/dashboard/src/app/(auth)/calendar/components/EconomicCalendar.tsx
  apps/dashboard/src/app/(auth)/calendar/components/EventCard.tsx
  apps/dashboard/src/app/(auth)/calendar/components/EventDetailDrawer.tsx
  apps/dashboard/src/app/(auth)/calendar/loading.tsx
Due: none

test(dashboard): add unit tests for economic calendar components
  apps/dashboard/src/app/(auth)/calendar/components/__tests__/CalendarFilters.test.ts
  apps/dashboard/src/app/(auth)/calendar/components/__tests__/EventCard.test.ts
  apps/dashboard/src/app/(auth)/calendar/components/__tests__/EventDetailDrawer.test.ts
  apps/dashboard/src/hooks/queries/__tests__/useEconomicCalendar.test.ts
Due: none

test(dashboard): add E2E tests for economic calendar page
  apps/dashboard/e2e/calendar.integration.ts
Due: none

fix(domain): fix CI test failures in Alpaca client and env validation
  packages/domain/src/calendar/alpaca-client.test.ts
  packages/domain/src/calendar/alpaca-client.ts
  packages/domain/src/env.test.ts
Due: typescript

refactor: remove all Databento references
  .env.live.example
  .env.local.example
  ARCHITECTURE.md
  PROJECT.md
  apps/execution-engine/README.md
  apps/execution-engine/config.yaml
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/resilience/circuit_breaker.rs
  apps/worker/README.md
  apps/worker/src/index.ts
  apps/worker/src/marketdata.ts
  packages/config/src/keyRotation.test.ts
  packages/config/src/keyRotation/registry.ts
  packages/config/src/keyRotation/types.ts
  packages/config/src/startup.ts
  packages/domain/src/clock.test.ts
  packages/domain/src/clock.ts
  packages/domain/src/index.ts
  packages/domain/src/parity.test.ts
  packages/domain/src/parity.ts
  packages/marketdata/README.md
  packages/marketdata/fixtures/databento/.gitkeep
  packages/marketdata/fixtures/databento/quotes-AAPL.json
  packages/marketdata/fixtures/databento/trades-AAPL.json
  packages/marketdata/src/factory.ts
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/marketdata/src/mock/mock-adapter.ts
  packages/marketdata/src/validation/external.ts
  packages/storage/src/repositories/candles.test.ts
  scripts/seed-fixtures/README.md
  scripts/seed-fixtures/fetch-databento.py
  scripts/seed-fixtures/run-all.sh
  turbo.json
Due: typescript, rust

chore: remove all Polygon/Massive references
  .env.live.example
  .env.local.example
  PROJECT.md
  docker-compose.prod.yml
  docker-compose.yml
  packages/config/README.md
  packages/config/src/keyRotation.test.ts
  packages/config/src/keyRotation/registry.ts
  packages/config/src/keyRotation/types.ts
  packages/config/src/schemas/universe.ts
  packages/config/src/startup.ts
  packages/domain/src/events.ts
  packages/domain/src/parity.test.ts
  packages/domain/src/parity.ts
  packages/infra/README.md
  packages/logger/src/redaction.ts
  packages/marketdata/README.md
  packages/marketdata/fixtures/alpaca/candles-1h-AAPL.json
  packages/marketdata/fixtures/alpaca/quote-AAPL.json
  packages/marketdata/fixtures/alpaca/trades-AAPL.json
  packages/marketdata/fixtures/massive/.gitkeep
  packages/marketdata/src/factory.ts
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/marketdata/src/mock/mock-adapter.ts
  packages/schema-gen/python/cream/v1/events_pb2.py
  packages/schema-gen/python/cream/v1/events_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema/cream/v1/events.proto
  packages/storage/migrations/init/03_market_data.sql
  packages/storage/src/repositories/candles.test.ts
  packages/storage/src/repositories/candles.ts
  scripts/seed-fixtures/README.md
  scripts/seed-fixtures/fetch-massive.ts
  scripts/seed-fixtures/run-all.sh
  turbo.json
Due: typescript

fix(dashboard): update /dashboard redirects to /console
  apps/dashboard/README.md
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/QueryErrorBoundary.tsx
  apps/dashboard/src/components/layout/MobileNav.tsx
  apps/dashboard/src/components/providers/keyboard-shortcuts-provider.tsx
  apps/dashboard/src/contexts/AuthContext.tsx
  apps/dashboard/src/lib/hooks/useKeyboardShortcuts.ts
Due: none

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
