Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

refactor(dashboard): merge classify-thought into summarize-reasoning endpoint
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/hooks/useStatusNarrative.ts
  apps/dashboard/src/hooks/useThoughtClassification.ts
  packages/agents/src/extraction/client.ts
Due: typescript

fix(agents): require tool-based academic citations to prevent critic rejections
  packages/agents/src/agents/configs/bearishResearcher.ts
  packages/agents/src/agents/configs/bullishResearcher.ts
  packages/agents/src/prompts/bearishResearcher.ts
  packages/agents/src/prompts/bullishResearcher.ts
  packages/agents/src/prompts/trader.ts
Due: typescript

fix(dashboard): lock thought type on completion to prevent style flickering
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
Due: none

fix(agents): set maxSteps to 100 to allow tool-calling agents to complete
  apps/api/src/mastra/agents/factory.ts
Due: none

fix(alpaca): normalize option symbols to remove whitespace before API calls
  apps/execution-engine/src/execution/alpaca/mod.rs
Due: rust

feat(grounding): stream Grok tool calls to UI
  apps/api/src/mastra/agents/grok-config.ts
  apps/api/src/mastra/agents/grounding.ts
Due: none

feat(dashboard): integrate LogoKit for company logos in UI
  .env.example
  apps/api/src/mastra/agents/grounding.ts
  apps/api/src/mastra/agents/stream-forwarder.ts
  apps/api/src/mastra/agents/types.ts
  apps/dashboard-api/src/routes/system/worker-events.ts
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/src/websocket/index.ts
  apps/dashboard/src/app/(auth)/decisions/[id]/components/DecisionHeader.tsx
  apps/dashboard/src/app/(auth)/decisions/page.tsx
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
  apps/dashboard/src/components/portfolio/PositionRow.tsx
  apps/dashboard/src/components/ui/source-logo.tsx
  apps/dashboard/src/components/ui/source-pill.tsx
  apps/dashboard/src/components/ui/ticker-badge.tsx
  apps/dashboard/src/hooks/useAgentStreaming.ts
  apps/dashboard/src/lib/config.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
  packages/domain/src/env.ts
  packages/domain/src/index.ts
  packages/domain/src/logokit.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

feat(helix): wire autonomous ingestion for NewsItems and ThesisMemory
  .env.example
  apps/api/src/mastra/agents/grounding.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard/src/lib/config.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.test.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.ts
  apps/worker/src/index.ts
  apps/worker/src/shared/health-server.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/definitions/tradingTools.ts
  packages/domain/src/logokit.ts
  packages/filings/src/edgar-client.ts
  packages/helix-schema/config.hx.json
  packages/helix-schema/queries.hx
  packages/helix/src/index.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/indicator-ingestion.ts
Due: typescript

refactor(execution-engine): remove clippy suppressions, fix underlying issues
  apps/execution-engine/build.rs
  apps/execution-engine/src/application/ports/risk_repository_port.rs
  apps/execution-engine/src/application/use_cases/submit_orders.rs
  apps/execution-engine/src/domain/option_position/value_objects/leg.rs
  apps/execution-engine/src/domain/order_execution/aggregate/mod.rs
  apps/execution-engine/src/domain/order_execution/aggregate/order.rs
  apps/execution-engine/src/domain/risk_management/value_objects/exposure.rs
  apps/execution-engine/src/domain/shared/value_objects/money.rs
  apps/execution-engine/src/domain/shared/value_objects/quantity.rs
  apps/execution-engine/src/infrastructure/broker/alpaca/adapter.rs
  apps/execution-engine/src/infrastructure/broker/alpaca/http_client.rs
  apps/execution-engine/src/infrastructure/price_feed/alpaca.rs
  apps/execution-engine/src/infrastructure/price_feed/mock.rs
  apps/execution-engine/src/main.rs
Due: rust

fix(filings): make OPERATOR_EMAIL validation lazy
  packages/filings/src/edgar-client.ts
Due: typescript

fix(execution-engine): allow pedantic clippy lints in test code
  apps/execution-engine/src/application/use_cases/cancel_orders.rs
  apps/execution-engine/src/domain/risk_management/services/risk_validation_service.rs
  apps/execution-engine/src/infrastructure/broker/alpaca/config.rs
  apps/execution-engine/src/infrastructure/grpc/service.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/tests/fixture_e2e_test.rs
Due: rust

fix(agents): use singleton Semantic Scholar client for rate limiting
  packages/agents/src/tools/implementations/academicPapers.ts
Due: typescript

feat(constraints): pass runtime risk constraints to trading agents
  apps/api/src/mastra/agents/approvers.ts
  apps/api/src/mastra/agents/consensus.ts
  apps/api/src/mastra/agents/prompts.ts
  apps/api/src/mastra/agents/trader.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
  apps/execution-engine/src/infrastructure/grpc/market_data_service.rs
  apps/execution-engine/src/infrastructure/grpc/service.rs
  apps/execution-engine/src/infrastructure/marketdata/adapter.rs
  apps/execution-engine/src/infrastructure/marketdata/mod.rs
  packages/agents/src/prompts/riskManager.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/definitions/academicPaperTools.ts
  packages/config/src/runtime-config/defaults.ts
  packages/config/src/runtime-config/types.ts
  packages/proto/cream/v1/execution.proto
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/storage/src/repositories/constraints-config.ts
  packages/storage/src/schema/config.ts
Due: typescript, rust

chore: include pre-existing changes from working directory
  apps/api/src/mastra/agents/factory.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/thesis.ts
  apps/api/tests/agents.test.ts
  apps/execution-engine/src/application/ports/market_data_port.rs
  apps/execution-engine/src/application/ports/mod.rs
  apps/execution-engine/src/infrastructure/broker/alpaca/api_types.rs
  apps/execution-engine/src/infrastructure/broker/alpaca/mod.rs
  apps/execution-engine/src/infrastructure/grpc/mod.rs
  apps/execution-engine/src/infrastructure/mod.rs
  apps/execution-engine/src/main.rs
  packages/agents/src/agents/configs/bearishResearcher.ts
  packages/agents/src/agents/configs/bullishResearcher.ts
  packages/agents/src/agents/configs/trader.ts
  packages/agents/src/prompts/bearishResearcher.ts
  packages/agents/src/prompts/bullishResearcher.ts
  packages/agents/src/tools/definitions/index.ts
  packages/agents/src/tools/implementations/academicPapers.ts
  packages/agents/src/tools/index.ts
  packages/external-context/src/academic/semanticScholar.ts
  packages/helix/src/services/paper-ingestion.ts
  packages/schema-gen/rust/cream/v1/cream.v1.tonic.rs
Due: typescript, rust

chore: remove Indicator Synthesis feature remnants
  ARCHITECTURE.md
  apps/api/src/db.ts
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/workers.test.ts
  apps/dashboard-api/src/routes/workers.ts
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard-api/src/websocket/index.ts
  apps/dashboard/src/app/(auth)/workers/page.tsx
  apps/dashboard/src/components/workers/ServiceStatusCard.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
  apps/dashboard/src/hooks/queries/useWorkerServices.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
  packages/helix-schema/queries.hx
  packages/helix-schema/schema.hx
  packages/helix-schema/src/edge-types.ts
  packages/helix-schema/src/enums.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/node-types.ts
  packages/helix-schema/tests/schema.test.ts
  packages/helix/src/index.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/indicator-ingestion.ts
  packages/indicators/src/types/index.ts
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/indicator-sync-runs.ts
  packages/storage/src/repositories/indicators.ts
  packages/storage/src/schema/enums.ts
  packages/storage/src/schema/indicators.ts
  packages/storage/src/schema/relations.ts
  scripts/fetch-indicator-metadata.ts
  scripts/update-indicator-exports.ts
Due: typescript

fix(agents): remove academic citation requirements
  apps/api/src/mastra/agents/approvers.ts
  apps/api/src/mastra/agents/schemas.ts
  packages/agents/src/prompts/bearishResearcher.ts
  packages/agents/src/prompts/bullishResearcher.ts
  packages/agents/src/prompts/critic.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/types.ts
Due: typescript

fix(tests): update workers test for indicator_synthesis removal
  apps/dashboard-api/src/routes/workers.test.ts
Due: none

fix(dashboard): prevent sidebar toggle from being overridden
  apps/dashboard/src/app/(auth)/layout.tsx
Due: none

feat(macro-watch): improve news scanning and deduplication
  apps/api/src/mastra/workflows/macro-watch/scanners/news.ts
  apps/api/src/mastra/workflows/macro-watch/workflow.ts
Due: none

feat(act): add proper order types and structured logging
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
Due: none

feat(execution-engine): implement constraint validation with risk service
  apps/execution-engine/src/infrastructure/grpc/service.rs
Due: rust

fix(worker): reload config before macro watch
  apps/worker/src/index.ts
Due: none

style(execution-engine): apply rustfmt formatting
  apps/execution-engine/src/infrastructure/grpc/service.rs
Due: rust

refactor(marketdata): remove AlphaVantage provider
  packages/marketdata/README.md
  packages/marketdata/fixtures/alphavantage/.gitkeep
  packages/marketdata/fixtures/alphavantage/federal-funds-rate.json
  packages/marketdata/fixtures/alphavantage/real-gdp.json
  packages/marketdata/src/providers/alphavantage.ts
  packages/marketdata/src/providers/index.ts
  packages/marketdata/tests/alphavantage.test.ts
Due: typescript

refactor(config): remove AlphaVantage key rotation
  packages/config/src/keyRotation.test.ts
  packages/config/src/keyRotation/registry.ts
  packages/config/src/keyRotation/types.ts
  packages/config/src/startup.ts
Due: typescript

refactor(external-context): remove AlphaVantage macro parsing
  packages/external-context/src/index.ts
  packages/external-context/src/parsers/index.ts
  packages/external-context/src/parsers/macroParser.ts
  packages/external-context/src/pipeline.ts
  packages/external-context/tests/parsers.test.ts
Due: typescript

refactor(domain): remove ALPHAVANTAGE_KEY from env schema
  packages/domain/src/env.ts
Due: typescript

feat(proto): add FRED data source, deprecate Alpha Vantage
  packages/domain/src/events.ts
  packages/proto/cream/v1/events.proto
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/events_pb.ts
Due: typescript

refactor(storage): remove migrations, use push-only workflow
  packages/storage/drizzle.config.ts
  packages/storage/drizzle/0000_init.sql
  packages/storage/drizzle/0001_allow-zero-size.sql
  packages/storage/drizzle/0002_drop-backtest-tables.sql
  packages/storage/drizzle/0003_rename-technical-to-grounding.sql
  packages/storage/drizzle/0004_drop-python-module.sql
  packages/storage/drizzle/0005_drop-factor-zoo-tables.sql
  packages/storage/drizzle/meta/0000_snapshot.json
  packages/storage/drizzle/meta/0001_snapshot.json
  packages/storage/drizzle/meta/_journal.json
  packages/storage/package.json
Due: typescript

feat(worker): add economic calendar sync service
  apps/dashboard-api/src/services/economic-calendar.ts
  apps/worker/src/contexts/economic-calendar/economic-calendar-service.ts
  apps/worker/src/contexts/economic-calendar/index.ts
  apps/worker/src/contexts/scheduling/index.ts
  apps/worker/src/contexts/scheduling/scheduler-manager.ts
  apps/worker/src/contexts/scheduling/time-calculator.ts
  apps/worker/src/index.ts
  apps/worker/src/shared/run-recorder.ts
  packages/storage/src/repositories/economic-calendar.ts
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/indicator-sync-runs.ts
  packages/storage/src/schema/external.ts
Due: typescript

feat(macro-watch): update scanners to use FRED data source
  apps/api/src/mastra/workflows/macro-watch/scanners/economic.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/movers.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/news.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/prediction.ts
  apps/api/src/mastra/workflows/macro-watch/workflow.ts
Due: none

style(act): fix import formatting
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
Due: none

refactor(marketdata): remove AlphaVantage from mock adapter
  packages/marketdata/src/index.ts
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/marketdata/src/mock/mock-adapter.ts
  packages/marketdata/src/validation/external.ts
Due: typescript

chore(turbo): consolidate config and improve caching
  apps/dashboard/turbo.json
  apps/execution-engine/turbo.json
  turbo.json
Due: rust

chore: update root config and documentation
  .env.example
  CLAUDE.md
  package.json
Due: none

feat(storage): run drizzle studio via dev script
  package.json
  packages/storage/package.json
Due: typescript

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
