Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(execution-engine): Implement portfolio state recovery after crashes
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/persistence.rs
  apps/execution-engine/src/execution/reconciliation.rs
  apps/execution-engine/src/execution/recovery.rs
Due: rust

feat(domain): Implement gross and net exposure calculation
  packages/domain/src/exposure.test.ts
  packages/domain/src/exposure.ts
  packages/domain/src/index.ts
Due: typescript

feat(helix-schema): Implement Case-Based Reasoning (CBR) retrieval integration
  packages/helix-schema/src/cbr.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/tests/cbr.test.ts
Due: typescript

feat(execution-engine): Add DTE and IV rank sizing adjustments for options
  apps/execution-engine/src/risk/sizing.rs
Due: rust

feat(execution-engine): Add risk limits enforcement (per-trade, R:R, correlation)
  apps/execution-engine/src/risk/constraints.rs
Due: rust

feat(options): Implement expiration handling with auto-close policies and pin risk
  apps/worker/src/monitors/expiration.ts
  packages/domain/src/schemas/expiration.test.ts
  packages/domain/src/schemas/expiration.ts
  packages/domain/src/schemas/index.ts
Due: typescript

chore: Install Husky 9 and setup pre-commit hooks for format/lint
  .husky/pre-commit
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/reconciliation.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/risk/constraints.rs
  bun.lock
  package.json
  packages/research/research/evaluator/post_execution.py
  packages/research/research/flight_client.py
  packages/research/tests/test_greeks_portfolio.py
Due: typescript, rust, python

fix(dashboard): Fix accessibility and lint issues in ChartStates
  apps/dashboard/src/components/charts/ChartStates.tsx
Due: none

feat(schema): Add Protobuf versioning strategy and reserved field documentation
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.py
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema/SCHEMA_EVOLUTION.md
  packages/schema/buf.yaml
  packages/schema/cream/v1/common.proto
  packages/schema/cream/v1/decision.proto
  packages/schema/cream/v1/events.proto
  packages/schema/cream/v1/execution.proto
  packages/schema/cream/v1/market_snapshot.proto
Due: typescript

refactor(schema): Remove unnecessary backwards compatibility
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.py
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema/SCHEMA_EVOLUTION.md
  packages/schema/buf.yaml
  packages/schema/cream/v1/common.proto
  packages/schema/cream/v1/decision.proto
  packages/schema/cream/v1/events.proto
  packages/schema/cream/v1/execution.proto
  packages/schema/cream/v1/market_snapshot.proto
Due: typescript

feat(helix-schema): Implement thesis-to-HelixDB memory ingestion
  apps/api/workflows/steps/index.ts
  apps/api/workflows/steps/thesisMemoryIngestion.ts
  packages/helix-schema/schema.hx
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/thesisMemory.ts
  packages/helix-schema/tests/thesisMemory.test.ts
Due: typescript

feat(domain): Implement snapshot size limits and performance monitoring
  packages/domain/src/index.ts
  packages/domain/src/snapshot-limits.test.ts
  packages/domain/src/snapshot-limits.ts
Due: typescript

feat(domain): Implement snapshot logging and observability
  packages/domain/src/index.ts
  packages/domain/src/snapshot-logging.test.ts
  packages/domain/src/snapshot-logging.ts
Due: typescript

feat(execution-engine): Implement data gap detection for backtest simulation
  apps/execution-engine/src/backtest/data_gaps.rs
  apps/execution-engine/src/backtest/mod.rs
  packages/research/.coverage
  packages/research/coverage.xml
Due: typescript, rust, python

feat(execution-engine): Implement backtest simulation logging
  apps/execution-engine/src/backtest/logging.rs
  apps/execution-engine/src/backtest/mod.rs
Due: rust

feat(execution-engine): Implement look-ahead bias prevention
  apps/execution-engine/src/backtest/look_ahead.rs
  apps/execution-engine/src/backtest/mod.rs
Due: rust

feat(execution-engine): Implement backtest result file cleanup
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/backtest/cleanup.rs
  apps/execution-engine/src/backtest/mod.rs
Due: rust

feat(execution-engine): Implement backtest security controls
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/security.rs
Due: rust

feat(research): Implement expected value computation with probability estimates
  packages/research/.coverage
  packages/research/coverage.xml
  packages/research/research/evaluator/__init__.py
  packages/research/research/evaluator/expected_value.py
  packages/research/tests/test_expected_value.py
Due: typescript, python

feat(execution-engine): Implement parallel backtesting with Rayon
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/parallel.rs
Due: rust

feat(research): Add comprehensive error hierarchy and data validation
  packages/research/.coverage
  packages/research/coverage.xml
  packages/research/research/__init__.py
  packages/research/research/errors.py
  packages/research/research/validation.py
  packages/research/tests/test_errors.py
  packages/research/tests/test_validation.py
Due: typescript, python

feat: Add version validation script for runtime and dependency checks
  package.json
  scripts/validate-versions.ts
Due: none

feat: Add seed-fixtures infrastructure for API fixture generation
  .env.local.example
  packages/marketdata/fixtures/alpaca/.gitkeep
  packages/marketdata/fixtures/alphavantage/.gitkeep
  packages/marketdata/fixtures/databento/.gitkeep
  packages/marketdata/fixtures/fmp/.gitkeep
  packages/marketdata/fixtures/massive/.gitkeep
  scripts/seed-fixtures/README.md
Due: typescript

feat: Add fetch-alpaca.ts fixture script for paper trading data
  scripts/seed-fixtures/fetch-alpaca.ts
Due: none

feat: Add fetch-massive.ts for Polygon/Massive.com market data fixtures
  scripts/seed-fixtures/fetch-massive.ts
Due: none

feat: Add fixture scripts for FMP, Alpha Vantage, and Databento
  scripts/seed-fixtures/fetch-alphavantage.ts
  scripts/seed-fixtures/fetch-databento.py
  scripts/seed-fixtures/fetch-fmp.ts
Due: none

feat(marketdata): Add fixture-loading mock adapter with error simulation
  packages/marketdata/fixtures/alpaca/account.json
  packages/marketdata/fixtures/alpaca/orders.json
  packages/marketdata/fixtures/alpaca/positions.json
  packages/marketdata/fixtures/alphavantage/federal-funds-rate.json
  packages/marketdata/fixtures/alphavantage/real-gdp.json
  packages/marketdata/fixtures/databento/quotes-AAPL.json
  packages/marketdata/fixtures/databento/trades-AAPL.json
  packages/marketdata/fixtures/fmp/profile-AAPL.json
  packages/marketdata/fixtures/massive/candles-1h-AAPL.json
  packages/marketdata/fixtures/massive/quote-AAPL.json
  packages/marketdata/fixtures/massive/trades-AAPL.json
  packages/marketdata/src/mock/index.ts
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/marketdata/src/mock/mock-adapter.ts
Due: typescript

feat: Add database backup and restore scripts
  scripts/backup.sh
  scripts/restore.sh
Due: none

feat(design-system): Add design system foundation package
  packages/design-system/package.json
  packages/design-system/src/config/index.ts
  packages/design-system/src/config/tailwind.ts
  packages/design-system/src/index.ts
  packages/design-system/src/tokens/colors.ts
  packages/design-system/src/tokens/index.ts
  packages/design-system/src/tokens/motion.ts
  packages/design-system/src/tokens/spacing.ts
  packages/design-system/src/tokens/typography.ts
  packages/design-system/src/types/index.ts
  packages/design-system/styles/globals.css
  packages/design-system/styles/tailwind.css
  packages/design-system/tsconfig.json
Due: typescript

feat(ui): Add border radius tokens and Lucide Icons component
  apps/dashboard/package.json
  apps/dashboard/src/components/ui/icon.test.tsx
  apps/dashboard/src/components/ui/icon.tsx
  bun.lock
  packages/design-system/src/config/tailwind.ts
  packages/design-system/src/tokens/index.ts
  packages/design-system/src/tokens/radius.ts
  packages/design-system/src/types/index.ts
  packages/design-system/styles/globals.css
Due: typescript

feat(seed-fixtures): Add master fixture generation script
  scripts/seed-fixtures/run-all.sh
Due: none

fix: Resolve CI lint and type errors
  apps/dashboard/package.json
  apps/dashboard/public/fonts/.gitkeep
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/styles/reset.css
  apps/dashboard/src/styles/tokens/typography.css
  apps/dashboard/tailwind.config.ts
  bun.lock
  packages/domain/src/arrow/client.ts
  packages/domain/src/exposure.test.ts
  packages/domain/src/exposure.ts
  packages/domain/src/schemas/expiration.test.ts
  packages/domain/src/schemas/expiration.ts
  packages/domain/src/schemas/index.ts
  packages/helix-schema/tests/schema.test.ts
Due: typescript

fix(helix-schema): Resolve typecheck errors
  bun.lock
  packages/helix-schema/package.json
  packages/helix-schema/src/cbr.ts
  packages/helix-schema/src/thesisMemory.ts
Due: typescript

fix(helix-schema): Remove cyclic dependency on @cream/helix
  bun.lock
  packages/helix-schema/package.json
  packages/helix-schema/src/cbr.ts
  packages/helix-schema/src/thesisMemory.ts
Due: typescript

fix(domain): Add schemas and time subpath exports
  apps/worker/package.json
  bun.lock
  packages/domain/package.json
Due: typescript

fix: Resolve remaining CI typecheck errors
  apps/dashboard/src/components/charts/AllocationChart.tsx
  bun.lock
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/marketdata/src/providers/databento.ts
  packages/universe/package.json
Due: typescript

ci: Temporarily disable coverage workflow
  .github/workflows/coverage.yml.disabled
Due: none

ci: Remove coverage from test workflow
  .github/workflows/test.yml
Due: none

fix(tests): Skip dashboard JSX tests and fix calendar-aware gap test
  apps/dashboard/src/components/ui/ConnectionStatus.test.tsx.skip
  apps/dashboard/src/components/ui/agent-streaming-output.test.tsx.skip
  apps/dashboard/src/components/ui/animated-number.test.tsx.skip
  apps/dashboard/src/components/ui/event-feed.test.tsx.skip
  apps/dashboard/src/components/ui/icon.test.tsx.skip
  apps/dashboard/src/components/ui/price-ticker.test.tsx.skip
  apps/dashboard/src/components/ui/status-dot.test.tsx.skip
  apps/dashboard/src/components/ui/system-health-badge.test.tsx.skip
  apps/dashboard/src/styles/animations.test.ts.skip
  bunfig.toml
  packages/marketdata/src/validation/validation.test.ts
Due: none
