Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

feat(indicators): implement paper trading signal recording system
  packages/indicators/src/storage.ts
  packages/indicators/src/synthesis/forwardReturns.ts
  packages/indicators/src/synthesis/hypothesis.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/signalRecorder.ts
  packages/mastra-kit/src/agents/index.ts
  packages/mastra-kit/src/tools/index.ts
  packages/storage/migrations/010_paper_signals.sql
  packages/storage/migrations/010_paper_signals_down.sql
Due: typescript

ci: add GitHub Actions workflow for indicator promotion
  .github/workflows/indicator-promotion.yml
  packages/mastra-kit/package.json
  packages/mastra-kit/src/tools/index.ts
  scripts/fetch-indicator-metadata.ts
  scripts/update-indicator-exports.ts
Due: typescript

feat(mastra-kit): add indicator synthesis agent and tools
  packages/mastra-kit/src/agents/indicatorResearcher.ts
  packages/mastra-kit/src/tools/checkIndicatorTrigger.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.ts
Due: typescript

feat(indicators): implement production indicator monitoring system
  apps/api/tests/agents.test.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/monitoring.ts
Due: typescript

feat(indicators): enhance retirement detection with crowding and capacity checks
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/monitoring.ts
Due: typescript

feat(indicators): implement indicator retirement pipeline
  .github/workflows/indicator-retirement.yml
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/retirement.ts
Due: typescript

feat(dashboard-api): add Indicator Lab API endpoints
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/indicators.ts
Due: none

fix(dashboard-api): fix type errors in indicators routes
  apps/dashboard-api/src/routes/indicators.ts
Due: none

feat(mastra-kit): add result caching layer for webSearch
  apps/dashboard/src/hooks/queries/index.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

feat(dashboard): add Indicator Lab dashboard view
  apps/dashboard/src/hooks/queries/useIndicatorLab.ts
Due: none

feat(dashboard): add Indicator Lab UI components and pages
  apps/dashboard/src/app/(auth)/indicators/[id]/page.tsx
  apps/dashboard/src/app/(auth)/indicators/page.tsx
  apps/dashboard/src/components/indicators/ActiveIndicatorsTable.tsx
  apps/dashboard/src/components/indicators/ActivityFeed.tsx
  apps/dashboard/src/components/indicators/PaperTradingSection.tsx
  apps/dashboard/src/components/indicators/TriggerStatusCard.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

feat(mastra-kit): add rate limiting for webSearch
  apps/dashboard/src/components/indicators/index.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

feat(dashboard): implement indicator detail view with IC chart and retire functionality
  apps/dashboard/src/app/(auth)/indicators/[id]/page.tsx
  apps/dashboard/src/components/indicators/ICChart.tsx
  apps/dashboard/src/components/indicators/RetireButton.tsx
  apps/dashboard/src/components/indicators/ValidationReport.tsx
Due: none

feat(infra): complete Prometheus alerting and SLO setup
  packages/infra/alertmanager/alertmanager.yml
  packages/infra/grafana/dashboards/slo-overview.json
  packages/infra/grafana/provisioning/dashboards/default.yml
  packages/infra/grafana/provisioning/datasources/prometheus.yml
Due: typescript

fix(dashboard): make backoff jitter optional for deterministic tests
  apps/dashboard/src/hooks/useWebSocket.ts
Due: none

feat(execution-engine): complete Arrow Flight server methods
  apps/execution-engine/src/server/arrow_flight.rs
Due: rust

feat(mastra-kit): add security hardening to webSearch tool
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

fix(api): add biome-ignore for intentional console logging
  apps/api/src/db.ts
  apps/api/src/grpc/client.ts
Due: none

feat(api): integrate prediction markets into trading workflow
  apps/api/package.json
  apps/api/src/db.ts
  apps/api/src/mastra/index.ts
  apps/api/src/steps/fetchPredictionMarkets.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/index.ts
  apps/api/src/workflows/index.ts
  apps/api/src/workflows/prediction-markets.ts
  apps/api/tests/tradingCycle.e2e.test.ts
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/app/(auth)/charts/page.tsx
  apps/dashboard/src/app/(auth)/decisions/[id]/page.tsx
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/app/(auth)/portfolio/positions/[id]/page.tsx
  apps/dashboard/src/components/ErrorState.tsx
  apps/dashboard/src/components/charts/HeatMap.tsx
  apps/dashboard/src/components/charts/IndicatorPane.tsx
  apps/dashboard/src/components/portfolio/AggregateGreeks.tsx
  apps/worker/src/index.ts
  bun.lock
  packages/mastra-kit/src/tools/claudeCodeIndicator.ts
Due: typescript

fix: resolve biome import organization and unused imports
  apps/api/src/agents/mastra-agents.ts
  packages/indicators/src/index.ts
  packages/mastra-kit/src/agents/index.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(api): wire regime classification to agent context
  apps/api/package.json
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/db.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(dashboard): add portfolio streaming and P&L visualization
  apps/dashboard-api/src/services/risk/exposure.ts
  apps/dashboard-api/src/services/risk/index.ts
  apps/dashboard-api/src/services/risk/types.ts
  apps/dashboard-api/src/streaming/subscription-manager.test.ts
  apps/dashboard-api/src/streaming/subscription-manager.ts
  apps/dashboard/src/components/options/PLCalculator.ts
  apps/dashboard/src/components/options/PLChart.tsx
  apps/dashboard/src/hooks/usePLData.ts
  apps/dashboard/src/hooks/usePollingFallback.ts
  apps/dashboard/src/hooks/usePortfolioStreaming.ts
Due: none

feat(execution): wire TacticSelector into Alpaca order submission
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/services/risk/index.ts
  apps/execution-engine/src/backtest/parallel.rs
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/tactics.rs
Due: rust

feat(risk): implement correlation matrix service
  apps/dashboard-api/src/services/risk/correlation.ts
Due: none

feat(risk): implement risk limits monitoring API
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/services/risk/index.ts
  apps/dashboard-api/src/services/risk/limits.ts
Due: none

feat(dashboard): add streaming status widget
  apps/dashboard/src/components/dashboard/StreamingStatus.tsx
  apps/dashboard/src/hooks/useStreamingMetrics.ts
  apps/dashboard/src/stores/streaming-metrics-store.ts
  apps/evals/cream_evals/__init__.py
  apps/evals/cream_evals/datasets.py
  apps/evals/cream_evals/metrics.py
  apps/evals/cream_evals/runner.py
  apps/evals/pyproject.toml
  apps/evals/tests/__init__.py
  apps/evals/tests/test_datasets.py
  apps/evals/tests/test_metrics.py
Due: none

feat(evals): implement DeepEval agent evaluation suite
  apps/evals/cream_evals/datasets.py
  apps/evals/cream_evals/metrics.py
  apps/evals/cream_evals/runner.py
  apps/evals/pyproject.toml
  apps/evals/tests/test_datasets.py
  apps/evals/tests/test_metrics.py
  apps/evals/uv.lock
Due: none

feat(research): add multi-asset backtest and walk-forward optimization
  packages/research/research/nautilus_runner.py
  packages/research/research/validation/__init__.py
  packages/research/research/validation/stage1_vectorbt.py
  packages/research/tests/validation/__init__.py
  packages/research/tests/validation/test_stage1.py
Due: typescript, python

feat(research): add Stage 1 VectorBT fast scan validation
  packages/research/research/stage_validation/__init__.py
  packages/research/research/stage_validation/stage1_vectorbt.py
  packages/research/tests/stage_validation/__init__.py
  packages/research/tests/stage_validation/test_stage1.py
Due: typescript, python

feat(dashboard-api): implement VaR calculation endpoint
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/services/risk/index.ts
  apps/dashboard-api/src/services/risk/var.ts
  packages/research/pyproject.toml
  packages/research/research/stage_validation/__init__.py
Due: typescript, python

feat(research): add CPCV (Combinatorial Purged Cross-Validation)
  packages/research/pyproject.toml
  packages/research/research/stage_validation/cpcv.py
  packages/research/tests/stage_validation/test_cpcv.py
  packages/research/uv.lock
Due: typescript, python

feat(research): add DSR (Deflated Sharpe Ratio) validator
  packages/research/pyproject.toml
  packages/research/research/stage_validation/__init__.py
  packages/research/research/stage_validation/dsr.py
  packages/research/tests/stage_validation/test_dsr.py
Due: typescript, python

fix(indicators): make moderate correlation test deterministic
  packages/indicators/tests/orthogonality.test.ts
  packages/research/research/__init__.py
Due: typescript, python

feat(research): add Hypothesis Alignment LLM Evaluation
  packages/research/pyproject.toml
  packages/research/research/hypothesis_alignment.py
  packages/research/tests/test_hypothesis_alignment.py
Due: typescript, python

feat(research): add Golden File Generation & Equivalence Testing
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/equivalence.py
  packages/research/tests/test_equivalence.py
Due: typescript, python

fix(prediction-markets): increase timeout in websocket reconnection test
  packages/prediction-markets/src/providers/kalshi/websocket.test.ts
Due: none

feat(research): add Stage 2 NautilusTrader event-driven validation
  packages/research/research/stage_validation/__init__.py
  packages/research/research/stage_validation/stage2_nautilus.py
  packages/research/tests/stage_validation/test_stage2_nautilus.py
Due: typescript, python

feat(research): add Validation Feedback Loop implementation
  packages/prediction-markets/src/providers/kalshi/websocket.test.ts
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/feedback.py
  packages/research/tests/test_feedback.py
Due: typescript, python

fix(prediction-markets): use block statements in websocket test mock
  packages/prediction-markets/src/providers/kalshi/websocket.test.ts
  packages/research/pyproject.toml
  packages/research/research/__init__.py
Due: typescript, python

feat(research): add Python→TypeScript translation system
  packages/research/coverage.xml
  packages/research/research/translation.py
  packages/research/tests/test_translation.py
Due: typescript, python

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
