Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

fix(tests): handle Bun.env/process.env separation in env var tests
  apps/execution-engine/src/server/grpc/cache.rs
  apps/execution-engine/src/server/grpc/converters.rs
  apps/execution-engine/src/server/grpc/market_data_service.rs
  packages/domain/src/env.test.ts
  packages/universe/src/fred-client.test.ts
Due: rust

fix(domain): make LLM_PROVIDER and LLM_MODEL_ID optional at load time
  packages/domain/src/env.ts
Due: typescript

chore(dashboard): change "Connected" to "Live" in header status
  apps/dashboard/src/components/ui/ConnectionStatus.tsx
  apps/dashboard/src/components/ui/connection-status.tsx
Due: none

feat(dashboard): add LLM-powered thought classification
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/hooks/useThoughtClassification.ts
Due: none

fix(dashboard): mark phases as error when cycle fails
  apps/api/package.json
  apps/api/src/mastra/agents/factory.ts
  apps/api/src/mastra/index.ts
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/hooks/useCycleProgress.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
Due: none

fix(tests): add LLM_MODEL_ID env var and update prompt expectations
  packages/agents/src/services/idea-agent.test.ts
  packages/storage/src/repositories/trading-config.test.ts
Due: none

fix(tests): use Bun.env instead of process.env for env vars
  packages/agents/src/services/idea-agent.test.ts
  packages/storage/src/repositories/trading-config.test.ts
Due: none

fix(ci): add LLM_MODEL_ID to CI environment variables
  .github/workflows/test.yml
  packages/agents/src/services/idea-agent.test.ts
  packages/storage/src/repositories/trading-config.test.ts
Due: none

fix(ci): add LLM_MODEL_ID to turbo test task env
  turbo.json
Due: none

fix(tests): use default LLM_MODEL_ID for BACKTEST and fix test imports
  .github/workflows/test.yml
  apps/api/tests/agents.test.ts
  apps/api/tests/indicatorContext.test.ts
  packages/domain/src/env.ts
  turbo.json
Due: typescript

fix(schema-gen): add @cream/proto dependency for correct build order
  bun.lock
  packages/schema-gen/package.json
  packages/schema-gen/python/cream/v1/common_pb2.py
  packages/schema-gen/python/cream/v1/common_pb2.pyi
  packages/schema-gen/python/cream/v1/decision_pb2.py
  packages/schema-gen/python/cream/v1/decision_pb2.pyi
  packages/schema-gen/python/cream/v1/events_pb2.py
  packages/schema-gen/python/cream/v1/events_pb2.pyi
  packages/schema-gen/python/cream/v1/execution_pb2.py
  packages/schema-gen/python/cream/v1/execution_pb2.pyi
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.py
  packages/schema-gen/python/cream/v1/market_snapshot_pb2.pyi
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: none

feat(news): migrate news provider from FMP to Alpaca
  bun.lock
  packages/agents/package.json
  packages/agents/src/tools/clients.ts
  packages/agents/src/tools/implementations/externalContext.ts
  packages/marketdata/src/providers/alpaca.ts
  packages/marketdata/src/providers/index.ts
Due: typescript

refactor(env): consolidate on GOOGLE_GENERATIVE_AI_API_KEY
  .env.example
  .env.live.example
  .env.local.example
  CLAUDE.md
  PROJECT.md
  apps/api/README.md
  apps/dashboard-api/src/routes/ai.ts
  packages/agents/src/extraction/client.ts
  packages/config/src/startup.ts
  packages/domain/src/env.ts
  packages/logger/src/redaction.ts
  packages/research/research/evaluator/llm_judge/judge.py
  packages/research/tests/evaluator/test_llm_judge.py
  packages/research/tests/test_llm_judge.py
  turbo.json
Due: typescript, python

chore: disable FMP client (free tier unsupported)
  .env.example
  packages/agents/src/tools/clients.ts
Due: typescript

chore: update @types/bun to version 1.3.6 in storage and universe packages
  .github/workflows/buf-check.yml
  .github/workflows/indicator-promotion.yml
  .github/workflows/indicator-retirement.yml
  .github/workflows/test.yml
  .tool-versions
  apps/api/package.json
  apps/dashboard-api/package.json
  apps/dashboard/package.json
  apps/worker/package.json
  apps/worker/src/index.ts
  bun.lock
  packages/agents/package.json
  packages/agents/src/tools/implementations/fmp.ts
  packages/broker/package.json
  packages/config/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/filings/package.json
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/logger/package.json
  packages/marketdata/package.json
  packages/marketdata/src/providers/fmp.ts
  packages/marketdata/tests/fmp.test.ts
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/research/coverage.xml
  packages/storage/package.json
  packages/universe/package.json
  packages/universe/src/fmp-client.test.ts
  packages/universe/src/fmp-client.ts
  scripts/seed-fixtures/fetch-fmp.ts
Due: typescript, python

refactor: update PROJECT.md for clarity and structure, enhancing the OODA loop explanation and agent roles
  PROJECT.md
Due: none

refactor: remove redundant section on the problem Cream solves, streamlining the documentation
  PROJECT.md
  packages/marketdata/fixtures/profiles/.gitkeep
  packages/marketdata/fixtures/profiles/profile-AAPL.json
Due: typescript

chore: complete FMP removal cleanup
  apps/dashboard-api/src/routes/economic-calendar.test.ts
  apps/dashboard-api/src/routes/economic-calendar.ts
  apps/dashboard-api/src/services/indicators.ts
  apps/dashboard-api/src/services/risk/types.ts
  apps/dashboard/src/proxy.ts
  docker-compose.yml
  packages/helix/src/services/company-graph-builder.test.ts
  packages/helix/src/services/company-graph-builder.ts
  packages/marketdata/fixtures/profiles/.gitkeep
  packages/marketdata/fixtures/profiles/profile-AAPL.json
  packages/marketdata/src/mock/index.ts
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/marketdata/src/mock/mock-adapter.ts
  packages/marketdata/src/validation/external.ts
  packages/schema-gen/python/cream/v1/events_pb2.py
  packages/schema-gen/python/cream/v1/events_pb2.pyi
  packages/schema-gen/rust/cream/v1/cream.v1.rs
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema/cream/v1/events.proto
  scripts/seed-fixtures/README.md
  scripts/seed-fixtures/run-all.sh
Due: typescript

chore: remove FMP from seed-fixtures script
  scripts/seed-fixtures/run-all.sh
Due: none

chore: update SQL migration defaults from fmp to alpaca/computed
  packages/storage/migrations/init/05_universe.sql
  packages/storage/migrations/init/08_indicators.sql
Due: typescript

refactor: update architecture documentation for clarity and accuracy, removing outdated references and enhancing structure
  ARCHITECTURE.md
Due: none

refactor: update dark mode support and background colors across components for improved accessibility
  apps/dashboard/src/components/agents/AgentNetwork/ConnectionLine.tsx
  apps/dashboard/src/components/agents/AgentNetwork/ContextHeader.tsx
  apps/dashboard/src/components/agents/AgentNetwork/PhaseContainer.tsx
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
Due: none

fix: persist decisions to database after OODA loop completion
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
  apps/dashboard-api/src/routes/system/cycles.ts
Due: none

feat: add OODA step wrappers to agent network visualization
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/components/agents/AgentNetwork/ContextHeader.tsx
  apps/dashboard/src/components/agents/AgentNetwork/OODAWrapper.tsx
  apps/dashboard/src/components/agents/AgentNetwork/index.ts
Due: none

fix: candles pre-market empty array + options WS debug logging
  apps/dashboard-api/src/routes/market/candles.ts
  apps/dashboard-api/src/streaming/options-data.ts
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
  apps/dashboard/src/providers/WebSocketProvider.tsx
Due: none

refactor(api): convert grounding perSymbol from record to array
  apps/api/src/mastra/agents/grounding.ts
  apps/api/src/mastra/agents/prompts.ts
  apps/api/src/mastra/agents/schemas.ts
  apps/api/src/mastra/agents/types.ts
Due: none

feat(dashboard): add complete phase tracking to agent streaming
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/components/agents/AgentNetwork/types.ts
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
  apps/dashboard/src/hooks/useAgentStreaming.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
Due: none

refactor(agents): simplify tool descriptions
  packages/agents/src/prompts/fundamentalsAnalyst.ts
  packages/agents/src/tools/definitions/companyRelationshipTools.ts
  packages/agents/src/tools/definitions/graphragTools.ts
  packages/agents/src/tools/definitions/macroExposureTools.ts
Due: typescript

chore(agents): remove news_search from news analyst tools
  packages/agents/src/agents/configs/newsAnalyst.ts
Due: typescript

test(universe): update source tests for static-only support
  packages/universe/src/sources.test.ts
Due: none

fix(dashboard): use backend timestamp for agent duration tracking
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
  apps/dashboard/src/hooks/queries/useCycleHistory.ts
  apps/dashboard/src/hooks/useAgentStreaming.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
  packages/storage/src/repositories/cycles.ts
Due: typescript

fix: update date formatting to use en-US locale for consistency across agents
  apps/api/src/mastra/agents/analysts.ts
  apps/api/src/mastra/agents/grounding.ts
  apps/api/src/mastra/agents/prompts.ts
  apps/dashboard-api/src/routes/market/types.ts
  apps/dashboard/src/hooks/queries/useEconomicCalendar.ts
  apps/worker/src/index.ts
  apps/worker/src/indicators/adapters.ts
  packages/agents/src/agents/indicatorResearcher.ts
  packages/agents/src/prompts/idea-agent.ts
  packages/agents/src/tools/claudeCodeIndicator.ts
  packages/agents/src/tools/definitions/dataTools.ts
Due: typescript

fix: correct bid-ask spread display units and threshold comparison
  apps/api/src/mastra/agents/approvers.ts
  apps/api/src/mastra/agents/prompts.ts
  apps/dashboard-api/src/routes/market/types.ts
Due: none

refactor: remove unused market data streaming infrastructure
  apps/execution-engine/src/main.rs
  apps/worker/src/index.ts
Due: rust

feat(worker): add streaming support for real-time agent activity
  apps/dashboard-api/src/routes/system/index.ts
  apps/dashboard-api/src/routes/system/worker-events.ts
  apps/dashboard-api/src/streaming/market-data.ts
  apps/dashboard-api/src/streaming/shared-options-ws.ts
  apps/worker/src/index.ts
  packages/marketdata/src/providers/alpaca-websocket.ts
Due: typescript

feat(worker): integrate Claude Agent SDK for research spawner
  apps/worker/src/contexts/research/container-spawner.ts
Due: none
