Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(test-utils): add shared test helper package
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  packages/test-utils/tsconfig.json
Due: typescript

chore: add @cream/test-utils as dev dependency
  apps/dashboard-api/package.json
  bun.lock
  package.json
  packages/agents/package.json
  packages/broker/package.json
  packages/config/package.json
  packages/external-context/package.json
  packages/helix-schema/package.json
  packages/indicators/package.json
  packages/marketdata/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
Due: typescript

refactor(domain): use @cream/test-utils helpers in tests
  packages/domain/src/calendar.test.ts
  packages/domain/src/calendar/alpaca-client.integration.test.ts
  packages/domain/src/calendar/factory.test.ts
  packages/domain/src/drawdown.test.ts
  packages/domain/src/enforcement/outputEnforcer.test.ts
  packages/domain/src/llm-parsing.test.ts
  packages/domain/src/retention.test.ts
  packages/domain/src/risk-adjusted.test.ts
Due: none

refactor(indicators): use @cream/test-utils helpers in tests
  packages/indicators/src/batch/corporate-actions-batch.test.ts
  packages/indicators/src/batch/sentiment-batch.test.ts
  packages/indicators/src/custom/liquidity_absorption_ratio.test.ts
  packages/indicators/src/service/batch-data-adapter.test.ts
  packages/indicators/src/service/indicator-cache.test.ts
  packages/indicators/src/service/indicator-service.test.ts
  packages/indicators/src/service/liquidity-calculator.test.ts
  packages/indicators/src/service/price-calculator.test.ts
  packages/indicators/src/types/normalization.test.ts
Due: none

refactor(marketdata): use @cream/test-utils helpers in tests
  packages/marketdata/src/corporate-actions/corporate-actions.test.ts
  packages/marketdata/src/ingestion/candleIngestion.test.ts
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/marketdata/src/options/ivPercentile.test.ts
  packages/marketdata/src/options/ivSolver.test.ts
  packages/marketdata/src/snapshot/snapshot.test.ts
  packages/marketdata/src/validation/validation.test.ts
  packages/marketdata/tests/anomalies.test.ts
Due: none

refactor(dashboard-api): use @cream/test-utils helpers in tests
  apps/dashboard-api/src/events/mappers.test.ts
  apps/dashboard-api/src/routes/batch-status.test.ts
  apps/dashboard-api/src/routes/batch-trigger.test.ts
  apps/dashboard-api/src/routes/risk.test.ts
  apps/dashboard-api/src/routes/workers.test.ts
  apps/dashboard-api/src/websocket/handler.test.ts
  apps/dashboard-api/src/websocket/shutdown.test.ts
Due: none

refactor(helix): use @cream/test-utils helpers in tests
  packages/helix-schema/src/cbr.test.ts
  packages/helix-schema/tests/rrf.test.ts
  packages/helix/tests/integration/retrieval.test.ts
Due: none

refactor: use @cream/test-utils helpers across remaining packages
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.test.ts
  packages/agents/src/tools/implementations/fred.test.ts
  packages/broker/tests/utils.test.ts
  packages/config/src/dependencyValidation.test.ts
  packages/external-context/tests/pipeline.test.ts
  packages/filings/src/chunker.test.ts
  packages/filings/src/parsers/base.test.ts
  packages/metrics/src/risk-adjusted.test.ts
  packages/prediction-markets/src/aggregator/unified-client.test.ts
  packages/regime/tests/gmmClassifier.test.ts
  packages/universe/src/sources.test.ts
Due: none

refactor(dashboard): remove obsolete biome-ignore comments
  apps/dashboard/src/components/dashboard/StreamingStatus.tsx
  apps/dashboard/src/components/indicators/IndicatorSnapshotPanel.tsx
  apps/dashboard/src/components/options/OptionsChainRow.tsx
  apps/dashboard/src/components/portfolio/OptionsPositionRow.tsx
  apps/dashboard/src/components/portfolio/OptionsPositionsWidget.tsx
  apps/dashboard/src/components/portfolio/PortfolioSummary.tsx
  apps/dashboard/src/components/portfolio/PositionRow.tsx
  apps/dashboard/src/components/ui/RefreshIndicator.tsx
  apps/dashboard/src/components/ui/ThemeToggle.tsx
  apps/dashboard/src/components/ui/button.tsx
  apps/dashboard/src/components/ui/gauge.tsx
  apps/dashboard/src/components/ui/history-chart.tsx
  apps/dashboard/src/components/ui/logo.tsx
  apps/dashboard/src/components/ui/price-ticker.tsx
  apps/dashboard/src/components/ui/skeleton.tsx
  apps/dashboard/src/components/ui/source-logo.tsx
  apps/dashboard/src/components/ui/spinner.tsx
  apps/dashboard/src/components/ui/status-dot.tsx
  apps/dashboard/src/components/ui/success-feedback/InlineSuccess.tsx
  apps/dashboard/src/components/ui/success-feedback/SuccessButton.tsx
  apps/dashboard/src/components/ui/success-feedback/SuccessText.tsx
  apps/dashboard/src/components/ui/ticker-item.tsx
Due: none

style(validate-versions): use template literals for string concatenation
  scripts/validate-versions/index.ts
  scripts/validate-versions/logger.ts
  scripts/validate-versions/reporters.ts
  scripts/validate-versions/version.ts
Due: none

refactor(mastra): cleanup imports and use template literals
  apps/mastra/src/mastra/index.ts
  apps/mastra/src/mastra/workflows/macro-watch/steps/compile-newspaper.ts
  apps/mastra/src/mastra/workflows/macro-watch/steps/scan-economic.ts
  apps/mastra/src/mastra/workflows/macro-watch/steps/scan-movers.ts
  apps/mastra/src/mastra/workflows/macro-watch/steps/scan-news.ts
  apps/mastra/src/mastra/workflows/macro-watch/steps/scan-predictions.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/observe.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/orient.ts
Due: none

refactor(prediction-markets): replace non-null assertions with safe destructuring
  packages/prediction-markets/src/providers/kalshi/client.ts
  packages/prediction-markets/src/providers/polymarket/scoring.ts
Due: typescript

feat(domain): add test injection helper for CalendarService
  packages/domain/src/calendar/factory.ts
Due: typescript

refactor(dashboard-api): improve type safety in routes
  apps/dashboard-api/src/routes/market/indicators.ts
  apps/dashboard-api/src/routes/portfolio.ts
Due: none

feat(mastra): add OTEL bridge for reasoning traces
  apps/mastra/package.json
  apps/mastra/src/instrumentation.ts
  apps/mastra/src/mastra/index.ts
  bun.lock
Due: none

chore(schema-gen): regenerate protobuf stubs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema-gen/ts/cream/v1/stream_proxy_pb.ts
Due: none

feat(execution-engine): add stream proxy connection retry logic
  apps/execution-engine/src/application/ports/broker_port.rs
  apps/execution-engine/src/application/ports/mod.rs
  apps/execution-engine/src/application/use_cases/cancel_orders.rs
  apps/execution-engine/src/application/use_cases/monitor_stops.rs
  apps/execution-engine/src/application/use_cases/reconcile.rs
  apps/execution-engine/src/application/use_cases/roll_option.rs
  apps/execution-engine/src/application/use_cases/submit_orders.rs
  apps/execution-engine/src/infrastructure/broker/alpaca/adapter.rs
  apps/execution-engine/src/infrastructure/config/container.rs
  apps/execution-engine/src/infrastructure/grpc/service.rs
  apps/execution-engine/src/infrastructure/http/controller.rs
  apps/execution-engine/src/infrastructure/stream_proxy/quote_manager.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/tests/fixture_e2e_test.rs
Due: rust

refactor(dashboard): replace agent streaming with OTEL traces
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard-api/src/routes/traces.ts
  apps/dashboard-api/src/scripts/sync-alpaca-positions.ts
  apps/dashboard-api/src/streaming/index.ts
  apps/dashboard-api/src/streaming/proxy-client.ts
  apps/dashboard-api/src/streaming/trading-updates.ts
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/components/agents/AgentCard.tsx
  apps/dashboard/src/components/agents/AgentNetwork/AgentNetwork.tsx
  apps/dashboard/src/components/agents/AgentNetwork/AgentNode.tsx
  apps/dashboard/src/components/agents/AgentNetwork/ConnectionLine.tsx
  apps/dashboard/src/components/agents/AgentNetwork/ContextHeader.tsx
  apps/dashboard/src/components/agents/AgentNetwork/DataFlowPulse.tsx
  apps/dashboard/src/components/agents/AgentNetwork/FlowLabel.tsx
  apps/dashboard/src/components/agents/AgentNetwork/OODAWrapper.tsx
  apps/dashboard/src/components/agents/AgentNetwork/PhaseContainer.tsx
  apps/dashboard/src/components/agents/AgentNetwork/index.ts
  apps/dashboard/src/components/agents/AgentNetwork/types.ts
  apps/dashboard/src/components/agents/AgentNetwork/useAnnounce.ts
  apps/dashboard/src/components/agents/AgentNetwork/useKeyboardNavigation.ts
  apps/dashboard/src/components/agents/AgentStreamingCard.tsx
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
  apps/dashboard/src/components/agents/AgentTimeline.tsx
  apps/dashboard/src/components/agents/AgentVotes.tsx
  apps/dashboard/src/components/agents/CycleHistoryPanel.tsx
  apps/dashboard/src/components/agents/CycleSelector.tsx
  apps/dashboard/src/components/agents/ReasoningBlock.tsx
  apps/dashboard/src/components/agents/ToolCallItem.tsx
  apps/dashboard/src/components/agents/index.ts
  apps/dashboard/src/hooks/queries/useAgents.ts
  apps/dashboard/src/hooks/useAgentStatus.ts
  apps/dashboard/src/hooks/useAgentStreaming.ts
  apps/dashboard/src/hooks/useCycleProgress.ts
  apps/dashboard/src/hooks/useCycleTraces.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/traces.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
Due: none

refactor(mastra): rename tool IDs from snake_case to camelCase
  apps/mastra/src/mastra/tools/academic/search-academic-papers.ts
  apps/mastra/src/mastra/tools/external-context/analyze-content.ts
  apps/mastra/src/mastra/tools/external-context/extract-news-context.ts
  apps/mastra/src/mastra/tools/fred/fred-economic-calendar.ts
  apps/mastra/src/mastra/tools/graphrag/graphrag-query.ts
  apps/mastra/src/mastra/tools/helix/helix-query.ts
  apps/mastra/src/mastra/tools/indicators/recalc-indicator.test.ts
  apps/mastra/src/mastra/tools/indicators/recalc-indicator.ts
  apps/mastra/src/mastra/tools/market-data/get-greeks.ts
  apps/mastra/src/mastra/tools/market-data/get-quotes.test.ts
  apps/mastra/src/mastra/tools/market-data/get-quotes.ts
  apps/mastra/src/mastra/tools/market-data/option-chain.ts
  apps/mastra/src/mastra/tools/portfolio/get-enriched-portfolio-state.ts
  apps/mastra/src/mastra/tools/portfolio/get-portfolio-state.ts
  apps/mastra/src/mastra/tools/prediction-markets/get-market-snapshots.ts
  apps/mastra/src/mastra/tools/prediction-markets/get-prediction-signals.ts
Due: none

feat(mastra): enhance trading cycle workflow with constraint validation
  apps/mastra/src/mastra/workflows/trading-cycle/schemas.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/analysts.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/consensus.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/debate.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/grounding.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/observe.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/orient.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/trader.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.ts
  apps/worker/src/contexts/trading-cycle/cycle-trigger.ts
  apps/worker/src/contexts/trading-cycle/prediction-markets.ts
Due: none

feat(agents): add Black-Scholes fallback for options Greeks
  packages/agents/README.md
  packages/agents/src/agents/configs/bearishResearcher.ts
  packages/agents/src/agents/configs/bullishResearcher.ts
  packages/agents/src/agents/configs/fundamentalsAnalyst.ts
  packages/agents/src/agents/configs/riskManager.ts
  packages/agents/src/agents/configs/trader.ts
  packages/agents/src/prompts/bearishResearcher.ts
  packages/agents/src/prompts/bullishResearcher.ts
  packages/agents/src/prompts/critic.ts
  packages/agents/src/prompts/fundamentalsAnalyst.ts
  packages/agents/src/prompts/groundingAgent.ts
  packages/agents/src/prompts/riskManager.ts
  packages/agents/src/prompts/trader.ts
  packages/agents/src/tools/implementations/options.ts
  packages/agents/src/tools/implementations/portfolio.ts
Due: typescript

chore(config): simplify OTEL config and add turbo env vars
  .env.example
  packages/config/src/bin/validate-deps.ts
  turbo.json
Due: typescript

fix(dashboard): fix lint and formatting issues
  apps/dashboard/src/components/agents/CycleSelector.tsx
  apps/dashboard/src/lib/api/types/index.ts
Due: none

chore(schema): regenerate protobuf stubs with formatting
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema-gen/ts/cream/v1/stream_proxy_pb.ts
Due: none

feat(domain): add CLOSE action and support all action types
  apps/dashboard-api/src/events/mappers.ts
  apps/dashboard-api/src/events/types.ts
  packages/domain/src/decision.ts
Due: typescript

fix(dashboard-api): add debug logging for workflow result extraction
  apps/dashboard-api/src/routes/system/cycles.ts
Due: none

feat(mastra): integrate execution engine with approval filtering
  apps/mastra/src/mastra/workflows/trading-cycle/steps/act.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/consensus.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.test.ts
Due: none

refactor(worker): route cycle trigger through dashboard-api
  apps/worker/src/contexts/trading-cycle/cycle-trigger.ts
Due: none

fix(domain): update tests to include CLOSE action and ignore generated files
  biome.json
  packages/domain/src/decision.test.ts
  packages/domain/src/schema-sync.test.ts
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema-gen/ts/cream/v1/stream_proxy_pb.ts
  packages/test-utils/package.json
Due: typescript

fix(ci): replace --affected with git filter syntax for turbo 2.x
  .github/workflows/test.yml
  bun.lock
  packages/indicators/package.json
Due: typescript

fix(ci): use correct turbo git filter syntax [HEAD^1]
  .github/workflows/test.yml
Due: none

feat(portfolio): add dateStart parameter for fetching history and calculate week start date
  apps/dashboard-api/src/routes/portfolio.ts
Due: none

feat(env): add EXECUTION_ENGINE_URL to environment configuration and enforce its presence in act step
  .env.example
  apps/mastra/src/mastra/workflows/trading-cycle/steps/act.ts
Due: none

feat(storage): enhance README with architecture, environment isolation, and repository patterns
  ARCHITECTURE.md
  PROJECT.md
  apps/alpaca-stream-proxy/README.md
  apps/dashboard-api/README.md
  apps/dashboard/README.md
  apps/execution-engine/README.md
  apps/mastra/README.md
  apps/worker/README.md
  packages/agents/README.md
  packages/broker/README.md
  packages/config/README.md
  packages/dashboard-types/README.md
  packages/domain/README.md
  packages/external-context/README.md
  packages/filings/README.md
  packages/helix-schema/README.md
  packages/helix/README.md
  packages/indicators/README.md
  packages/infra/README.md
  packages/logger/README.md
  packages/marketdata/README.md
  packages/metrics/README.md
  packages/prediction-markets/README.md
  packages/proto/README.md
  packages/regime/README.md
  packages/schema-gen/README.md
  packages/storage/README.md
  packages/test-utils/README.md
  packages/tsconfig/README.md
  packages/universe/README.md
  packages/validation/README.md
Due: typescript, rust

fix(architecture): update decision rules table for clarity and formatting
  ARCHITECTURE.md
Due: none

docs(readme): update OODA diagram for accuracy and remove vendor names
  README.md
Due: none

fix(execution): use current position side for CLOSE orders and persist orders via WebSocket
  apps/dashboard-api/src/routes/risk.test.ts
  apps/dashboard-api/src/services/order-persistence.ts
  apps/dashboard-api/src/services/portfolio.test.ts
  apps/dashboard-api/src/websocket/handlers/account.ts
  apps/mastra/src/mastra/workflows/trading-cycle/steps/act.ts
  apps/mastra/src/mastra/workflows/trading-cycle/workflow.test.ts
  apps/worker/bunfig.toml
  apps/worker/src/contexts/macro-watch/macro-watch-service.test.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.test.ts
  apps/worker/src/test-setup.ts
Due: none

fix(helix-schema): add missing zod dependency
  bun.lock
  packages/helix-schema/package.json
Due: typescript

fix(trading-stream): handle Binary WebSocket messages and update auth format
  apps/alpaca-stream-proxy/src/infrastructure/alpaca/auth.rs
  apps/alpaca-stream-proxy/src/infrastructure/alpaca/codec.rs
  apps/alpaca-stream-proxy/src/infrastructure/alpaca/trading.rs
  apps/dashboard-api/src/scripts/sync-alpaca-positions.ts
  apps/dashboard-api/src/services/order-persistence.ts
  apps/dashboard-api/src/streaming/trading-updates.ts
  packages/broker/tests/client.test.ts
  packages/storage/src/repositories/positions.ts
Due: typescript

fix(storage): add missing zod dependency
  bun.lock
  packages/storage/package.json
Due: typescript
