Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

feat(infra): replace Turso with PostgreSQL + TimescaleDB
  .env.example
  docker-compose.yml
  docker/postgres/init.sql
Due: none

feat(env): update tool versions and enhance documentation; remove deprecated environment example files
  .tool-versions
  CLAUDE.md
  apps/dashboard-api/.env.example
  apps/dashboard/.env.local.example
Due: none

refactor(storage): migrate cycles, agent-outputs, portfolio-snapshots to Drizzle
  packages/storage/src/repositories/agent-outputs.ts
  packages/storage/src/repositories/cycles.ts
  packages/storage/src/repositories/portfolio-snapshots.ts
Due: typescript

feat(storage): add Drizzle client and kit configuration
  packages/storage/drizzle.config.ts
  packages/storage/package.json
  packages/storage/src/db.ts
Due: typescript

feat(storage): add complete Drizzle ORM schema definitions
  packages/storage/src/schema/audit.ts
  packages/storage/src/schema/auth.ts
  packages/storage/src/schema/config.ts
  packages/storage/src/schema/core-trading.ts
  packages/storage/src/schema/dashboard.ts
  packages/storage/src/schema/enums.ts
  packages/storage/src/schema/external.ts
  packages/storage/src/schema/factors.ts
  packages/storage/src/schema/index.ts
  packages/storage/src/schema/indicators.ts
  packages/storage/src/schema/market-data.ts
  packages/storage/src/schema/relations.ts
  packages/storage/src/schema/thesis.ts
  packages/storage/src/schema/universe.ts
  packages/storage/src/schema/user-settings.ts
Due: typescript

refactor(storage): migrate config repositories to Drizzle ORM
  packages/storage/src/repositories/agent-configs.ts
  packages/storage/src/repositories/candles.ts
  packages/storage/src/repositories/config-versions.ts
  packages/storage/src/repositories/constraints-config.ts
  packages/storage/src/repositories/trading-config.ts
  packages/storage/src/repositories/universe-configs.ts
  packages/storage/src/schema/core-trading.ts
Due: typescript

refactor(storage): migrate indicator repositories to Drizzle ORM
  packages/storage/src/repositories/fundamentals.ts
  packages/storage/src/repositories/indicators.ts
  packages/storage/src/repositories/sentiment.ts
Due: typescript

refactor(storage): migrate core trading repositories to Drizzle ORM
  packages/storage/src/repositories/decisions.ts
  packages/storage/src/repositories/orders.ts
  packages/storage/src/repositories/positions.ts
Due: typescript

feat(env): update tool versions and enhance documentation; remove deprecated environment example files (the key was rotated)
  .env.example
Due: none

refactor(storage): migrate market data repositories to Drizzle ORM
  packages/storage/src/repositories/corporate-actions.ts
  packages/storage/src/repositories/options-indicators-cache.ts
  packages/storage/src/repositories/regime-labels.ts
  packages/storage/src/repositories/short-interest.ts
Due: typescript

refactor(storage): migrate features, universe-cache, filings to Drizzle ORM
  packages/storage/src/repositories/features.ts
  packages/storage/src/repositories/filings.ts
  packages/storage/src/repositories/universe-cache.ts
Due: typescript

refactor(storage): migrate remaining repositories to Drizzle ORM
  packages/storage/src/repositories/factor-zoo.ts
  packages/storage/src/repositories/historical-universe.ts
  packages/storage/src/repositories/parity-validation.ts
  packages/storage/src/repositories/thesis-state.ts
Due: typescript

refactor(storage): migrate dashboard repositories to Drizzle ORM
  packages/storage/src/repositories/alerts.ts
  packages/storage/src/repositories/audit-log.ts
  packages/storage/src/repositories/backtests.ts
Due: typescript

refactor(storage): migrate user settings repositories to Drizzle ORM
  packages/storage/src/repositories/alert-settings.ts
  packages/storage/src/repositories/system-state.ts
  packages/storage/src/repositories/user-preferences.ts
Due: typescript

refactor(storage): migrate external data repositories to Drizzle ORM
  packages/storage/src/repositories/external-events.ts
  packages/storage/src/repositories/macro-watch.ts
  packages/storage/src/repositories/prediction-markets.ts
Due: typescript

feat(storage): update dashboard-api routes to use Drizzle repositories
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/batch-status.ts
  apps/dashboard-api/src/routes/batch-trigger.ts
  apps/dashboard-api/src/routes/indicators.ts
  apps/dashboard-api/src/routes/snapshots.ts
  apps/dashboard-api/src/routes/workers.ts
  apps/dashboard-api/src/services/indicators.ts
  packages/storage/src/repositories/corporate-actions.ts
  packages/storage/src/repositories/filings.ts
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/indicator-sync-runs.ts
  packages/storage/src/repositories/indicators.ts
  packages/storage/src/repositories/macro-watch.ts
  packages/storage/src/repositories/sentiment.ts
  packages/storage/src/repositories/short-interest.ts
Due: typescript

feat(auth): migrate better-auth to Drizzle PostgreSQL adapter
  apps/dashboard-api/package.json
  apps/dashboard-api/src/auth/better-auth.ts
  packages/storage/package.json
Due: typescript

feat(dashboard): add Query Performance admin page
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/admin.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard/src/app/(auth)/admin/query-performance/page.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useAdmin.ts
Due: none

feat(dashboard): add global fuzzy search with Cmd+K
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/search.ts
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/components/GlobalSearch.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useSearch.ts
  apps/dashboard/src/lib/hooks/index.ts
  apps/dashboard/src/lib/hooks/useDebouncedValue.ts
Due: none

refactor(storage): convert seed script to Drizzle
  packages/storage/src/seed-config.ts
Due: typescript

refactor(storage): remove Turso dependencies, migrate to PostgreSQL
  apps/api/package.json
  apps/api/src/mastra/workflows/macro-watch/scanners/movers.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/news.ts
  apps/dashboard-api/src/routes/ai.ts
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
  apps/worker/src/cli/trigger-service.ts
  apps/worker/src/contexts/macro-watch/index.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.test.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.ts
  apps/worker/src/index.ts
  package.json
  packages/domain/src/schemas/database.ts
  packages/domain/src/schemas/helix.ts
  packages/domain/src/schemas/index.ts
  packages/marketdata/src/providers/alpaca-screener.ts
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/storage/package.json
  packages/storage/src/index.ts
  packages/storage/src/migrations.test.ts
  packages/storage/src/migrations.ts
  packages/storage/src/pool.ts
  packages/storage/src/repositories/base.ts
  packages/storage/src/repositories/regime-labels.ts
  packages/storage/src/run-migrations.ts
  packages/storage/src/turso.ts
Due: typescript

docs: update CLAUDE.md for PostgreSQL + Drizzle migration
  CLAUDE.md
Due: none

refactor: remove remaining Turso references from runtime code
  apps/api/README.md
  apps/api/src/db.ts
  apps/dashboard-api/README.md
  apps/dashboard-api/src/services/indicators.ts
  apps/execution-engine/README.md
  apps/worker/README.md
  apps/worker/src/contexts/indicators/init.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.ts
  apps/worker/src/contexts/synthesis/synthesis-scheduler.ts
  apps/worker/src/contexts/trading-cycle/filings-sync.ts
  apps/worker/src/shared/database.ts
  apps/worker/src/shared/run-recorder.ts
  docker-compose.prod.yml
  packages/config/src/startup.ts
  packages/domain/README.md
  packages/domain/src/env.ts
  packages/filings/README.md
  packages/indicators/README.md
  packages/indicators/src/service/batch-data-adapter.test.ts
  packages/indicators/src/service/batch-data-adapter.ts
  packages/indicators/src/service/index.ts
  packages/infra/README.md
  packages/storage/README.md
  turbo.json
Due: typescript, rust

refactor: complete Turso → PostgreSQL migration in non-test code
  apps/api/scripts/backfill-thesis-memory.ts
  apps/api/src/mastra/workflows/indicator-synthesis/steps.ts
  apps/api/workflows/steps/thesisMemoryIngestion.ts
  apps/dashboard-api/src/events/mappers.ts
  apps/dashboard-api/src/events/publisher.ts
  apps/dashboard-api/src/events/types.ts
  apps/dashboard-api/src/routes/alerts.ts
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/routes/preferences.ts
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/routes/system/state.ts
  apps/dashboard-api/src/routes/theses.ts
  apps/dashboard/src/components/dashboard/ServicesHealthCard.tsx
  apps/worker/src/contexts/research/types.ts
  packages/config/src/schemas/prediction_markets.ts
  packages/filings/src/index.ts
  packages/filings/src/service.ts
  packages/helix-schema/src/edge-types.ts
  packages/helix-schema/src/node-types.ts
  packages/helix-schema/src/thesisMemory.ts
  packages/indicators/src/batch/corporate-actions-batch.ts
  packages/indicators/src/batch/short-interest-batch.ts
  packages/indicators/src/index.ts
  packages/indicators/src/repositories/index.ts
  packages/indicators/src/service/indicator-service.ts
  packages/indicators/src/types/index.ts
  packages/marketdata/src/ingestion/candleIngestion.ts
  packages/storage/src/db.ts
  scripts/backup.sh
  scripts/fetch-indicator-metadata.ts
  scripts/query-decisions.ts
  scripts/restore.sh
Due: typescript

fix: lazy initialize better-auth to avoid DB connection at import time
  apps/dashboard-api/src/auth/better-auth.ts
  apps/dashboard-api/src/auth/index.ts
  apps/dashboard-api/src/auth/session.test.ts
  apps/dashboard-api/src/auth/session.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/websocket/index.ts
Due: none

fix(dashboard): align system status values with backend enum
  apps/dashboard/src/app/(auth)/console/components/DashboardHeader.tsx
  apps/dashboard/src/app/(auth)/console/components/SystemStatusBanner.tsx
  apps/dashboard/src/lib/api/types/system.ts
Due: none

Fix cycle event enum and Alpha Vantage errors
  apps/worker/src/contexts/macro-watch/macro-watch-service.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.ts
  packages/marketdata/src/providers/alphavantage.ts
  packages/marketdata/tests/alphavantage.test.ts
  packages/storage/drizzle/0002_flat_mockingbird.sql
  packages/storage/drizzle/meta/0002_snapshot.json
  packages/storage/drizzle/meta/_journal.json
  packages/storage/src/schema/enums.ts
Due: typescript

Fix newspaper service test mock
  apps/worker/src/contexts/macro-watch/newspaper-service.test.ts
Due: none

fix(cycles): refactor cycle creation to allow optional ID and improve error handling
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard-api/src/routes/system/worker-events.ts
  apps/execution-engine/src/execution/persistence.rs
  packages/storage/src/repositories/cycles.ts
  packages/storage/src/repositories/prediction-markets.ts
Due: typescript, rust

refactor(storage): convert raw SQL queries to Drizzle ORM
  apps/api/scripts/backfill-thesis-memory.ts
  apps/dashboard-api/src/routes/search.ts
  packages/storage/src/repositories/alerts.ts
  packages/storage/src/repositories/decisions.ts
  packages/storage/src/repositories/external-events.ts
  packages/storage/src/repositories/fundamentals.ts
  packages/storage/src/repositories/indicator-sync-runs.ts
  packages/storage/src/repositories/options-indicators-cache.ts
  packages/storage/src/repositories/prediction-markets.ts
  packages/storage/src/repositories/regime-labels.ts
  packages/storage/src/repositories/sentiment.ts
  packages/storage/src/repositories/short-interest.ts
  packages/storage/src/repositories/thesis-state.ts
  scripts/fetch-indicator-metadata.ts
  scripts/query-decisions.ts
Due: typescript

refactor(storage): strengthen Drizzle schema with constraints and consolidate migrations
  packages/storage/drizzle/0000_init.sql
  packages/storage/drizzle/0001_quick_mauler.sql
  packages/storage/drizzle/0002_flat_mockingbird.sql
  packages/storage/drizzle/meta/0000_snapshot.json
  packages/storage/drizzle/meta/0001_snapshot.json
  packages/storage/drizzle/meta/0002_snapshot.json
  packages/storage/drizzle/meta/_journal.json
  packages/storage/migrations/001_init_down.sql
  packages/storage/migrations/init/00_schema.sql
  packages/storage/migrations/init/01_core_trading.sql
  packages/storage/migrations/init/02_dashboard.sql
  packages/storage/migrations/init/03_market_data.sql
  packages/storage/migrations/init/04_thesis.sql
  packages/storage/migrations/init/05_universe.sql
  packages/storage/migrations/init/06_prediction_markets.sql
  packages/storage/migrations/init/07_external_events.sql
  packages/storage/migrations/init/08_indicators.sql
  packages/storage/migrations/init/09_factors.sql
  packages/storage/migrations/init/10_runtime_config.sql
  packages/storage/migrations/init/11_auth.sql
  packages/storage/migrations/init/12_user_settings.sql
  packages/storage/migrations/init/13_audit.sql
  packages/storage/migrations/init/14_parity_validation.sql
  packages/storage/migrations/init/15_factor_regimes.sql
  packages/storage/migrations/init/16_filings.sql
  packages/storage/migrations/init/17_streaming_events.sql
  packages/storage/migrations/init/18_macro_watch.sql
  packages/storage/migrations/init/99_seed.sql
  packages/storage/src/schema/auth.ts
  packages/storage/src/schema/dashboard.ts
  packages/storage/src/schema/external.ts
  packages/storage/src/schema/factors.ts
  packages/storage/src/schema/indicators.ts
  packages/storage/src/schema/market-data.ts
  packages/storage/src/schema/thesis.ts
Due: typescript

chore: remove backtest UI and API from dashboard apps
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/services/backtest-data.integration.test.ts
  apps/dashboard-api/src/services/backtest-data.test.ts
  apps/dashboard-api/src/services/backtest-data.ts
  apps/dashboard-api/src/services/backtest-executor.test.ts
  apps/dashboard-api/src/services/backtest-executor.ts
  apps/dashboard-api/src/services/research-path.ts
  apps/dashboard-api/src/websocket/backtest-channel.test.ts
  apps/dashboard-api/src/websocket/backtest-channel.ts
  apps/dashboard/e2e/backtest.integration.ts
  apps/dashboard/src/app/(auth)/backtest/[id]/components/BacktestChart.tsx
  apps/dashboard/src/app/(auth)/backtest/[id]/components/BacktestHeader.tsx
  apps/dashboard/src/app/(auth)/backtest/[id]/components/BacktestMetrics.tsx
  apps/dashboard/src/app/(auth)/backtest/[id]/components/hooks.ts
  apps/dashboard/src/app/(auth)/backtest/[id]/components/index.ts
  apps/dashboard/src/app/(auth)/backtest/[id]/components/types.ts
  apps/dashboard/src/app/(auth)/backtest/[id]/page.tsx
  apps/dashboard/src/app/(auth)/backtest/page.tsx
  apps/dashboard/src/components/backtest/BacktestListItem.tsx
  apps/dashboard/src/components/backtest/BacktestProgressBar.tsx
  apps/dashboard/src/components/backtest/index.ts
  apps/dashboard/src/hooks/queries/useBacktest.ts
  apps/dashboard/src/hooks/useBacktestProgress.ts
  apps/dashboard/src/lib/feed/parsers/backtest.ts
  packages/dashboard-types/src/api/backtest.ts
Due: typescript

chore: remove deprecated GitHub workflows and scripts
  .github/workflows/indicator-promotion.yml
  .github/workflows/indicator-retirement.yml
  scripts/seed-fixtures/README.md
  scripts/seed-fixtures/fetch-alpaca.ts
  scripts/seed-fixtures/fetch-alphavantage.ts
  scripts/seed-fixtures/run-all.sh
Due: none

feat: add observability infrastructure
  apps/dashboard-api/src/tracing.ts
  apps/dashboard/src/app/(auth)/observability/page.tsx
  apps/execution-engine/src/telemetry.rs
  apps/worker/src/tracing.ts
  docker/openobserve/otel-collector-config.yaml
Due: rust

feat: add cycles analytics dashboard
  apps/dashboard-api/src/routes/cycles.ts
  apps/dashboard-api/src/routes/factor-zoo.ts
  apps/dashboard/src/app/(auth)/cycles/page.tsx
  apps/dashboard/src/components/cycles/ActionDistributionCard.tsx
  apps/dashboard/src/components/cycles/ConfidenceCalibrationChart.tsx
  apps/dashboard/src/components/cycles/CycleAnalyticsBar.tsx
  apps/dashboard/src/components/cycles/DecisionMetricsCard.tsx
  apps/dashboard/src/components/cycles/RecentCyclesTable.tsx
  apps/dashboard/src/components/cycles/StrategyBreakdownTable.tsx
  apps/dashboard/src/components/cycles/index.ts
  apps/dashboard/src/hooks/queries/useCycleAnalytics.ts
  apps/dashboard/src/lib/api/types/cycles.ts
Due: none

feat: add custom indicators module
  packages/indicators/src/custom/liquidity_absorption_ratio.test.ts
  packages/indicators/src/custom/liquidity_absorption_ratio.ts
Due: typescript
