Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

test(api): add integration tests for risk routes
  apps/dashboard-api/src/routes/risk.test.ts
Due: none

Fix chart data loading and single candle issue
  apps/dashboard-api/src/routes/market.ts
  apps/dashboard/src/app/(auth)/charts/page.tsx
Due: none

Restrict intraday charts to Today and default to 5m timeframe
  apps/dashboard-api/src/routes/market.ts
  apps/dashboard/src/app/(auth)/charts/page.tsx
Due: none

Remove timeframe dropdown and enforce 5m candles
  apps/dashboard/src/app/(auth)/charts/page.tsx
Due: none

Fix chart symbol sync with URL search params
  apps/dashboard/src/app/(auth)/charts/page.tsx
Due: none

Finalize market data streaming and WebSocket updates
  BEAD_DESC_1.md
  BEAD_DESC_2.md
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/market.test.ts
  apps/dashboard-api/src/streaming/market-data.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/hooks/queries/useMarket.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
  apps/dashboard/src/lib/chart-config.ts
  create_beads.sh
  packages/domain/src/websocket/data-payloads.ts
  packages/domain/src/websocket/server-messages.ts
  turbo.json
Due: typescript

fix(tests): resolve market route tests and lint errors
  apps/dashboard-api/src/routes/market.test.ts
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/hooks/queries/useMarket.ts
Due: none

feat(storage): add runtime config tables migration
  packages/mastra-kit/src/tools/claudeCodeIndicator.ts
  packages/storage/migrations/011_runtime_config.sql
  packages/storage/migrations/011_runtime_config_down.sql
Due: typescript

feat(storage): add TradingConfigRepository for runtime trading config
  CLAUDE.md
  packages/mastra-kit/src/tools/claudeCodeIndicator.test.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.ts
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/trading-config.test.ts
  packages/storage/src/repositories/trading-config.ts
Due: typescript

feat(storage): add AgentConfigsRepository for per-agent model overrides
  packages/storage/src/repositories/agent-configs.test.ts
  packages/storage/src/repositories/agent-configs.ts
  packages/storage/src/repositories/index.ts
Due: typescript

feat(storage): add UniverseConfigsRepository for trading universe config
  packages/storage/src/repositories/universe-configs.test.ts
  packages/storage/src/repositories/universe-configs.ts
Due: typescript

feat(config): add RuntimeConfigService for DB-only config loading
  packages/config/src/index.ts
  packages/config/src/runtime-config.test.ts
  packages/config/src/runtime-config.ts
Due: typescript

feat(storage): add db:seed script for runtime config initialization
  packages/storage/package.json
  packages/storage/src/seed-config.ts
Due: typescript

feat(dashboard-api): make CORS origins configurable via env var
  CLAUDE.md
  apps/dashboard-api/src/index.ts
Due: none

feat(deploy): add Dockerfiles for dashboard, dashboard-api, and worker
  .dockerignore
  apps/api/src/db.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/dashboard/Dockerfile
  apps/worker/Dockerfile
  packages/config/src/runtime-config.ts
Due: typescript

feat(deploy): add Caddyfile for reverse proxy with auto-HTTPS
  Caddyfile
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(deploy): add docker-compose.prod.yml for production deployment
  .env.live.example
  .gitignore
  docker-compose.prod.yml
Due: none

feat(config-api): add database-backed config management endpoints
  apps/dashboard-api/package.json
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/config.ts
  bun.lock
Due: none

feat(trading-cycle): pass agent configs from DB to Mastra agents
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(worker): load scheduler config from database
  apps/worker/package.json
  apps/worker/src/db.ts
  apps/worker/src/index.ts
  bun.lock
Due: none

feat(agents): add RuntimeContext for dynamic model selection and prompt override
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(dashboard-api): add POST /api/system/trigger-cycle endpoint
  apps/dashboard-api/package.json
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard/CLAUDE.md
  apps/dashboard/README.md
  bun.lock
Due: none

feat(websocket): add cycle progress streaming for real-time updates
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/app/(auth)/feed/page.tsx
  bun.lock
  packages/config/configs/default.yaml
  packages/config/configs/development.yaml
  packages/config/configs/production.yaml
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/src/loader.test.ts
  packages/config/src/loader.ts
  packages/config/src/startup.test.ts
  packages/config/src/startup.ts
  packages/domain/src/websocket/data-payloads.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

fix(research): add setuptools package discovery config
  apps/dashboard/src/app/(auth)/backtest/page.tsx
  apps/dashboard/src/components/charts/EnhancedQuoteHeader.tsx
  apps/dashboard/src/components/charts/StreamPanel.tsx
  packages/research/pyproject.toml
Due: typescript, python

feat(research): add VectorBT backtest runner with JSON streaming
  .gitignore
  CLAUDE.md
  packages/research/pyproject.toml
  packages/research/research/backtest/__init__.py
  packages/research/research/backtest/runner.py
Due: typescript, python

feat(dashboard-api): add backtest executor service for Python subprocess
  apps/dashboard-api/src/services/backtest-executor.ts
Due: none

feat(websocket): add backtest channel for real-time progress streaming
  apps/dashboard-api/src/websocket/backtest-channel.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/src/websocket/security.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/client-messages.ts
  packages/domain/src/websocket/index.ts
Due: typescript

feat(dashboard-api): add backtest data preparation service
  apps/dashboard-api/src/services/backtest-data.ts
Due: none

feat(dashboard-api): trigger backtest execution on POST /api/backtest
  .tool-versions
  CLAUDE.md
  apps/dashboard-api/src/routes/backtest.ts
Due: none

feat(websocket): add useBacktestProgress hook for real-time updates
  apps/dashboard/src/hooks/useBacktestProgress.ts
  apps/dashboard/src/hooks/useWebSocket.ts
  apps/dashboard/src/providers/WebSocketProvider.tsx
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

feat(dashboard): add backtest progress bar and list item components
  apps/dashboard/src/app/(auth)/backtest/[id]/page.tsx
  apps/dashboard/src/app/(auth)/backtest/page.tsx
  apps/dashboard/src/components/backtest/BacktestListItem.tsx
  apps/dashboard/src/components/backtest/BacktestProgressBar.tsx
  apps/dashboard/src/components/backtest/index.ts
Due: none

test(dashboard-api): add unit tests for backtest services
  apps/dashboard-api/src/services/backtest-data.test.ts
  apps/dashboard-api/src/services/backtest-executor.test.ts
  apps/dashboard-api/src/websocket/backtest-channel.test.ts
Due: none

feat(dashboard): add trigger cycle button with real-time progress
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/components/dashboard/CycleProgress.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useSystem.ts
  apps/dashboard/src/hooks/useCycleProgress.ts
  apps/dashboard/src/lib/api/types.ts
Due: none

feat(docker): add Python support for backtest execution
  apps/dashboard-api/Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
Due: none

feat(dashboard): add ConfigDiff component for visual config comparison
  apps/dashboard/package.json
  apps/dashboard/src/components/config/ConfigDiff.tsx
  apps/dashboard/src/lib/config-diff.ts
  bun.lock
Due: none

feat(dashboard): add /config/edit page with draft editing workflow
  apps/dashboard/src/app/(auth)/config/edit/page.tsx
  apps/dashboard/src/components/config/ConfigDiff.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useConfig.ts
  apps/dashboard/src/lib/api/types.ts
Due: none

feat(dashboard): add /config/promote page for test-and-promote workflow
  apps/dashboard/src/app/(auth)/config/promote/page.tsx
Due: none

feat(dashboard): add /config/history page for version timeline and rollback
  ARCHITECTURE.md
  CLAUDE.md
  PROJECT.md
  apps/dashboard/src/app/(auth)/config/history/page.tsx
  apps/dashboard/src/lib/api/types.ts
Due: none

test(dashboard-api): add config flow integration tests
  apps/dashboard-api/tests/integration/config-flow.test.ts
Due: none
