Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

feat(research): add Paper Validation Service for live signal comparison
  apps/dashboard-api/src/routes/portfolio.ts
  packages/research/coverage.xml
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/paper_validation/__init__.py
  packages/research/research/paper_validation/service.py
  packages/research/research/paper_validation/worker.py
  packages/research/tests/paper_validation/__init__.py
  packages/research/tests/paper_validation/test_service.py
  packages/research/tests/paper_validation/test_worker.py
Due: typescript, python

fix(dashboard-api): add @cream/metrics dependency for portfolio calculations
  apps/dashboard-api/package.json
  bun.lock
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/promotion/__init__.py
  packages/research/research/promotion/pr_creator.py
  packages/research/tests/promotion/__init__.py
  packages/research/tests/promotion/test_pr_creator.py
Due: typescript, python

feat(research): add PR Creator for factor promotion
  packages/research/tests/promotion/test_pr_creator.py
Due: none

feat(dashboard-api): implement Theses API with ThesisStateRepository
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/theses.ts
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/definitions/researchTrigger.test.ts
  packages/mastra-kit/src/tools/definitions/researchTrigger.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(dashboard): add options events to unified feed
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/hooks/useFeedStats.ts
  apps/dashboard/src/lib/feed/event-normalizer.ts
Due: none

feat(arrow): implement Arrow Flight TypeScript client
  bun.lock
  packages/domain/package.json
  packages/domain/src/arrow/client.test.ts
  packages/domain/src/arrow/client.ts
  packages/domain/src/arrow/flight-client.test.ts
  packages/domain/src/arrow/flight-client.ts
  packages/domain/src/arrow/index.ts
  packages/schema-gen/package.json
  packages/schema-gen/python/arrow/flight/protocol/flight_pb2.py
  packages/schema-gen/python/arrow/flight/protocol/flight_pb2.pyi
  packages/schema-gen/rust/arrow/flight/protocol/arrow.flight.protocol.rs
  packages/schema-gen/rust/arrow/flight/protocol/arrow.flight.protocol.tonic.rs
  packages/schema-gen/ts/arrow/flight/protocol/flight_connect.ts
  packages/schema-gen/ts/arrow/flight/protocol/flight_pb.ts
  packages/schema/arrow/flight/protocol/flight.proto
  packages/schema/buf.yaml
Due: typescript

feat(dashboard): add symbol-focused event stream with slide-out panel
  apps/dashboard/src/app/(auth)/charts/page.tsx
  apps/dashboard/src/components/charts/StreamPanel.tsx
  apps/dashboard/src/components/feed/SymbolStream.tsx
Due: none

feat(api): wire market snapshot builder to real data sources
  apps/api/workflows/steps/marketSnapshotBuilder.ts
Due: none

feat(mastra-kit): implement Factor Zoo dynamic combination service
  packages/mastra-kit/src/services/factor-zoo.test.ts
  packages/mastra-kit/src/services/factor-zoo.ts
  packages/mastra-kit/src/services/index.ts
  packages/mastra-kit/src/tools/definitions/factorZoo.ts
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(dashboard-api): implement dashboard API minor TODOs
  packages/mastra-kit/src/services/decay-monitor.test.ts
  packages/mastra-kit/src/services/decay-monitor.ts
  packages/mastra-kit/src/services/index.ts
Due: typescript

feat(mastra-kit): implement Alpha Decay Detection & Alerting System
  packages/mastra-kit/src/services/decay-monitor.test.ts
  packages/mastra-kit/src/services/decay-monitor.ts
  packages/mastra-kit/src/services/index.ts
Due: typescript

fix: re-export gRPC client functions and fix helix builds
  packages/domain/src/index.ts
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/mastra-kit/src/tools/definitions/factorZoo.ts
  packages/mastra-kit/src/tools/definitions/index.ts
Due: typescript

feat(api): integrate Factor Zoo signals into agent context
  apps/api/src/agents/mastra-agents.ts
Due: none

feat(api): enable LLM extraction in external context pipeline
  apps/api/src/steps/gatherExternalContext.ts
Due: none

feat(storage): add consolidated schema init file
  packages/storage/migrations/000_init_schema.sql
Due: typescript

feat(mastra-kit): add rate limit alerting for webSearch
  bun.lock
  packages/infra/prometheus/prometheus.yml
  packages/infra/prometheus/research_alerts.yml
  packages/infra/prometheus/research_rules.yml
  packages/mastra-kit/package.json
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/observability/index.ts
  packages/mastra-kit/src/observability/research-metrics.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

feat(mastra-kit): add usage metrics and structured logging for webSearch
  packages/marketdata/src/optionChain.ts
  packages/marketdata/src/options/index.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

feat(marketdata): implement IV percentile calculation for options
  packages/marketdata/src/options/ivPercentile.test.ts
  packages/marketdata/src/options/ivPercentile.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

fix(mastra-kit): improve batch search error isolation tests
  packages/mastra-kit/src/tools/webSearch.test.ts
Due: none

feat(dashboard-api): add research dashboard API endpoints
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/research.ts
  apps/filings-service/filings_service/__init__.py
  apps/filings-service/filings_service/edgar_client.py
  apps/filings-service/filings_service/models.py
  apps/filings-service/filings_service/parsers.py
  apps/filings-service/tests/test_edgar_client.py
  apps/filings-service/tests/test_models.py
  apps/filings-service/tests/test_parsers.py
  apps/filings-service/tests/test_placeholder.py
Due: python

feat(prediction-markets): implement Kalshi historical adapter for backtesting
  apps/vision-service/tests/test_placeholder.py
  apps/vision-service/vision_service/__init__.py
  bun.lock
  packages/prediction-markets/package.json
  packages/prediction-markets/src/backtest/historical-adapter.ts
Due: typescript, python

feat(vision-service): implement chart analysis and pattern detection
  apps/vision-service/tests/test_analyzer.py
  apps/vision-service/tests/test_levels.py
  apps/vision-service/tests/test_models.py
  apps/vision-service/tests/test_patterns.py
  apps/vision-service/vision_service/analyzer.py
  apps/vision-service/vision_service/levels.py
  apps/vision-service/vision_service/models.py
  apps/vision-service/vision_service/patterns.py
  apps/vision-service/vision_service/preprocessor.py
Due: python

fix(dashboard-api): add missing @cream/domain dependency
  apps/dashboard-api/package.json
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/components/options/index.ts
  apps/dashboard/src/hooks/queries/useOptions.ts
  bun.lock
Due: none

feat(dashboard): add PositionBuilderModal and OrderPreview components
  apps/dashboard/src/components/options/OrderPreview.tsx
  apps/dashboard/src/components/options/PositionBuilderModal.tsx
Due: none

style: format options page import
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
Due: none

feat(dashboard-api): implement backtest API endpoints with Turso storage
  apps/dashboard-api/src/routes/backtest.ts
Due: none

fix(universe): remove unnecessary non-null assertion
  packages/universe/src/fmp-client.ts
Due: typescript

fix(dashboard): use Number.isNaN instead of global isNaN
  apps/dashboard/src/components/charts/IndicatorPane.tsx
  apps/dashboard/src/components/charts/ReturnsChart.tsx
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/components/charts/__fixtures__/chart-data.ts
  apps/dashboard/src/components/dashboard/StreamingStatus.tsx
  apps/dashboard/src/components/error-boundary.tsx
  apps/dashboard/src/components/options/PositionBuilderModal.tsx
Due: none

fix: resolve biome lint errors across dashboard and packages
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/components/error-boundary.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/options/PositionBuilderModal.tsx
  apps/dashboard/src/components/ui/alert-toast.tsx
  apps/dashboard/src/hooks/queries/useOptions.ts
  packages/storage/src/repositories/thesis-state.ts
  packages/universe/src/fmp-client.ts
Due: typescript

feat(api): wire thesis memory ingestion into trading cycle workflow
  apps/api/package.json
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/steps/index.ts
  apps/api/src/steps/ingestThesisMemory.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/src/workflows/tradingCycle.ts
  apps/api/workflows/steps/thesisMemoryIngestion.ts
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(mastra-kit): add Mastra tool definitions for agent tools
  packages/mastra-kit/src/tools/definitions/dataTools.ts
  packages/mastra-kit/src/tools/definitions/tradingTools.ts
Due: typescript

feat(helix): add ThesisIncludesEdge type and createThesisIncludesEdge mutation
  apps/api/workflows/steps/thesisMemoryIngestion.ts
  packages/helix-schema/src/index.ts
  packages/helix/src/index.ts
  packages/helix/src/queries/mutations.ts
Due: typescript

feat(api): add thesis memory backfill script
  apps/api/scripts/backfill-thesis-memory.ts
  apps/api/tsconfig.json
Due: none

fix(storage): align research_runs schema in init migration
  packages/storage/migrations/000_init_schema.sql
Due: typescript

feat(memory): integrate thesis memory retrieval into retrieveMemory step
  apps/api/src/steps/retrieveMemory.ts
  apps/dashboard/src/lib/feed/event-normalizer.ts
Due: none

feat(prompts): add thesis memory context to research and trader agents
  apps/dashboard/src/components/portfolio/OptionsPositionRow.tsx
  apps/dashboard/src/components/portfolio/OptionsPositionsWidget.tsx
  apps/dashboard/src/components/portfolio/PortfolioSummary.tsx
  apps/dashboard/src/components/portfolio/PositionRow.tsx
  apps/dashboard/src/hooks/usePositionGreeks.ts
  packages/mastra-kit/src/prompts/index.ts
Due: typescript

fix: add biome-ignore comments and aria attributes for a11y warnings
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/routes/market.ts
  apps/dashboard-api/src/streaming/market-data.ts
  apps/dashboard-api/src/streaming/options-data.ts
  apps/dashboard/src/components/ui/RefreshIndicator.tsx
  apps/dashboard/src/components/ui/ThemeToggle.tsx
  apps/dashboard/src/components/ui/alert-banner.tsx
  apps/dashboard/src/components/ui/alert-toast.tsx
  apps/dashboard/src/components/ui/button.tsx
  apps/dashboard/src/components/ui/connection-banner.tsx
  apps/dashboard/src/components/ui/connection-status.tsx
  apps/dashboard/src/components/ui/countdown.tsx
  apps/dashboard/src/components/ui/empty-state.tsx
  apps/dashboard/src/components/ui/logo.tsx
  apps/dashboard/src/components/ui/price-ticker.tsx
  apps/dashboard/src/components/ui/skeleton.tsx
  apps/dashboard/src/components/ui/sparkline.tsx
  apps/dashboard/src/hooks/use-loading-phase.ts
  packages/config/src/secrets.test.ts
  packages/external-context/tests/parsers.test.ts
  packages/helix-schema/src/cbr.ts
  packages/indicators/src/synthesis/retirement.ts
  packages/marketdata/src/providers/massive-websocket.ts
  packages/mastra-kit/src/tools/index.ts
  packages/mastra-kit/src/tools/webSearch.test.ts
Due: typescript

fix(api): use TursoClient from @cream/storage instead of @libsql/client
  apps/api/scripts/backfill-thesis-memory.ts
Due: none

feat(api): implement /portfolio/options endpoint with market data enrichment
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/services/portfolio.test.ts
  apps/dashboard-api/src/services/portfolio.ts
  apps/dashboard/src/hooks/queries/useMarket.ts
Due: none

fix(api): fix type errors in risk routes
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/services/portfolio.test.ts
  apps/dashboard-api/src/services/portfolio.ts
  apps/dashboard-api/src/services/risk/limits.ts
Due: none

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
