Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

refactor(api): remove model field from agent config API
  apps/dashboard-api/src/routes/agents.ts
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard/src/lib/api/types.ts
  packages/dashboard-types/src/api.ts
Due: typescript

refactor(mastra-kit): remove deprecated model exports
  packages/mastra-kit/src/agents/index.ts
  packages/mastra-kit/src/agents/indicatorResearcher.ts
  packages/mastra-kit/src/mcp/context7.ts
  packages/mastra-kit/src/mcp/index.ts
Due: typescript

feat(api): add research agents to stub registry
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/agents/stub-agents.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/api/tests/agents.test.ts
Due: none

fix(storage): update test schema to match model column removal
  packages/storage/src/repositories/agent-configs.test.ts
Due: none

fix(config): remove model field references from test mocks
  CLAUDE.md
  PROJECT.md
  apps/dashboard-api/tests/integration/config-flow.test.ts
  apps/execution-engine/README.md
  packages/config/src/runtime-config.test.ts
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/parity.test.ts
  packages/validation/src/parity.ts
  packages/validation/src/service.ts
  packages/validation/tsconfig.json
Due: typescript, rust

refactor(tsconfig): remove baseUrl property from multiple tsconfig files
  apps/api/tsconfig.json
  apps/dashboard-api/tsconfig.json
  apps/dashboard/tsconfig.json
  apps/worker/tsconfig.json
  packages/schema-gen/tsconfig.build.json
Due: none

feat: add initial README files for various packages in the Cream trading system
  apps/api/README.md
  apps/dashboard-api/README.md
  apps/dashboard/README.md
  apps/vision-service/README.md
  apps/worker/README.md
  packages/broker/README.md
  packages/config/README.md
  packages/dashboard-types/README.md
  packages/domain/README.md
  packages/external-context/README.md
  packages/filings/README.md
  packages/helix-schema/README.md
  packages/helix/README.md
  packages/indicators/README.md
  packages/logger/README.md
  packages/marketdata/README.md
  packages/mastra-kit/README.md
  packages/metrics/README.md
  packages/regime/README.md
  packages/schema-gen/README.md
  packages/schema/README.md
  packages/storage/README.md
  packages/tsconfig/README.md
  packages/universe/README.md
  packages/validation/README.md
Due: typescript, python

fix(api): remove broken tool wiring tests
  apps/api/tests/agents.test.ts
Due: none

refactor(mastra-kit): remove Context7 MCP and add external context tools
  apps/api/src/agents/mastra-agents.ts
  packages/mastra-kit/src/agents/configs/bearishResearcher.ts
  packages/mastra-kit/src/agents/configs/bullishResearcher.ts
  packages/mastra-kit/src/agents/configs/critic.ts
  packages/mastra-kit/src/agents/configs/fundamentalsAnalyst.ts
  packages/mastra-kit/src/agents/configs/newsAnalyst.ts
  packages/mastra-kit/src/agents/configs/riskManager.ts
  packages/mastra-kit/src/agents/configs/technicalAnalyst.ts
  packages/mastra-kit/src/agents/configs/trader.ts
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/mcp/context7.ts
  packages/mastra-kit/src/mcp/index.ts
  packages/mastra-kit/src/prompts/bearishResearcher.ts
  packages/mastra-kit/src/prompts/bullishResearcher.ts
  packages/mastra-kit/src/prompts/critic.ts
  packages/mastra-kit/src/prompts/fundamentalsAnalyst.ts
  packages/mastra-kit/src/prompts/newsAnalyst.ts
  packages/mastra-kit/src/prompts/riskManager.ts
  packages/mastra-kit/src/prompts/technicalAnalyst.ts
  packages/mastra-kit/src/prompts/trader.ts
Due: typescript

refactor: remove agent evaluations and deterministic tests
  .env.example
  .github/workflows/agent-evals.yml
  ARCHITECTURE.md
  CLAUDE.md
  PROJECT.md
  packages/mastra-kit/package.json
  packages/mastra-kit/promptfooconfig.yaml
  packages/mastra-kit/tests/agents/orchestration.test.ts
  packages/mastra-kit/tests/agents/orchestration.ts
  packages/mastra-kit/tests/chaos.test.ts
  packages/mastra-kit/tests/consensus.test.ts
  packages/mastra-kit/tests/escalation.test.ts
  packages/mastra-kit/tests/outcomeScoring.test.ts
  packages/mastra-kit/tests/planScoring.test.ts
  packages/mastra-kit/tests/qualityScore.test.ts
  packages/mastra-kit/tests/tools.test.ts
Due: typescript

chore: remove remaining apps/evals references
  .husky/pre-commit
  ARCHITECTURE.md
  PROJECT.md
Due: none

docs: comprehensive PROJECT.md update reflecting current architecture
  PROJECT.md
Due: none

docs: comprehensive ARCHITECTURE.md update with service DAGs
  ARCHITECTURE.md
  apps/api/src/grpc/client.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  apps/dashboard-api/.env.example
  apps/dashboard-api/src/routes/system.ts
  apps/execution-engine/package.json
  apps/worker/src/marketdata.ts
  docker-compose.yml
  packages/domain/README.md
  packages/domain/src/grpc/index.ts
  packages/domain/src/grpc/types.ts
Due: typescript, rust

fix: resolve CI test failures
  apps/dashboard-api/src/services/backtest-data.integration.test.ts
  packages/mastra-kit/src/prompts/idea-agent.ts
Due: typescript

fix(research): add --extra dev flag to install pytest before running tests
  packages/research/package.json
Due: typescript, python

fix(vision-service): fix pattern detection tests and type errors
  apps/vision-service/tests/test_analyzer.py
  apps/vision-service/tests/test_levels.py
  apps/vision-service/tests/test_patterns.py
  apps/vision-service/vision_service/preprocessor.py
Due: python

fix(research): fix PBO and parameter sensitivity tests
  packages/research/research/stage_validation/cpcv.py
  packages/research/research/stage_validation/stage1_vectorbt.py
  packages/research/tests/stage_validation/test_cpcv.py
Due: typescript, python

refactor(mastra-kit): remove output_format from idea-agent prompt
  packages/mastra-kit/src/prompts/idea-agent.ts
  packages/mastra-kit/src/services/idea-agent.test.ts
Due: typescript

fix(dashboard-api): show last price for options bid/ask when market closed
  apps/dashboard-api/src/routes/options.ts
Due: none

feat(dashboard-api): replace console.* with structured @cream/logger
  apps/dashboard-api/package.json
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/logger.ts
  apps/dashboard-api/src/middleware/rate-limit.ts
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/routes/market.ts
  apps/dashboard-api/src/routes/options.ts
  apps/dashboard-api/src/services/backtest-executor.ts
  apps/dashboard-api/src/services/portfolio.ts
  apps/dashboard-api/src/streaming/market-data.ts
Due: none

feat(api): replace console.* with structured @cream/logger
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/db.ts
  apps/api/src/grpc/client.ts
  apps/api/src/logger.ts
  apps/api/src/steps/fetchPredictionMarkets.ts
  apps/api/src/steps/gatherExternalContext.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/src/steps/retrieveMemory.ts
Due: none

feat(worker): replace console.* with structured @cream/logger
  apps/worker/package.json
  apps/worker/src/db.ts
  apps/worker/src/index.ts
  apps/worker/src/logger.ts
  apps/worker/src/marketdata.ts
Due: none

feat(domain): replace console.* with structured @cream/logger
  packages/domain/package.json
  packages/domain/src/arrow/flight-client.ts
  packages/domain/src/env.ts
  packages/domain/src/grpc/execution.ts
  packages/domain/src/grpc/marketdata.ts
  packages/domain/src/logger.ts
  packages/domain/src/snapshot-logging.ts
Due: typescript

feat(storage): replace console.* with structured @cream/logger
  packages/storage/package.json
  packages/storage/src/logger.ts
  packages/storage/src/migrations.ts
  packages/storage/src/run-migrations.ts
  packages/storage/src/seed-config.ts
Due: typescript

feat(mastra-kit): replace console.* with structured @cream/logger
  packages/mastra-kit/src/consensus.ts
  packages/mastra-kit/src/logger.ts
  packages/mastra-kit/src/tools/implementations/fmp.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

chore: add @cream/logger infrastructure to packages
  packages/broker/package.json
  packages/broker/src/logger.ts
  packages/config/package.json
  packages/config/src/logger.ts
  packages/external-context/package.json
  packages/external-context/src/logger.ts
  packages/filings/package.json
  packages/filings/src/logger.ts
  packages/indicators/package.json
  packages/indicators/src/logger.ts
  packages/marketdata/package.json
  packages/marketdata/src/logger.ts
  packages/regime/package.json
  packages/regime/src/logger.ts
  packages/universe/package.json
  packages/universe/src/logger.ts
Due: typescript

feat(scripts): replace console.* with structured @cream/logger
  apps/api/scripts/backfill-thesis-memory.ts
  scripts/fetch-indicator-metadata.ts
  scripts/seed-fixtures/fetch-alpaca.ts
  scripts/seed-fixtures/fetch-alphavantage.ts
  scripts/seed-fixtures/fetch-fmp.ts
  scripts/seed-fixtures/fetch-massive.ts
  scripts/update-indicator-exports.ts
Due: none

chore: update bun.lock for @cream/logger dependencies
  bun.lock
Due: none

feat(dashboard): enhance backtest page with strategy selection
  apps/dashboard/src/app/(auth)/backtest/page.tsx
  apps/dashboard/src/components/backtest/BacktestListItem.tsx
  apps/dashboard/src/lib/api/types.ts
Due: none

chore(research): update backtest runner and coverage
  packages/research/coverage.xml
  packages/research/research/backtest/runner.py
Due: typescript, python

WIP(api): extract Mastra workflow steps with thesis integration
  apps/api/src/steps/wip/synthesizePlan.ts
Due: none

WIP(api): complete Mastra workflow step extraction
  apps/api/src/db.ts
  apps/api/src/mastra/index.ts
  apps/api/src/steps/index.ts
  apps/api/src/steps/wip/checkResearchTriggers.ts
  apps/api/src/steps/wip/persistDecisions.ts
  apps/api/src/steps/wip/runAnalysts.ts
  apps/api/src/steps/wip/runConsensus.ts
  apps/api/src/steps/wip/runDebate.ts
  apps/api/src/workflows/index.ts
  apps/api/src/workflows/tradingCycle.ts
  apps/api/tsconfig.json
  apps/dashboard-api/src/streaming/market-data.ts
  apps/dashboard-api/src/streaming/options-data.ts
Due: none

feat: add structured logging to broker and market data clients
  apps/api/src/steps/executeOrders.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/websocket/handler.ts
  packages/broker/src/client.ts
  packages/marketdata/src/client.ts
  scripts/validate-versions.ts
Due: typescript

refactor(execution-engine): split config.rs into 14 subsystem modules
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/config/brokers.rs
  apps/execution-engine/src/config/circuit_breaker.rs
  apps/execution-engine/src/config/constraints.rs
  apps/execution-engine/src/config/environment.rs
  apps/execution-engine/src/config/feeds.rs
  apps/execution-engine/src/config/mod.rs
  apps/execution-engine/src/config/observability.rs
  apps/execution-engine/src/config/persistence.rs
  apps/execution-engine/src/config/pricing.rs
  apps/execution-engine/src/config/reconciliation.rs
  apps/execution-engine/src/config/recovery.rs
  apps/execution-engine/src/config/safety.rs
  apps/execution-engine/src/config/server.rs
  apps/execution-engine/src/config/stops.rs
  apps/execution-engine/src/config/validation.rs
Due: rust

feat(api): wire thesis lifecycle and research triggers into trading cycle
  apps/api/src/workflows/trading-cycle.ts
  apps/api/tests/tradingCycle.e2e.test.ts
Due: none

refactor(execution-engine): split constraints.rs into 9 validation modules
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/risk/constraints/buying_power.rs
  apps/execution-engine/src/risk/constraints/conflicts.rs
  apps/execution-engine/src/risk/constraints/mod.rs
  apps/execution-engine/src/risk/constraints/options.rs
  apps/execution-engine/src/risk/constraints/per_instrument.rs
  apps/execution-engine/src/risk/constraints/portfolio.rs
  apps/execution-engine/src/risk/constraints/risk_limits.rs
  apps/execution-engine/src/risk/constraints/sizing_sanity.rs
  apps/execution-engine/src/risk/constraints/types.rs
  apps/execution-engine/src/risk/mod.rs
Due: rust

refactor(execution-engine): split grpc.rs into 6 service modules
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/grpc/cache.rs
  apps/execution-engine/src/server/grpc/converters.rs
  apps/execution-engine/src/server/grpc/execution_service.rs
  apps/execution-engine/src/server/grpc/market_data_service.rs
  apps/execution-engine/src/server/grpc/mod.rs
  apps/execution-engine/src/server/grpc/server.rs
  apps/execution-engine/src/server/mod.rs
Due: rust

refactor(api): split trading-cycle.ts into OODA step modules
  apps/api/src/workflows/steps/trading-cycle/act.ts
  apps/api/src/workflows/steps/trading-cycle/config.ts
  apps/api/src/workflows/steps/trading-cycle/decide.ts
  apps/api/src/workflows/steps/trading-cycle/helix.ts
  apps/api/src/workflows/steps/trading-cycle/index.ts
  apps/api/src/workflows/steps/trading-cycle/logger.ts
  apps/api/src/workflows/steps/trading-cycle/observe.ts
  apps/api/src/workflows/steps/trading-cycle/orient.ts
  apps/api/src/workflows/steps/trading-cycle/thesis.ts
  apps/api/src/workflows/steps/trading-cycle/types.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none
