Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

chore: update dependencies and devDependencies across packages
  apps/api/package.json
  apps/dashboard-api/package.json
  apps/dashboard/package.json
  apps/worker/package.json
  bun.lock
  package.json
  packages/agents/package.json
  packages/broker/package.json
  packages/config/package.json
  packages/dashboard-types/package.json
  packages/domain/package.json
  packages/external-context/package.json
  packages/filings/package.json
  packages/helix-schema/package.json
  packages/helix/package.json
  packages/indicators/package.json
  packages/logger/package.json
  packages/marketdata/package.json
  packages/metrics/package.json
  packages/prediction-markets/package.json
  packages/regime/package.json
  packages/schema-gen/package.json
  packages/storage/package.json
  packages/universe/package.json
Due: typescript

fix(tests): resolve test isolation issues across test suite
  apps/dashboard-api/src/routes/calendar.test.ts
  apps/dashboard-api/src/routes/market.test.ts
  bunfig.toml
  packages/agents/src/tools/definitions/graphragTools.test.ts
  packages/config/src/keyRotation.test.ts
  packages/domain/package.json
  packages/domain/src/calendar/factory.test.ts
  packages/prediction-markets/src/providers/kalshi/client.test.ts
  packages/universe/src/sources.test.ts
  tests/preload.ts
Due: typescript

refactor(schema): rename packages/schema to packages/proto
  packages/domain/src/contracts/execution-contracts.ts
  packages/domain/src/events.ts
  packages/domain/src/execution.ts
  packages/domain/src/marketSnapshot.ts
  packages/domain/src/schema-sync.test.ts
  packages/domain/src/schemas/decision-plan.ts
  packages/domain/src/time.ts
  packages/proto/README.md
  packages/proto/buf.gen.yaml
  packages/proto/buf.lock
  packages/proto/buf.yaml
  packages/proto/cream/v1/common.proto
  packages/proto/cream/v1/decision.proto
  packages/proto/cream/v1/events.proto
  packages/proto/cream/v1/execution.proto
  packages/proto/cream/v1/market_snapshot.proto
  packages/proto/examples/decision.json
  packages/proto/examples/decision_plan.json
  packages/proto/examples/option_decision.json
  packages/proto/index.ts
  packages/proto/package.json
  packages/schema-gen/README.md
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: typescript

refactor(dashboard-api): use package imports instead of relative paths
  apps/dashboard-api/src/events/mappers.ts
  apps/dashboard-api/src/events/types.ts
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard-api/src/websocket/handlers/alerts.ts
  apps/dashboard-api/src/websocket/handlers/market.ts
  apps/dashboard-api/src/websocket/handlers/trading.ts
  apps/dashboard-api/src/websocket/routing.ts
  apps/dashboard-api/src/websocket/security.test.ts
  apps/dashboard-api/src/websocket/security.ts
  apps/dashboard-api/src/websocket/types.ts
Due: none

refactor(dashboard-api): centralize research package path resolution
  apps/dashboard-api/src/services/backtest-data.integration.test.ts
  apps/dashboard-api/src/services/backtest-data.ts
  apps/dashboard-api/src/services/backtest-executor.ts
  apps/dashboard-api/src/services/research-path.ts
Due: none

feat(execution-engine): add build-time protobuf generation with Buf
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/build.rs
  apps/execution-engine/src/server/grpc/mod.rs
  turbo.json
Due: rust

refactor(api): remove Mastra bundler externals config
  apps/api/README.md
  apps/api/package.json
  apps/api/src/mastra/index.ts
  apps/api/tests/agents.test.ts
Due: none

refactor(agents): consolidate external context tools
  packages/agents/README.md
  packages/agents/src/prompts/newsAnalyst.ts
  packages/agents/src/tools/definitions/externalContextTools.ts
Due: typescript

fix(external-context): add proper package exports for bundler compat
  packages/external-context/package.json
Due: typescript

docs: add gh, hcloud, and agent-browser to available tools
  CLAUDE.md
Due: none

chore(deps): add @cream/research dep to dashboard-api
  apps/dashboard-api/package.json
  bun.lock
Due: none

fix: update schema path and allow clippy::expect_used in build.rs
  apps/execution-engine/build.rs
  packages/domain/src/schema-sync.test.ts
Due: rust

style(dashboard-api): fix import order
  apps/dashboard-api/src/events/types.ts
  apps/dashboard-api/src/websocket/handlers/trading.ts
  apps/dashboard-api/src/websocket/types.ts
Due: none

style(schema-gen): format generated protobuf stubs
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
Due: none

fix(ci): add missing dependencies for build
  .github/workflows/test.yml
  apps/worker/package.json
  bun.lock
Due: none

chore: pkg updates
  bun.lock
  package.json
Due: none

chore: lock
  bun.lock
Due: none

docs: update code conventions and available tools section in CLAUDE.md
  CLAUDE.md
Due: none

feat(worker): add session-gated trading cycle scheduler
  apps/worker/src/contexts/scheduling/scheduler-manager.ts
Due: none

feat(marketdata): add Alpaca Screener API client
  packages/marketdata/src/providers/alpaca-screener.ts
  packages/marketdata/src/providers/index.ts
Due: typescript

feat(api,storage): add MacroWatch workflow for overnight scanning
  apps/api/src/mastra/workflows/index.ts
  apps/api/src/mastra/workflows/macro-watch/index.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/economic.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/index.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/movers.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/news.ts
  apps/api/src/mastra/workflows/macro-watch/scanners/prediction.ts
  apps/api/src/mastra/workflows/macro-watch/schemas.ts
  apps/api/src/mastra/workflows/macro-watch/workflow.ts
  packages/storage/migrations/init/18_macro_watch.sql
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/macro-watch.ts
Due: typescript

feat(api): add Morning Newspaper compilation service
  apps/api/src/mastra/workflows/macro-watch/index.ts
  apps/api/src/mastra/workflows/macro-watch/newspaper.ts
Due: none

feat(api): inject morning newspaper into OODA Orient phase
  apps/api/src/mastra/workflows/steps/trading-cycle/orient.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/types.ts
Due: none

test: add unit tests for overnight macro watch components
  apps/api/src/mastra/workflows/macro-watch/newspaper.test.ts
  apps/api/src/mastra/workflows/macro-watch/schemas.test.ts
  packages/marketdata/src/providers/alpaca-screener.test.ts
  packages/storage/src/repositories/macro-watch.test.ts
Due: none

feat(macro-watch): complete Plan 42 implementation
  apps/api/src/db.ts
  apps/api/src/index.ts
  apps/api/src/mastra/agents/types.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
  apps/worker/src/contexts/macro-watch/index.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.ts
  apps/worker/src/index.ts
  packages/config/src/schemas/index.ts
  packages/config/src/schemas/macro_watch.ts
Due: typescript

feat(worker): add FINRA short sale volume API and service trigger CLI
  .env.example
  apps/worker/src/cli/trigger-service.ts
  apps/worker/src/contexts/indicators/adapters/finra-adapter.ts
  apps/worker/src/contexts/indicators/batch-scheduler.test.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.test.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.test.ts
  apps/worker/src/contexts/trading-cycle/filings-sync.test.ts
Due: none

feat(dashboard): add Worker Services dashboard page
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/workers.test.ts
  apps/dashboard-api/src/routes/workers.ts
  apps/dashboard/e2e/workers.integration.ts
  apps/dashboard/src/app/(auth)/workers/page.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/workers/ServiceStatusCard.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
  apps/dashboard/src/components/workers/index.ts
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useWorkerServices.ts
Due: none

refactor(dashboard): move Workers to main nav, above Config
  apps/dashboard/src/components/layout/Sidebar.tsx
Due: none

fix(workers): connect dashboard trigger to worker HTTP API
  apps/dashboard-api/src/routes/workers.ts
  apps/worker/src/index.ts
  apps/worker/src/shared/health-server.ts
  apps/worker/src/shared/index.ts
Due: none

feat(workers): replace polling with websocket streaming
  apps/dashboard-api/src/routes/workers.ts
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard/src/app/(auth)/workers/page.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
  apps/dashboard/src/hooks/queries/useWorkerServices.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
  apps/worker/src/index.ts
  apps/worker/src/shared/health-server.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

fix(worker): newspaper trigger now returns actual status
  apps/worker/src/contexts/macro-watch/index.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.ts
  apps/worker/src/index.ts
Due: none

fix(workers): store result message in database for display
  apps/dashboard-api/src/routes/workers.ts
Due: none

feat(workers): add countdown timers and record scheduled runs
  apps/dashboard-api/src/routes/workers.ts
  apps/dashboard/src/app/(auth)/workers/page.tsx
  apps/dashboard/src/components/workers/ServiceStatusCard.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
  apps/dashboard/src/hooks/queries/useWorkerServices.ts
  apps/worker/src/contexts/scheduling/index.ts
  apps/worker/src/contexts/scheduling/scheduler-manager.ts
  apps/worker/src/contexts/scheduling/time-calculator.ts
  apps/worker/src/index.ts
  apps/worker/src/shared/health-server.ts
  apps/worker/src/shared/index.ts
  apps/worker/src/shared/run-recorder.ts
Due: none

style(dashboard): update error boundaries to match cream aesthetic
  apps/dashboard/src/components/ErrorState.tsx
  apps/dashboard/src/components/charts/chart-states/styles.ts
  apps/dashboard/src/components/error-boundary.tsx
Due: none

feat(dashboard): add expandable rows to worker runs table
  apps/dashboard-api/src/routes/workers.ts
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
  apps/dashboard/src/components/workers/index.ts
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useWorkerServices.ts
Due: none

fix(dashboard): use Fragment with key and valid color classes
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
Due: none

fix(dashboard-api): fix run details queries for expandable rows
  apps/dashboard-api/src/routes/workers.ts
Due: none

fix(worker): improve sentiment data collection
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/worker/src/contexts/indicators/adapters/alpaca-sentiment-adapter.ts
  packages/indicators/src/batch/sentiment-batch.ts
Due: typescript

feat(storage): add PostgreSQL and Drizzle ORM dependencies
  bun.lock
  packages/storage/package.json
Due: typescript
