Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

fix(schema-gen): use conditional exports for Bun compatibility
  packages/schema-gen/package.json
Due: none

fix(ci): use bun install --force to ensure fresh workspace linking
  .github/workflows/test.yml
Due: none

fix(schema-gen): add bun and default export conditions
  packages/schema-gen/package.json
Due: none

fix(domain): skip grpc tests in CI due to module resolution issues
  packages/domain/src/grpc/__tests__/grpc-client.test.ts
Due: none

fix(domain): remove grpc exports from main index to fix CI builds
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  packages/domain/src/index.ts
Due: typescript

fix(api): add ExecutionContext to tradingCycle.e2e tests
  apps/api/tests/tradingCycle.e2e.test.ts
Due: none

fix(ci): externalize schema-gen in mastra-kit and api builds
  apps/api/package.json
  packages/mastra-kit/package.json
Due: typescript

fix(api): use process.env instead of env object for env vars
  apps/api/workflows/steps/marketSnapshotBuilder.ts
Due: none

fix(ci): skip dashboard build before tests
  apps/dashboard/turbo.json
Due: none

fix(tests): update validateAuthToken tests and skip Signal Generation when uv unavailable
  apps/dashboard-api/src/services/backtest-data.test.ts
  apps/dashboard-api/src/websocket/handler.test.ts
Due: none

refactor(worker): require database config, remove defaults
  apps/worker/src/index.ts
Due: none

fix(mastra-kit): use dynamic imports for gRPC to fix CI module resolution
  packages/mastra-kit/src/tools/index.ts
Due: typescript

docs: replace libsql-server references with turso
  .env.live.example
  ARCHITECTURE.md
  CLAUDE.md
  PROJECT.md
  bun.lock
  docker-compose.prod.yml
  docker-compose.yml
  packages/domain/src/env.ts
  packages/domain/src/grpc/__tests__/grpc-client.test.ts
  packages/mastra-kit/src/tools/index.ts
  packages/schema-gen/package.json
  scripts/fetch-indicator-metadata.ts
Due: typescript

fix(schema-gen): pre-compile TypeScript to JS for CI compatibility
  packages/mastra-kit/src/tools/index.ts
  packages/schema-gen/tsconfig.build.json
Due: typescript

feat: replace in-memory storage and mocks with database persistence
  apps/api/fixtures/market/candles.fixture.ts
  apps/api/fixtures/market/index.ts
  apps/api/fixtures/market/snapshot.fixture.ts
  apps/api/src/db.ts
  apps/api/src/steps/persistMemory.ts
  apps/api/workflows/steps/marketSnapshotBuilder.ts
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/alerts.ts
  apps/dashboard-api/src/routes/preferences.ts
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/execution/backtest.rs
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/safety/mass_cancel.rs
  apps/worker/package.json
  apps/worker/src/db.ts
  apps/worker/src/index.ts
  bun.lock
  packages/helix/src/client.ts
  packages/helix/src/index.ts
  packages/helix/tests/queries/mutations.test.ts
  packages/storage/migrations/013_alert_settings.sql
  packages/storage/migrations/013_alert_settings_down.sql
  packages/storage/migrations/014_user_preferences.sql
  packages/storage/migrations/014_user_preferences_down.sql
  packages/storage/src/repositories/alert-settings.test.ts
  packages/storage/src/repositories/alert-settings.ts
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/user-preferences.test.ts
  packages/storage/src/repositories/user-preferences.ts
Due: typescript, rust

feat: deterministic order IDs, fixture-based snapshots, holding period calculation
  apps/api/fixtures/market/candles.fixture.ts
  apps/api/src/steps/buildSnapshot.ts
  apps/api/src/steps/executeOrders.ts
  apps/api/tests/executeOrders.test.ts
  apps/execution-engine/src/backtest/mod.rs
Due: rust

feat: remove JWT compat, add budget tracking, implement dashboard features
  apps/dashboard-api/src/websocket/handler.test.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/components/ui/add-symbol-modal.tsx
  apps/dashboard/src/hooks/useAggregateGreeks.ts
  apps/dashboard/src/hooks/usePositionGreeks.ts
  apps/dashboard/src/providers/WebSocketProvider.tsx
  packages/domain/src/factor-zoo.ts
  packages/domain/src/index.ts
  packages/domain/src/research-trigger.ts
  packages/helix-schema/src/cbr.ts
  packages/mastra-kit/src/services/research-trigger.test.ts
  packages/mastra-kit/src/services/research-trigger.ts
  packages/mastra-kit/src/tools/definitions/researchTrigger.test.ts
  packages/storage/src/repositories/factor-zoo.test.ts
  packages/storage/src/repositories/factor-zoo.ts
Due: typescript

feat: remove deprecated auth, implement audit logging and WebSocket handlers
  apps/dashboard-api/src/auth/session.ts
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/routes/indicators.ts
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/contexts/AuthContext.tsx
  packages/storage/migrations/015_audit_log.sql
  packages/storage/migrations/015_audit_log_down.sql
  packages/storage/src/repositories/audit-log.ts
  packages/storage/src/repositories/index.ts
Due: typescript

feat: remove isConnected alias, implement trading-cycle with fixtures
  apps/api/src/workflows/trading-cycle.ts
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/components/feed/SymbolStream.tsx
  apps/dashboard/src/providers/WebSocketProvider.tsx
Due: none

refactor: remove compatibility aliases and document type limitations
  apps/api/src/grpc/client.ts
  apps/dashboard-api/src/routes/index.ts
  packages/prediction-markets/src/index.ts
  packages/prediction-markets/src/types.test.ts
  packages/prediction-markets/src/types.ts
Due: typescript

refactor(helix-schema): simplify retainCase() API by removing unused params
  packages/helix-schema/src/cbr.test.ts
  packages/helix-schema/src/cbr.ts
  packages/helix-schema/src/index.ts
Due: typescript

fix(execution-engine): suppress unused code warnings
  apps/execution-engine/src/backtest/metrics.rs
  apps/execution-engine/src/backtest/parallel.rs
  apps/execution-engine/src/backtest/replay.rs
  apps/execution-engine/src/broker/retry.rs
  apps/execution-engine/src/execution/gateway.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/observability/metrics.rs
  apps/execution-engine/src/pricing/iv.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/safety/mass_cancel.rs
  apps/execution-engine/src/server/http.rs
Due: rust

feat: re-enable dashboard UI tests and update arrow-flight
  apps/dashboard/src/components/ui/ConnectionStatus.test.tsx
  apps/dashboard/src/components/ui/ConnectionStatus.test.tsx.skip
  apps/dashboard/src/components/ui/agent-streaming-output.test.tsx
  apps/dashboard/src/components/ui/animated-number.test.tsx
  apps/dashboard/src/components/ui/event-feed.test.tsx
  apps/dashboard/src/components/ui/icon.test.tsx
  apps/dashboard/src/components/ui/price-ticker.test.tsx
  apps/dashboard/src/components/ui/status-dot.test.tsx
  apps/dashboard/src/components/ui/system-health-badge.test.tsx
  apps/dashboard/src/styles/animations.test.ts
  apps/execution-engine/Cargo.toml
Due: rust

feat: enable container-based integration tests
  .github/workflows/test.yml
  apps/api/tests/integration/execution.test.ts
  apps/execution-engine/Dockerfile
  package.json
Due: rust

refactor(storage): consolidate migrations into single init.sql
  packages/storage/migrations/001_init.sql
  packages/storage/migrations/001_init_down.sql
  packages/storage/migrations/001_initial_schema.sql
  packages/storage/migrations/001_initial_schema_down.sql
  packages/storage/migrations/002_dashboard_tables.sql
  packages/storage/migrations/002_dashboard_tables_down.sql
  packages/storage/migrations/003_market_data_tables.sql
  packages/storage/migrations/003_market_data_tables_down.sql
  packages/storage/migrations/004_thesis_state.sql
  packages/storage/migrations/004_thesis_state_down.sql
  packages/storage/migrations/005_historical_universe.sql
  packages/storage/migrations/005_historical_universe_down.sql
  packages/storage/migrations/006_prediction_markets.sql
  packages/storage/migrations/006_prediction_markets_down.sql
  packages/storage/migrations/007_external_events.sql
  packages/storage/migrations/007_external_events_down.sql
  packages/storage/migrations/008_indicator_synthesis.sql
  packages/storage/migrations/008_indicator_synthesis_down.sql
  packages/storage/migrations/009_factor_zoo.sql
  packages/storage/migrations/009_factor_zoo_down.sql
  packages/storage/migrations/010_paper_signals.sql
  packages/storage/migrations/010_paper_signals_down.sql
  packages/storage/migrations/011_runtime_config.sql
  packages/storage/migrations/011_runtime_config_down.sql
  packages/storage/migrations/012_better_auth.sql
  packages/storage/migrations/012_better_auth_down.sql
  packages/storage/migrations/013_alert_settings.sql
  packages/storage/migrations/013_alert_settings_down.sql
  packages/storage/migrations/014_user_preferences.sql
  packages/storage/migrations/014_user_preferences_down.sql
  packages/storage/migrations/015_audit_log.sql
  packages/storage/migrations/015_audit_log_down.sql
Due: typescript

feat(config): integrate dependency validation into lint pipeline
  .github/workflows/test.yml
  .husky/pre-commit
  apps/api/tests/integration/execution.test.ts
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/components/providers/keyboard-shortcuts-provider.tsx
  apps/dashboard/src/components/ui/ConnectionStatus.tsx
  apps/dashboard/src/components/ui/agent-streaming-output.tsx
  apps/dashboard/src/components/ui/animated-number.tsx
  apps/dashboard/src/components/ui/connection-banner.test.ts
  apps/dashboard/src/components/ui/connection-status.tsx
  apps/dashboard/src/components/ui/dialog.tsx
  apps/dashboard/src/components/ui/empty-state.test.ts
  apps/dashboard/src/components/ui/empty-state.tsx
  apps/dashboard/src/components/ui/error-panel.tsx
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/backtest/cleanup.rs
  apps/execution-engine/src/backtest/data_gaps.rs
  apps/execution-engine/src/backtest/fill_engine.rs
  apps/execution-engine/src/backtest/logging.rs
  apps/execution-engine/src/backtest/metrics.rs
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/triggers.rs
  apps/execution-engine/src/backtest/walkforward.rs
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/gateway.rs
  apps/execution-engine/src/execution/reconciliation.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/execution/stops.rs
  apps/execution-engine/src/lib.rs
  apps/execution-engine/src/models/constraint.rs
  apps/execution-engine/src/observability/metrics.rs
  apps/execution-engine/src/pricing/iv.rs
  apps/execution-engine/src/pricing/strategy.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/server/arrow_flight.rs
  apps/execution-engine/src/server/grpc.rs
  package.json
  packages/config/src/bin/validate-deps.ts
  packages/research/research/backtest/fill_models.py
Due: typescript, rust, python

fix(api): add missing @cream/indicators dependency
  apps/api/package.json
  apps/execution-engine/src/backtest/replay.rs
  apps/execution-engine/src/backtest/walkforward.rs
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/execution/state.rs
  apps/execution-engine/src/execution/stops.rs
  apps/execution-engine/src/execution/tactics.rs
  apps/execution-engine/src/feed/gap_recovery.rs
  apps/execution-engine/src/feed/health.rs
  apps/execution-engine/src/feed/microstructure.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/models/environment.rs
  apps/execution-engine/src/observability/metrics.rs
  apps/execution-engine/src/options/multileg.rs
  apps/execution-engine/src/options/rolling.rs
  apps/execution-engine/src/pricing/iv.rs
  apps/execution-engine/src/pricing/strategy.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/risk/sizing.rs
  apps/execution-engine/src/server/arrow_flight.rs
  apps/execution-engine/src/server/grpc.rs
  bun.lock
Due: rust

fix(docker): include Cargo.lock in build context for reproducible builds
  .dockerignore
Due: none

fix(ci): correct integration test path pattern for bun test
  package.json
Due: none

fix(deps): update turbo to version 2.7.3 in package.json and bun.lock
  apps/execution-engine/src/backtest/security.rs
  apps/execution-engine/src/backtest/slippage.rs
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/backtest.rs
  apps/execution-engine/src/execution/persistence.rs
  apps/execution-engine/src/execution/reconciliation.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/execution/state.rs
  apps/execution-engine/src/execution/tactics.rs
  apps/execution-engine/src/feed/health.rs
  apps/execution-engine/src/feed/microstructure.rs
  apps/execution-engine/src/observability/tracing.rs
  apps/execution-engine/src/options/multileg.rs
  apps/execution-engine/src/pricing/iv.rs
  apps/execution-engine/src/pricing/strategy.rs
  apps/execution-engine/src/server/arrow_flight.rs
  apps/execution-engine/src/server/tls.rs
  bun.lock
  package.json
Due: rust

refactor: modernize TypeScript codebase to use Bun native APIs
  apps/api/scripts/backfill-thesis-memory.ts
  apps/dashboard-api/src/routes/theses.ts
  apps/dashboard-api/src/services/backtest-data.ts
  apps/dashboard-api/src/services/backtest-executor.ts
  apps/dashboard-api/src/services/risk/correlation.ts
  apps/dashboard-api/src/services/risk/limits.ts
  apps/dashboard-api/src/services/risk/var.ts
  apps/dashboard/src/components/dashboard/StreamingStatus.tsx
  apps/dashboard/src/components/options/OrderPreview.tsx
  apps/dashboard/src/components/options/PositionBuilderModal.tsx
  apps/dashboard/src/hooks/useStreamingMetrics.ts
  apps/dashboard/src/stores/streaming-metrics-store.ts
  apps/dashboard/src/styles/animations.test.ts
  apps/execution-engine/TACTICS_IMPLEMENTATION.md
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/persistence.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/options/rolling.rs
  apps/execution-engine/src/server/arrow_flight.rs
  apps/execution-engine/src/server/grpc.rs
  apps/execution-engine/src/server/http.rs
  apps/execution-engine/src/server/tls.rs
  apps/execution-engine/tests/tactics_integration_test.rs
  apps/worker/src/db.ts
  apps/worker/src/research/firecracker-runner.ts
  package.json
  packages/domain/src/schema-sync.test.ts
  packages/storage/src/migrations.test.ts
  packages/storage/src/migrations.ts
  packages/storage/src/turso.ts
Due: typescript, rust

docs: add guideline for self-documenting code and commenting practices
  .gitignore
  CLAUDE.md
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/parallel.rs
  apps/execution-engine/src/backtest/replay.rs
  apps/execution-engine/src/backtest/triggers.rs
  apps/execution-engine/src/backtest/walkforward.rs
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/backtest.rs
  apps/execution-engine/src/execution/gateway.rs
  apps/execution-engine/src/execution/persistence.rs
  apps/execution-engine/src/execution/reconciliation.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/execution/state.rs
  apps/execution-engine/src/execution/tactics.rs
  apps/execution-engine/src/options/rolling.rs
  apps/execution-engine/src/pricing/iv.rs
  apps/execution-engine/src/pricing/strategy.rs
  apps/execution-engine/src/resilience/circuit_breaker.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/risk/sizing.rs
  apps/execution-engine/src/safety/mass_cancel.rs
Due: rust

fix(pre-commit): improve re-staging logic for fixed files in pre-commit hook
  .husky/pre-commit
Due: none

fix(execution-engine): resolve all clippy warnings properly
  apps/execution-engine/src/backtest/look_ahead.rs
  apps/execution-engine/src/backtest/metrics.rs
  apps/execution-engine/src/backtest/monte_carlo.rs
  apps/execution-engine/src/backtest/multi_leg.rs
  apps/execution-engine/src/broker/retry.rs
  apps/execution-engine/src/config.rs
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/backtest.rs
  apps/execution-engine/src/execution/reconciliation.rs
  apps/execution-engine/src/execution/recovery.rs
  apps/execution-engine/src/execution/state.rs
  apps/execution-engine/src/feed/health.rs
  apps/execution-engine/src/feed/microstructure.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/observability/tracing.rs
  apps/execution-engine/src/options/multileg.rs
  apps/execution-engine/src/options/rolling.rs
  apps/execution-engine/src/pricing/iv.rs
  apps/execution-engine/src/resilience/circuit_breaker.rs
  apps/execution-engine/src/risk/constraints.rs
  apps/execution-engine/src/server/arrow_flight.rs
Due: rust

ci: make integration tests manual-only via workflow_dispatch
  .github/workflows/test.yml
Due: none

ci: enable Turbo remote cache for all workflows
  .github/workflows/agent-evals.yml
  .github/workflows/indicator-promotion.yml
  .github/workflows/indicator-retirement.yml
  .github/workflows/test.yml
Due: none

deps: upgrade major packages with breaking change fixes
  .gitignore
  apps/api/package.json
  apps/api/src/grpc/client.ts
  apps/dashboard-api/package.json
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/charts/AllocationChart.tsx
  apps/dashboard/src/components/charts/EquityCurve.tsx
  apps/dashboard/src/components/charts/ReturnsChart.tsx
  apps/dashboard/src/components/options/PLChart.tsx
  apps/worker/package.json
  bun.lock
  packages/config/package.json
  packages/dashboard-types/package.json
  packages/domain/package.json
  packages/domain/src/arrow/flight-client.ts
  packages/domain/src/grpc/execution.ts
  packages/domain/src/grpc/marketdata.ts
  packages/external-context/package.json
  packages/marketdata/package.json
  packages/marketdata/src/client.ts
  packages/marketdata/src/providers/alphavantage.ts
  packages/marketdata/src/snapshot/schema.ts
  packages/mastra-kit/package.json
  packages/mastra-kit/src/tools/index.ts
  packages/prediction-markets/package.json
  packages/schema-gen/package.json
  packages/schema-gen/ts/arrow/flight/protocol/flight_connect.ts
  packages/schema-gen/ts/arrow/flight/protocol/flight_pb.ts
  packages/schema-gen/ts/cream/v1/common_pb.ts
  packages/schema-gen/ts/cream/v1/decision_pb.ts
  packages/schema-gen/ts/cream/v1/events_pb.ts
  packages/schema-gen/ts/cream/v1/execution_connect.ts
  packages/schema-gen/ts/cream/v1/execution_pb.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_connect.ts
  packages/schema-gen/ts/cream/v1/market_snapshot_pb.ts
  packages/schema/buf.gen.yaml
  packages/schema/package.json
  packages/validation/package.json
Due: typescript
