Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

refactor(agents): enrich sentiment analysis with structured news and event fields
  apps/api/src/mastra/agents/schemas.ts
  packages/agents/src/agents/configs/newsAnalyst.ts
  packages/agents/src/prompts/newsAnalyst.ts
  packages/agents/src/types.ts
Due: typescript

feat(agents): add partial approval support for critic and risk manager
  packages/agents/src/consensus.ts
  packages/agents/src/prompts/critic.ts
  packages/agents/src/prompts/riskManager.ts
Due: typescript

feat(workflows): implement partial approval handling in trading cycle
  apps/api/src/mastra/workflows/steps/trading-cycle/decide.ts
  apps/api/src/mastra/workflows/steps/trading-cycle/types.ts
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
Due: none

feat(agents): enforce 2x ATR minimum for stop-loss placement
  packages/agents/src/prompts/trader.ts
Due: typescript

style: format code and remove unused tool args accumulator
  apps/api/src/mastra/agents/grounding.ts
  packages/domain/src/events.ts
  packages/marketdata/src/mock/mock-adapter.test.ts
  packages/storage/drizzle.config.ts
Due: typescript

fix(workflow): require instruments from runtime config, remove hardcoded defaults
  apps/api/src/mastra/workflows/trading-cycle/schemas.ts
  apps/api/src/mastra/workflows/trading-cycle/workflow.ts
  apps/dashboard-api/src/routes/system/cycles.ts
Due: none

fix(dashboard): add edit mode for universe symbol lists
  apps/dashboard/src/app/(auth)/config/[section]/components/UniverseSection.tsx
Due: none

fix(config): return draft config from GET endpoints and show draft indicator
  apps/dashboard-api/src/routes/config/constraints.ts
  apps/dashboard-api/src/routes/config/universe.ts
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
Due: none

feat(dashboard): add real-time streaming for portfolio metrics
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard-api/src/streaming/index.ts
  apps/dashboard-api/src/streaming/trading-updates.ts
  apps/dashboard-api/src/websocket/handlers/portfolio.ts
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/AccountSummaryCard.tsx
  apps/dashboard/src/components/portfolio/AllocationDonut.tsx
  apps/dashboard/src/components/portfolio/EquityCurveChart.tsx
  apps/dashboard/src/components/portfolio/RiskMetricsBar.tsx
  apps/dashboard/src/components/portfolio/StreamingPositionsTable.tsx
  apps/dashboard/src/hooks/useRiskMetricsStreaming.ts
Due: none

fix(ci): update agent test and remove unused import
  apps/api/tests/agents.test.ts
  packages/external-context/src/pipeline.ts
Due: typescript

fix(dashboard-api): reduce websocket reconnect log spam
  apps/dashboard-api/src/streaming/shared-options-ws.ts
  apps/dashboard-api/src/streaming/trading-updates.ts
Due: none

fix(ci): refactor check_constraints to fix clippy too_many_lines error
  apps/execution-engine/src/infrastructure/grpc/service.rs
Due: rust

fix(ci): add --fix --allow-dirty --allow-staged to clippy commands
  .husky/pre-commit
  apps/execution-engine/package.json
  package.json
Due: rust

feat(dashboard): update PDT status display based on equity threshold
  apps/dashboard/src/components/portfolio/AccountSummaryCard.tsx
Due: none

feat(api): persist orders to PostgreSQL after gRPC submission
  apps/api/src/mastra/workflows/steps/trading-cycle/act.ts
Due: none

feat(dashboard): add closed trades tab with FIFO P&L calculation
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/ClosedTradesTable.tsx
  apps/dashboard/src/components/portfolio/PositionsPanel.tsx
  apps/dashboard/src/hooks/queries/usePortfolio.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/portfolio.ts
Due: none

chore(dashboard-api): add Alpaca order sync script
  apps/dashboard-api/src/scripts/sync-alpaca-orders.ts
Due: none

fix(worker): add timeout and logging for prediction markets workflow
  apps/worker/src/contexts/trading-cycle/prediction-markets.ts
  apps/worker/src/shared/health-server.ts
Due: none

feat(execution-engine): add RollOptionUseCase for rolling option positions
  apps/execution-engine/src/application/use_cases/mod.rs
  apps/execution-engine/src/application/use_cases/roll_option.rs
Due: rust

chore(execution-engine): wire RollOptionUseCase into DI container
  apps/execution-engine/src/infrastructure/config/container.rs
Due: rust

feat(execution-engine): add position monitoring with WebSocket infrastructure
  Cargo.lock
  apps/execution-engine/Cargo.toml
  apps/execution-engine/package.json
  apps/execution-engine/src/application/mod.rs
  apps/execution-engine/src/application/services/mod.rs
  apps/execution-engine/src/application/services/position_monitor.rs
  apps/execution-engine/src/infrastructure/mod.rs
  apps/execution-engine/src/infrastructure/websocket/codec.rs
  apps/execution-engine/src/infrastructure/websocket/manager.rs
  apps/execution-engine/src/infrastructure/websocket/mod.rs
  apps/execution-engine/src/infrastructure/websocket/reconnect.rs
  apps/execution-engine/src/infrastructure/websocket/types.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/tests/fixtures/butterfly_spread.json
  apps/execution-engine/tests/fixtures/buy_to_cover.json
  apps/execution-engine/tests/fixtures/equity_swing_trade.json
  apps/execution-engine/tests/fixtures/iron_condor.json
  apps/execution-engine/tests/fixtures/no_trade_cycle.json
  apps/execution-engine/tests/fixtures/options_vertical_spread.json
  apps/execution-engine/tests/fixtures/pdt_close_position.json
  apps/execution-engine/tests/fixtures/portfolio_rebalance.json
  apps/execution-engine/tests/fixtures/rejected_by_risk.json
  apps/execution-engine/tests/fixtures/short_sell_entry.json
  apps/execution-engine/tests/fixtures/single_leg_call.json
  apps/execution-engine/tests/fixtures/single_leg_put.json
  apps/execution-engine/turbo.json
Due: rust

refactor(worker): update scheduling, monitoring, and services
  apps/worker/package.json
  apps/worker/src/cli/trigger-service.ts
  apps/worker/src/contexts/economic-calendar/economic-calendar-service.ts
  apps/worker/src/contexts/indicators/adapters/alpaca-corporate-actions-adapter.ts
  apps/worker/src/contexts/indicators/adapters/alpaca-sentiment-adapter.ts
  apps/worker/src/contexts/indicators/adapters/finra-adapter.ts
  apps/worker/src/contexts/indicators/batch-scheduler.test.ts
  apps/worker/src/contexts/indicators/batch-scheduler.ts
  apps/worker/src/contexts/indicators/init.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.test.ts
  apps/worker/src/contexts/macro-watch/macro-watch-service.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.test.ts
  apps/worker/src/contexts/macro-watch/newspaper-service.ts
  apps/worker/src/contexts/monitoring/evaluation.ts
  apps/worker/src/contexts/monitoring/expiration-monitor.ts
  apps/worker/src/contexts/scheduling/scheduler-manager.ts
  apps/worker/src/contexts/trading-cycle/cycle-trigger.ts
  apps/worker/src/contexts/trading-cycle/filings-sync.test.ts
  apps/worker/src/contexts/trading-cycle/filings-sync.ts
  apps/worker/src/contexts/trading-cycle/prediction-markets.ts
  apps/worker/src/index.ts
  apps/worker/src/shared/database.ts
  apps/worker/src/shared/health-server.ts
  apps/worker/tsconfig.json
Due: none

chore: update configs, scripts, and tooling
  biome.json
  package.json
  packages/infra/package.json
  packages/proto/examples/decision.json
  packages/proto/examples/decision_plan.json
  packages/proto/examples/option_decision.json
  packages/proto/package.json
  packages/schema-gen/package.json
  packages/schema-gen/tsconfig.build.json
  packages/tsconfig/base.json
  packages/tsconfig/bun.json
  packages/tsconfig/package.json
  packages/tsconfig/react.json
  scripts/query-decisions.ts
  scripts/validate-versions/colors.ts
  scripts/validate-versions/index.ts
  scripts/validate-versions/logger.ts
  scripts/validate-versions/reporters.ts
  scripts/validate-versions/types.ts
  scripts/validate-versions/validators.ts
  scripts/validate-versions/version.ts
  tsconfig.base.json
  turbo.json
Due: typescript

fix(biome): disable a11y rules incompatible with virtualized tables
  biome.json
Due: none

update
  Cargo.lock
  apps/api/src/mastra/agents/factory.ts
  apps/api/src/mastra/agents/stream-forwarder.ts
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/app/(auth)/portfolio/positions/[id]/page.tsx
  apps/dashboard/src/app/(auth)/theses/[id]/components/ThesisDetails.tsx
  apps/dashboard/src/components/feed/SymbolStream.tsx
  apps/dashboard/src/components/portfolio/AggregateGreeks.tsx
  apps/dashboard/src/components/portfolio/ClosedTradesTable.tsx
  apps/dashboard/src/components/portfolio/EquityCurveChart.tsx
  apps/dashboard/src/components/portfolio/OptionsPositionRow.tsx
  apps/dashboard/src/components/portfolio/OrderHistoryWidget.tsx
  apps/dashboard/src/components/portfolio/PositionRow.tsx
  apps/dashboard/src/components/portfolio/PositionsPanel.tsx
  apps/dashboard/src/components/portfolio/PositionsTable.tsx
  apps/dashboard/src/components/portfolio/StreamingPositionsTable.tsx
  apps/dashboard/src/components/risk/GreekCard.tsx
  apps/dashboard/src/components/risk/PortfolioGreeks.tsx
  apps/dashboard/src/components/workers/RunDetailPanel.tsx
  apps/dashboard/src/components/workers/WorkerRunsTable.tsx
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/infrastructure/broker/alpaca/error.rs
  apps/execution-engine/src/infrastructure/broker/alpaca/http_client.rs
  apps/execution-engine/src/main.rs
Due: rust

feat(execution-engine): connect to stream-proxy for real-time quotes
  apps/execution-engine/src/application/ports/mod.rs
  apps/execution-engine/src/application/ports/quote_provider_port.rs
  apps/execution-engine/src/application/services/position_monitor.rs
  apps/execution-engine/src/infrastructure/stream_proxy/mod.rs
  apps/execution-engine/src/infrastructure/stream_proxy/quote_manager.rs
  apps/execution-engine/src/infrastructure/websocket/manager.rs
  apps/execution-engine/src/main.rs
Due: rust

fix(stream-proxy): add clippy allow directives for expect_used
  apps/alpaca-stream-proxy/src/infrastructure/metrics/mod.rs
  apps/alpaca-stream-proxy/src/infrastructure/telemetry/mod.rs
Due: none

feat(mastra): migrate recalc_indicator tool to v1 pattern
  apps/dashboard-api/src/streaming/proxy-client.ts
  apps/mastra/.env.example
  apps/mastra/package.json
  apps/mastra/src/index.ts
  apps/mastra/src/mastra/agents/index.ts
  apps/mastra/src/mastra/index.ts
  apps/mastra/src/mastra/scorers/index.ts
  apps/mastra/src/mastra/tools/index.ts
  apps/mastra/src/mastra/tools/indicators/index.ts
  apps/mastra/src/mastra/tools/indicators/recalc-indicator.ts
  apps/mastra/src/mastra/tools/market-data/get-greeks.ts
  apps/mastra/src/mastra/tools/market-data/get-market-snapshots.ts
  apps/mastra/src/mastra/tools/market-data/get-quotes.ts
  apps/mastra/src/mastra/tools/market-data/index.ts
  apps/mastra/src/mastra/tools/market-data/option-chain.ts
  apps/mastra/src/mastra/tools/portfolio/get-enriched-portfolio-state.ts
  apps/mastra/src/mastra/tools/portfolio/get-portfolio-state.ts
  apps/mastra/src/mastra/tools/portfolio/index.ts
  apps/mastra/src/mastra/tools/prediction-markets/get-market-snapshots.ts
  apps/mastra/src/mastra/tools/prediction-markets/index.ts
  apps/mastra/src/mastra/workflows/index.ts
  apps/mastra/src/server.ts
  apps/mastra/tsconfig.json
Due: none

feat(mastra): migrate tools to Mastra v1 pattern
  apps/mastra/src/mastra/tools/academic/index.ts
  apps/mastra/src/mastra/tools/academic/search-academic-papers.ts
  apps/mastra/src/mastra/tools/external-context/analyze-content.ts
  apps/mastra/src/mastra/tools/external-context/extract-news-context.ts
  apps/mastra/src/mastra/tools/external-context/index.ts
  apps/mastra/src/mastra/tools/fred/fred-economic-calendar.ts
  apps/mastra/src/mastra/tools/fred/index.ts
  apps/mastra/src/mastra/tools/graphrag/graphrag-query.ts
  apps/mastra/src/mastra/tools/graphrag/index.ts
  apps/mastra/src/mastra/tools/helix/helix-query.ts
  apps/mastra/src/mastra/tools/helix/index.ts
  apps/mastra/src/mastra/tools/index.ts
  apps/mastra/src/mastra/tools/prediction-markets/get-prediction-signals.ts
Due: none

feat(mastra): migrate news_analyst agent to v1 pattern
  apps/mastra/src/mastra/agents/index.ts
  apps/mastra/src/mastra/agents/news-analyst.ts
Due: none

feat(mastra): migrate all trading network agents to v1 pattern
  apps/mastra/src/mastra/agents/bearish-researcher.ts
  apps/mastra/src/mastra/agents/bullish-researcher.ts
  apps/mastra/src/mastra/agents/critic.ts
  apps/mastra/src/mastra/agents/fundamentals-analyst.ts
  apps/mastra/src/mastra/agents/grounding-agent.ts
  apps/mastra/src/mastra/agents/index.ts
  apps/mastra/src/mastra/agents/risk-manager.ts
  apps/mastra/src/mastra/agents/routing-agent.ts
  apps/mastra/src/mastra/agents/trader.ts
  apps/mastra/src/mastra/index.ts
Due: none

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
