Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

refactor(execution-engine): clean up backtest replay module
  apps/execution-engine/src/backtest/replay/error.rs
  apps/execution-engine/src/backtest/replay/mod.rs
  apps/execution-engine/src/backtest/replay/types.rs
Due: rust

chore: update docs and dependencies
  ARCHITECTURE.md
  Cargo.lock
  PROJECT.md
Due: none

feat(dashboard): integrate indicator engine v2 with IndicatorSnapshotPanel
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/market/indicators.ts
  apps/dashboard-api/src/routes/price-indicators.test.ts
  apps/dashboard-api/src/routes/price-indicators.ts
  apps/dashboard-api/src/services/indicators.ts
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartContent.tsx
  apps/dashboard/src/app/(auth)/indicators/[id]/page.tsx
  apps/dashboard/src/app/(auth)/indicators/page.tsx
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/components/indicators/BatchJobStatus.test.tsx
  apps/dashboard/src/components/indicators/CategoryPanels.tsx
  apps/dashboard/src/components/indicators/FundamentalsIndicators.test.tsx
  apps/dashboard/src/components/indicators/IndicatorGrid.tsx
  apps/dashboard/src/components/indicators/IndicatorSection.tsx
  apps/dashboard/src/components/indicators/IndicatorSnapshot.test.tsx
  apps/dashboard/src/components/indicators/IndicatorSnapshotPanel.tsx
  apps/dashboard/src/components/indicators/IndicatorValue.tsx
  apps/dashboard/src/components/indicators/OptionsIndicators.test.tsx
  apps/dashboard/src/components/indicators/PriceIndicators.test.tsx
  apps/dashboard/src/components/indicators/SentimentIndicators.test.tsx
  apps/dashboard/src/components/indicators/ShortInterestIndicators.test.tsx
  apps/dashboard/src/components/indicators/index.ts
  apps/dashboard/src/hooks/queries/useMarket.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/market.ts
  apps/dashboard/src/lib/utils.ts
  bun.lock
  packages/dashboard-types/package.json
  packages/dashboard-types/src/api/index.ts
  packages/dashboard-types/src/api/market.ts
  packages/indicators/package.json
  packages/indicators/src/types/schemas.ts
  packages/storage/migrations/init/08_indicators.sql
Due: typescript

fix(dashboard): move indicator panel below options chain table
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
Due: none

fix(dashboard): make options page content area scrollable
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
Due: none

fix(dashboard): restore options chain virtualization with proper height
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
Due: none

feat(dashboard): add indicator drawer to options page
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/components/indicators/IndicatorDrawer.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

fix(dashboard-api): update e2e tests to use market indicators route
  apps/dashboard-api/tests/integration/indicators.e2e.test.ts
Due: none

fix(dashboard): improve text contrast on feed page stats
  apps/dashboard/src/app/(auth)/feed/page.tsx
Due: none

fix(dashboard): remove indicators nav item from sidebar
  apps/dashboard/src/components/layout/Sidebar.tsx
Due: none

feat(marketdata): add realtime OPRA options data with IV solver
  apps/dashboard-api/src/services/indicators.ts
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartContent.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartHeader.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/types.ts
  apps/dashboard/src/components/indicators/CategoryPanels.tsx
  apps/dashboard/src/components/indicators/IndicatorValue.tsx
  packages/marketdata/src/index.ts
  packages/marketdata/src/options/index.ts
  packages/marketdata/src/options/ivSolver.test.ts
  packages/marketdata/src/options/ivSolver.ts
  packages/marketdata/src/options/realtimeOptionsProvider.ts
Due: typescript

fix(dashboard-api): add missing optionsCalculator dependency
  apps/dashboard-api/src/services/indicators.ts
Due: none

fix(dashboard): show after-hours message for options data
  apps/dashboard/src/components/indicators/CategoryPanels.tsx
  apps/dashboard/src/components/indicators/IndicatorSnapshotPanel.tsx
Due: none

fix(dashboard): remove skeleton loading state from indicator sections
  apps/dashboard/src/components/indicators/IndicatorSection.tsx
Due: none

feat(dashboard): show after-hours status for options data
  apps/dashboard-api/src/services/indicators.ts
  apps/dashboard/src/components/indicators/CategoryPanels.tsx
  apps/dashboard/src/components/indicators/IndicatorSection.tsx
  apps/dashboard/src/components/indicators/IndicatorSnapshotPanel.tsx
  apps/dashboard/src/lib/market-hours.ts
Due: none

fix(dashboard-api): mock createRealtimeOptionsProvider in indicator tests
  apps/dashboard-api/tests/integration/indicators.e2e.test.ts
Due: none

feat(dashboard-api): add Alpaca account and portfolio history endpoints
  apps/dashboard-api/package.json
  apps/dashboard-api/src/routes/portfolio.ts
  bun.lock
  packages/dashboard-types/src/api/account.ts
  packages/dashboard-types/src/api/index.ts
Due: typescript

fix(dashboard-api): use lastdayPrice for real-time Day P&L calculation
  apps/dashboard-api/src/routes/portfolio.ts
Due: none

feat(dashboard-api): add 3-month period to performance metrics
  apps/dashboard-api/src/routes/portfolio.ts
  packages/dashboard-types/src/api/portfolio.ts
Due: typescript

feat(broker,dashboard): complete portfolio API implementation
  apps/dashboard-api/src/routes/portfolio.ts
  packages/broker/src/adapters/backtest.ts
  packages/broker/src/client/alpaca-types.ts
  packages/broker/src/client/mappers.ts
  packages/broker/src/index.ts
  packages/broker/src/portfolio-history.ts
  packages/broker/src/types.ts
  packages/dashboard-types/src/api/account.ts
  packages/dashboard-types/src/api/index.ts
Due: typescript

feat(dashboard): add useAccount and usePortfolioHistory query hooks
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/usePortfolio.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/portfolio.ts
Due: none

feat(portfolio): extend performance metrics with volatility and periods
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard/src/lib/api/types/portfolio.ts
  packages/dashboard-types/src/api/portfolio.ts
Due: typescript

feat(portfolio): add Day P&L calculation using lastdayPrice
  apps/dashboard-api/src/routes/portfolio.ts
  apps/dashboard/src/hooks/usePortfolioStreaming.ts
  apps/dashboard/src/lib/api/types/trading.ts
  packages/dashboard-types/src/api/portfolio.ts
Due: typescript

feat(mastra-kit): add checkIndicatorTrigger tool for Orient phase
  packages/mastra-kit/src/tools/definitions/checkIndicatorTrigger.ts
  packages/mastra-kit/src/tools/definitions/index.ts
Due: typescript

feat(mastra-kit): export checkIndicatorTrigger tool from definitions
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(dashboard-api): add Alpaca Trade Updates WebSocket service
  apps/dashboard-api/src/services/alpaca-streaming.ts
Due: none

feat(websocket): add account, position, and order update message types
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard-api/src/websocket/handlers/account.ts
  apps/dashboard-api/src/websocket/handlers/index.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

feat(dashboard): add useAccountStreaming hook for real-time account updates
  apps/dashboard/src/hooks/useAccountStreaming.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
Due: none

feat(mastra-kit): add comprehensive unit tests for checkIndicatorTrigger tool
  packages/indicators/src/types/index.ts
  packages/mastra-kit/src/tools/definitions/checkIndicatorTrigger.test.ts
Due: typescript

feat(api): wire checkIndicatorTrigger into Orient phase
  apps/api/src/db.ts
  apps/api/src/workflows/steps/trading-cycle/index.ts
  apps/api/src/workflows/steps/trading-cycle/orient.ts
  apps/api/src/workflows/steps/trading-cycle/types.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(dashboard): create portfolio page layout structure
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
Due: none

feat(dashboard): add AccountSummaryCard component with 8 account metrics
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/AccountSummaryCard.tsx
Due: none

feat(dashboard): add PerformanceGrid component with multi-timeframe returns
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/PerformanceGrid.tsx
Due: none

feat(dashboard): add EquityCurveChart with TradingView Lightweight Charts
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/EquityCurveChart.tsx
Due: none

feat(dashboard): add LiveIndicator component for WebSocket status
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/LiveIndicator.tsx
Due: none

feat(dashboard): add RiskMetricsBar component with 6 risk statistics
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/components/portfolio/RiskMetricsBar.tsx
Due: none

feat(api): add gatherTriggerContext step for indicator synthesis workflow
  apps/api/src/workflows/indicator-synthesis/steps.ts
Due: none

feat(api): add generateHypothesis step for indicator synthesis workflow
  apps/api/src/workflows/indicator-synthesis/steps.ts
Due: none

feat(api): add implementIndicator step for indicator synthesis workflow
  apps/api/src/workflows/indicator-synthesis/steps.ts
Due: none
