Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

refactor(execution-engine): split alpaca.rs into 6 broker modules
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/execution/alpaca/account.rs
  apps/execution-engine/src/execution/alpaca/api_types.rs
  apps/execution-engine/src/execution/alpaca/error.rs
  apps/execution-engine/src/execution/alpaca/fees.rs
  apps/execution-engine/src/execution/alpaca/mod.rs
  apps/execution-engine/src/execution/alpaca/options.rs
  apps/execution-engine/src/execution/mod.rs
Due: rust

refactor(api): split mastra-agents.ts into focused agent modules
  apps/api/src/agents/analysts.ts
  apps/api/src/agents/approvers.ts
  apps/api/src/agents/consensus.ts
  apps/api/src/agents/factory.ts
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/agents/prompts.ts
  apps/api/src/agents/researchers.ts
  apps/api/src/agents/schemas.ts
  apps/api/src/agents/trader.ts
  apps/api/src/agents/types.ts
Due: none

refactor(execution-engine): split multileg.rs into 8 options modules
  apps/execution-engine/src/options/multileg.rs
  apps/execution-engine/src/options/multileg/assignment_risk.rs
  apps/execution-engine/src/options/multileg/early_exercise.rs
  apps/execution-engine/src/options/multileg/greeks.rs
  apps/execution-engine/src/options/multileg/leg.rs
  apps/execution-engine/src/options/multileg/mod.rs
  apps/execution-engine/src/options/multileg/position_tracker.rs
  apps/execution-engine/src/options/multileg/types.rs
  apps/execution-engine/src/options/multileg/validation.rs
Due: rust

refactor(dashboard-api): split system.ts routes into focused modules
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard-api/src/routes/system/control.ts
  apps/dashboard-api/src/routes/system/cycles.ts
  apps/dashboard-api/src/routes/system/health.ts
  apps/dashboard-api/src/routes/system/index.ts
  apps/dashboard-api/src/routes/system/state.ts
  apps/dashboard-api/src/routes/system/types.ts
Due: none

refactor(execution-engine): split reconciliation.rs into 7 modules
  apps/execution-engine/src/execution/reconciliation/config.rs
  apps/execution-engine/src/execution/reconciliation/discrepancy.rs
  apps/execution-engine/src/execution/reconciliation/error.rs
  apps/execution-engine/src/execution/reconciliation/mod.rs
  apps/execution-engine/src/execution/reconciliation/orphan.rs
  apps/execution-engine/src/execution/reconciliation/report.rs
  apps/execution-engine/src/execution/reconciliation/snapshot.rs
Due: rust

refactor(dashboard-api): split websocket handler into focused modules
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/src/websocket/handlers/alerts.ts
  apps/dashboard-api/src/websocket/handlers/index.ts
  apps/dashboard-api/src/websocket/handlers/market.ts
  apps/dashboard-api/src/websocket/handlers/portfolio.ts
  apps/dashboard-api/src/websocket/handlers/trading.ts
  apps/dashboard-api/src/websocket/index.ts
  apps/dashboard-api/src/websocket/routing.ts
  apps/dashboard-api/src/websocket/types.ts
Due: none

refactor(dashboard-api): split market.ts routes into focused modules
  apps/dashboard-api/src/routes/market/candles.ts
  apps/dashboard-api/src/routes/market/index.ts
  apps/dashboard-api/src/routes/market/indicators.ts
  apps/dashboard-api/src/routes/market/quotes.ts
  apps/dashboard-api/src/routes/market/regime.ts
  apps/dashboard-api/src/routes/market/types.ts
Due: none

refactor(execution-engine): split stops.rs into 7 enforcement modules
  apps/execution-engine/src/execution/mod.rs
  apps/execution-engine/src/execution/stops.rs
  apps/execution-engine/src/execution/stops/bracket.rs
  apps/execution-engine/src/execution/stops/error.rs
  apps/execution-engine/src/execution/stops/mod.rs
  apps/execution-engine/src/execution/stops/monitor.rs
  apps/execution-engine/src/execution/stops/simulator.rs
  apps/execution-engine/src/execution/stops/types.rs
  apps/execution-engine/src/execution/stops/validator.rs
Due: rust

refactor(dashboard-api): split config.ts routes into focused modules
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard-api/src/routes/config/agents.ts
  apps/dashboard-api/src/routes/config/constraints.ts
  apps/dashboard-api/src/routes/config/index.ts
  apps/dashboard-api/src/routes/config/trading.ts
  apps/dashboard-api/src/routes/config/types.ts
  apps/dashboard-api/src/routes/config/universe.ts
  apps/dashboard-api/src/routes/config/versions.ts
Due: none

refactor(execution-engine): extract simulation types from backtest/mod.rs
  apps/execution-engine/src/backtest/engine.rs
  apps/execution-engine/src/backtest/mod.rs
  apps/execution-engine/src/backtest/order.rs
  apps/execution-engine/src/backtest/position.rs
  apps/execution-engine/src/backtest/trade.rs
Due: rust

refactor(execution-engine): split pricing/strategy.rs into 6 modules
  apps/execution-engine/src/pricing/mod.rs
  apps/execution-engine/src/pricing/strategy/builder.rs
  apps/execution-engine/src/pricing/strategy/error.rs
  apps/execution-engine/src/pricing/strategy/leg.rs
  apps/execution-engine/src/pricing/strategy/mod.rs
  apps/execution-engine/src/pricing/strategy/types.rs
  apps/execution-engine/src/pricing/strategy/validation.rs
Due: rust

refactor(dashboard): split api/types.ts into domain modules
  apps/dashboard/src/lib/api/types.ts
  apps/dashboard/src/lib/api/types/common.ts
  apps/dashboard/src/lib/api/types/config.ts
  apps/dashboard/src/lib/api/types/index.ts
  apps/dashboard/src/lib/api/types/market.ts
  apps/dashboard/src/lib/api/types/portfolio.ts
  apps/dashboard/src/lib/api/types/system.ts
  apps/dashboard/src/lib/api/types/trading.ts
  apps/dashboard/src/lib/api/types/websocket.ts
Due: none

refactor(dashboard): split event-normalizer.ts into parser modules
  apps/dashboard/src/app/(auth)/config/edit/components/AgentConfigList.tsx
  apps/dashboard/src/app/(auth)/config/edit/components/FormFields.tsx
  apps/dashboard/src/app/(auth)/config/edit/components/TradingConfigForm.tsx
  apps/dashboard/src/app/(auth)/config/edit/components/UniverseConfigForm.tsx
  apps/dashboard/src/app/(auth)/config/edit/components/helpers.tsx
  apps/dashboard/src/app/(auth)/config/edit/components/index.ts
  apps/dashboard/src/app/(auth)/config/edit/page.tsx
  apps/dashboard/src/lib/feed/event-normalizer.ts
  apps/dashboard/src/lib/feed/index.ts
  apps/dashboard/src/lib/feed/normalizer.ts
  apps/dashboard/src/lib/feed/parsers/agent.ts
  apps/dashboard/src/lib/feed/parsers/backtest.ts
  apps/dashboard/src/lib/feed/parsers/cycle.ts
  apps/dashboard/src/lib/feed/parsers/decision.ts
  apps/dashboard/src/lib/feed/parsers/index.ts
  apps/dashboard/src/lib/feed/parsers/options.ts
  apps/dashboard/src/lib/feed/parsers/order.ts
  apps/dashboard/src/lib/feed/parsers/quote.ts
  apps/dashboard/src/lib/feed/parsers/system.ts
  apps/dashboard/src/lib/feed/parsers/trade.ts
  apps/dashboard/src/lib/feed/types.ts
Due: none

refactor(mastra-kit): split webSearch.ts into 8 tool modules
  packages/mastra-kit/src/tools/webSearch.ts
  packages/mastra-kit/src/tools/webSearch/cache.ts
  packages/mastra-kit/src/tools/webSearch/domains.ts
  packages/mastra-kit/src/tools/webSearch/helpers.ts
  packages/mastra-kit/src/tools/webSearch/index.ts
  packages/mastra-kit/src/tools/webSearch/metrics.ts
  packages/mastra-kit/src/tools/webSearch/rateLimiter.ts
  packages/mastra-kit/src/tools/webSearch/security.ts
  packages/mastra-kit/src/tools/webSearch/types.ts
Due: typescript

refactor(mastra-kit): split factorZoo.ts into 11 tool modules
  packages/mastra-kit/src/tools/definitions/factorZoo/checkFactorDecay.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/computeMegaAlpha.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/computeMegaAlphaForSymbols.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/getActiveFactors.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/getCurrentWeights.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/getFactorContext.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/getFactorZooStats.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/index.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/runDecayMonitor.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/schemas.ts
  packages/mastra-kit/src/tools/definitions/factorZoo/updateDailyWeights.ts
Due: typescript

refactor(config): split runtime-config.ts into focused modules
  packages/config/src/runtime-config/defaults.ts
  packages/config/src/runtime-config/error.ts
  packages/config/src/runtime-config/history.ts
  packages/config/src/runtime-config/index.ts
  packages/config/src/runtime-config/service.ts
  packages/config/src/runtime-config/types.ts
  packages/config/src/runtime-config/validation.ts
Due: typescript

refactor(helix): split graph.ts into 7 query modules
  packages/helix/src/queries/graph.ts
  packages/helix/src/queries/graph/citations.ts
  packages/helix/src/queries/graph/index.ts
  packages/helix/src/queries/graph/nodes.ts
  packages/helix/src/queries/graph/relationships.ts
  packages/helix/src/queries/graph/scoring.ts
  packages/helix/src/queries/graph/temporal.ts
  packages/helix/src/queries/graph/traversal.ts
  packages/helix/src/queries/graph/types.ts
Due: typescript

refactor(helix-schema): extract types from barrel export index.ts
  packages/helix-schema/src/edge-types.ts
  packages/helix-schema/src/enums.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/src/node-types.ts
Due: typescript

refactor(dashboard): split config/[section]/page.tsx into components
  apps/dashboard/src/app/(auth)/config/[section]/components/AgentsSection.tsx
  apps/dashboard/src/app/(auth)/config/[section]/components/ConstraintsSection.tsx
  apps/dashboard/src/app/(auth)/config/[section]/components/NotificationsSection.tsx
  apps/dashboard/src/app/(auth)/config/[section]/components/UniverseSection.tsx
  apps/dashboard/src/app/(auth)/config/[section]/components/index.ts
  apps/dashboard/src/app/(auth)/config/[section]/components/shared.tsx
  apps/dashboard/src/app/(auth)/config/[section]/hooks.ts
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
  apps/dashboard/src/app/(auth)/config/[section]/types.ts
Due: none

refactor(research): split training.py into 5 evaluator modules
  packages/research/research/evaluator/training.py
  packages/research/research/evaluator/training_checkpoint.py
  packages/research/research/evaluator/training_config.py
  packages/research/research/evaluator/training_converters.py
  packages/research/research/evaluator/training_data_types.py
Due: typescript, python

refactor(dashboard): split dashboard/page.tsx into components
  apps/dashboard/src/app/(auth)/dashboard/components/AlertsBanner.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/DashboardHeader.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/EventFeedSection.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/MetricCard.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/OODAPhaseCard.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/OODAPhaseGrid.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/PortfolioSummary.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/RecentDecisions.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/SystemStatusBanner.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/TradingCycleControl.tsx
  apps/dashboard/src/app/(auth)/dashboard/components/index.ts
  apps/dashboard/src/app/(auth)/dashboard/hooks.ts
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/app/(auth)/dashboard/types.ts
Due: none

refactor(research): split synthetic_preferences.py into 4 modules
  packages/research/research/evaluator/context_generator.py
  packages/research/research/evaluator/plan_generator.py
  packages/research/research/evaluator/plan_scorer.py
  packages/research/research/evaluator/synthetic_preferences.py
Due: typescript, python

refactor(dashboard-api): split subscription-manager.ts into focused modules
  apps/dashboard-api/src/streaming/subscription-manager.ts
  apps/dashboard-api/src/streaming/subscription-manager/cache.ts
  apps/dashboard-api/src/streaming/subscription-manager/constants.ts
  apps/dashboard-api/src/streaming/subscription-manager/index.ts
  apps/dashboard-api/src/streaming/subscription-manager/pool.ts
  apps/dashboard-api/src/streaming/subscription-manager/quotes.ts
  apps/dashboard-api/src/streaming/subscription-manager/state.ts
  apps/dashboard-api/src/streaming/subscription-manager/stats.ts
  apps/dashboard-api/src/streaming/subscription-manager/subscriptions.ts
  apps/dashboard-api/src/streaming/subscription-manager/types.ts
Due: none

refactor(research): split validation.py into 8-module package
  packages/research/research/validation.py
  packages/research/research/validation/__init__.py
  packages/research/research/validation/backtest.py
  packages/research/research/validation/calibration.py
  packages/research/research/validation/config.py
  packages/research/research/validation/historical.py
  packages/research/research/validation/protocols.py
  packages/research/research/validation/utils.py
  packages/research/research/validation/validator.py
Due: typescript, python

refactor(domain): split snapshot-logging.ts into focused modules
  packages/domain/src/snapshot-logging.ts
  packages/domain/src/snapshot-logging/diff.ts
  packages/domain/src/snapshot-logging/formatters.ts
  packages/domain/src/snapshot-logging/index.ts
  packages/domain/src/snapshot-logging/loggers.ts
  packages/domain/src/snapshot-logging/logging.ts
  packages/domain/src/snapshot-logging/redaction.ts
  packages/domain/src/snapshot-logging/types.ts
Due: typescript

refactor(helix-schema): split forgetting.ts into retention modules
  ARCHITECTURE.md
  packages/helix-schema/src/retention/access-tracking.ts
  packages/helix-schema/src/retention/cohort-summarization.ts
  packages/helix-schema/src/retention/constants.ts
  packages/helix-schema/src/retention/decay.ts
  packages/helix-schema/src/retention/decisions.ts
  packages/helix-schema/src/retention/forgetting.ts
  packages/helix-schema/src/retention/graph-pruning.ts
  packages/helix-schema/src/retention/index.ts
  packages/helix-schema/src/retention/metrics.ts
  packages/helix-schema/src/retention/types.ts
Due: typescript

refactor(indicators): split orthogonality.ts into synthesis modules
  packages/indicators/src/synthesis/orthogonality/clustering.ts
  packages/indicators/src/synthesis/orthogonality/correlation.ts
  packages/indicators/src/synthesis/orthogonality/index.ts
  packages/indicators/src/synthesis/orthogonality/selection.ts
  packages/indicators/src/synthesis/orthogonality/types.ts
  packages/indicators/src/synthesis/orthogonality/weighting.ts
Due: typescript

refactor(project): update architecture to reflect 8-agent consensus network
  PROJECT.md
Due: none

refactor(mastra-kit): split webSearch.test.ts into focused test suites
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch/cache.test.ts
  packages/mastra-kit/src/tools/webSearch/domains.test.ts
  packages/mastra-kit/src/tools/webSearch/helpers.test.ts
  packages/mastra-kit/src/tools/webSearch/integration.test.ts
  packages/mastra-kit/src/tools/webSearch/metrics.test.ts
  packages/mastra-kit/src/tools/webSearch/rateLimiter.test.ts
  packages/mastra-kit/src/tools/webSearch/security.test.ts
Due: none

refactor(helix-schema): split timeout.ts into query timeout modules
  packages/helix-schema/src/query/timeout.ts
  packages/helix-schema/src/query/timeout/cache.ts
  packages/helix-schema/src/query/timeout/constants.ts
  packages/helix-schema/src/query/timeout/contradiction.ts
  packages/helix-schema/src/query/timeout/error.ts
  packages/helix-schema/src/query/timeout/execution.ts
  packages/helix-schema/src/query/timeout/fallback.ts
  packages/helix-schema/src/query/timeout/freshness.ts
  packages/helix-schema/src/query/timeout/index.ts
  packages/helix-schema/src/query/timeout/metrics.ts
  packages/helix-schema/src/query/timeout/types.ts
  packages/helix-schema/src/query/timeout/wrapper.ts
Due: typescript

refactor(readme): enhance diagram structure and layout in README.md
  README.md
Due: none

refactor(prediction-markets): split historical-adapter.ts into backtest modules
  packages/prediction-markets/src/backtest/historical-adapter.ts
  packages/prediction-markets/src/backtest/historical-adapter/adapter.ts
  packages/prediction-markets/src/backtest/historical-adapter/factory.ts
  packages/prediction-markets/src/backtest/historical-adapter/index.ts
  packages/prediction-markets/src/backtest/historical-adapter/statistics.ts
  packages/prediction-markets/src/backtest/historical-adapter/types.ts
  packages/prediction-markets/src/backtest/index.ts
Due: typescript

refactor(indicators): split indicators.test.ts into focused test suites
  packages/indicators/tests/indicators.test.ts
  packages/indicators/tests/integration.test.ts
  packages/indicators/tests/momentum.test.ts
  packages/indicators/tests/pipeline.test.ts
  packages/indicators/tests/test-utils.ts
  packages/indicators/tests/trend.test.ts
  packages/indicators/tests/types.test.ts
  packages/indicators/tests/volatility.test.ts
  packages/indicators/tests/volume.test.ts
Due: none

refactor(research): split test_bradley_terry.py into focused test modules
  packages/research/tests/conftest.py
  packages/research/tests/test_bradley_terry.py
  packages/research/tests/test_bradley_terry_checkpoints.py
  packages/research/tests/test_bradley_terry_integration.py
  packages/research/tests/test_bradley_terry_model.py
  packages/research/tests/test_bradley_terry_predictions.py
  packages/research/tests/test_bradley_terry_training.py
Due: none

refactor(helix-schema): split cbr.ts into focused modules
  packages/helix-schema/src/cbr.ts
  packages/helix-schema/src/cbr/config.ts
  packages/helix-schema/src/cbr/context.ts
  packages/helix-schema/src/cbr/conversion.ts
  packages/helix-schema/src/cbr/features.ts
  packages/helix-schema/src/cbr/index.ts
  packages/helix-schema/src/cbr/quality.ts
  packages/helix-schema/src/cbr/retention.ts
  packages/helix-schema/src/cbr/retrieval.ts
  packages/helix-schema/src/cbr/situation-brief.ts
  packages/helix-schema/src/cbr/types.ts
  packages/helix-schema/src/index.ts
Due: typescript

refactor(helix-schema): split corrective.ts into focused modules
  packages/helix-schema/src/retrieval/corrective.ts
  packages/helix-schema/src/retrieval/corrective/correction.ts
  packages/helix-schema/src/retrieval/corrective/evaluation.ts
  packages/helix-schema/src/retrieval/corrective/index.ts
  packages/helix-schema/src/retrieval/corrective/metrics.ts
  packages/helix-schema/src/retrieval/corrective/retrieval.ts
  packages/helix-schema/src/retrieval/corrective/types.ts
  packages/helix-schema/src/retrieval/index.ts
Due: typescript

refactor(helix-schema): split audit.ts into focused modules
  packages/helix-schema/src/compliance/audit.test.ts
  packages/helix-schema/src/compliance/audit.ts
  packages/helix-schema/src/compliance/audit/immutability.ts
  packages/helix-schema/src/compliance/audit/index.ts
  packages/helix-schema/src/compliance/audit/logger.ts
  packages/helix-schema/src/compliance/audit/retention.ts
  packages/helix-schema/src/compliance/audit/storage.ts
  packages/helix-schema/src/compliance/audit/types.ts
  packages/helix-schema/src/compliance/index.ts
Due: typescript

refactor(config): split dependencyValidation.ts into focused modules
  packages/config/src/dependencyValidation.ts
  packages/config/src/dependencyValidation/graph.ts
  packages/config/src/dependencyValidation/index.ts
  packages/config/src/dependencyValidation/types.ts
  packages/config/src/dependencyValidation/utils.ts
  packages/config/src/dependencyValidation/validators.ts
  packages/config/src/index.ts
Due: typescript

refactor(indicators): split validationPipeline.ts into focused modules
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/validationPipeline.ts
  packages/indicators/src/synthesis/validationPipeline/index.ts
  packages/indicators/src/synthesis/validationPipeline/pipeline.ts
  packages/indicators/src/synthesis/validationPipeline/reporting.ts
  packages/indicators/src/synthesis/validationPipeline/types.ts
  packages/indicators/src/synthesis/validationPipeline/validators.ts
  packages/indicators/tests/validationPipeline.test.ts
Due: typescript

refactor(research): migrate from deprecated google-generativeai to google-genai SDK
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/evaluator/llm_judge.py
  packages/research/research/hypothesis_alignment.py
  packages/research/tests/test_llm_judge.py
  packages/research/uv.lock
Due: typescript, python

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
