Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

feat(storage): add constraints_config table and seed support
  packages/storage/migrations/002_constraints_config.sql
  packages/storage/src/seed-config.ts
Due: typescript

chore(infra): update docker image, alertmanager, and turborepo config
  docker-compose.yml
  packages/infra/alertmanager/alertmanager.yml
  packages/infra/package.json
  turbo.json
Due: typescript

fix(python): require Python 3.14 and fix numpy version constraint
  apps/filings-service/package.json
  apps/filings-service/pyproject.toml
  apps/filings-service/uv.lock
  apps/vision-service/package.json
  apps/vision-service/pyproject.toml
  apps/vision-service/uv.lock
Due: python

fix(dashboard): add Tailwind dark class toggle for dark mode
  apps/dashboard/src/stores/preferences-store.ts
Due: none

fix(grpc): handle numeric error codes and update gRPC port defaults
  packages/domain/src/grpc/errors.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

fix(mastra-kit): allow null in Tavily response schema
  packages/mastra-kit/src/tools/providers/tavily.ts
  packages/mastra-kit/tests/evals/semantic.ts
Due: typescript

chore: add turborepo package.json files and update lock file
  apps/evals/package.json
  bun.lock
  package.json
  packages/research/package.json
Due: typescript, python

fix(grpc): enhance timeframe handling and fetch logic for market data
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard/src/hooks/queries/usePortfolio.ts
  apps/dashboard/src/hooks/queries/useSystem.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
  apps/dashboard/src/providers/WebSocketProvider.tsx
  apps/execution-engine/src/server/grpc.rs
Due: rust

feat(alpaca): add get_quotes method to fetch latest stock quotes from Alpaca API
  apps/execution-engine/src/execution/alpaca.rs
  apps/execution-engine/src/server/grpc.rs
Due: rust

fix(websocket): correct subscription message format and agent type mapping
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/hooks/useWebSocket.ts
  packages/domain/src/websocket/channel.ts
Due: typescript

feat(dashboard): persist agent streaming state with Zustand store
  apps/dashboard/src/hooks/useAgentStreaming.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
Due: none

fix: persist agent streaming to sessionStorage & increase agent timeout
  apps/api/src/workflows/trading-cycle.ts
  apps/dashboard/src/stores/agent-streaming-store.ts
Due: none

fix: increase agent timeout to 3 minutes in both defaults and seed config
  packages/storage/src/seed-config.ts
Due: typescript

fix: increase agent timeout to 30 minutes
  apps/api/src/workflows/trading-cycle.ts
  packages/storage/src/seed-config.ts
Due: typescript

fix: use timestamp-based IDs in seed script for idempotent --force
  packages/storage/src/seed-config.ts
Due: typescript

fix: add missing columns to decisions table
  packages/storage/migrations/003_decisions_columns.sql
Due: typescript

feat(mastra-kit): add prediction market tools for agents
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/definitions/predictionMarketTools.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(api): pass prediction market signals to agent context
  apps/api/src/db.ts
  apps/api/src/workflows/trading-cycle.ts
Due: none

feat(api): integrate prediction market tools with agents
  apps/api/src/agents/mastra-agents.ts
  packages/mastra-kit/src/agents/index.ts
Due: typescript

chore(turbo): update schema path and UI mode
  turbo.json
Due: none

feat(domain): add agent streaming chunk data types
  packages/domain/src/websocket/data-payloads.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

feat(dashboard): add agent streaming UI components
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/components/agents/AgentStreamingCard.tsx
  apps/dashboard/src/components/agents/AgentStreamingDetail.tsx
Due: none

feat(dashboard): replace agent status polling with WebSocket streaming
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard/src/app/(auth)/agents/page.tsx
  apps/dashboard/src/hooks/queries/useAgents.ts
  apps/dashboard/src/hooks/useAgentStatus.ts
  apps/dashboard/src/providers/WebSocketProvider.tsx
  packages/domain/src/websocket/data-payloads.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
  packages/domain/src/websocket/websocket.test.ts
Due: typescript

feat(domain): add global LLM model configuration with Gemini 3 support
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/agents/stub-agents.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/dashboard-api/src/routes/agents.ts
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard-api/src/routes/market.ts
  packages/config/src/runtime-config.ts
  packages/domain/src/index.ts
  packages/domain/src/llm-models.ts
  packages/external-context/src/extraction/extractionClient.ts
  packages/external-context/tsconfig.json
  packages/mastra-kit/src/agents/index.ts
  packages/mastra-kit/src/agents/indicatorResearcher.ts
  packages/mastra-kit/src/prompts/index.ts
  packages/mastra-kit/src/services/idea-agent.ts
  packages/mastra-kit/src/tools/claudeCodeIndicator.ts
  packages/mastra-kit/src/types.ts
  packages/storage/migrations/004_global_model.sql
  packages/storage/migrations/init/10_runtime_config.sql
  packages/storage/src/repositories/agent-configs.test.ts
  packages/storage/src/repositories/agent-configs.ts
  packages/storage/src/seed-config.ts
Due: typescript

feat(dashboard): add dynamic symbol routes, SMA/EMA overlays, and ticker name mapping
  apps/dashboard/src/app/(auth)/charts/[symbol]/page.tsx
  apps/dashboard/src/app/(auth)/charts/page.tsx
  apps/dashboard/src/components/charts/EnhancedQuoteHeader.tsx
  apps/dashboard/src/components/charts/StreamPanel.tsx
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/lib/chart-config.ts
  apps/dashboard/src/lib/chart-indicators.ts
  apps/dashboard/src/lib/ticker-names.ts
Due: none

refactor(dashboard): simplify options chain UI and add company name display
  apps/dashboard-api/src/routes/options.ts
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/app/(auth)/options/page.tsx
  apps/dashboard/src/components/options/ExpirationTabs.tsx
  apps/dashboard/src/components/options/OptionsChainRow.tsx
  apps/dashboard/src/components/options/OptionsChainTable.tsx
  apps/dashboard/src/hooks/queries/useOptions.ts
Due: none

feat(dashboard): add cycle-based grouping and deep linking to decisions page
  apps/dashboard-api/src/routes/decisions.ts
  apps/dashboard/src/app/(auth)/decisions/[id]/page.tsx
  apps/dashboard/src/app/(auth)/decisions/page.tsx
Due: none

feat(dashboard): enhance ticker strip with market hours filtering and improved streaming
  apps/dashboard-api/src/streaming/market-data.ts
  apps/dashboard/src/components/ui/ticker-item.tsx
  apps/dashboard/src/components/ui/ticker-strip.tsx
  apps/dashboard/src/hooks/queries/useMarket.ts
Due: none

refactor(dashboard): improve state management with useShallow and store optimizations
  apps/dashboard/src/stores/agent-streaming-store.ts
  apps/dashboard/src/stores/cycle-store.ts
  apps/dashboard/src/stores/streaming-metrics-store.ts
  apps/dashboard/src/stores/ui-store.test.ts
  apps/dashboard/src/stores/ui-store.ts
  apps/dashboard/src/stores/watchlist-store.ts
  apps/dashboard/src/stores/websocket.ts
Due: none

feat(dashboard): enhance layout, config pages, and core UI components
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
  apps/dashboard/src/app/(auth)/config/edit/page.tsx
  apps/dashboard/src/app/(auth)/config/page.tsx
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/app/(auth)/portfolio/page.tsx
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/ui/add-symbol-modal.tsx
  apps/dashboard/src/components/ui/event-feed.tsx
Due: none

feat(dashboard): update API types and add WebSocket invalidation enhancements
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useSystem.ts
  apps/dashboard/src/lib/api/types.ts
  apps/dashboard/src/lib/api/ws-invalidation.ts
Due: none

feat(dashboard-api): enhance system routes with improved health and status endpoints
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/system.ts
Due: none

feat: update worker scheduler and trading config repository
  apps/worker/src/index.ts
  packages/storage/src/repositories/trading-config.ts
Due: typescript

fix(prediction-markets): update Polymarket client for API compatibility
  packages/prediction-markets/src/providers/polymarket/client.ts
Due: typescript

docs: update CLAUDE.md with session workflow improvements
  CLAUDE.md
Due: none

feat(dashboard): complete feed event coverage and cycle persistence
  apps/dashboard-api/src/db.ts
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/system.ts
  apps/dashboard/src/app/(auth)/dashboard/page.tsx
  apps/dashboard/src/app/(auth)/feed/page.tsx
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/components/dashboard/CycleProgress.tsx
  apps/dashboard/src/components/dashboard/CycleProgressLive.tsx
  apps/dashboard/src/lib/feed/event-normalizer.ts
  packages/storage/migrations/005_cycles.sql
  packages/storage/src/repositories/cycles.ts
  packages/storage/src/repositories/index.ts
Due: typescript

ci: add uv to TypeScript tests job for Python package tests
  .github/workflows/test.yml
Due: none

ci: fix logger package test script for empty tests
  packages/logger/package.json
Due: typescript

fix: resolve lint errors and add biome-ignore comments
  .gitignore
  apps/api/src/agents/mastra-agents.ts
  apps/api/src/steps/buildSnapshot.ts
  apps/api/src/steps/fetchPredictionMarkets.ts
  apps/api/src/workflows/trading-cycle.ts
  apps/dashboard-api/src/routes/config.ts
  apps/dashboard/src/app/(auth)/config/edit/page.tsx
  apps/dashboard/src/app/(auth)/config/promote/page.tsx
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/components/ui/form.test.ts
  apps/dashboard/src/components/ui/form.tsx
  apps/dashboard/src/components/ui/input.test.ts
  apps/dashboard/src/components/ui/logo.test.ts
  apps/dashboard/src/components/ui/logo.tsx
  apps/dashboard/src/components/ui/price-ticker.tsx
  apps/dashboard/src/components/ui/skeleton.tsx
  apps/dashboard/src/components/ui/sparkline.tsx
  apps/dashboard/src/components/ui/spinner.test.ts
  apps/dashboard/src/components/ui/spinner.tsx
  apps/dashboard/src/components/ui/status-dot.test.tsx
  apps/dashboard/src/components/ui/status-dot.tsx
  apps/dashboard/src/components/ui/success-feedback.tsx
  apps/dashboard/src/components/ui/surface.tsx
  apps/dashboard/src/lib/config.ts
  packages/config/src/runtime-config.test.ts
  packages/config/src/runtime-config.ts
  packages/prediction-markets/src/index.ts
  packages/prediction-markets/src/providers/kalshi/websocket.ts
  packages/prediction-markets/src/providers/polymarket/index.ts
  packages/prediction-markets/src/providers/polymarket/websocket.ts
  packages/prediction-markets/src/streaming/index.ts
  packages/prediction-markets/src/streaming/unified-streaming.ts
Due: typescript

test: update helix-schema tests to use correct API key env var
  packages/helix-schema/tests/embeddings.test.ts
Due: none

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
