Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml
#
# Coverage Tier Reference (docs/plans/14-testing.md):
# - Critical (execution-engine, broker, domain): 90%
# - Core (indicators, helix, schema): 80%
# - Standard (api, research, test-fixtures): 70%
# - Agent (mastra-kit): 60%

# ============================================
# Coverage Settings
# ============================================
coverage:
  # Decimal precision in coverage reports
  precision: 2

  # Rounding method: down, up, nearest
  round: down

  # Coverage range for status (green to red)
  range: "70...100"

  # Project status (overall coverage)
  status:
    project:
      default:
        # Track coverage automatically
        target: auto
        # Allow 2% coverage drop without failing
        threshold: 2%
        # Fail if CI failed
        if_ci_failed: error

    # Patch status (new/modified code)
    patch:
      default:
        # New code must have at least 80% coverage
        target: 80%
        # Allow 5% below target without failing
        threshold: 5%

# ============================================
# Flags (Multi-Language Support)
# ============================================
flags:
  # TypeScript coverage flag
  typescript:
    paths:
      - packages/
    carryforward: true
    # Project-level threshold for TypeScript
    # status:
    #   project:
    #     target: 70%

  # Rust coverage flag
  rust:
    paths:
      - apps/execution-engine/
    carryforward: true
    # status:
    #   project:
    #     target: 90%

  # Python coverage flag
  python:
    paths:
      - packages/research/
      - apps/filings-service/
      - apps/vision-service/
    carryforward: true
    # status:
    #   project:
    #     target: 70%

# ============================================
# Ignore Patterns
# ============================================
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/tests/**"

  # Fixtures and mocks
  - "**/test-fixtures/**"
  - "**/mocks/**"

  # Generated code
  - "**/dist/**"
  - "**/*.d.ts"
  - "packages/schema-gen/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"

# ============================================
# Comment Configuration
# ============================================
comment:
  # Layout: reach (sunburst), diff (changes), flags, files
  layout: "reach,diff,flags,files"

  # Behavior: default, once, new, spammed
  behavior: default

  # Only comment if there are coverage changes
  require_changes: true

  # Don't require base report for comment
  require_base: false

  # Don't require head report for comment
  require_head: false

# ============================================
# Report Settings
# ============================================
# Maximum age of a coverage report
# Older reports will be ignored
# max_report_age: 12h

# Parsers for coverage reports
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

# ============================================
# GitHub Integration
# ============================================
github_checks:
  annotations: true

test: add integration tests for consensus loop
  apps/api/tests/consensusIntegration.test.ts
Due: none

feat: implement searchNews tool with FMP API integration
  packages/mastra-kit/src/tools/index.ts
  packages/mastra-kit/tests/tools.test.ts
Due: typescript

test: add end-to-end tests for trading cycle workflow
  apps/api/tests/tradingCycle.e2e.test.ts
Due: none

feat(storage): add indicator synthesis database schema
  packages/domain/src/index.ts
  packages/domain/src/indicator-synthesis.ts
  packages/storage/migrations/008_indicator_synthesis.sql
  packages/storage/migrations/008_indicator_synthesis_down.sql
  packages/storage/src/repositories/index.ts
  packages/storage/src/repositories/indicators.test.ts
  packages/storage/src/repositories/indicators.ts
Due: typescript

feat(helix-schema): add Indicator node and edges for knowledge graph
  packages/helix-schema/src/embeddings.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/tests/schema.test.ts
Due: typescript

feat(indicators): add trigger condition detection module
  apps/dashboard/Dockerfile
  packages/indicators/src/index.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/trigger.ts
  packages/indicators/tests/trigger.test.ts
  packages/storage/migrations/008_indicator_synthesis.sql
Due: typescript

feat(indicators): add AST similarity checker for indicator deduplication
  CLAUDE.md
  apps/dashboard-api/src/routes/market.ts
  packages/indicators/src/synthesis/astSimilarity.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/tests/astSimilarity.test.ts
Due: typescript

feat(indicators): add security scanner for generated indicator code
  apps/dashboard-api/src/routes/market.ts
  apps/dashboard/next-env.d.ts
  packages/indicators/package.json
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/securityScan.ts
  packages/indicators/tests/securityScan.test.ts
Due: typescript

feat(indicators): add Deflated Sharpe Ratio (DSR) calculator
  apps/dashboard/src/app/(auth)/charts/page.tsx
  packages/indicators/src/synthesis/dsr.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/tests/dsr.test.ts
Due: typescript

feat(indicators): add Probability of Backtest Overfitting (PBO) calculator
  apps/dashboard/src/components/layout/Sidebar.tsx
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/pbo.ts
  packages/indicators/tests/pbo.test.ts
Due: typescript

feat(indicators): add Information Coefficient (IC) calculation module
  package.json
  packages/indicators/src/synthesis/ic.ts
  packages/indicators/src/synthesis/index.ts
  packages/indicators/tests/ic.test.ts
  turbo.json
Due: typescript

feat(indicators): add walk-forward validation module
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/walkForward.ts
  packages/indicators/tests/walkForward.test.ts
Due: typescript

feat(indicators): add orthogonality checker module
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/orthogonality.ts
  packages/indicators/tests/orthogonality.test.ts
Due: typescript

feat(indicators): add validation pipeline orchestrator
  apps/dashboard/src/app/(auth)/charts/page.tsx
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/validationPipeline.ts
  packages/indicators/tests/validationPipeline.test.ts
Due: typescript

feat(indicators): add paper trading validation module
  packages/indicators/src/synthesis/index.ts
  packages/indicators/src/synthesis/paperTrading.ts
  packages/indicators/tests/paperTrading.test.ts
Due: typescript

feat(domain): add TAVILY_API_KEY environment variable support
  CLAUDE.md
  packages/domain/src/env.ts
Due: typescript

feat(env): add TAVILY_API_KEY to environment configuration
  .env.example
  packages/domain/src/index.ts
  packages/storage/src/repositories/index.ts
Due: typescript

feat(storage): add Factor Zoo repository and database schema
  packages/domain/src/factor-zoo.ts
  packages/storage/migrations/009_factor_zoo.sql
  packages/storage/migrations/009_factor_zoo_down.sql
  packages/storage/src/repositories/factor-zoo.test.ts
  packages/storage/src/repositories/factor-zoo.ts
Due: typescript

feat(mastra-kit): add TavilyClient for web search API
  packages/mastra-kit/src/tools/providers/index.ts
  packages/mastra-kit/src/tools/providers/tavily.test.ts
  packages/mastra-kit/src/tools/providers/tavily.ts
Due: typescript

fix(dashboard-api): update stub messages with accurate dependencies
  apps/dashboard-api/src/routes/backtest.ts
  apps/dashboard-api/src/routes/risk.ts
  apps/dashboard-api/src/routes/theses.ts
Due: none

feat(mastra-kit): add webSearch tool with time-bounded results
  packages/mastra-kit/src/tools/webSearch.test.ts
  packages/mastra-kit/src/tools/webSearch.ts
Due: typescript

feat(mastra-kit): add Mastra webSearchTool definition and registry
  packages/mastra-kit/package.json
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/definitions/webSearch.ts
  packages/mastra-kit/src/tools/index.ts
Due: typescript

feat(agents): wire tools to Mastra Agent constructor and add web_search to all agents
  apps/api/src/agents/mastra-agents.ts
  packages/mastra-kit/src/agents/index.ts
Due: typescript

feat(mastra-kit): add web_search tool documentation to all agent prompts
  packages/mastra-kit/src/prompts/index.ts
Due: typescript

fix: add radix to parseInt calls in dashboard config page
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
Due: none

feat: implement AlphaForge research pipeline foundation
  apps/api/src/agents/mastra-agents.ts
  bun.lock
  packages/domain/src/index.ts
  packages/domain/src/research-trigger.ts
  packages/helix-schema/queries.hx
  packages/helix-schema/src/cbr.test.ts
  packages/helix-schema/src/cbr.ts
  packages/helix-schema/src/index.ts
  packages/helix-schema/tests/schema.test.ts
  packages/indicators/tests/walkForward.test.ts
  packages/mastra-kit/package.json
  packages/mastra-kit/src/index.ts
  packages/mastra-kit/src/prompts/idea-agent.ts
  packages/mastra-kit/src/prompts/index.ts
  packages/mastra-kit/src/services/idea-agent.test.ts
  packages/mastra-kit/src/services/idea-agent.ts
  packages/mastra-kit/src/services/index.ts
  packages/mastra-kit/src/services/research-trigger.test.ts
  packages/mastra-kit/src/services/research-trigger.ts
Due: typescript

feat(dashboard): enhance PriceTicker with AnimateNumber, Sparkline, TickDots
  apps/dashboard/src/components/ui/price-ticker.tsx
  apps/dashboard/src/components/ui/sparkline.tsx
  apps/dashboard/src/components/ui/tick-dots.tsx
  packages/marketdata/src/providers/index.ts
  packages/marketdata/src/providers/polygon.ts
Due: typescript

feat(dashboard-api): add Options Chain REST API endpoints
  apps/dashboard-api/src/index.ts
  apps/dashboard-api/src/routes/index.ts
  apps/dashboard-api/src/routes/options.ts
Due: none

feat(dashboard): add EnhancedQuoteHeader with depth visualization
  apps/dashboard/src/app/(auth)/charts/page.tsx
  apps/dashboard/src/components/charts/EnhancedQuoteHeader.tsx
  packages/research/coverage.xml
  packages/research/research/__init__.py
Due: typescript, python

feat(research): add ResearchFactor base class with regularization
  packages/research/research/originality.py
  packages/research/research/strategies/__init__.py
  packages/research/research/strategies/base.py
  packages/research/tests/test_originality.py
  packages/research/tests/test_research_factor.py
Due: typescript, python

feat(dashboard): add TradeTape component for real-time time & sales
  apps/dashboard-api/src/streaming/market-data.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/src/websocket/security.ts
  apps/dashboard/src/components/ui/trade-tape.tsx
  apps/dashboard/src/hooks/useTradeStream.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/index.ts
  packages/domain/src/websocket/server-messages.ts
  packages/domain/src/websocket/websocket.test.ts
Due: typescript

fix: format websocket index.ts imports
  bun.lock
  packages/domain/package.json
  packages/domain/src/grpc/execution.ts
  packages/domain/src/grpc/index.ts
  packages/domain/src/grpc/marketdata.ts
  packages/domain/src/websocket/index.ts
Due: typescript

fix: resolve lint errors in config section page
  apps/dashboard/src/app/(auth)/config/[section]/page.tsx
  packages/domain/src/grpc/execution.ts
  packages/domain/src/grpc/marketdata.ts
Due: typescript

test(grpc): add unit tests for gRPC client implementations
  packages/domain/src/grpc/__tests__/grpc-client.test.ts
Due: none

feat(worker): add research container orchestration infrastructure
  apps/worker/package.json
  apps/worker/src/index.ts
  apps/worker/src/research/__tests__/research.test.ts
  apps/worker/src/research/container-spawner.ts
  apps/worker/src/research/firecracker-runner.ts
  apps/worker/src/research/index.ts
  apps/worker/src/research/types.ts
  bun.lock
Due: none

feat(dashboard): migrate quote hooks to WebSocket-only streaming
  apps/dashboard/src/hooks/queries/useMarket.ts
Due: none

feat(dashboard): add live quote ticker strip with watchlist
  apps/dashboard/src/app/(auth)/layout.tsx
  apps/dashboard/src/components/ui/ticker-item.tsx
  apps/dashboard/src/components/ui/ticker-strip.tsx
  apps/dashboard/src/hooks/useTickHistory.ts
  apps/dashboard/src/stores/watchlist-store.ts
Due: none

feat(dashboard): add options chain page with virtualized table
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/app/(auth)/options/page.tsx
  apps/dashboard/src/components/options/ExpirationTabs.tsx
  apps/dashboard/src/components/options/GreeksTooltip.tsx
  apps/dashboard/src/components/options/OptionsChainRow.tsx
  apps/dashboard/src/components/options/OptionsChainTable.tsx
  apps/dashboard/src/components/options/index.ts
  apps/dashboard/src/components/ui/ConnectionStatus.tsx
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useOptions.ts
  apps/dashboard/src/hooks/useWebSocket.ts
  apps/dashboard/src/lib/api/query-client.ts
  apps/dashboard/src/lib/api/types.ts
Due: none

feat(dashboard): add portfolio Greeks components with streaming
  apps/dashboard-api/src/routes/agents.ts
  apps/dashboard/src/app/(auth)/risk/page.tsx
  apps/dashboard/src/components/portfolio/AggregateGreeks.tsx
  apps/dashboard/src/components/portfolio/OptionsPositionRow.tsx
  apps/dashboard/src/components/portfolio/OptionsPositionsWidget.tsx
  apps/dashboard/src/components/portfolio/PortfolioSummary.tsx
  apps/dashboard/src/components/portfolio/PositionRow.tsx
  apps/dashboard/src/components/portfolio/PositionsTable.tsx
  apps/dashboard/src/components/portfolio/index.ts
  apps/dashboard/src/components/risk/DeltaGauge.tsx
  apps/dashboard/src/components/risk/GreekCard.tsx
  apps/dashboard/src/components/risk/PortfolioGreeks.tsx
  apps/dashboard/src/components/risk/index.ts
  apps/dashboard/src/hooks/queries/useOptionsPositions.ts
  apps/dashboard/src/hooks/useAggregateGreeks.ts
  apps/dashboard/src/hooks/usePositionGreeks.ts
Due: none

feat(dashboard-api): implement HelixDB citations fetch for decisions
  apps/dashboard-api/package.json
  apps/dashboard-api/src/routes/agents.ts
  apps/dashboard-api/src/routes/decisions.ts
  bun.lock
  packages/helix/src/index.ts
  packages/helix/src/queries/graph.ts
  packages/indicators/package.json
  packages/indicators/src/index.ts
Due: typescript
