Repository ccheney/cream: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, rust, python

refactor: migrate to ES2024 Set methods (intersection, union)
  packages/prediction-markets/src/aggregator/market-matcher.ts
  packages/storage/src/repositories/config-versions.ts
  packages/tsconfig/base.json
  packages/universe/src/resolver.ts
Due: typescript

refactor: migrate to ES2024 Promise.withResolvers
  apps/worker/src/research/firecracker-runner.ts
  packages/marketdata/src/providers/alpaca-websocket.ts
  packages/prediction-markets/src/providers/kalshi/websocket/client.ts
  packages/prediction-markets/src/providers/polymarket/websocket.ts
  packages/storage/src/pool.ts
Due: typescript

refactor: migrate alpaca-websocket to Bun native WebSocket
  bun.lock
  packages/marketdata/package.json
  packages/marketdata/src/providers/alpaca-websocket.ts
Due: typescript

docs: add ES2024 TypeScript Patterns section to CLAUDE.md
  CLAUDE.md
Due: none

fix: correct test expectations for agentType and VWAP assertions
  apps/dashboard-api/src/events/mappers.test.ts
  packages/indicators/src/service/liquidity-calculator.test.ts
Due: none

feat(helix): add CompanyGraphBuilder service for company relationship graph
  packages/helix/src/index.ts
  packages/helix/src/services/company-graph-builder.test.ts
  packages/helix/src/services/company-graph-builder.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/universe-graph-sync.ts
  packages/mastra-kit/src/tools/definitions/companyRelationshipTools.ts
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/implementations/companyRelationship.ts
  packages/mastra-kit/src/tools/implementations/index.ts
Due: typescript

feat(helix): add MacroGraphBuilder for macro entity relationship graph
  packages/helix/src/index.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/macro-graph-builder.test.ts
  packages/helix/src/services/macro-graph-builder.ts
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/definitions/macroExposureTools.ts
  packages/mastra-kit/src/tools/implementations/macroExposure.ts
Due: typescript

fix(readme): resolve mermaid diagram rendering issues
  README.md
Due: none

feat(helix): add external news/events embedding pipeline
  apps/api/src/steps/retrieveMemory.ts
  bun.lock
  packages/external-context/package.json
  packages/external-context/src/helix-integration.ts
  packages/external-context/src/index.ts
  packages/helix/src/index.ts
  packages/helix/src/services/event-ingestion.test.ts
  packages/helix/src/services/event-ingestion.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/news-ingestion.test.ts
  packages/helix/src/services/news-ingestion.ts
Due: typescript

feat(helix): add academic paper ingestion pipeline with Semantic Scholar integration
  packages/external-context/src/academic/index.ts
  packages/external-context/src/academic/semanticScholar.ts
  packages/external-context/src/index.ts
  packages/helix/src/index.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/paper-ingestion.test.ts
  packages/helix/src/services/paper-ingestion.ts
  packages/mastra-kit/src/tools/definitions/academicPaperTools.ts
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/implementations/academicPapers.ts
Due: typescript

fix(helix-schema): enable Indicator/Hypothesis edge types (HelixDB 2.1.10)
  packages/helix-schema/queries.hx
  packages/helix-schema/schema.hx
  packages/helix-schema/src/edge-types.ts
  packages/helix-schema/src/index.ts
Due: typescript

feat(helix): add hypothesis ingestion service for research pipeline
  packages/helix/src/index.ts
  packages/helix/src/services/hypothesis-ingestion.test.ts
  packages/helix/src/services/hypothesis-ingestion.ts
  packages/helix/src/services/index.ts
Due: typescript

feat(helix): add indicator ingestion service for synthesized indicators
  packages/helix/src/index.ts
  packages/helix/src/services/index.ts
  packages/helix/src/services/indicator-ingestion.test.ts
  packages/helix/src/services/indicator-ingestion.ts
Due: typescript

feat(mastra-kit): add indicator search agent tools
  packages/mastra-kit/src/tools/definitions/index.ts
  packages/mastra-kit/src/tools/definitions/indicatorTools.ts
  packages/mastra-kit/src/tools/implementations/index.ts
  packages/mastra-kit/src/tools/implementations/indicatorIngestion.ts
Due: typescript

feat(dashboard-api): add WebSocket streaming for real-time indicators
  apps/dashboard-api/src/streaming/index.ts
  apps/dashboard-api/src/streaming/indicator-data.ts
  apps/dashboard-api/src/websocket/channels.ts
  apps/dashboard-api/src/websocket/handler.ts
  apps/dashboard-api/src/websocket/index.ts
  packages/domain/src/websocket/channel.ts
  packages/domain/src/websocket/server-messages.ts
Due: typescript

feat(dashboard): add IndicatorSnapshot display component
  apps/dashboard/src/components/indicators/IndicatorSnapshot.test.tsx
  apps/dashboard/src/components/indicators/IndicatorSnapshot.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

feat(dashboard): add Gauge component and PriceIndicators widget
  apps/dashboard/src/components/indicators/PriceIndicators.test.tsx
  apps/dashboard/src/components/indicators/PriceIndicators.tsx
  apps/dashboard/src/components/indicators/index.ts
  apps/dashboard/src/components/ui/gauge.test.tsx
  apps/dashboard/src/components/ui/gauge.tsx
Due: none

feat(dashboard): add OptionsIndicators widget
  apps/dashboard/src/components/indicators/OptionsIndicators.test.tsx
  apps/dashboard/src/components/indicators/OptionsIndicators.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

feat(indicators): add FundamentalsIndicators widget
  apps/dashboard/src/components/indicators/FundamentalsIndicators.test.tsx
  apps/dashboard/src/components/indicators/FundamentalsIndicators.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

feat(indicators): add ShortInterestIndicators widget
  apps/dashboard/src/components/indicators/ShortInterestIndicators.test.tsx
  apps/dashboard/src/components/indicators/ShortInterestIndicators.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

feat(indicators): add SentimentIndicators widget
  apps/dashboard/src/components/indicators/SentimentIndicators.test.tsx
  apps/dashboard/src/components/indicators/SentimentIndicators.tsx
  apps/dashboard/src/components/indicators/index.ts
Due: none

feat(indicators): add time series charts for technical indicators
  apps/dashboard/src/components/indicators/charts/ATRChart.tsx
  apps/dashboard/src/components/indicators/charts/IndicatorChart.test.tsx
  apps/dashboard/src/components/indicators/charts/IndicatorChart.tsx
  apps/dashboard/src/components/indicators/charts/MACDChart.tsx
  apps/dashboard/src/components/indicators/charts/MomentumChart.tsx
  apps/dashboard/src/components/indicators/charts/RSIChart.tsx
  apps/dashboard/src/components/indicators/charts/StochasticChart.tsx
  apps/dashboard/src/components/indicators/charts/index.ts
Due: none

feat(indicators): add batch job status UI component
  apps/dashboard/src/components/indicators/BatchJobStatus.test.tsx
  apps/dashboard/src/components/indicators/BatchJobStatus.tsx
  apps/dashboard/src/components/indicators/index.ts
  apps/dashboard/src/hooks/queries/index.ts
  apps/dashboard/src/hooks/queries/useBatchStatus.ts
Due: none

docs(mastra-kit): add rich Zod descriptions to tradingTools.ts schemas
  packages/mastra-kit/src/tools/definitions/tradingTools.ts
Due: typescript

docs(mastra-kit): add rich Zod descriptions to dataTools.ts schemas
  packages/mastra-kit/src/tools/definitions/dataTools.ts
Due: typescript

docs(mastra-kit): add rich Zod descriptions to factorZoo schemas
  packages/mastra-kit/src/tools/definitions/factorZoo/schemas.ts
Due: typescript

docs(mastra-kit): add rich Zod descriptions to filingTools.ts schemas
  packages/mastra-kit/src/tools/definitions/filingTools.ts
Due: typescript

docs(marketdata): add Zod descriptions to alpaca-websocket.ts schemas
  packages/marketdata/src/providers/alpaca-websocket.ts
Due: typescript

docs(domain): convert inline comments to Zod descriptions
  packages/domain/src/decision.ts
  packages/domain/src/research-trigger.ts
  packages/domain/src/schemas/turso.ts
Due: typescript

docs(storage): convert inline comments to Zod descriptions
  packages/storage/src/repositories/corporate-actions.ts
  packages/storage/src/repositories/historical-universe.ts
  packages/storage/src/repositories/regime-labels.ts
  packages/storage/src/repositories/universe-cache.ts
Due: typescript

docs(indicators): convert inline comments to Zod descriptions
  packages/indicators/src/calculators/options/greeks-aggregator.ts
  packages/indicators/src/calculators/options/iv-skew.ts
Due: typescript

docs(marketdata): convert inline comment to Zod description in fmp.ts
  packages/marketdata/src/providers/fmp.ts
Due: typescript

fix(execution-engine): load .env file at startup via dotenvy
  apps/execution-engine/Cargo.toml
  apps/execution-engine/src/main.rs
Due: rust

fix(streaming): lazy WebSocket connections and Alpaca config fixes
  .gitignore
  apps/dashboard-api/src/streaming/market-data.ts
  apps/dashboard-api/src/streaming/options-data.ts
  apps/execution-engine/config.yaml
  apps/execution-engine/src/main.rs
  package.json
  packages/logger/src/node.ts
  packages/marketdata/src/providers/alpaca-websocket.ts
Due: typescript, rust

chore: update Cargo.lock
  Cargo.lock
Due: none

fix(charts): handle invalid symbols with error UI and fast-fail retries
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/ChartContent.tsx
  apps/dashboard/src/app/(auth)/charts/[symbol]/components/hooks.ts
  apps/dashboard/src/lib/api/query-client.ts
Due: none

refactor: remove Arrow Flight implementation
  apps/execution-engine/ARROW_FLIGHT_README.md
  apps/execution-engine/Cargo.toml
  apps/execution-engine/README.md
  apps/execution-engine/config.yaml
  apps/execution-engine/src/config/mod.rs
  apps/execution-engine/src/config/server.rs
  apps/execution-engine/src/main.rs
  apps/execution-engine/src/server/arrow_flight.rs
  apps/execution-engine/src/server/mod.rs
  packages/domain/README.md
  packages/domain/src/arrow/client.test.ts
  packages/domain/src/arrow/client.ts
  packages/domain/src/arrow/flight-client.test.ts
  packages/domain/src/arrow/flight-client.ts
  packages/domain/src/arrow/index.ts
  packages/domain/src/arrow/types.ts
  packages/mastra-kit/src/tools/clients.ts
  packages/research/README.md
  packages/research/pyproject.toml
  packages/research/research/__init__.py
  packages/research/research/flight_client.py
  packages/research/research/nautilus_runner/__init__.py
  packages/schema-gen/package.json
  packages/schema-gen/python/arrow/flight/protocol/flight_pb2.py
  packages/schema-gen/python/arrow/flight/protocol/flight_pb2.pyi
  packages/schema-gen/rust/arrow/flight/protocol/arrow.flight.protocol.rs
  packages/schema-gen/rust/arrow/flight/protocol/arrow.flight.protocol.tonic.rs
  packages/schema-gen/ts/arrow/flight/protocol/flight_pb.ts
  packages/schema/arrow/flight/protocol/flight.proto
  packages/schema/buf.yaml
  scripts/validate-versions/validators.ts
Due: typescript, rust, python

refactor(storage): consolidate migrations into init scripts
  packages/storage/migrations/001_init_down.sql
  packages/storage/migrations/002_constraints_config.sql
  packages/storage/migrations/003_decisions_columns.sql
  packages/storage/migrations/004_global_model.sql
  packages/storage/migrations/005_cycles.sql
  packages/storage/migrations/006_filings.sql
  packages/storage/migrations/007_drop_agent_model.sql
  packages/storage/migrations/008_indicator_engine_v2.sql
  packages/storage/migrations/init/01_core_trading.sql
  packages/storage/migrations/init/08_indicators.sql
  packages/storage/migrations/init/10_runtime_config.sql
  packages/storage/migrations/init/16_filings.sql
Due: typescript

feat(dashboard): add LoadingOverlay component and UI polish
  apps/dashboard/src/app/(auth)/charts/[symbol]/page.tsx
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/components/charts/TradingViewChart.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
  apps/dashboard/src/components/ui/spinner.tsx
  apps/dashboard/src/styles/tokens/colors.css
Due: none

feat(dashboard): improve options page and add indicators API route
  apps/dashboard-api/src/routes/indicators.ts
  apps/dashboard/src/app/(auth)/options/[underlying]/page.tsx
  apps/dashboard/src/hooks/queries/useOptions.ts
Due: none

Path conditions:
  typescript: any of: packages/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  rust: any of: apps/execution-engine/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
  python: any of: packages/research/, apps/filings-service/, apps/vision-service/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/test-fixtures/**, **/mocks/**, **/dist/**, **/*.d.ts, packages/schema-gen/**, **/*.config.ts, **/*.config.js
